<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type='text/xsl' href='{$app_relative_url}oai2.xsl' ?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
<responseDate>{$responseDate}</responseDate>
{if $verb == "GetRecord"}
  <request verb="{$verb}" metadataPrefix="{$metadataPrefix}" resumptionToken="{if $resumptionToken != 0}{$resumptionToken}{/if}">{$app_base_url}oai.php</request>
{/if}
{if $errorCount == 0}
  <GetRecord>
    <record>
      <header>
	    <identifier>oai:{$app_hostname}:{$list[0].rek_pid}</identifier>
	    <datestamp>{$list[0].rek_updated_date}</datestamp>
	{if $list[0].rek_subject}
		{if !is_array($list[0].rek_subject)}
	    	<setSpec>{$app_hostname}:{$app_pid_namespace}:cvo_id:{$list[0].rek_subject}</setSpec>
		{else}
			{assign var="loop_subjects" value=$list[0].rek_subject}
			{section name="s" loop=$loop_subjects}
			{if $loop_subjects[s] != ""}
			    <setSpec>{$app_hostname}:{$app_pid_namespace}:cvo_id:{$loop_subjects[s]}</setSpec>
			{/if}
			{/section}
		{/if}
	{/if}
	  </header>
	  <metadata>
		{if $metadataPrefix == "oai_dc"}
	      <oai_dc:dc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:dc="http://purl.org/dc/elements/1.1/">
		{elseif $metadataPrefix == "pa"}
		  <pa:picture xmlns:pa="http://www.pictureaustralia.org/schemas/pa/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.pictureaustralia.org/schemas/pa/ http://www.pictureaustralia.org/schemas/pa/picture.xsd">
		{/if}
		    <dc:title>{$list[0].rek_title|escape:"html"}</dc:title>
			{if $metadataPrefix == "pa"}
	        <pa:location>{$app_base_url}view/{$list[0].rek_pid|escape:"html"}</pa:location>
	        {assign var="loop_thumbnail" value=$list[0].thumbnail}
        	<pa:thumbnail>{$app_base_url}eserv/{$list[0].rek_pid|escape:"html"}/{$loop_thumbnail[0]|escape:"html"}</pa:thumbnail>
			{/if}
	        <dc:identifier>{$app_base_url}view/{$list[0].rek_pid|escape:"html"}</dc:identifier>
	        <dc:description>{$list[0].rek_description|escape:"html"}</dc:description>
	        <dc:type>{$list[0].rek_display_type_lookup|escape:"html"}</dc:type>
	        <dc:date>{$list[0].rek_date|escape:"html"}</dc:date>
			{if $list[0].rek_author}
				{if !is_array($list[0].rek_author)}
		        	<dc:creator>{$list[0].rek_author|escape:"html"}</dc:creator>
				{else}
					{assign var="loop_authors" value=$list[0].rek_author}
					{section name="a" loop=$loop_authors}
				        <dc:creator>{$list[0].rek_author[a]|escape:"html"}</dc:creator>
					{/section}
				{/if}
			{/if}
			{if $list[0].rek_contributor}
				{if !is_array($list[0].rek_contributor)}
		        	<dc:contributor>{$list[0].rek_contributor|escape:"html"}</dc:contributor>
				{else}
					{assign var="loop_contributors" value=$list[0].rek_contributor}
					{section name="a" loop=$loop_contributors}
				        <dc:contributor>{$list[0].rek_contributor[a]|escape:"html"}</dc:contributor>
					{/section}
				{/if}
			{/if}
			{if $list[0].rek_subject_lookup}
				{if !is_array($list[0].rek_subject_lookup)}
		        	<dc:subject>{$list[0].rek_subject_lookup|escape:"html"}</dc:subject>
				{else}
					{assign var="loop_subjects" value=$list[0].rek_subject_lookup}
					{section name="s" loop=$loop_subjects}
				        <dc:subject>{$list[0].rek_subject_lookup[s]|escape:"html"}</dc:subject>
					{/section}
				{/if}
			{/if}
      {if $list[0].rek_org_unit_name}
        {if !is_array($list[0].rek_org_unit_name)}
            <dc:subject>{$list[0].rek_org_unit_name|escape:"html"}</dc:subject>
          {else}
          {assign var="loop_org_unit_name" value=$list[0].rek_org_unit_name}
          {section name="s" loop=$loop_org_unit_name}
              <dc:subject>{$list[0].rek_org_unit_name[s]|escape:"html"}</dc:subject>
          {/section}
        {/if}
      {/if}
			{if $list[0].rek_keywords}
				{if !is_array($list[0].rek_keywords)}
	            	<dc:subject>{$list[0].rek_keywords|escape:"html"}</dc:subject>
				{else}
					{assign var="loop_keywords" value=$list[0].rek_keywords}
		    		{section name="s" loop=$loop_keywords}
			            <dc:subject>{$list[0].rek_keywords[s]|escape:"html"}</dc:subject>
		    		{/section}
				{/if}
			{/if}
			{if $list[0].rek_publisher}
				{if !is_array($list[0].rek_publisher)}
	            	<dc:publisher>{$list[0].rek_publisher|escape:"html"}</dc:publisher>
				{else}
		    		{assign var="loop_publisher" value=$list[0].rek_publisher}
		    		{section name="s" loop=$loop_publisher}
			            <dc:publisher>{$list[0].rek_publisher[s]|escape:"html"}</dc:publisher>
		    		{/section}
				{/if}
			{/if}
			{if $list[0].rek_ismemberof_title}
				{if !is_array($list[0].rek_ismemberof_title)}
		        	<dc:relation>isMemberOf {$list[0].rek_ismemberof_title|escape:"html"} {$app_base_url}list/{$list[0].rek_ismemberof|escape:"html"}</dc:relation>
				{else}
			        {assign var="loop_relation" value=$list[0].rek_ismemberof_title}
					{section name="s" loop=$loop_relation}
				        <dc:relation>isMemberOf {$loop_relation[s]|escape:"html"} {$app_base_url}list/{$list[0].rek_ismemberof[s]|escape:"html"}</dc:relation>
					{/section}
				{/if}
			{/if}
			{if $list[0].rek_file_attachment_name}
				{if !is_array($list[0].rek_file_attachment_name)}
		        	<dc:relation>{$app_base_url}eserv/{$list[0].rek_pid|escape:"html"}/{$list[0].rek_file_attachment_name|escape:"html"}</dc:relation>
				{else}
					{assign var="loop_format" value=$list[0].rek_file_attachment_name}
					{section name="f" loop=$loop_format}
				        <dc:relation>{$app_base_url}eserv/{$list[0].rek_pid|escape:"html"}/{$list[0].rek_file_attachment_name[f]|escape:"html"}</dc:relation>
					{/section}
				{/if}
			{/if}
			{if $list[0].rek_rights}
				{if !is_array($list[0].rek_rights)}
		        	<dc:rights>{$list[0].rek_rights|escape:"html"}</dc:rights>
				{else}
					{assign var="loop_rights" value=$list[0].rek_rights}
					{section name="s" loop=$loop_rights}
				        <dc:rights>{$list[0].rek_rights[s]|escape:"html"}</dc:rights>
					{/section}
				{/if}
			{/if}
		{if $metadataPrefix == "oai_dc"}
	      </oai_dc:dc>
		{elseif $metadataPrefix == "pa"}
		  </pa:picture>
		{/if}
      </metadata>
    </record>
  </GetRecord>
{else}
{section name="e" loop=$errors.code}
  <error code="{$errors.code[e]}">{$errors.message[e]}</error>
{/section}
{/if}
</OAI-PMH>