#options {
text-align:center;	
clear:both;	
padding-top:30px;



}
#options ul {

}

#options ul li {
padding-right:15px;
display:inline;
list-style:none;	
}

a.app_errors {
display:block;
width: 90%;
background: #660000;
color: white;
border: 1px solid #FF3333;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
font-style: normal;
font-size: 11px;
text-decoration: none;
margin: 5px 40px 5px 40px;
padding: 0px;
overflow:hidden;
height: 70px;
cursor: text;
}

a.app_errors:hover {
	height: auto;
cursor: text;
}

.app_error {
	border: 1px solid #FF3333;
	padding: 5px;
	margin: 5px 5px 5px 5px;
}

.app_error_source {
	padding: 5px;
}

.app_error_backtrace_item {
	background: #993333;
	padding: 5px;
}

.app_error_backtrace_file {
	padding: 5px;
	margin-left: 100px;
}

.old_bgp {
	color: red;
}

.register_suggest {
	display: none;
}

div.wfl_progress {
	padding: 5px;
}

img.wfl_progress {
margin: 2px;
position:relative;
top: 5px;
}
.sanity_result_passed {
color: green;
}
.sanity_result_failed {
color: red;
}

.flash_message {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: black;
border: 2px solid yellow;
background-color: #ffffee;
width: 100%;
text-align: center;
}

.loading {
background-color: red;
color: white;
padding: 2px;
float:right;
}

.custom_search_item {
text-align: left;
/*width: 30%;*/
margin: 0 5px 5px 5px;
}


.quick_search_item {
float:left;
/*width: 30%;*/
margin: 0 5px 5px 5px;
}

.quick_search_button {
clear:both;
float: right;
}

.quick_search_hide {
clear: both;
text-align: center;
}

.yes {
color:green;
}
.no {
color:red;
}

.compare_records_left_side, .compare_records_right_side {
vertical-align: top;
}

.compare_records_left_side div, .compare_records_right_side div {
margin-bottom: 1em;
}

