body {
	font-family: Verdana, Arial, sans-serif;
	background-color: #ffffff;
	margin: 0px;
}

/************************* Header Tags *************************/

table.nav-table-top td {
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	padding: 0px;
	background-repeat: repeat-x;
	width: 100%;
	border-top: 1px solid #82e6ff;
	border-bottom: 1px solid #82e6ff;

}

table.nav-table-top a, table.nav-table-top a:visited {
	color: #252525;
}

table.nav-table-top a:hover {
	color: #075b70;
}

table.nav-table-top form {
display: inline;
padding: 0;
margin: 0;
border: none;
}

table.nav-table-bottom td {
	padding: 2px;
	background-color: #e7f9ff;
	/*border-bottom: 1px solid #c3f3ff;*/
}


table.nav-table-bottom td form { margin: 0px; }
table.nav-table-top { height: 22px; }
table.nav-table-bottom { height: 10px; }

/************************* Footer Tags *************************/

.feedback {
	height: 10px;
	background-color: #e7f9ff;
	border-bottom: 1px solid #c3f3ff;
}

.footerlinks {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none
}

a:link .footerlinks {
	color: #3561C2
}

a:visited .footerlinks {
	color: #3561C2
}

a:hover .footerlinks {
	color: #FF0000;
	text-decoration: underline
}

a:active .footerlinks {
	color: #3561C2
}

/************************* Content Tags *************************/
.table-header {
	background: #003399;
}

.formfield {
	border-right: #9ab5c3 1px solid;
	border-top: #9ab5c3 1px solid;
	font-size: 12px;
	color: #000000;
	border-left: #9ab5c3 1px solid;
	border-bottom: #9ab5c3 1px solid;
	font-family: Verdana, Arial, sans-serif;
	background-color: #ffffff;
}

.highlights {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #000000
}

.highlightlinks {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #1685DA;
	text-decoration: none
}

a:hover .highlightlinks {
	text-decoration: underline
}

a:visited .highlightlinks {
	color: #1685DA;
}

a:active .highlightlinks {
	color: #1685DA;
}

a:link .highlightlinks {
	color: #1685DA;
}

.for {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #156DB1
}

.forlinks {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #156DB1;
	text-decoration: none
}

a:hover .forlinks {
	text-decoration: underline
}

a:visited .forlinks {
	color: #156DB1;
}

a:active .forlinks {
	color: #156DB1;
}

a:link .forlinks {
	color: #156DB1;
}

.about {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #156DB1
}

.aboutlinks {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #156DB1;
	text-decoration: none
}

a:hover .aboutlinks {
	text-decoration: underline
}

a:visited .aboutlinks {
	color: #156DB1;
}

a:active .aboutlinks {
	color: #156DB1;
}

a:link .aboutlinks {
	color: #156DB1;
}

.sidemenulinks {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

a:hover .sidemenulinks {
	text-decoration: underline
}

a:visited .sidemenulinks {
	color: #000000;
}

a:active .sidemenulinks {
	color: #000000;
}

a:link .sidemenulinks {
	color: #000000;
}

.footerlinks {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none
}

a:hover .footerlinks {
	text-decoration: underline;
	color: #000000;
}

a:visited .footerlinks {
	color: #999999;
}

a:active .footerlinks {
	color: #999999;
}

a:link .footerlinks {
	color: #999999;
}

.listrecord {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 75%;
	padding-bottom: 2px;
/*	border-bottom: 1px solid #DDDDDD; */
}

.listrecord a {
	text-decoration: none;
	color: #3179C6;	
}

.listrecord a:hover {
	text-decoration: none;
	color: #61ADFF;
}

.listrecord a.author_id_link {
	color: #4F7F37;
	text-decoration: none;
}

.listrecord a:hover.author_id_link {
	color: #C1EFB3;
}

.listrecord .tr {
	background-color: #255282;
	color: white;
}

.contentheader {
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	/*font-size: 18px;*/
	font-weight: bold;
	color: #333;
}

.listrecord .td {
	font-size: 5px;
	font-weight: bold;
	background-color: #255282;
	padding: 4px 4px 4px 4px;
	margin: 0px 0px 0px 0px;
	color: white;
}

.tableheader {
	font-weight: bold;
}

table.listing {
	width: 100%;
}

table.listing td {
	margin: 1px 1px 0px 0px;
	padding: 1px 1px 1px 5px;
	border-width: 0px;
}

td.checkbox_column {
width: 2em;
}


#front-page-container-simple {
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 10pt;
}

#front-page-container-simple a {
	text-decoration: none;
	color: #3179C6;
}

#front-page-container-simple a:hover {
	/*text-decoration: underline;*/
	color: #61ADFF;
}

#front-page-container-simple a.author_id_link {
	color: #4F7F37;
	text-decoration: none;
}

#front-page-container-simple a:hover.author_id_link {
	color: #C1EFB3;
}

#front-page-container {
	width: 80%;
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 10pt;
}

#front-page-container a {
	text-decoration: none;
	color: #3179C6;
}

#front-page-container a:hover {
	/*text-decoration: underline;*/
	color: #61ADFF;
}

#front-page-container a.author_id_link {
	color: #4F7F37;
	text-decoration: none;
}

#front-page-container a:hover.author_id_link {
	color: #C1EFB3;
}

.front-page-content-header {
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 18px;
	font-weight: bold;
	color: #00358B;
	padding: 0px 0px 0px 5px;
}

.front-page-content-detail {
	padding-top: 5px;
	margin-left: 20px;
}

.front-page-list a:hover {
	text-decoration: underline;
	color: #156DB1;
}

.front-page-list {
	list-style-image: url('../images/bullet.gif')
}

.front-page-list li {
	line-height: 1.2em;
	margin-left: -5px;
}

#front-page-logo-set td {
	padding: 10px;
	text-align: center;
}

.news-item {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	padding: 2px 2px 10px 10px;
	margin: 10px;
	border-bottom: 1px solid #DDDDDD;
}

.news-heading {
	font-weight: bold;
}

.news-supp-info {
	padding-top: 5px;
	padding-bottom: 15px;
	color: #999999;
}

.news-body {
	/* No special styling at this time. */
}

/* Tool tips */
a.tool-tip {
	font-weight: normal;
	position: relative;
	z-index: 1;
	text-decoration: none;
}

a.tool-tip:hover {
	z-index: 2;
	background-color: #FFFFFE;	/* So close to white it hurts. */
}

a.tool-tip span {
	display: none;
}

a.tool-tip:hover span {
	display: block;
	position: absolute;
	top: 1.2em;
	padding: 5px;
	margin: 3px;
	width: 300px;
	border: 1px solid #DDDDDD;
	background-color: #FFFFEE;
	color: #000000;
	text-decoration: none;
}

.letter-list {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #B9B9B9;
	margin: 4px;
	padding: 4px;
}

.letter-list a:link, .letter-list a:visited {
	text-decoration: none;
	color: #3179C6;
	font-weight: bold;
}

.letter-list a:hover { color: #156DB1; }

h1.public {
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 18px;
	font-weight: bold;
	color: #00358B;
	padding: 0px 0px 0px 20px;
}

.admin-wrapper {
	background-color: #e7f9ff;
}

.admin-side-nav-title {
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.admin-side-nav {
	margin: 2px;
	padding: 0px;
}

.admin-side-nav li {
	border-bottom: 1px #DEDEDE solid;
	list-style: none;
	white-space: nowrap;
}

.admin-side-nav a {
	padding: 2px;
	display: block;
}

.admin-side-nav li a:hover {
	background-color: #DDEFFF;
	color: #00417D;
}

.admin-side-nav li a:active {
	background-color: #BCDFFF;
	color: #00417D;
}

.focus {
	background-color: #F1F9FF;
	color: #00417D;
}

.admin-header {
	padding: 5px;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-weight: bold;
	color: #333;
}

.admin-content {
	padding: 10px;
}

.config-group {
	padding: 5px;
	border: 1px #A7C1DF solid;
}

.colname {
	width: 120px;
	padding: 5px;
	text-align: right;
	font-weight: bold;
}

.coldetail {
	padding: 5px;
	font-size: 80%;
}

.pager-display {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	padding: 15px;
	text-align: center;
	font-size: 85%;
	font-weight: normal;
}

.pager-display a:link, .pager-display a:visited { color: #3561C2; text-decoration: none; }
.pager-display a:hover { color: #FF0000; text-decoration: none; }
