<tr><td>
<script type="text/javascript" src="{$rel_url}js/suggestions.js"></script>
<script type="text/javascript" src="{$rel_url}js/autosuggest.js"></script>
<script type="text/javascript" src="{$rel_url}js/global.js"></script>
<script type="text/javascript">
<!--
{literal}
//This needs to be here as it's automatically called
function validateForm(f)
{
}
{/literal}
// -->
</script>
<div class="fez_form">
<input type="hidden" name="cat" value="submit" />

<div class="fez_form_item">
<label for="collection_pid" >Destination Collection</label>
<span class="fez_form_input">

<select class="default" name="collection_pid">
    <option label="" value="">Same as cloned pid</option>
    {html_options options=$collection_list selected=$collection_list_selected }
</select>
</span>
</div>

<div class="fez_form_item">
<label for="is_succession" >Successor</label>
<span class="fez_form_input">
<input name="is_succession" type="checkbox" 
	{if $smarty.request.is_succession}checked="on"{/if} /> (If checked, the copy will be marked as a newer version of the source record)
</span>
</div>

<div class="fez_form_item">
<label for="clone_attached_datastreams" >Include File Attachments</label>
<span class="fez_form_input">
<input name="clone_attached_datastreams" type="checkbox" 
	{if $smarty.request.clone_attached_datastreams}checked="on"{/if} /> 
</span>
</div>

<div class="fez_form_item">
<label for="new_xdis_id" >Display</label>
<span class="fez_form_input">
<select name="new_xdis_id" >
	{html_options options=$xdis_list selected=$smarty.request.new_xdis_id|default:$xdis_id }
</select>
</span>
</div>

</div>
</td></tr>