<tr>
    <td>
<div class="outline">
    <div class="admin-header">Please check any information before proceeding</div>
    <div class="default admin-content">
        {$xdis_title} - {$pid} - {$title}<br/><br/>
<h1>{$warning nofilter}</h1>
DOI will be :<br />
{$doi} <br/>
<b>{$existingDoi}</b> <br/><br/>
{$link} <br/><br/>

<b>Depositor info:</b><br/>
{$depositor_full_name} <br/>
{$depositor_email}  - Note: email needs to be correct as it will be where verification from Crossref will be emailed to<br/>
<br/>
        <strong>Institution:</strong> {$org_name} <br />
        <strong>First Author First Name:</strong> {$details.rek_author_firstname[0]}<br />
        <strong>First Author Last Name:</strong> {$details.rek_author_lastname[0]}<br />

{section name="j" loop=$details.rek_author}
    {if $smarty.section.j.index!=0}
        <strong>Additional Author First Name:</strong> {$details.rek_author_firstname[j]}<br />
        <strong>Additional Author Last Name:</strong> {$details.rek_author_lastname[j]}<br />
    {/if}
{/section}

{if $xdis_title=="Thesis"}
        <strong>Publication Date:</strong> {$published_date|date_format:"%d/%m/%y"}<br />
        <strong>Degree:</strong> {$details.rek_genre_type}<br />
        <strong>Department:</strong> {$details.rek_org_unit_name}<br />
{elseif $xdis_title=="Data Collection"}
        <strong>Publication Date:</strong> {$published_date|date_format:"%Y"}<br />
        <strong>Description:</strong> {$details.rek_description}<br />
{elseif $xdis_title=="Conference Paper"}
        <strong>Conference_name:</strong> {$details.rek_conference_name}<br />
        <strong>Conference_location:</strong> {$details.rek_conference_location}<br />
        <strong>Publication Date:</strong> {$published_date|date_format:"%Y"}<br />
        <strong>Description:</strong> {$details.rek_description}<br />
        <strong>First page:</strong> {$details.rek_start_page}<br />
        <strong>Last page:</strong> {$details.rek_end_page}<br />
        <strong>Proceedings Title:</strong> {$details.rek_proceedings_title}<br />
        <strong>Publisher name:</strong> {$details.rek_publisher}<br />
        <strong>ISBN:</strong> {$details.rek_isbn[0]}<br />
{elseif $xdis_title=="Working Paper"}
        <strong>Publisher:</strong> {$details.rek_publisher}}<br />
        <strong>Publication Date:</strong> {$published_date|date_format:"%d/%m/%y"}<br />
        <strong>Department:</strong> {$details.rek_org_unit_name}<br />
{/if}

</div> </div> </div>
</td></tr>
