<?xml version="1.0" encoding="UTF-8"?>
<doi_batch version="4.3.0"
           xmlns="http://www.crossref.org/schema/4.3.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.crossref.org/schema/4.3.0
http://www.crossref.org/schema/deposit/crossref4.3.0.xsd">
    <head>
        <doi_batch_id>{$uniqid}</doi_batch_id>
        <timestamp>{$timestamp}</timestamp>
        <depositor>
            <name>{$depositor_full_name}</name>
            <email_address>{$depositor_email}</email_address>
        </depositor>
        <registrant>{$org_name}</registrant>
    </head>
    <body>
        <conference>
            <event_metadata>
                <conference_name>{$details.rek_conference_name}</conference_name>
                <conference_location>{$details.rek_conference_location}</conference_location>
            </event_metadata>
            <proceedings_metadata>
                <proceedings_title>{$details.rek_proceedings_title}</proceedings_title>
                    <publisher>
                        <publisher_name>{$details.rek_publisher}</publisher_name>
                    </publisher>
                <publication_date>
                    <month>{$published_month}</month>
                    <day>{$published_day}</day>
                    <year>{$published_year}</year>
                </publication_date>
                <isbn>{$details.rek_isbn[0]}</isbn>
            </proceedings_metadata>
            <conference_paper publication_type="full_text">
                <contributors>
                    {section name="j" loop=$details.rek_author}
                        <person_name sequence = "{if $smarty.section.j.index==0}first{else}additional{/if}" contributor_role = "author">
                            <given_name>{$details.rek_author_firstname[j]}</given_name>
                            <surname>{$details.rek_author_lastname[j]}</surname>
                        </person_name>
                    {/section}
                </contributors>
                <titles>
                    <title>{$details.rek_title}</title>
                </titles>
                <publication_date>
                    <month>{$published_month}</month>
                    <day>{$published_day}</day>
                    <year>{$published_year}</year>
                </publication_date>
                {if $details.rek_start_page}
                    <pages>
                        <first_page>{$details.rek_start_page}</first_page>
                        {if $details.rek_end_page}
                            <last_page>{$details.rek_end_page}</last_page>
                        {/if}
                    </pages>
                {/if}
                <doi_data>
                    <doi>{$doi}</doi>
                    <resource>{$link}</resource>
                </doi_data>
            </conference_paper>
        </conference>
    </body>
</doi_batch>
