{* URL to View Thesis page *}
{if $view_record_url}
    <p>
        <a href="{$view_record_url}" alt="{$view_record_url}">Click here to view the Thesis</a>
    </p>
{/if}


<div class="sfa-thesis-header">
    The following are the thesis details that have been submitted.
</div>

{* Submission details *}
<table id="view-metadata" cellpadding="5">
    <tr>
        <th class="default_white" colspan="10" style="background: {$heading_color}; text-align: left; ">
            <b>Submitted Details</b>
        </th>
    </tr>

    {foreach from=$display_data key=key item=data}
        <tr valign="top">
            <th align="right">{$data.xsdmf_title|escape:'htmlall'}: </th>
            <td align="left">
                {foreach from=$data.value item=value}
                    {$value|smarty:nodefaults}
                    <br>
                {foreachelse}
                    {$data.value|smarty:nodefaults}
                {/foreach}
            </td>
        </tr>
    {foreachelse}

        <tr>
            <td>
                <b>No details could be found.</b>
            </td>
        </tr>

    {/foreach}
</table>

{* Uploaded Files *}
{if $attached_files|@sizeof > 0}
<table id="view-attachments">
    <tr>
        <th class="default_white" colspan="10">
            <b>Uploaded Files</b>
        </th>
    </tr>
    <tr style="background: #E5E5E5; font-weight: bold;">
        <td colspan="3">Name</td>
        <td>Description</td>
        <td colspan="2">MIMEType</td>
        <td>Size</td>
    </tr>
    {foreach from=$attached_files key=key item=file}
        <tr>
            <td colspan="3" width="150">{$file.filename}</td>
            <td>{$file.label}</td>
            <td colspan="2">{$file.MIMEType}</td>
            <td>{$file.archival_size}</td>
        </tr>
    {/foreach}
</table>
{/if}


