
<script type="text/javascript">
<!--
{$najax_register|smarty:nodefaults}
{literal}
var coll_load_state = 0;

function showLoading()
{
    document.body.style.cursor = 'wait';
    document.getElementById('loading').style.display = 'block';
};

function hideLoading()
{
    document.body.style.cursor = '';
    document.getElementById('loading').style.display = 'none';
};


function selectCommunity(f, field_name)
{
    if (coll_load_state > 0) {
       return false;
    }
    var field = getFormElement(f, field_name);
    var selections = getSelectedItems(field);

    if (selections.length > 0) {
        coll_load_state++;
        document.getElementById('tr_collection_pid').style.display = '';
        showLoading();
        var obj = new SelectCollection();
        obj.onGetCollectionsError = function() {
            removeAllOptions(f, 'collection_pid');
            hideLoading();
            coll_load_state--;
        }
        obj.setTimeout(10000);
        obj.getCollections(selections[0].value, function(collections_list) {
                removeAllOptions(f, 'collection_pid');
                addOptions(f, 'collection_pid', collections_list);
                hideLoading();
                coll_load_state--;
                });
    }
}

function validateForm(f)
{
    if (!hasOneSelected(f, 'community_pid')) {
        errors[errors.length] = new Option('Community','community_pid');
    }
    if (!hasOneSelected(f, 'collection_pid')) {
        errors[errors.length] = new Option('Collection','collection_pid');
    }
}

{/literal}
// -->
</script>

<table width="100%">
<input type="hidden" name="cat" value="submit">
<tr>
  <td class="contentheader" colspan="2">
    <b><img align="absmiddle" src="{$rel_url}images/collection_32.jpg" border="0">Select Destination Collection if Moving or Copying to a collection, Source Collection if Removing from a collection</b>
  </td>
</tr>

<tr >
  <td width="100" bgcolor="{$cell_color}" class="default">
    <b>Parent Community</b>
  </td>
  <td width="75%" bgcolor="{$light_color}">
    <select class="default" name="community_pid" onChange="javascript: selectCommunity(this.form, 'community_pid')" >
      {html_options options=$communities_list selected=$communities_list_selected }
    </select>
  </td>
</tr>
<tr style="display:none;" id="tr_collection_pid">
  <td bgcolor="{$cell_color}" class="default">
    <b>Collection</b>
  </td>
  <td bgcolor="{$light_color}">
    <div id="loading" style="display:none;">Loading...</div>
    <select class="default" name="collection_pid" >
    </select>
  </td>
</tr>

</table>
