<script type="text/javascript">
<!--
{$najax_register}
{literal}




function validateForm(f)
{
    if (!hasOneSelected(f, 'community_pid')) {
        errors[errors.length] = new Option('Community','community_pid');
    }
    
}


{/literal}
// -->
</script>

<table width="100%">
<input type="hidden" name="cat" value="submit">
<tr>
  <td class="contentheader" colspan="2">
    <b><img align="absmiddle" src="{$rel_url}images/collection_32.jpg" border="0">Select Community</b>
  </td>
</tr>

<tr >
  <td width="100" bgcolor="{$cell_color}" class="default">
    <b>Community</b>
  </td>
  <td width="75%" bgcolor="{$light_color}">
    <select class="default" name="community_pid"  >
      {html_options options=$communities_list selected=$communities_list_selected }
    </select>
  </td>
</tr>


</table>
