<script type="text/javascript">
<!--

{literal}




function validateForm(f)
{
    if (!hasOneSelected(f, 'usr_id')) {
        errors[errors.length] = new Option('User','usr_id');
    }
    
}


{/literal}
// -->
</script>

<table width="100%">
<input type="hidden" name="cat" value="submit">
<tr>
  <td class="contentheader" colspan="2">
    <b>Select User</b>
  </td>
</tr>

<tr >
  <td width="100" bgcolor="{$cell_color}" class="default">
    <b>User</b>
  </td>
  <td width="75%" bgcolor="{$light_color}">
    <select class="default" name="usr_id"  >
      {html_options options=$usr_list}
    </select>
  </td>
</tr>


</table>
