<tr>
<td class="default" align="center">
<strong>Submission Completed</strong><br /><br />

Thank you for submitting this record to {$application_name}.<br /><br />

Your item will be referred to a {$application_name} staff member for editing, prior to being moved into an open collection. Thank you for submitting your record to UQ eSpace. Please note that we are prioritising publications between 2006 and 2012 in preparation for the 2013 HERDC submission (2012 publications) and to meet the requirements of Q-index (publications 2006 to present).<br /><br />

Your item can be viewed at: <a href="{$view_record_url}">{$view_record_url}</a><br /><br />

You will receive a confirmation email soon<br /><br />

</td>
</tr>
