{literal}
	<script type="text/javascript">
		<!--
		function updateForm()
		{
			var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
			var updateWin = window.open('', '_popup_window', features);
			updateWin.focus();
			return true;
		}

		function disableWorkflowButtons(f)
		{
			//document.getElementById('wfl_buttons_1').style.visibility = "hidden";
			//document.getElementById('wfl_buttons_2').style.visibility = "hidden";
            document.getElementById('wfl_buttons_1').style.display = "none";
			document.getElementById('wfl_buttons_2').style.display = "none";

			/*
			{/literal}{section name="i" loop=$workflow_buttons}{literal}
				var field_{/literal}{$workflow_buttons[i].wfs_id}{literal}_1 = getFormElementByID(f, 'workflow_button_{/literal}{$workflow_buttons[i].wfs_id}{literal}_1');
				field_{/literal}{$workflow_buttons[i].wfs_id}{literal}_1.disabled = true;
				var field_{/literal}{$workflow_buttons[i].wfs_id}{literal}_2 = getFormElementByID(f, 'workflow_button_{/literal}{$workflow_buttons[i].wfs_id}{literal}_2');
				field_{/literal}{$workflow_buttons[i].wfs_id}{literal}_2.disabled = true;
			{/literal}{/section}{literal}
				var field_abandon_1 = getFormElementByID(f, 'workflow_abandon_1');
				field_abandon_1.disabled = true;
				var field_abandon_2 = getFormElementByID(f, 'workflow_abandon_2');
				field_abandon_2.disabled = true;
			*/
			return true;
		}

        function enableWorkflowButtons(f)
		{
            document.getElementById('wfl_buttons_1').style.display = "block";
			document.getElementById('wfl_buttons_2').style.display = "block";
        }
		-->
	</script>
{/literal}

{* we need to tell the swfupload script about the button ids so it can disable them *}
{if $header_include_flash_uploader_files == 1 && $smarty.const.APP_ENABLE_FLASH_UPLOADER_SWITCH == 'ON'}
	<script type="text/javascript">
		<!--
		dojo.addOnLoad( function() {ldelim}
		{* Event.observe(window, 'load', function() {ldelim} *}

			var workflowButtonIds = [
			{section name="i" loop=$workflow_buttons}
			'workflow_button_{$workflow_buttons[i].wfs_id}_1', 'workflow_button_{$workflow_buttons[i].wfs_id}_2',
			{/section}
			'workflow_abandon_1', 'workflow_abandon_2'
			];
			uploaderSetButtonIds(workflowButtonIds);
		{rdelim});
		-->
	</script>
{/if}

{if $show_not_allowed_msg}
	<div class="msg">
		You don't have permission to access this function
	</div>
{else}

	{* if the flash uploader is turned on and the user doesn't have flash installed or *}
	{* it's not current enough, then show them a message saying so *}
	{* also, only show this message on the enter or edit metadata pages rather than every workflow page *}
	{if $smarty.const.APP_ENABLE_FLASH_UPLOADER_SWITCH == 'ON' && ($type == 'enter_metadata' || $type == 'edit_metadata')}
		<script type="text/javascript">
			<!--
			var flashInstalled = GetSwfVer();
			if (flashInstalled == -1) {ldelim}
				document.write('<div class="msg">If you install Adobe Flash version 9.0.45 or higher, <a href="http://www.adobe.com/go/getflashplayer">available here</a>,<br/> {$smarty.const.APP_NAME} offers a flash file uploader which will give you a progress bar and allow you to upload larger files</div><br />');
			{rdelim} else {ldelim}
				var flashVersionUpToSpec = DetectFlashVer(9, 0, 45);
				if (!flashVersionUpToSpec) {ldelim}
					document.write('<div class="msg">If you upgrade to Adobe Flash version 9.0.45 or higher, <a href="http://www.adobe.com/go/getflashplayer">available here</a>,<br/> {$smarty.const.APP_NAME} offers a flash file uploader which will give you a progress bar and allow you to upload larger files</div><br />');
				{rdelim}
			{rdelim}
			-->
		</script>
	{/if}

	{if $submit_to_popup}
		<form id="wfl_form1" onsubmit="javascript:return (checkFormSubmission(this, 'validateForm') && updateForm() && disableWorkflowButtons(this){if ($header_include_flash_uploader_files == 1 && $smarty.const.APP_ENABLE_FLASH_UPLOADER_SWITCH == 'ON')} && swfuploaderUploadFiles(this) {/if});" target="_popup_window" action="{$rel_url}popup.php" method="POST" enctype="multipart/form-data">
	{else}
		<form id="wfl_form1" onsubmit="javascript:return (checkFormSubmission(this, 'validateForm') && disableWorkflowButtons(this){if ($header_include_flash_uploader_files == 1 && $smarty.const.APP_ENABLE_FLASH_UPLOADER_SWITCH == 'ON')} && swfuploaderUploadFiles(this) {/if});"  action="{$smarty.server.PHP_SELF}" method="post" enctype="multipart/form-data">
	{/if}

	<div>
		<input type="hidden" name="id" value="{$id}" />
	</div>

	<table style="background: {$light_color}; width: 100%;" cellspacing="0" cellpadding="1">
		<tr>
			<td>
				<table style="background: #FFFFFF; width: 100%" cellspacing="0" cellpadding="0" class="edit-metadata">
					<thead>
						<tr>
							<th colspan="2">
                                {if $wfl_title}
								    <h1>{$wfl_title} - {$wfs_title}</h1>
                                {/if}
								{if $wfs_description}
									<div class="wfl_description">
										{$wfs_description}
									</div>
								{/if}
								{if $states_done}
									<div class="wfl_progress">
										Workflow Progress:
										{section name="i" loop=$states_done}
											<span class="wfl_progress">{if !$states_done[i].wfs_auto}<a class="link" href="{$rel_url}workflow/{$states_done[i].wfb_script_name}?id={$id}&amp;wfs_id={$states_done[i].wfs_id}">{/if}{$states_done[i].wfs_title}{if !$states_done[i].wfs_auto}</a>{/if}</span>
											<img src="{$rel_url}images/1leftarrow.png" alt=" -> "  class="wfl_progress" />
										{/section}
									</div>
								{/if}
							</th>
						</tr>

						{if $workflow_buttons}
							<tr>
								<td colspan="2" style="background: {$cell_color}">
									<div id="wfl_buttons_1">
										<table style="width: 100%" cellpadding="0" cellspacing="0">
											<tr>
												<td style="text-align: center">
													{section name="i" loop=$workflow_buttons}
														<input class="button" type="submit" id="workflow_button_{$workflow_buttons[i].wfs_id}_1" name="workflow_button_{$workflow_buttons[i].wfs_id}"
														value="{$workflow_buttons[i].wfs_title|default:'Done'}"
														{if $disable_workflow}disabled="disabled"{/if} />&nbsp;
													{/section}
													<input class="button" type="button" id="workflow_abandon_1" name="workflow_abandon" onclick="javascript:document.location.href='{$rel_url}workflow/abandon.php?id={$id}&amp;href={$href|smarty:nodefaults|escape:url}';" value="Abandon Workflow" />
												</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
						{/if}

					</thead>

					{include file="workflow/$type.tpl.html"}

					{if $APP_HERDC_SUPPORT == 'ON' && $in_herdc_group == '1' && $record_type == 'Record'}
						<tr>
							<td colspan="2">
								<div id="herdc_advice">
									If this record is for the HERDC submission, you must ensure that you record author affiliation details before you publish the record.
								</div>
							</td>
						</tr>
					{/if}

					{if $workflow_buttons && !$no_bottom_buttons}
						<tr>
							<th colspan="2" style="text-align: center">
								<div id="wfl_buttons_2">
									{section name="i" loop=$workflow_buttons}
										<input class="button" type="submit" name="workflow_button_{$workflow_buttons[i].wfs_id}" id="workflow_button_{$workflow_buttons[i].wfs_id}_2" value="{$workflow_buttons[i].wfs_title|default:'Done'}"
										{if $disable_workflow}disabled="disabled"{/if} />&nbsp;
									{/section}
									<input class="button" type="button" id="workflow_abandon_2" name="workflow_abandon" onclick="javascript:document.location.href='{$rel_url}workflow/abandon.php?id={$id}&amp;href={$href|smarty:nodefaults|escape:url}';" value="Abandon Workflow" />
								</div>
							</th>
						</tr>
					{/if}

					<tr>
                        <th colspan="0" style="background: {$heading_color}; color: white;">
                            <span style="text-align:left;display:inline-block; width:100px;"><b>* Required fields</b></span>
                            {if ($pid)}<span style="text-align:right;margin-bottom:0px;display:inline-block; width:810px;"> {$pid} {if ($title)} - {$title|truncate:87:"..."}{/if}</span>{/if}
                        </th>
					</tr>

				</table>
			</td>
		</tr>
	</table>

	</form>

{/if}