<div class="admin-box">

	<h1>Ad Hoc Queries</h1>

    <div class="default admin-content">
		<img style="vertical-align: middle" src="{$rel_url}images/ad_hoc_22.png" alt="Ad Hoc Queries" /> &nbsp; Manage and run Ad Hoc queries.
		
		<br /><br />
				
		<input type="button" onclick="javascript:window.location = '{$rel_url}manage/ad_hoc_sql.php';" value="Manage Ad Hoc SQL PID Lists" class="button" />
		<input type="button" onclick="javascript:window.location = '{$rel_url}manage/ad_hoc_workflow.php';" value="Run Workflow against Ad Hoc Query" class="button" />
		
    </div>

</div>