<div class="outline">

	<div class="admin-header">Site Configuration</div>

    <div class="default admin-content">
	<img align="absmiddle" src="{$rel_url}images/config_22.png" border="0" /> Set Fez configuration settings.
	<br /><br />
	<i>This area will contain a series of forms for editing the database-housed config settings.</i>
	<br /><br />
    <!--form name="run_stats"  method="post" action="{$smarty.server.PHP_SELF}">
		<input type="hidden" name="action" value="go"/>
		&nbsp;&nbsp;&nbsp;<input type="submit" name="button" value="Run statistics generator" class="submit" />
	</form-->
    </div>

</div>
