{literal}
<script language="JavaScript">
<!--

/*window.onload = function() {
	hideAllSubPages();
}
*/

function showSubPage(p)
{
	hideAllSubPages();
	document.getElementById(p).style.display = "block";
	document.getElementById('submit').style.display = "block";
}

function hideAllSubPages()
{
	document.getElementById('general').style.display = "none";
	document.getElementById('fedora').style.display = "none";
	document.getElementById('paths').style.display = "none";
	document.getElementById('themes').style.display = "none";
	document.getElementById('webstats').style.display = "none";
	document.getElementById('shib').style.display = "none";
	document.getElementById('ldap').style.display = "none";
	document.getElementById('eprints').style.display = "none";
	document.getElementById('submit').style.display = "none";
	document.getElementById('solr').style.display = "none";
}

function updatePreviewColour(el)
{
	document.getElementById(el).style.backgroundColor = document.getElementsByName(el).item(0).value;
}

function validateForm(f)
{
	if (isWhitespace(f.webserver_log_dir.value)) {
		errors[errors.length] = new Option('Web Stats (log directory)', 'webserver_log_dir');
	}
	if (isWhitespace(f.webserver_log_file.value)) {
		errors[errors.length] = new Option('Web Stats (log file)', 'webserver_log_file');
	}
	if (isWhitespace(f.app_geoip_path.value)) {
		errors[errors.length] = new Option('Web Stats (GEOIP path)', 'app_geoip_path');
	}

	// And then all the rest. Careful not demand no white space for non-compulsory fields.

}

function runSanityCheck(el)
{
	var queryString = '../upgrade/check_sanity.php?field=' + el;
	var formValue = '&value=' + document.getElementsByName(el).item(0).value;
	window.open(queryString + formValue, "sanity", "status=0, scrollbars=1, toolbar=0, width=400, height=300");
}

function restoreDefaultColours(el)
{
	if (el.checked == true) {
		// Change every known colour back to whatever the default config says it was to begin with.
		{/literal}
		{foreach from=$colour_defaults key=var_name item=var_value}
		document.getElementsByName('{$var_name}').item(0).value = "{$var_value}";
		document.getElementById('{$var_name}').style.backgroundColor = "{$var_value}";
		{/foreach}
		{literal}
	} else {
		// Change every known colour back to the value it had when the form was loaded.
		{/literal}
		{foreach from=$colour_defaults key=var_name item=var_value}
		document.getElementsByName('{$var_name}').item(0).value = "{$config_settings.$var_name}";
		document.getElementById('{$var_name}').style.backgroundColor = "{$config_settings.$var_name}";
		{/foreach}
		{literal}
	}
}

//-->
</script>
{/literal}




<div class="admin-box">

	<div class="admin-header">Site Configuration</div>

    <div class="default admin-content">
	<img align="absmiddle" src="{$rel_url}images/config_22.png" border="0" /> Modify Fez configuration settings.

	<br /><br />

	{if $action == "save"}
	  <p>
	  {section name=value loop=$save_errors}
	    <b>PROBLEM UPDATING:</b> {$save_errors[value]}<br />
	  {sectionelse}
	    Configuration settings were successfully saved.
	  {/section}
	  </p>
	  <p><img src="{$rel_url}images/warning_16.png" alt="Warning" title="Warning" width="16" height="16" /> It is highly recommended that you run the <a href="../upgrade/check_sanity.php" target="_blank">Sanity Checks</a> now, to ensure there are no serious problems with your changes.</p>
	  <br />
    {else}
      <p>&raquo; <a href="../upgrade/check_sanity.php" target="_blank">Run Sanity Check</a></p>
	  <br />
	{/if}

	<table>
	  <tr>
	    <td width="160">
		  <a href="#" onclick="javascript:showSubPage('general');">General Settings</a><br />
		  <a href="#" onclick="javascript:showSubPage('fedora');">Fedora Settings</a><br />
		  <a href="#" onclick="javascript:showSubPage('paths');">Programs and Paths</a><br />
		  <a href="#" onclick="javascript:showSubPage('themes');">Themes &amp; Appearance</a><br />
		  <a href="#" onclick="javascript:showSubPage('solr');">Solr Settings</a><br />
		</td>
	    <td>
		  <a href="#" onclick="javascript:showSubPage('webstats');">Web Statistics</a><br />
		  <a href="#" onclick="javascript:showSubPage('shib');">Shibboleth Settings</a><br />
		  <a href="#" onclick="javascript:showSubPage('ldap');">LDAP Settings</a><br />
		  <a href="#" onclick="javascript:showSubPage('eprints');">ePrints Settings</a><br />
		  
		</td>
	  </tr>
	</table>

	<br /><br />

    <form name="run_stats" onsubmit="javascript:return checkFormSubmission(this, 'validateForm');" method="post" action="{$smarty.server.PHP_SELF}" onload="javascript:window.alert('!');">
		<input type="hidden" name="action" value="save" />
		<input type="hidden" name="datamodel_version" value="{$config_settings.datamodel_version|escape:"html"}" />

		<div id="general" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>General Settings</h2>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Application name</td>
			<td class="coldetail">
			  <input type="text" name="app_name" value="{$config_settings.app_name|escape:"html"}" size="30" />
			  {include file="error_icon.tpl.html" field="app_name"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Admin email</td>
			<td class="coldetail">
			  <input type="text" name="app_admin_email" value="{$config_settings.app_admin_email|escape:"html"}" size="30" />
			  <br />Used in the OAI identify verb and page footer.
			  {include file="error_icon.tpl.html" field="app_admin_email"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Organisation name</td>
			<td class="coldetail">
			  <input type="text" name="app_org_name" value="{$config_settings.app_org_name|escape:"html"}" size="30" />
			  {include file="error_icon.tpl.html" field="app_org_name"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Short org. name</td>
			<td class="coldetail">
			  <input type="text" name="app_short_org_name" value="{$config_settings.app_short_org_name|escape:"html"}" size="15" />
			  {include file="error_icon.tpl.html" field="app_short_org_name"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Application URL</td>
			<td class="coldetail">
			  <input type="text" name="app_url" value="{$config_settings.app_url|escape:"html"}" size="50" />
			  {include file="error_icon.tpl.html" field="app_url"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Hostname</td>
			<td class="coldetail">
			  <input type="text" name="app_hostname" value="{$config_settings.app_hostname|escape:"html"}" size="30" />
			  {include file="error_icon.tpl.html" field="app_hostname"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Relative URL</td>
			<td class="coldetail">
			  <input type="text" name="app_relative_url" value="{$config_settings.app_relative_url|escape:"html"}" size="30" />
			  {include file="error_icon.tpl.html" field="app_relative_url"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">System user</td>
			<td class="coldetail">
			  <select name="app_system_user_id">
			    {foreach from=$admin_users key=user_id item=user_name}
			    <option value="{$user_id}"{if $config_settings.app_system_user_id == $user_id} selected="selected"{/if}>{$user_name} &nbsp; (ID: {$user_id})</option>
				{/foreach}
			  </select>
			  {include file="error_icon.tpl.html" field="app_system_user_id"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">HTTPS CURL certificate checking</td>
			<td class="coldetail">
			  <select name="app_https_curl_check_cert">
			    <option value="ON"{if $config_settings.app_https_curl_check_cert == "ON"} selected="selected"{/if}>On</option>
				<option value="OFF"{if $config_settings.app_https_curl_check_cert == "OFF"} selected="selected"{/if}>Off</option>
			  </select>
			  <br />If you have a development host with an SSL certificate that's not officially signed, set this 'Off', otherwise Fedora SSL calls will fail in CURL.
			  {include file="error_icon.tpl.html" field="app_https_curl_check_cert"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Self registration</td>
			<td class="coldetail">
			  <select name="self_registration">
			    <option value="ON"{if $config_settings.self_registration == "ON"} selected="selected"{/if}>On</option>
				<option value="OFF"{if $config_settings.self_registration == "OFF"} selected="selected"{/if}>Off</option>
			  </select>
			  <br />Whether you want users to be able to create their own fez accounts. Not necessary for LDAP/AD/Shibboleth enabled sites.
			  {include file="error_icon.tpl.html" field="self_registration"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Cloud tag</td>
			<td class="coldetail">
			  <select name="app_cloud_tag">
			    <option value="ON"{if $config_settings.app_cloud_tag == "ON"} selected="selected"{/if}>On</option>
				<option value="OFF"{if $config_settings.app_cloud_tag == "OFF"} selected="selected"{/if}>Off</option>
			  </select>
			  <br />Whether or not to display the keyword cloud tag on the front page.
			  {include file="error_icon.tpl.html" field="app_cloud_tag"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Secure logins</td>
			<td class="coldetail">
			  <select name="app_https">
			    <option value="ON"{if $config_settings.app_https == "ON"} selected="selected"{/if}>On</option>
				<option value="OFF"{if $config_settings.app_https == "OFF"} selected="selected"{/if}>Off</option>
			  </select>
			  <br />Whether you want users redirected to SSL/HTTPS for login/password screens.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Disable password checking</td>
			<td class="coldetail">
			  <select name="app_disable_password_checking">
			    <option value="true"{if $config_settings.app_disable_password_checking == "true"} selected="selected"{/if}>On</option>
				<option value="false"{if $config_settings.app_disable_password_checking == "false"} selected="selected"{/if}>Off</option>
			  </select>
			  <br />Mainly used for testing. Not recommended to set this to On.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">SQL caching</td>
			<td class="coldetail">
			  <select name="app_sql_cache">
			    <option value=""{if $config_settings.app_sql_cache == ""} selected="selected"{/if}>On</option>
				<option value="SQL_NO_CACHE"{if $config_settings.app_sql_cache == "SQL_NO_CACHE"} selected="selected"{/if}>Off</option>
			  </select>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Link prefix</td>
			<td class="coldetail">
			  <input type="text" name="app_link_prefix" value="{$config_settings.app_link_prefix|escape:"html"}" size="40" />
			  <br />If you want to prepend the way all Fez Link datastreams display with a prefix then put it in this field. Fez will check first to see if the prefix is already there before adding it. Useful for ezproxying of external database resources, e.g. http://ezproxy.library.yourorg.edu/url=
			  {include file="error_icon.tpl.html" field="app_link_prefix"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Debug level</td>
			<td class="coldetail">
			  <select name="app_debug_level">
			    <option value="1"{if $config_settings.app_debug_level == "1"} selected="selected"{/if}>Level 1 - Basic error messages</option>
				<option value="2"{if $config_settings.app_debug_level == "2"} selected="selected"{/if}>Level 2 - Basic + stacktrace</option>
				<option value="3"{if $config_settings.app_debug_level == "3"} selected="selected"{/if}>Level 3 - Basic + stacktrace + function arguments passed (highest detail)</option>
			  </select>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Display error level</td>
			<td class="coldetail">
			  <select name="app_display_error_level">
			    <option value="0"{if $config_settings.app_display_error_level == "0"} selected="selected"{/if}>Level 0 - No display of errors in browser</option>
				<option value="1"{if $config_settings.app_display_error_level == "1"} selected="selected"{/if}>Level 1 - Basic error messages</option>
				<option value="2"{if $config_settings.app_display_error_level == "2"} selected="selected"{/if}>Level 2 - Basic + stacktrace</option>
				<option value="3"{if $config_settings.app_display_error_level == "3"} selected="selected"{/if}>Level 3 - Basic + stacktrace + function arguments passed (highest detail)</option>
			  </select>
			  <br />This setting is always limited by the max value set in 'Debug level'.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">User error display level</td>
			<td class="coldetail">
			  <select name="app_display_errors_user">
			    <option value="0"{if $config_settings.app_display_errors_user == "0"} selected="selected"{/if}>Level 0 - No display of errors to any users</option>
				<option value="1"{if $config_settings.app_display_errors_user == "1"} selected="selected"{/if}>Level 1 - Only show errors to administrators</option>
				<option value="2"{if $config_settings.app_display_errors_user == "2"} selected="selected"{/if}>Level 2 - Show errors for all users</option>
			  </select>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Error logging</td>
			<td class="coldetail">
			  <select name="app_report_error_file">
			    <option value="true"{if $config_settings.app_report_error_file == "true"} selected="selected"{/if}>Enabled</option>
				<option value="false"{if $config_settings.app_report_error_file == "false"} selected="selected"{/if}>Disabled</option>
			  </select>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Error log location</td>
			<td class="coldetail">
			  <input type="text" name="app_error_log" value="{$config_settings.app_error_log|escape:"html"}" size="40" />
			  <br />You may want to change this to be below the document root, or at least make it non-readable by Apache.
			  {include file="error_icon.tpl.html" field="app_error_log"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">SMTP server</td>
			<td class="coldetail">
			  <input type="text" name="app_email_smtp" value="{$config_settings.app_email_smtp|escape:"html"}" size="30" />
			  <br />The mail server through which Fez should send email alerts, e.g. mail.yourhost.com
			  {include file="error_icon.tpl.html" field="app_email_smtp"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">System email from address</td>
			<td class="coldetail">
			  <input type="text" name="app_email_system_from_address" value="{$config_settings.app_email_system_from_address|escape:"html"}" size="30" />
			  <br />All Fez system notifications will appear to come from this address. Use a real account if for some reason you wish to collect replies.
			  {include file="error_icon.tpl.html" field="app_email_system_from_address"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Timezone</td>
			<td class="coldetail">
			  <select name="app_default_user_timezone">
			    {section name=zone loop=$timezones}
			    <option{if $config_settings.app_default_user_timezone == $timezones[zone]} selected="selected"{/if}>{$timezones[zone]}</option>
				{/section}
			  </select>
			  {include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="app_default_user_timezone"}
			  <br />Change this to your local timezone, e.g. Australia/Brisbane. Fez will still store dates as UTC but will default display them as this timezone until the user has logged in and set their preferred timezone.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Default pager size</td>
			<td class="coldetail">
			  <input type="text" name="app_default_pager_size" value="{$config_settings.app_default_pager_size|escape:"html"}" size="30" />
			  <br />Please enter a numerical value.
			  {include file="error_icon.tpl.html" field="app_default_pager_size"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Default refresh rate</td>
			<td class="coldetail">
			  <input type="text" name="app_default_refresh_rate" value="{$config_settings.app_default_refresh_rate|escape:"html"}" size="30" />
			  <br />Enter a numerical value, in minutes.
			  {include file="error_icon.tpl.html" field="app_default_refresh_rate"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Cookie / session name</td>
			<td class="coldetail">
			  <input type="text" name="app_cookie" value="{$config_settings.app_cookie|escape:"html"}" size="20" />
			  <br />This should be a short, lower-case name with no spaces.<br /><b>Note:</b> If you alter this value, you will be logged out of Fez.
			  {include file="error_icon.tpl.html" field="app_cookie"}
			</td>
  		  </tr>
  		  <tr>
		    <td class="colname">Google Analytics ID</td>
			<td class="coldetail">
			  <input type="radio" name="app_analytics_switch" value="ON" {if $config_settings.app_analytics_switch == "ON"}checked{/if}/> Enabled &nbsp; 
			  <input type="radio" name="app_analytics_switch" value="OFF" {if $config_settings.app_analytics_switch == "OFF"}checked{/if}/> Disabled  &nbsp; &nbsp; 
		    
			  <input type="text" name="app_analytics_id" value="{$config_settings.app_analytics_id|escape:"html"}" size="20" />
			  Format: <strong><i>xxxxxx-x</i></strong><br />
			  {include file="error_icon.tpl.html" field="app_analytics_id"}
			</td>
  		  </tr>
  		  <tr>
		    <td class="colname">Author auto-suggest mode</td>
			<td class="coldetail">
			  <select name="app_author_suggest_mode">
			    <option value="1"{if $config_settings.app_author_suggest_mode == "1"} selected="selected"{/if}>No restriction - list all authors</option>
				<option value="2"{if $config_settings.app_author_suggest_mode == "2"} selected="selected"{/if}>Limit suggestions to authors with an internal username or ID</option>
			  </select>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">HERDC Integrity Reports</td>
			<td class="coldetail">
			  <select name="app_herdc_integrity_reports">
			    <option value="ON"{if $config_settings.app_herdc_integrity_reports == "ON"} selected="selected"{/if}>On</option>
				<option value="OFF"{if $config_settings.app_herdc_integrity_reports == "OFF"} selected="selected"{/if}>Off</option>
			  </select>
			  <br />If you don't know what this is, you don't really want to enable it.
			  {include file="error_icon.tpl.html" field="app_herdc_integrity_reports"}
			</td>
  		  </tr>
		</table>
		</div>



		<div id="fedora" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>Fedora Settings</h2>
			</td>
  		  </tr>
  		  </tr>
		  <tr>
		    <td class="colname">Version</td>
			<td class="coldetail">
			  <select name="app_fedora_version">
			    <option value="2.1.1"{if $config_settings.app_fedora_version == "2.1.1"} selected="selected"{/if}>2.1.1</option>
				<option value="2.2"{if $config_settings.app_fedora_version == "2.2"} selected="selected"{/if}>2.2 or 2.2.1</option>
			  </select>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Location</td>
			<td class="coldetail">
			  <input type="text" name="app_fedora_location" value="{$config_settings.app_fedora_location|escape:"html"}" size="50" />
			  <br />The location of your Fedora server, without the &quot;http://&quot; component. Port is usually 8080.
			  <br />e.g. localhost:8080/fedora
			  {include file="error_icon.tpl.html" field="app_fedora_location"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">SSL location</td>
			<td class="coldetail">
			  <input type="text" name="app_fedora_ssl_location" value="{$config_settings.app_fedora_ssl_location|escape:"html"}" size="50" />
			  <br />The location of your Fedora SSL server, without the &quot;https://&quot; component. Port is usually 8443.
			  {include file="error_icon.tpl.html" field="app_fedora_ssl_location"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Server setup</td>
			<td class="coldetail">
			  <select name="app_fedora_setup">
			    <option value="sslall"{if $config_settings.app_fedora_setup == "sslall"} selected="selected"{/if}>ssl-authenticate-all</option>
				<option value="sslapim"{if $config_settings.app_fedora_setup == "sslapim"} selected="selected"{/if}>ssl-authenticate-apim</option>
				<option value="nosslall"{if $config_settings.app_fedora_setup == "nosslall"} selected="selected"{/if}>no-ssl-authenticate-all</option>
				<option value="nosslapim"{if $config_settings.app_fedora_setup == "nosslapim"} selected="selected"{/if}>no-ssl-authenticate-apim</option>
			  </select>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">PID namespace</td>
			<td class="coldetail">
			  <input type="text" name="app_pid_namespace" value="{$config_settings.app_pid_namespace|escape:"html"}" size="20" />
			  <br />Must be the same as your Fedora fedora.fcfg &quot;namespace&quot; variable.
			  {include file="error_icon.tpl.html" field="app_pid_namespace"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Username</td>
			<td class="coldetail">
			  <input type="text" name="app_fedora_username" value="{$config_settings.app_fedora_username|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="app_fedora_username"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Password</td>
			<td class="coldetail">
			  <input type="text" name="app_fedora_pwd" value="{$config_settings.app_fedora_pwd|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="app_fedora_pwd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Server hostname</td>
			<td class="coldetail">
			  <input type="text" name="fedora_db_host" value="{$config_settings.fedora_db_host|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="fedora_db_host"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database type</td>
			<td class="coldetail">
			  <select name="fedora_db_type">
			    <!-- Have commented out all PEAR db systems that the Fedora site doens't claim they support -->
			    <!--option value="sybase"{if $config_settings.fedora_db_type == "sybase"} selected="selected"{/if}>Sybase</option-->
				<option value="pgsql"{if $config_settings.fedora_db_type == "pgsql"} selected="selected"{/if}>PostgreSQL</option>
				<!--option value="odbc"{if $config_settings.fedora_db_type == "odbc"} selected="selected"{/if}>ODBC</option>
				<option value="oci8"{if $config_settings.fedora_db_type == "oci8"} selected="selected"{/if}>Oracle 8</option-->
				<option value="mysql"{if $config_settings.fedora_db_type == "mysql"} selected="selected"{/if}>MySQL</option>
				<!--option value="mssql"{if $config_settings.fedora_db_type == "mssql"} selected="selected"{/if}>Microsoft SQL Server</option>
				<option value="msql"{if $config_settings.fedora_db_type == "msql"} selected="selected"{/if}>Mini-SQL</option>
				<option value="ifx"{if $config_settings.fedora_db_type == "ifx"} selected="selected"{/if}>Informix</option>
				<option value="ibase"{if $config_settings.fedora_db_type == "ibase"} selected="selected"{/if}>Interbase</option>
				<option value="fbsql"{if $config_settings.fedora_db_type == "fbsql"} selected="selected"{/if}>FrontBase</option>
				<option value="dbase"{if $config_settings.fedora_db_type == "dbase"} selected="selected"{/if}>dbase</option-->
			  </select>
			  {include file="error_icon.tpl.html" field="fedora_db_type"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database port</td>
			<td class="coldetail">
			  <input type="text" name="fedora_db_port" value="{$config_settings.fedora_db_port|escape:"html"}" size="5" />
			  <br />Usually 3306 for MySQL, 5432 for PostgreSQL.
			  {include file="error_icon.tpl.html" field="fedora_db_port"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database name</td>
			<td class="coldetail">
			  <input type="text" name="fedora_db_database_name" value="{$config_settings.fedora_db_database_name|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="fedora_db_database_name"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database username</td>
			<td class="coldetail">
			  <input type="text" name="fedora_db_username" value="{$config_settings.fedora_db_username|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="fedora_db_username"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database password</td>
			<td class="coldetail">
			  <input type="text" name="fedora_db_passwd" value="{$config_settings.fedora_db_passwd|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="fedora_db_passwd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">&nbsp;</td>
			<td class="coldetail">&nbsp;</td>
  		  </tr>
		  <tr>
		    <td class="colname">Direct APIA Access</td>
			<td class="coldetail">
			  <select name="app_fedora_apia_direct">
			    <option value="ON"{if $config_settings.app_fedora_apia_direct == "ON"} selected="selected"{/if}>On</option>
				<option value="OFF"{if $config_settings.app_fedora_apia_direct == "OFF"} selected="selected"{/if}>Off</option>
			  </select>
			  {include file="error_icon.tpl.html" field="app_fedora_apia_direct"}
			</td>
  		  </tr>
		</table>
		</div>



		<div id="paths" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>Programs and Paths</h2>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">SAN import directory</td>
			<td class="coldetail">
			  <input type="text" name="app_san_import_dir" value="{$config_settings.app_san_import_dir|escape:"html"}" size="40" />
			  <br />e.g. /fez/incoming/ or C:/fez/incoming/
			  {include file="error_icon.tpl.html" field="app_san_import_dir"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">SAN import directory</td>
			<td class="coldetail">
			  <input type="text" name="app_duplicates_reports_location" value="{$config_settings.app_duplicates_reports_location|escape:"html"}" size="40" />
			  <br />You may need to create this directory if it does not exist
			  {include file="error_icon.tpl.html" field="app_duplicates_reports_location"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Temp directory</td>
			<td class="coldetail">
			  <input type="text" name="app_temp_dir" value="{$config_settings.app_temp_dir|escape:"html"}" size="40" />
			  {include file="error_icon.tpl.html" field="app_temp_dir"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">FFMPEG command</td>
			<td class="coldetail">
			  <input type="text" name="app_ffmpeg_cmd" value="{$config_settings.app_ffmpeg_cmd|escape:"html"}" size="40" /> 
			  <br />This is part of FFMPEG Video Encoder tool 
			  {include file="error_icon.tpl.html" field="app_ffmpeg_cmd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Convert command</td>
			<td class="coldetail">
			  <input type="text" name="app_convert_cmd" value="{$config_settings.app_convert_cmd|escape:"html"}" size="40" /> 
			  <!--a href="#" onclick="javascript:runSanityCheck('app_convert_cmd');"><img src="{$rel_url}images/sanity_check_16.png" title="Run sanity check for this value" width="18" height="18" border="0" alt="" /></a-->
			  <br />This is part of ImageMagick 
			  {include file="error_icon.tpl.html" field="app_convert_cmd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Composite command</td>
			<td class="coldetail">
			  <input type="text" name="app_composite_cmd" value="{$config_settings.app_composite_cmd|escape:"html"}" size="40" />
			  <br />This is part of ImageMagick 
			  {include file="error_icon.tpl.html" field="app_composite_cmd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Identify command</td>
			<td class="coldetail">
			  <input type="text" name="app_identify_cmd" value="{$config_settings.app_identify_cmd|escape:"html"}" size="40" />
			  <br />This is part of ImageMagick 
			  {include file="error_icon.tpl.html" field="app_identify_cmd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">JHOVE directory</td>
			<td class="coldetail">
			  <input type="text" name="app_jhove_dir" value="{$config_settings.app_jhove_dir|escape:"html"}" size="40" />
			  {include file="error_icon.tpl.html" field="app_jhove_dir"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Graphviz DOT executable location</td>
			<td class="coldetail">
			  <input type="text" name="app_dot_exec" value="{$config_settings.app_dot_exec|escape:"html"}" size="40" />
			  {include file="error_icon.tpl.html" field="app_dot_exec"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">PHP executable location</td>
			<td class="coldetail">
			  <input type="text" name="app_php_exec" value="{$config_settings.app_php_exec|escape:"html"}" size="40" />
			  {include file="error_icon.tpl.html" field="app_php_exec"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">PDF-to-Text executable location</td>
			<td class="coldetail">
			  <input type="text" name="app_pdftotext_exec" value="{$config_settings.app_pdftotext_exec|escape:"html"}" size="40" />
			  {include file="error_icon.tpl.html" field="app_pdftotext_exec"}
			</td>
  		  </tr>
		</table>
		</div>



		<div id="themes" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>Themes &amp; Appearance</h2>
			</td>
  		  </tr>

		  <tr>
			<td class="coldetail" colspan="2">
			  <input type="checkbox" name="restore_default_colours" onclick="javascript:restoreDefaultColours(this);" value="1" /> Check this box to restore all colours to default values
			</td>
  		  </tr>

		  <!--tr>
		    <td class="colname">Shaded bar</td>
			<td class="coldetail">
			  <input type="text" name="app_shaded_bar" value="{$config_settings.app_shaded_bar|escape:"html"}" size="20" />
			  <br />This should be set to an image filename.<br />Place the image in the 'images' directory.
			  {include file="error_icon.tpl.html" field="app_shaded_bar"}
			</td>
  		  </tr-->
		  <tr>
		    <td class="colname">Cell colour</td>
			<td class="coldetail">
			  <input type="text" name="app_cell_color" value="{$config_settings.app_cell_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_cell_color')" /><div id="app_cell_color" style="background-color: {$config_settings.app_cell_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_cell_color"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Value colour</td>
			<td class="coldetail">
			  <input type="text" name="app_value_color" value="{$config_settings.app_value_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_value_color')"/><div id="app_value_color" style="background-color: {$config_settings.app_value_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_value_color"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Advanced cell colour</td>
			<td class="coldetail">
			  <input type="text" name="app_adv_color_dark" value="{$config_settings.app_adv_color_dark|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_adv_color_dark')" /><div id="app_adv_color_dark" style="background-color: {$config_settings.app_adv_color_dark}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_adv_color_dark"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Advanced value colour</td>
			<td class="coldetail">
			  <input type="text" name="app_adv_color_light" value="{$config_settings.app_adv_color_light|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_adv_color_light')"/><div id="app_adv_color_light" style="background-color: {$config_settings.app_adv_color_light}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_adv_color_light"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Light colour</td>
			<td class="coldetail">
			  <input type="text" name="app_light_color" value="{$config_settings.app_light_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColourColour('app_light_color')"/><div id="app_light_color" style="background-color: {$config_settings.app_light_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_light_color"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Selected colour</td>
			<td class="coldetail">
			  <input type="text" name="app_selected_color" value="{$config_settings.app_selected_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_selected_color')"/><div id="app_selected_color" style="background-color: {$config_settings.app_selected_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_selected_color"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Middle colour</td>
			<td class="coldetail">
			  <input type="text" name="app_middle_color" value="{$config_settings.app_middle_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_middle_color')"/><div id="app_middle_color" style="background-color: {$config_settings.app_middle_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_middle_color"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Dark colour</td>
			<td class="coldetail">
			  <input type="text" name="app_dark_color" value="{$config_settings.app_dark_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_dark_color')"/><div id="app_dark_color" style="background-color: {$config_settings.app_dark_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_dark_color"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Heading colour</td>
			<td class="coldetail">
			  <input type="text" name="app_heading_color" value="{$config_settings.app_heading_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_heading_color')"/><div id="app_heading_color" style="background-color: {$config_settings.app_heading_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_heading_color"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Cycle colour #1</td>
			<td class="coldetail">
			  <input type="text" name="app_cycle_color_one" value="{$config_settings.app_cycle_color_one|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_cycle_color_one')"/><div id="app_cycle_color_one" style="background-color: {$config_settings.app_cycle_color_one}; height: 10px; width: 85px;"/></div>
			  {include file="error_icon.tpl.html" field="app_cycle_color_one"}
			</td>
  		  </tr>
		    <td class="colname">Cycle colour #2</td>
			<td class="coldetail">
			  <input type="text" name="app_cycle_color_two" value="{$config_settings.app_cycle_color_two|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_cycle_color_two')"/><div id="app_cycle_color_two" style="background-color: {$config_settings.app_cycle_color_two}; height: 10px; width: 85px;"/></div>
			  {include file="error_icon.tpl.html" field="app_cycle_color_two"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Internal colour</td>
			<td class="coldetail">
			  <input type="text" name="app_internal_color" value="{$config_settings.app_internal_color|escape:"html"}" size="10" onkeyup="javascript:updatePreviewColour('app_internal_color')"/><div id="app_internal_color" style="background-color: {$config_settings.app_internal_color}; height: 10px; width: 85px;"></div>
			  {include file="error_icon.tpl.html" field="app_internal_color"}
			</td>
  		  </tr>
		  <tr><td colspan="2">&nbsp;<br /></td></tr>
		  <tr>
		    <td class="colname">Default FFMPEG Flash Video Width</td>
			<td class="coldetail">
			  <input type="text" name="app_ffmpeg_default_width" value="{$config_settings.app_ffmpeg_default_width|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_ffmpeg_default_width"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Default FFMPEG Flash Video Height</td>
			<td class="coldetail">
			  <input type="text" name="app_ffmpeg_default_height" value="{$config_settings.app_ffmpeg_default_height|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_ffmpeg_default_height"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Default FFMPEG Video Thumbnail/Screenshot Start Position (time - default 5 seconds = 00:00:05)</td>
			<td class="coldetail">
			  <input type="text" name="app_ffmpeg_default_thumb_pos" value="{$config_settings.app_ffmpeg_default_thumb_pos|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_ffmpeg_default_thumb_pos"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Thumbnail max width</td>
			<td class="coldetail">
			  <input type="text" name="app_thumbnail_width" value="{$config_settings.app_thumbnail_width|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_thumbnail_width"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Thumbnail max height</td>
			<td class="coldetail">
			  <input type="text" name="app_thumbnail_height" value="{$config_settings.app_thumbnail_height|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_thumbnail_height"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Preview max width</td>
			<td class="coldetail">
			  <input type="text" name="app_image_preview_max_width" value="{$config_settings.app_image_preview_max_width|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_image_preview_max_width"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Preview max height</td>
			<td class="coldetail">
			  <input type="text" name="app_image_preview_max_height" value="{$config_settings.app_image_preview_max_height|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_image_preview_max_height"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Web image max width</td>
			<td class="coldetail">
			  <input type="text" name="app_image_web_max_width" value="{$config_settings.app_image_web_max_width|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_image_web_max_width"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Web image max height</td>
			<td class="coldetail">
			  <input type="text" name="app_image_web_max_height" value="{$config_settings.app_image_web_max_height|escape:"html"}" size="10" />
			  {include file="error_icon.tpl.html" field="app_image_web_max_height"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Watermark image</td>
			<td class="coldetail">
			  <input type="text" name="app_watermark" value="{$config_settings.app_watermark|escape:"html"}" size="20" />
			  <br />The image to be used for watermarking of copyright images.<br />Place the image in the 'images' directory.
			  {include file="error_icon.tpl.html" field="app_watermark"}
			</td>
  		  </tr>
		</table>
		</div>



		<div id="webstats" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>Web Statistics</h2>
		      <p>To turn this feature off, select &quot;disabled&quot;. All other settings will be preserved.</p>
			</td>
  		  </tr>
		  <tr>
			<td colspan="2">
			  <input type="radio" name="webserver_log_statistics" value="ON" {if $config_settings.webserver_log_statistics == "ON"}checked{/if}/> Enabled &nbsp; 
			  <input type="radio" name="webserver_log_statistics" value="OFF" {if $config_settings.webserver_log_statistics == "OFF"}checked{/if}/> Disabled
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Log directory</td>
			<td class="coldetail">
			  <input type="text" name="webserver_log_dir" value="{$config_settings.webserver_log_dir|escape:"html"}" size="50" />
			  <br />You must include a trailing slash.
			  {include file="error_icon.tpl.html" field="webserver_log_dir"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Log file</td>
			<td class="coldetail">
			  <input type="text" name="webserver_log_file" value="{$config_settings.webserver_log_file|escape:"html"}" size="50" />
			  {include file="error_icon.tpl.html" field="webserver_log_file"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">GEOIP path</td>
			<td class="coldetail">
			  <input type="text" name="app_geoip_path" value="{$config_settings.app_geoip_path|escape:"html"}" size="50" />
			  <br />You must include a trailing slash.
			  {include file="error_icon.tpl.html" field="app_geoip_path"}
			</td>
  		  </tr>
		</table>
		</div>



		<div id="shib" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>Shibboleth Settings</h2>
			  <p>You may need to query your Organisation's Shibboleth expert for help on these settings.</p>
			</td>
  		  </tr>
		  <tr>
			<td colspan="2">
			  <input type="radio" name="shib_switch" value="ON" {if $config_settings.shib_switch == "ON"}checked{/if}/> Enabled &nbsp; 
			  <input type="radio" name="shib_switch" value="OFF" {if $config_settings.shib_switch == "OFF"}checked{/if}/> Disabled
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Direct Login</td>
			<td class="coldetail">
			  <select name="shib_direct_login">
			    <option value="ON"{if $config_settings.shib_direct_login == "ON"} selected="selected"{/if}>Yes</option>
				<option value="OFF"{if $config_settings.shib_direct_login == "OFF"} selected="selected"{/if}>No</option>
			  </select>
			  <br />If Shibboleth support is Enabled, and this option is set to 'Yes', the front page of Fez will have a link to direct login for Fez home institution Shib login and a link to Other for non-home institution Shib and Fez logins.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Federation name</td>
			<td class="coldetail">
			  <input type="text" name="shib_federation_name" value="{$config_settings.shib_federation_name|escape:"html"}" size="50" />
			  <br />Change this to the name of your Shibboleth Federation, e.g. <i>Inqueue, InCommon, MAMS Testbed Federation</i>.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Survey</td>
			<td class="coldetail">
			  <select name="shib_survey">
			    <option value="ON"{if $config_settings.shib_survey == "ON"} selected="selected"{/if}>Active</option>
				<option value="OFF"{if $config_settings.shib_survey == "OFF"} selected="selected"{/if}>Disabled</option>
			  </select>
			  <br />Activates the post-Shibboleth login survey.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Federation</td>
			<td class="coldetail">
			  <input type="text" name="shib_federation" value="{$config_settings.shib_federation|escape:"html"}" size="50" />
			  <br />Change this to the base URN of your federation, e.g. <i>Inqueue or InCommon</i>.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Home SP</td>
			<td class="coldetail">
			  <input type="text" name="shib_home_sp" value="{$config_settings.shib_home_sp|escape:"html"}" size="70" />
			  <br />Change this to the URN of your Fez service provider, if different.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Home IDP</td>
			<td class="coldetail">
			  <input type="text" name="shib_home_idp" value="{$config_settings.shib_home_idp|escape:"html"}" size="70" />
			  <br />Change this to the URN of your home institution's IDP.
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">WAYF metadata location</td>
			<td class="coldetail">
			  <input type="text" name="shib_wayf_metadata_location" value="{$config_settings.shib_wayf_metadata_location|escape:"html"}" size="70" />
			  <br />Change this to path location of the WAYF metadata XML file. You can update this with a cronjob / schedulated task. Your WAYF drop-down list will fill from this XML file.
			</td>
  		  </tr>
		</table>
		</div>



		<div id="ldap" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>LDAP Settings</h2>
			  <p>To turn off LDAP authentication, select &quot;disabled&quot;. All other settings will be preserved.</p>
			</td>
  		  </tr>
		  <tr>
			<td colspan="2">
			  <input type="radio" name="ldap_switch" value="ON" {if $config_settings.ldap_switch == "ON"}checked{/if}/> Enabled &nbsp; 
			  <input type="radio" name="ldap_switch" value="OFF" {if $config_settings.ldap_switch == "OFF"}checked{/if}/> Disabled
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Organisation</td>
			<td class="coldetail">
			  <input type="text" name="ldap_organisation" value="{$config_settings.ldap_organisation|escape:"html"}" size="50" />
			  <br />e.g. o=The University of Fez, c=AU
			  {include file="error_icon.tpl.html" field="ldap_organisation"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Root DN</td>
			<td class="coldetail">
			  <input type="text" name="ldap_root_dn" value="{$config_settings.ldap_root_dn|escape:"html"}" size="50" />
			  <br />e.g. DC=uq,DC=edu,DC=au
			  {include file="error_icon.tpl.html" field="ldap_root_dn"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Prefix</td>
			<td class="coldetail">
			  <input type="text" name="ldap_prefix" value="{$config_settings.ldap_prefix|escape:"html"}" size="50" />
			  <br />e.g. UQ
			  {include file="error_icon.tpl.html" field="ldap_prefix"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Server</td>
			<td class="coldetail">
			  <input type="text" name="ldap_server" value="{$config_settings.ldap_server|escape:"html"}" size="50" />
			  <br />e.g. yourldapserver.yourdomain.edu
			  {include file="error_icon.tpl.html" field="ldap_server"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Port</td>
			<td class="coldetail">
			  <input type="text" name="ldap_port" value="{$config_settings.ldap_port|escape:"html"}" size="50" />
			  <br />Usually 389
			  {include file="error_icon.tpl.html" field="ldap_port"}
			</td>
  		  </tr>
		</table>
		</div>



		<div id="eprints" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>ePrints Settings</h2>
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">OAI Provider</td>
			<td class="coldetail">
			  <input type="text" name="eprints_oai" value="{$config_settings.eprints_oai|escape:"html"}" size="100" />
			  <br />Change this to your ePrints OAI service provider for batch importing of ePrints records
			  {include file="error_icon.tpl.html" field="eprints_oai"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">ePrints username</td>
			<td class="coldetail">
			  <input type="text" name="eprints_username" value="{$config_settings.eprints_username|escape:"html"}" size="20" />
			  <br />ePrints requires basic authentication for the download of secured PDFs and files
			  {include file="error_icon.tpl.html" field="eprints_username"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">ePrints password</td>
			<td class="coldetail">
			  <input type="text" name="eprints_passwd" value="{$config_settings.eprints_passwd|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="eprints_passwd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Subject authority</td>
			<td class="coldetail">
			  <input type="text" name="eprints_subject_authority" value="{$config_settings.eprints_subject_authority|escape:"html"}" size="20" />
			  <br />For use when your ePrints IR uses a controlled vocabulary, e.g. Australian ASRC use 'asrc'. Otherwise leave blank.
			  {include file="error_icon.tpl.html" field="eprints_subject_authority"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database host</td>
			<td class="coldetail">
			  <input type="text" name="eprints_db_host" value="{$config_settings.eprints_db_host|escape:"html"}" size="20" />
			  <br />Used to get things that are not in the ePrints export XML that really should be for migration purposes.
			  {include file="error_icon.tpl.html" field="eprints_db_host"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database type</td>
			<td class="coldetail">
			  <input type="text" name="eprints_db_type" value="{$config_settings.eprints_db_type|escape:"html"}" size="20" />
			  <br />Generally 'mysql' although other will probably work as long as they are support by PEAR DB.
			  {include file="error_icon.tpl.html" field="eprints_db_type"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database name</td>
			<td class="coldetail">
			  <input type="text" name="eprints_db_database_name" value="{$config_settings.eprints_db_database_name|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="eprints_db_database_name"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database username</td>
			<td class="coldetail">
			  <input type="text" name="eprints_db_username" value="{$config_settings.eprints_db_username|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="eprints_db_username"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Database password</td>
			<td class="coldetail">
			  <input type="text" name="eprints_db_passwd" value="{$config_settings.eprints_db_passwd|escape:"html"}" size="20" />
			  {include file="error_icon.tpl.html" field="eprints_db_passwd"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Import users</td>
			<td class="coldetail">
			  <select name="eprints_import_users">
			    <option value="ON"{if $config_settings.eprints_import_users == "ON"} selected="selected"{/if}>On</option>
				<option value="OFF"{if $config_settings.eprints_import_users == "OFF"} selected="selected"{/if}>Off</option>
			  </select>
			  <br />If this is on then Fez will create usernames for all the ePrints server users so it can match depositor with the imported ePrints objects. Passwords cannot be brought across so user accounts need to move to LDAP/Shibboleth or have passwords reissued.
			  {include file="error_icon.tpl.html" field="eprints_import_users"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Batch import type</td>
			<td class="coldetail">
			  <select name="batch_import_type">
			    <option value="MODS 1.0"{if $config_settings.batch_import_type == "MODS 1.0"} selected="selected"{/if}>MODS 1.0</option>
				<option value="Dublin Core 1.0"{if $config_settings.batch_import_type == "Dublin Core 1.0"} selected="selected"{/if}>Dublin Core 1.0</option>
			  </select>
			  {include file="error_icon.tpl.html" field="batch_import_type"}
			</td>
  		  </tr>
		</table>
		</div>
		
		<div id="solr" style="display: none;">
		<table width="100%" class="config-group">
		  <tr>
			<td colspan="2">
			  <h2>Solr Settings</h2>
			</td>
  		  </tr>
  		  </tr>
		 <tr>
			<td colspan="2">
			  <input type="radio" name="app_solr_switch" value="ON" {if $config_settings.app_solr_switch == "ON"}checked{/if}/> Enabled &nbsp; 
			  <input type="radio" name="app_solr_switch" value="OFF" {if $config_settings.app_solr_switch == "OFF"}checked{/if}/> Disabled
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Solr Host</td>
			<td class="coldetail">
			  <input type="text" name="app_solr_host" value="{$config_settings.app_solr_host|escape:"html"}" size="50" />
			  {include file="error_icon.tpl.html" field="app_solr_host"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Solr Port</td>
			<td class="coldetail">
			  <input type="text" name="app_solr_port" value="{$config_settings.app_solr_port|escape:"html"}" size="50" />
			  {include file="error_icon.tpl.html" field="app_solr_port"}
			</td>
  		  </tr>
		  <tr>
		    <td class="colname">Solr Path</td>
			<td class="coldetail">
			  <input type="text" name="app_solr_path" value="{$config_settings.app_solr_path|escape:"html"}" size="50" />
			  {include file="error_icon.tpl.html" field="app_solr_path"}
			</td>
  		  </tr>
		</table>
		</div>

		<div id="submit" style="display: none;">
		<br />&nbsp;&nbsp;&nbsp;<input type="submit" name="button" value="Save changes" class="submit" /> &nbsp; <input type="reset" value="Discard changes" /><br /><br />
		</div>

	</form>
    </div>

</div>
