              {literal}
              <script language="JavaScript">
              <!--
              var editing_option_id = -1;
              function validateForm(f)
              {
                  if (isWhitespace(f.cvo_title.value)) {
                      alert('Please enter the title of this Controlled Vocabulary.');
                      selectField(f, 'cvo_title');
                      return false;
                  }
                  return true;
              }
                  function checkDelete(f)
                  {
                      if (!hasOneChecked(f, 'items[]')) {
                          alert('Please select at least one of the Controlled Vocabularies.');
                          return false;
                      }
                      if (!confirm('This action will permanently remove the selected Controlled Vocabularies.')) {
                          return false;
                      } else {
                          return true;
                      }
                  }
              //-->
              </script>
              {/literal}

      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              <form name="custom_field_form" onSubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="update">
              <input type="hidden" name="id" value="{$smarty.get.id}">
              {else}
              <input type="hidden" name="cat" value="new">
              {/if}
              <input type="hidden" name="parent_id" value="{$parent_id}">			  
              <tr>
                <td colspan="2">
				  <div class="admin-header">Manage Controlled Vocabularies</div>
                  <!--b><a href="controlled_vocab.php"> </a>-->

		          {if $max_subject_breadcrumb != -1}
					  {section name="b" loop=$subject_breadcrumb}
						  {assign var="counter" value=b}
		                  {if $subject_breadcrumb[b].cvo_image_filename != ""}
						    <img align="absmiddle" src="{$rel_url}images/{$subject_breadcrumb[b].cvo_image_filename}"/>
						  {/if}
                          {if $max_subject_breadcrumb != $smarty.section.b.index}<a href='controlled_vocab.php?parent_id={$subject_breadcrumb[b].cvo_id}'>{else}<b>{/if}{$subject_breadcrumb[b].cvo_title|escape:"html"}{if $max_subject_breadcrumb != $smarty.section.b.index}</a>{else}</b>{/if}
 						  {assign var="cvo_id" value=$subject_breadcrumb[b].cvo_id}
						  {if $subject_count[$cvo_id]}({$subject_count[$cvo_id]}){else}{/if}{if $max_subject_breadcrumb != $smarty.section.b.index}->{else}:{/if}					
					  {/section}
				   {else}Subject Classification:{/if}</b>		  

                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new Controlled Vocabulary.
                    {elseif $result == 1}
                      Thank you, the Controlled Vocabulary was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the Controlled Vocabulary information.
                    {elseif $result == 1}
                      Thank you, the Controlled Vocabulary was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Title:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="cvo_title" size="40" class="default" value="{$info.cvo_title}">
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>External ID (if applicable):</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="cvo_external_id" size="40" class="default" value="{$info.cvo_external_id}">
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Description:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <textarea name="cvo_desc" cols="50" rows="3" class="default">{$info.cvo_desc}</textarea>
                  {include file="error_icon.tpl.html" field="cvo_desc"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Image Filename:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="cvo_image_filename" size="40" class="default" value="{$info.cvo_image_filename}">
                  {include file="error_icon.tpl.html" field="cvo_image_filename"}
                </td>
              </tr>			  
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="Update Controlled Vocabulary">
                  {else}
                  <input class="button" type="submit" value="Add Controlled Vocabulary">
                  {/if}
                  <input class="button" type="reset" value="Reset">
                </td>
              </tr>
              </form>
              <tr>
                <td colspan="2" class="default">
                  <b>Existing Controlled Vocabularies:</b>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <form onSubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                    <input type="hidden" name="cat" value="delete">
                    <tr>
                      <td width="5" bgcolor="{$cell_color}" align="center" nowrap><input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');"></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Title</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Desc</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Image Filename</b>&nbsp;</td>					  
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>External ID</b>&nbsp;</td>					  
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Edit Children</b>&nbsp;</td>  
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Import Children</b>&nbsp;</td>  
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td width="4" nowrap bgcolor="{$row_color}" align="center">
                        <input type="checkbox" name="items[]" value="{$list[i].cvo_id}" {if $smarty.section.i.total == 0}disabled{/if}>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;<a href="controlled_vocab.php?cat=edit&id={$list[i].cvo_id}">{$list[i].cvo_title}</a>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].cvo_desc}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].cvo_image_filename}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].cvo_external_id}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;<a href="controlled_vocab.php?parent_id={$list[i].cvo_id}">Edit {$list[i].cvo_title} Child Items</a>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;<a href="import_controlled_vocab.php?parent_id={$list[i].cvo_id}">Import Child Items</a>
                      </td>

                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" bgcolor="{$light_color}" align="center" class="default">
                        No Controlled Vocabularies could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td width="4" align="center" bgcolor="{$cell_color}">
                        <input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');">
                      </td>
                      <td colspan="8" bgcolor="{$cell_color}">
                        <input type="submit" value="Delete" class="button">
                      </td>
                    </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>


