<div class="admin-box">

{literal}
      <script type="text/javascript">
      <!--
      var editing_option_id = -1;
      function validateForm(f)
      {
          if (isWhitespace(f.cvo_title.value)) {
              alert('Please enter the title of this Controlled Vocabulary.');
              selectField(f, 'cvo_title');
              return false;
          }
          return true;
      }
          function checkDelete(f)
          {
              if (!hasOneChecked(f, 'items[]')) {
                  alert('Please select at least one of the Controlled Vocabularies.');
                  return false;
              }
              if (!confirm('This action will permanently remove the selected Controlled Vocabularies.')) {
                  return false;
              } else {
                  return true;
              }
          }
      //-->
      </script>
      {/literal}

          <form id="custom_field_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
            <div>
              {if $smarty.get.cat == 'edit'}
                <input type="hidden" name="cat" value="update" />
                <input type="hidden" name="id" value="{$smarty.get.id}" />
              {else}
                <input type="hidden" name="cat" value="new" />
              {/if}
              <input type="hidden" name="parent_id" value="{$parent_id}" />
            </div>

            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2">
        				  <h1>Manage Controlled Vocabularies</h1>

		          {if $max_subject_breadcrumb != -1}
					  {if $parent_id != ""}<a href='controlled_vocab.php'>All Subject Classifications</a> &raquo; {/if}
					  {section name="b" loop=$subject_breadcrumb}
						  {assign var="counter" value=b}
		                  {if $subject_breadcrumb[b].cvo_image_filename != ""}
						    <img align="absmiddle" src="{$rel_url}images/{$subject_breadcrumb[b].cvo_image_filename}" alt="" />
						  {/if}						  
                          {if $max_subject_breadcrumb != $smarty.section.b.index}<a href='controlled_vocab.php?parent_id={$subject_breadcrumb[b].cvo_id}'>{else}<b>{/if}{$subject_breadcrumb[b].cvo_title|escape:"html"}{if $max_subject_breadcrumb != $smarty.section.b.index}</a>{else}</b>{/if}
 						  {assign var="cvo_id" value=$subject_breadcrumb[b].cvo_id}
						  {if $subject_count[$cvo_id]}({$subject_count[$cvo_id]}){else}{/if}{if $max_subject_breadcrumb != $smarty.section.b.index}&raquo;{else}:{/if}					
					  {/section}
				   {else}All Subject Classifications:{/if}

                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="text-align: center" class="error cell-colour">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new Controlled Vocabulary.
                    {elseif $result == 1}
                      Thank you, the Controlled Vocabulary was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the Controlled Vocabulary information.
                    {elseif $result == 1}
                      Thank you, the Controlled Vocabulary was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Title:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="cvo_title" size="40" class="default" value="{$info.cvo_title}" />
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>External ID (if applicable):</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="cvo_external_id" size="40" class="default" value="{$info.cvo_external_id}" />
                  {include file="error_icon.tpl.html" field="external_id"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Description:</b>
                </td>
                <td style="background: {$light_color}">
                  <textarea name="cvo_desc" cols="50" rows="3" class="default">{$info.cvo_desc|escape:html}</textarea>
                  {include file="error_icon.tpl.html" field="cvo_desc"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Image Filename:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="cvo_image_filename" size="40" class="default" value="{$info.cvo_image_filename}" />
                  {include file="error_icon.tpl.html" field="cvo_image_filename"}
                </td>
              </tr>
              
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Hide:</b>
                </td>
                <td style="background: {$light_color}" class="coldetail">
                	<select name="cvo_hide">
                		<option value="0" {if $info.cvo_hide != 1}selected="selected"{/if}>No</option>
                		<option value="1" {if $info.cvo_hide == 1}selected="selected"{/if}>Yes</option>
                	</select>{$info.cvo_parent_id}
                  	{include file="error_icon.tpl.html" field="cvo_hide"}
                  	<br />Hides the top level controlled vocabulary in the CV picker when editing a record. Hiding the parent CV hides all its children.  
                </td>
              </tr>	
              
              <tr>
                <td colspan="2" class="cell-colour" style="text-align: center;">
                  {if $smarty.get.cat == 'edit'}
                    <input class="button" type="submit" value="Update Controlled Vocabulary" />
                  {else}
                    <input class="button" type="submit" value="Add Controlled Vocabulary" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
            </table>
          </form>
          
          <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
            <div>
              <input type="hidden" name="cat" value="delete" />
            </div>
              
            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Controlled Vocabularies:</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width: 100%;" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 5px; background: {$cell_color}; text-align: center; white-space: nowrap"><input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" /></td>
                      <td class="default cell-colour">&nbsp;<b>Title</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Desc</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Image Filename</b>&nbsp;</td>					  
                      <td class="default cell-colour">&nbsp;<b>External ID</b>&nbsp;</td>					  
                      <td class="default cell-colour">&nbsp;<b>Edit Children</b>&nbsp;</td>  
                      <td class="default cell-colour">&nbsp;<b>Import Children</b>&nbsp;</td>  
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr onmouseover="this.style.background='{$smarty.const.APP_HIGHLIGHT_COLOR}';" onmouseout="this.style.background='{$row_color}';" style="background: {$row_color}">
                      <td style="width: 4px; white-space: nowrap; text-align: center;">
                        <input type="checkbox" name="items[]" value="{$list[i].cvo_id}" {if $smarty.section.i.total == 0}disabled="disabled"{/if} />
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="controlled_vocab.php?parent_id={$parent_id}&amp;cat=edit&amp;id={$list[i].cvo_id}">{$list[i].cvo_title}</a>
                      </td>
                      <td style="" class="default">
                        &nbsp;{$list[i].cvo_desc|escape:html}
                      </td>
                      <td style="" class="default">
                        &nbsp;{$list[i].cvo_image_filename}
                      </td>
                      <td style="" class="default">
                        &nbsp;{$list[i].cvo_external_id}
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="controlled_vocab.php?parent_id={$list[i].cvo_id}">Edit {$list[i].cvo_title} Child Items</a>
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="import_controlled_vocab.php?parent_id={$list[i].cvo_id}">Import Child Items</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" style="background: {$light_color}; text-align: center;" class="default">
                        No Controlled Vocabularies could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="width: 4px; text-align: center; background: {$cell_color}">
                        <input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="8" class="cell-colour">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
        </form>

</div>
