<div class="admin-box">

      <form id="custom_field_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
        <div>
          {if $smarty.get.cat == 'edit'}
            <input type="hidden" name="cat" value="update" />
            <input type="hidden" name="id" value="{$smarty.get.id}" />
          {else}
            <input type="hidden" name="cat" value="new" />
          {/if}
        </div>

            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2">
                  <h1>Manage Custom Views</h1>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;" class="{if $result == 1 || $result == 3}success{else}error{/if}">
                    {if $result == -1}
                      An error occurred while trying to add the row.
                    {elseif $result == 1}
                      Thank you, the row was added successfully.
                    {elseif $result == 3}
                      The row(s) were successfully deleted
                    {elseif $result == 4}
                       An error occurred while trying to delete row(s)
                    {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 160px;" class="default cell-colour">
                  <b>Name:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="cview_name" size="40" class="default" value="{$info.cview_name}" />
                  {include file="error_icon.tpl.html" field="name"}
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: center; background: {$cell_color}" class="cell-colour">
                  {if $smarty.get.cat == 'edit'}
                    <input class="button" type="submit" value="Update Custom View" />
                  {else}
                    <input class="button" type="submit" value="Add Custom View" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
            </table>
          </form>
              

          <script type="text/javascript">
              <!--
              {literal}
              function checkDelete(f)
              {
                  if (!hasOneChecked(f, 'items[]')) {
                      alert('Please select at least one of the custom views.');
                      return false;
                  }
                  if (!confirm('This action will permanently remove the selected custom views.')) {
                      return false;
                  } else {
                      return true;
                  }
              }
              //-->
              </script>
              {/literal}

            <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
              <div>
                <input type="hidden" name="cat" value="delete" />
              </div>
              
            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Custom Views ({$list_count}):</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width: 100%;" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 5px; background: {$cell_color}; text-align: center; white-space: nowrap"><input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" /></td>
                      <td class="default cell-colour">&nbsp;<b>Name</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Edit Search Keys</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr onmouseover="this.style.background='{$smarty.const.APP_HIGHLIGHT_COLOR}';" onmouseout="this.style.background='{$row_color}';" style="background: {$row_color}">
                      <td style="width: 4px; white-space: nowrap; text-align: center;">
                        <input type="checkbox" name="items[]" value="{$list[i].cview_id}" {if $smarty.section.i.total == 0}disabled="disabled"{/if} />
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="custom_views.php?cat=edit&amp;id={$list[i].cview_id}">{$list[i].cview_name}</a>
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="custom_views.php?cat=skeys&amp;id={$list[i].cview_id}">Add/Edit</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="8" style="backgrund: {$light_color}; text-align: center;" class="default">
                        No custom views could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="width: 4px; text-align: center; background: {$cell_color}">
                        <input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="8" style="background: {$cell_color}">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
        </form>

</div>
