<div class="admin-box">

      <form id="custom_field_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
        <div>
          {if $smarty.get.cat == 'edit_skey'}
            <input type="hidden" name="cat" value="update_skey" />
            <input type="hidden" name="cvsk_id" value="{$info.cvsk_id}" />
            <input type="hidden" name="cview_id" value="{$info.cvsk_cview_id}" />
          {else}
            <input type="hidden" name="cat" value="new_skey" />
            <input type="hidden" name="cview_id" value="{$cview_id}" />
          {/if}
        </div>

            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2">
                  <h1>Manage Custom View Search Keys for {$cview_name}</h1>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;" class="{if $result == 1 || $result == 3}success{else}error{/if} cell-colour">
                    {if $result == 1}
                      Thank you, the row was added successfully.
                    {elseif $result == -1}
                      An error occurred while trying to add the row
                    {elseif $result == 3}
                      The row(s) were successfully deleted
                    {elseif $result == 4}
                       An error occurred while trying to delete row(s)
                    {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 140px" class="default cell-colour">
                  <b>Search Key ID:</b>
                </td>
                <td style="background: {$light_color}" class="default">
                  <input type="text" name="cvsk_sek_id" size="40" class="default" value="{$info.cvsk_sek_id}" /> [<a href="#" onclick="javascript:small_window('/manage/custom_views.php?cat=list_sek_ids');">Select</a>]
                  {include file="error_icon.tpl.html" field="cvsk_sek_id"}
                </td>
              </tr>
              <tr>
                <td style="width: 140px" class="default cell-colour">
                  <b>Name override:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="cvsk_sek_name" size="40" class="default" value="{$info.cvsk_sek_name}" />
                  {include file="error_icon.tpl.html" field="cvsk_sek_name"}
                </td>
              </tr>
              <tr>
                <td style="width: 140px" class="default cell-colour">
                  <b>Description override (will show up as a tooltip hover):</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="cvsk_sek_desc" size="40" class="default" value="{$info.cvsk_sek_desc}" />
                  {include file="error_icon.tpl.html" field="cvsk_sek_desc"}
                </td>
              </tr>             
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;">
                  {if $smarty.get.cat == 'edit_skey'}
                    <input class="button" type="submit" value="Update Search Key" />
                  {else}
                    <input class="button" type="submit" value="Add Search Key" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
            </table>
          </form>

        <script type="text/javascript">
        <!--
        {literal}
        function checkDelete(f)
        {
            if (!hasOneChecked(f, 'items[]')) {
                alert('Please select at least one of the custom views.');
                return false;
            }
            if (!confirm('This action will permanently remove the selected custom views.')) {
                return false;
            } else {
                return true;
            }
        }
        //-->
        </script>
        {/literal}
          

        <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
          <div>
              <input type="hidden" name="cat" value="delete_skey" />
              <input type="hidden" name="cview_id" value="{$cview_id}" />
          </div>
          
            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Search Keys ({$sek_list_count}):</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width: 100%" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 5px; background: {$cell_color}; text-align: center; white-space: nowrap;"><input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" /></td>
                      <td class="default cell-colour">&nbsp;<b>Search Key</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Display Name</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Desc/Tooltip</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Order</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$sek_list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td style="width: 4px; white-space: nowrap; background: {$row_color}; text-align: center;">
                        <input type="checkbox" name="items[]" value="{$sek_list[i].cvsk_id}" {if $smarty.section.i.total == 0}disabled="disabled"{/if} />
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;<a href="custom_views.php?cat=edit_skey&amp;cvsk_id={$sek_list[i].cvsk_id}">{$sek_list[i].sek_title}</a>
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;{$sek_list[i].cvsk_sek_name}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;{$sek_list[i].cvsk_sek_desc}
                      </td>
                      <td style="background: {$row_color}" class="default">
                       &nbsp;{$sek_list[i].cvsk_order}
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="13" style="background: {$light_color}; text-align: center" class="default">
                        No custom views could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="width: 4px; text-align: center; background: {$cell_color}">
                        <input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="13" style="background: {$cell_color}">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
        </form>

</div>