
              {literal}
              <script language="JavaScript">
              <!--
              var editing_option_id = -1;
              function validateForm(f)
              {
                  if (isWhitespace(f.xsd_title.value)) {
                      alert('Please enter the title of this doc type xsd.');
                      selectField(f, 'xsd_title');
                      return false;
                  }
                  return true;
              }
              
              function checkDelete(f)
              {
                  if (!hasOneChecked(f, 'items[]')) {
                      alert('Please select at least one of the doc type xsds.');
                      return false;
                  }
                  if (!confirm('This action will permanently remove the selected doc type xsds.')) {
                      return false;
                  } else {
                      return true;
                  }
              }
              //-->
              </script>
              {/literal}
              <form name="custom_field_form" onSubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="update">
              <input type="hidden" name="id" value="{$smarty.get.id}">
              {else}
              <input type="hidden" name="cat" value="new">
              {/if}
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              <tr>
                <td colspan="2">
				  <div class="admin-header">Manage Document Type XSDs</div>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new doc type xsd.
                    {elseif $result == 1}
                      Thank you, the doc type xsd was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the doc type xsd information.
                    {elseif $result == 1}
                      Thank you, the doc type xsd was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Title:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="xsd_title" size="40" class="default" value="{$info.xsd_title}">
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Version:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="xsd_version" size="30" class="default" value="{$info.xsd_version}">
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default" nowrap>
                  <b>Top Element Name:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="xsd_top_element_name" size="30" class="default" value="{$info.xsd_top_element_name}">
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default" nowrap>
                  <b>Element Prefix <i>(not required)</i>:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="xsd_element_prefix" size="30" class="default" value="{$info.xsd_element_prefix}">
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default" nowrap>
                  <b>Extra Namespace Prefixes <i>(comma seperated, not required)</i>:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="xsd_extra_ns_prefixes" size="30" class="default" value="{$info.xsd_extra_ns_prefixes}">
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>XSD Source File:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input size="50" name="xsd_file" type="file" class="shortcut" />
                </td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="Update Document Type XSD">
                  {else}
                  <input class="button" type="submit" value="Add Document Type XSD">
                  {/if}
                  <input class="button" type="reset" value="Reset">
                </td>
              </tr>
              </table>
                </td>
              </tr>
              </table>
              </form>
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              <tr>
                <td colspan="2" class="default">
                  <b>Existing Document Type XSDs:</b>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                    <form onSubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                    <input type="hidden" name="cat" value="delete">
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <tr>
                      <td width="5" bgcolor="{$cell_color}" nowrap><input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');"></td>
                      <td width="50%" bgcolor="{$cell_color}" class="default">&nbsp;<b>Title</b>&nbsp;</td>
                      <td width="10%" bgcolor="{$cell_color}" class="default">&nbsp;<b>Version</b>&nbsp;</td>
                      <td width="10%" bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Top Element Name</b>&nbsp;</td>
                      <td width="10%" bgcolor="{$cell_color}" class="default">&nbsp;<b>Element Prefix</b>&nbsp;</td>
                      <td width="10%" bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>XSD Source</b>&nbsp;</td>
                      <td width="10%" bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>XSD Displays&nbsp;</b></td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td width="4" nowrap bgcolor="{$row_color}" align="center">
                        <input type="checkbox" name="items[]" value="{$list[i].xsd_id}" {if $smarty.section.i.total == 0}disabled{/if}>
                      </td>
                      <td width="50%" bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].xsd_title}
                      </td>
                      <td width="15%" bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].xsd_version}
                      </td>
                      <td width="15%" bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].xsd_top_element_name}
                      </td>
                      <td width="15%" bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].xsd_element_prefix}
                      </td>
                      <td width="15%" bgcolor="{$row_color}" class="default">
                        &nbsp;<a class="link" href="xsd_source_edit.php?cat=edit&xsd_id={$list[i].xsd_id}" title="edit this XSDs source XML">Edit</a>
                      </td>
                      <td width="15%" bgcolor="{$row_color}" class="default">
                        &nbsp;<a class="link" href="xsd_displays.php?xsd_id={$list[i].xsd_id}" title="edit this XSDs Displays">Edit</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" bgcolor="{$light_color}" align="center" class="default">
                        No doc type xsds could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td width="4" align="center" bgcolor="{$cell_color}">
                        <input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');">
                      </td>
                      <td colspan="6" bgcolor="{$cell_color}">
                        <input type="submit" value="Delete" class="button">
                      </td>
                    </tr>
                  </table>
                    </form>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>


