<div class="admin-box">


              {literal}
              <script type="text/javascript">
              <!--
              var editing_option_id = -1;
              function validateForm(f)
              {
                  if (isWhitespace(f.xsd_title.value)) {
                      alert('Please enter the title of this doc type xsd.');
                      selectField(f, 'xsd_title');
                      return false;
                  }
                  return true;
              }
              
              function checkDelete(f)
              {
                  if (!hasOneChecked(f, 'items[]')) {
                      alert('Please select at least one of the doc type xsds.');
                      return false;
                  }
                  if (!confirm('This action will permanently remove the selected doc type xsds.')) {
                      return false;
                  } else {
                      return true;
                  }
              }
              //-->
              </script>
              {/literal}
              <form id="custom_field_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
              <div>
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="update" />
              <input type="hidden" name="id" value="{$smarty.get.id}" />
              {else}
              <input type="hidden" name="cat" value="new" />
              {/if}
              </div>
      <table cellspacing="0" cellpadding="0" style="width: 100%; align: center;">
        <tr>
          <td>
            <table style="background: #FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2">
				  <h1>Manage Document Type XSDs</h1>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" class="cell-colour error" style="text-align: center;">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new doc type xsd.
                    {elseif $result == 1}
                      Thank you, the doc type xsd was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the doc type xsd information.
                    {elseif $result == 1}
                      Thank you, the doc type xsd was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Title:</b>
                </td>
                <td class="cell-colour">
                  <input type="text" name="xsd_title" size="40" class="default" value="{$info.xsd_title}" />
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Version:</b>
                </td>
                <td class="cell-colour">
                  <input type="text" name="xsd_version" size="30" class="default" value="{$info.xsd_version}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Top Element Name:</b>
                </td>
                <td class="cell-colour">
                  <input type="text" name="xsd_top_element_name" size="30" class="default" value="{$info.xsd_top_element_name}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Element Prefix <i>(not required)</i>:</b>
                </td>
                <td class="cell-colour">
                  <input type="text" name="xsd_element_prefix" size="30" class="default" value="{$info.xsd_element_prefix}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Extra Namespace Prefixes <i>(comma seperated, not required)</i>:</b>
                </td>
                <td class="cell-colour">
                  <input type="text" name="xsd_extra_ns_prefixes" size="30" class="default" value="{$info.xsd_extra_ns_prefixes}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>XSD Source File:</b>
                </td>
                <td class="cell-colour">
                  <input size="50" name="xsd_file" type="file" class="shortcut" />
                </td>
              </tr>
              <tr>
                <td colspan="2" class="cell-colour" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="Update Document Type XSD" />
                  {else}
                  <input class="button" type="submit" value="Add Document Type XSD" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
              </table>
                </td>
              </tr>
              </table>
              </form>
      <table width="100%" class="cell-colour" border="0" cellspacing="0" cellpadding="1">
        <tr>
          <td>
            <table style="background: #FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <b>Existing Document Type XSDs:</b>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                    <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                    <div>
                      <input type="hidden" name="cat" value="delete" />
                    </div>
                  <table style="width: 100%;" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 5px; background: {$cell_color}; white-space: nowrap"><input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" /></td>
                      <td style="width: 50%;" class="default cell-colour">&nbsp;<b>Title</b>&nbsp;</td>
                      <td style="width: 10%;" class="default cell-colour">&nbsp;<b>Version</b>&nbsp;</td>
                      <td style="width: 10%; white-space: nowrap;" class="default cell-colour">&nbsp;<b>Top Element Name</b>&nbsp;</td>
                      <td style="width: 10%;" class="default cell-colour">&nbsp;<b>Element Prefix</b>&nbsp;</td>
                      <td style="width: 10%; white-space: nowrap;" class="default cell-colour">&nbsp;<b>XSD Source</b>&nbsp;</td>
                      <td style="width: 10%; white-space: nowrap;" class="default cell-colour">&nbsp;<b>XSD Displays&nbsp;</b></td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr onmouseover="this.style.background='#{$smarty.const.APP_HIGHLIGHT_COLOR}';" onmouseout="this.style.background='{$row_color}';" style="background: {$row_color}">
                      <td style="width: 4px; white-space: nowrap; text-align: center;">
                        <input type="checkbox" name="items[]" value="{$list[i].xsd_id}" {if $smarty.section.i.total == 0}disabled{/if} />
                      </td>
                      <td style="width: 50%;" class="default">
                        &nbsp;{$list[i].xsd_title}
                      </td>
                      <td style="width: 15%;" class="default">
                        &nbsp;{$list[i].xsd_version|replace:' ':'&nbsp;'}
                      </td>
                      <td style="width: 15%;" class="default">
                        &nbsp;{$list[i].xsd_top_element_name}
                      </td>
                      <td style="width: 15%;" class="default">
                        &nbsp;{$list[i].xsd_element_prefix}
                      </td>
                      <td style="width: 15%;" class="default">
                        &nbsp;<a class="link" href="xsd_source_edit.php?cat=edit&amp;xsd_id={$list[i].xsd_id}" title="edit this XSDs source XML">Edit Schema</a>
                      </td>
                      <td style="width: 15%;" class="default">
                        &nbsp;<a class="link" href="xsd_displays.php?xsd_id={$list[i].xsd_id}" title="edit this XSDs Displays">Edit Displays</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" bgcolor="{$light_color}" align="center" class="default">
                        No doc type xsds could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="width: 4px; text-align: center;" class="cell-colour">
                        <input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="6" style="background: {$cell_color}">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                  </table>
                    </form>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

</div>
