<div class="outline">
<form method="post">
<table>
<tr class="table_heading_row">
<td><input type="button" value="All"  onClick="javascript:toggleSelectAll(this.form, 'xdis_ids[]');"></td>
<td>Title</td>
<td>Version</td>
</tr>
<tr><td colspan="20"><span class="contentheader">Workflows</span></td></tr>
{section name="i" loop=$wfl_list}
			  {assign var="item" value=$wfl_list[i]}
			  {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td width="4" nowrap bgcolor="{$row_color}" align="center">
                        <input type="checkbox" name="wfl_ids[]" value="{$item.wfl_id}">
                      </td>
                      <td  bgcolor="{$row_color}" class="default">
                        {$item.wfl_title}</a>
                      </td>

                      <td  bgcolor="{$row_color}" class="default">
                        {$item.wfl_version}
                      </td>

                    </tr>
{sectionelse}
                    <tr>
                      <td colspan="7" bgcolor="{$light_color}" align="center" class="default">
                        No workflows could be found.
                      </td>
                    </tr>
{/section}
    <tr class="table_heading_row">
<td><input type="button" value="All"  onClick="javascript:toggleSelectAll(this.form, 'wfl_ids[]');"></td>
<td colspan="20"></td></tr>
<!-- 
<tr class="table_heading_row">
<td><input type="button" value="All"  onClick="javascript:toggleSelectAll(this.form, 'wfb_ids[]');"></td>
<td>Title</td>
<td>Version</td>
</tr>
-->
<tr>
<td colspan="20" align="center"><input type="submit" value="Export" name="go" /></td>
</tr>
</table>
</form>
</div>