
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">

<script type="text/javascript">
<!--
{$najax_register}
{literal}
var coll_load_state = 0;
var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
var current_page = {/literal}{if $list_info.current_page != ""}{$list_info.current_page}{else}0{/if}{literal};
var last_page = {/literal}{if $list_info.last_page != ""}{$list_info.last_page}{else}0{/if}{literal};
function resizePager(f)
{
    var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'rows', pagesize);
}
function checkPageField(ev)
{
    // check if the user is trying to submit the form by hitting <enter>
    if (((window.event) && (window.event.keyCode == 13)) ||
            ((ev) && (ev.which == 13))) {
        return false;
    }
}
function goPage(f, new_page)
{
    if ((new_page > last_page+1) || (new_page <= 0) ||
            (new_page == current_page+1) || (!isNumberOnly(new_page))) {
        f.page.value = current_page+1;
        return false;
    }
    setPage(new_page-1);
}
function setPage(new_page)
{
    if ((new_page > last_page) || (new_page < 0) ||
            (new_page == current_page)) {
        return false;
    }
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'pagerRow', new_page);
}

function showLoading()
{
    document.body.style.cursor = 'wait';
    document.getElementById('loading').style.display = 'block';
};

function hideLoading()
{
    document.body.style.cursor = '';
    document.getElementById('loading').style.display = 'none';
};


function selectCommunity(f, field_name)
{
    if (coll_load_state > 0) {
       return false;
    } 
    var field = getFormElement(f, field_name);
    var selections = getSelectedItems(field);

    if (selections.length > 0) {
        coll_load_state++;
        document.getElementById('tr_collection_pid').style.display = '';
        showLoading();
        var obj = new SelectReindexInfo();
        obj.onGetCollectionsError = function() {
            removeAllOptions(f, 'collection_pid');
            hideLoading();
            coll_load_state--;
        }
        obj.setTimeout(10000);
        obj.getCollections(selections[0].value, function(collections_list) {
                removeAllOptions(f, 'collection_pid');
                addOptions(f, 'collection_pid', collections_list);
                hideLoading();
                coll_load_state--;
                selectCollection(f, 'collection_pid'); 
                });
    }
}

var dt_load_state = 0;
function showLoading1()
{
    document.body.style.cursor = 'wait';
    document.getElementById('loading1').style.display = 'block';
}

function hideLoading1()
{
    document.body.style.cursor = '';
    document.getElementById('loading1').style.display = 'none';
}

function selectCollection(f, field_name)
{
    if (dt_load_state > 0) {
       return false;
    } 
    var field = getFormElement(f, field_name);
    var selections = getSelectedItems(field);

    if (selections.length > 0) {
        dt_load_state++;
        //document.getElementById('tr_xdis_id').style.display = '';
        showLoading1();
        var obj = new SelectReindexInfo();
        obj.onGetDocTypesError = function() {
            removeAllOptions(f, 'xdis_id');
            hideLoading1();
            dt_load_state--;
        }
        obj.setTimeout(10000);
        obj.getDocTypes(selections[0].value, function(dt_list) {
                removeAllOptions(f, 'xdis_id');
                addOptions(f, 'xdis_id', dt_list);
                hideLoading1();
                dt_load_state--;
                });
    }
}
function showSettings() {
	document.getElementById('tr_heading').style.display = '';
	document.getElementById('tr_community_pid').style.display = '';
	document.getElementById('tr_collection_pid').style.display = '';
	document.getElementById('tr_xdis_id').style.display = '';
	document.getElementById('tr_sta_id').style.display = '';
}
function hideSettings() {
	document.getElementById('tr_heading').style.display = 'none';
	document.getElementById('tr_community_pid').style.display = 'none';
	document.getElementById('tr_collection_pid').style.display = 'none';
	document.getElementById('tr_sta_id').style.display = 'none';
	document.getElementById('tr_xdis_id').style.display = 'none';
}
function toggleOverride()
{
  var f = getForm('reindex_form');
  if (f.recover.checked) {
	  hideSettings();
  } else {
	  showSettings();
	  selectCommunity(f, 'community_pid');
  }
  return true;
}



{/literal}
// -->
</script>
              <tr>
                <td colspan="2" class="default">
                  <b>{if $index_type == 1}Index Fedora Objects into Fez{else}Reindex Fez Fedora Objects{/if}</b>
                </td>
              </tr>
             <tr>
                <td bgcolor="{$light_color}" class="default">
                <p>
                {if $index_type == 1}
                This is a list of items in the fedora database that are not indexed in the 
                fez database. Check the boxes next to the objects you want Fez to index and click 'Index Into Fez'.
                {else}
				This is a list of items in the fedora database that are already indexed in the 
                fez database. Check the boxes next to the objects you want Fez to reindex and click 'Reindex'.
                {/if}
                </p>
                <p>The reindexer will detect if the objects are already Fez objects and restore them if possible,
                otherwise the objects will be imported into the collection selected below.</p>
                </td>
              </tr>
		  <tr>
			<td>
			  <table>
                    <form name="reindex_form"  method="post" action="{$smarty.server.PHP_SELF}">
                    
		  
			<tr id="tr_heading">
			  <td class="default" colspan="2">
				<b><img align="absmiddle" src="{$rel_url}images/collection.jpg" border="0"> &nbsp; Select Destination Collection</b>
			  </td>
			</tr>			
				<tr id="tr_community_pid">
			  <td  bgcolor="{$cell_color}" class="default" nowrap>
				<b>Parent Community</b>
			  </td>
			  <td bgcolor="{$light_color}">
				<select class="default" name="community_pid" onChange="javascript: selectCommunity(this.form, 'community_pid')" >
				  {html_options options=$communities_list selected=$communities_list_selected }
				</select>
			  </td>
			</tr>
			<tr style="display:none;" id="tr_collection_pid">
			  <td bgcolor="{$cell_color}" class="default">
				<b>Collection</b>
			  </td>
			  <td bgcolor="{$light_color}">
				<div id="loading" style="display:none;">Loading...</div>
				<select class="default" name="collection_pid" onChange="javascript: selectCollection(this.form, 'collection_pid')">
				</select>
			  </td>
			</tr>
				
			<tr style="display:none;" id="tr_xdis_id">
			  <td bgcolor="{$cell_color}" class="default">
				<b>Document Type</b>
			  </td>
			  <td bgcolor="{$light_color}">
				<div id="loading1" style="display:none;">Loading...</div>
				<select class="default" name="xdis_id">
				</select>
			  </td>
			</tr>
			<tr style="display:none;" id="tr_sta_id">
			  <td bgcolor="{$cell_color}" class="default">
				<b>Publishing Status</b>
			  </td>
			  <td bgcolor="{$light_color}">
				<select class="default" name="sta_id">
					 {html_options options=$status_list}
				</select>
			  </td>
			</tr>			
			
				  </table>
				</td>
 			  </tr>			



			  <tr>
			  	<td>
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">

		            <input type="hidden" name="cat" value="go">        
                    <tr>
                      <td width="5" bgcolor="{$cell_color}" nowrap><input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');"></td>
                      <td width="10%" bgcolor="{$cell_color}" class="default">&nbsp;<b>PID</b>&nbsp;</td>
                      <td width="40%" bgcolor="{$cell_color}" class="default">&nbsp;<b>Title</b>&nbsp;</td>
                      <td width="50%" bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Description</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td width="4" nowrap bgcolor="{$row_color}" align="center">
                        <input type="checkbox" name="items[]" value="{$list[i].pid}" {if $smarty.section.i.total == 0}disabled{/if}>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].pid}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].title}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].description}
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="4" bgcolor="{$light_color}" align="center" class="default">
                       {if $index_type == 1} No Fedora objects missing from the Fez Index could be found.
                       {else}No objects were found in the Fez index{/if}
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td width="2" align="center" bgcolor="{$cell_color}">
                        <input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');">
                      </td>
                      <td colspan="3" align="center" bgcolor="{$cell_color}">
                        <input type="submit" value="{if $index_type == 1}Index Into Fez{else}Reindex{/if}" class="button">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              
        <tr bgcolor="{$cell_color}">
          <td colspan="{math equation="x + 12" x=$ColumnAdd}">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30%" nowrap>
                </td>
                <td width="40%" align="center" nowrap>
                  <nobr>
                  <input name="first" type="button" value="|&lt;" class="shortcut" onClick="javascript:setPage(0);">
                  <input name="previous" type="button" value="&lt;&lt;" class="shortcut" onClick="javascript:setPage({$list_info.previous_page});">
                  <input type="text" name="page" size="3" maxlength="3" value="{math equation="x + 1" x=$list_info.current_page}" style="background: {$cell_color};" class="paging_input" onKeyPress="javascript:return checkPageField(event);">
                  <input name="go" type="button" value="Go" class="shortcut" onClick="javascript:goPage(this.form, this.form.page.value);">
                  <input name="next" type="button" value="&gt;&gt;" class="shortcut" onClick="javascript:setPage({$list_info.next_page});">
                  <input name="last" type="button" value="&gt;|" class="shortcut" onClick="javascript:setPage({$list_info.last_page});">
                  </nobr>
                </td>
                <td nowrap>
                  <span class="default_white">Rows per Page:</span>
                  <select name="page_size" class="default" onChange="javascript:resizePager(this.form);">
                    <option value="5" {if $options.rows == 5}selected{/if}>5</option>
                    <option value="10" {if $options.rows == 10}selected{/if}>10</option>
                    <option value="25" {if $options.rows == 25}selected{/if}>25</option>
                    <option value="50" {if $options.rows == 50}selected{/if}>50</option>
                    <option value="100" {if $options.rows == 100}selected{/if}>100</option>
                    <option value="150" {if $options.rows == 150}selected{/if}>150</option>
                  </select>
                  <input type="button" value="Set" class="shortcut" onClick="javascript:resizePager(this.form);">
                </td>
              </tr>
			</table>
		</td>
		</tr>
		
            </table>
          </td>
        </tr>
      </table>
	  </form>


