<script type="text/javascript">
<!--
{literal}
var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
{/literal}
// -->
</script>

<div class="admin-box">

  <h1>Import XSDs</h1>
  
  <div>XSDs that have been exported to an XML file can be imported here.</div>
  
  {if $feedback}
  			<div class="msg">
  				{section name="ff" loop=$feedback}
  					{$feedback[ff]}<br />
  				{/section}
  			</div>
  {/if}
  
  {if $step == 1}              
    <form id="import_xsds" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
      <div>
        <input type="hidden" name="cat" value="go" />
        <input type="hidden" name="step" value="2" />
      </div>
      
  		<table style="width: 100%">
  			<tr>
  			  <td class="default" colspan="2">
  				  <img style="vertical-align: middle" src="{$rel_url}images/collection.jpg" alt="" /> &nbsp; <b>Select Import Settings</b>
  			  </td>
  			</tr>			
  			<tr>
  				<td style="width: 200px; background: {$cell_color}" class="default">
  				  <b>File to import</b>
  				</td>
  				<td style="background: {$light_color}">
  				  <input type="file" name="import_xml" class="default" /> 
  				</td>
  			</tr>
        <tr>
          <td colspan="2" style="background: {$cell_color}">
            <div style="text-align: center">
              <input type="submit" value="Import" class="button" />
            </div>
          </td>
        </tr>
      </table>
    </form>
  {elseif $step == 2}
    <form id="import_xsds" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
     <div>
      <input type="hidden" name="cat" value="go" />
      <input type="hidden" name="step" value="3" />
      <input type="hidden" name="filename" value="{$filename}" />
     </div>
                      
      <table style="width: 100%">
        <tr class="table_heading_row">
          <td style="width: 4px">
            <input type="button" value="All" class="button" onclick="javascript:toggleSelectAll(this.form, 'xdis_ids[]');" />
          </td>
          <td>Title</td>
          <td>Version</td>
          <td>Overwrite</td>
        </tr>
        {section name="i" loop=$list}
          <tr>
            <td colspan="20">                    
              <span class="contentheader">{$list[i].xsd_title}</span>
                                <span class="default">
                                  Version: {$list[i].xsd_version}
                               </span>
            </td>
          </tr>
              {if $list[i].displays_count > 0}
          			{section name="jj" loop=$list[i].displays}
          			  {assign var="xdis" value=$list[i].displays[jj]}
          			  {cycle values=$cycle assign="row_color"}
                      <tr>
                        <td style="width: 4px; white-space: nowrap; background: {$row_color}; text-align: center">
                          <input type="checkbox" name="xdis_ids[]" value="{$xdis.xdis_id}" />
                        </td>
                        <td style="background: {$row_color}" class="default">
                          {$xdis.xdis_title}
                        </td>
                        <td style="background: {$row_color}" class="default">
                          &nbsp;{$xdis.xdis_version}
                        </td>
                        <td style="background: {$row_color}" class="default">
                          {if $xdis.overwrite}
                            <span class="disabled">Will Overwrite {$xdis.exists_list[0].xdis_title} {$xdis.exists_list[0].xdis_version}</span>
                          {else}
                            <span class="enabled">New</span>
                          {/if}
                        </td>
                      </tr>
          			{/section}
              {/if}
        {sectionelse}
            <tr>
              <td colspan="7" style="background: {$light_color}; text-align: center" class="default">
                No doc type xsds could be found.
              </td>
            </tr>
        {/section}
            <tr class="table_heading_row">
              <td style="width: 4px;">
                <input type="button" value="All" class="button" onclick="javascript:toggleSelectAll(this.form, 'xdis_ids[]');" />
              </td>
              <td colspan="20">
                <input type="submit" value="Import" name="go" class="button" />
              </td>
            </tr>
        </table>
    </form>
  {/if}

</div>