{if $action == "report"}

<div class="admin-box">

	<h1>HERDC Record Integrity Report</h1>

    <div>

		{section name="jj" loop=$orphaned_affiliations}
		  {if $smarty.section.jj.first}<h3><img src="{$rel_url}images/redled.png" alt="Problem" /> Orphaned author affiliations</h3><table style="width: 100%">{/if}
		  <tr style="background: {cycle values="$cycle_colours"}">
			<td style="width: 100px">{$orphaned_affiliations[jj].af_pid}</td>
			<td><a href="../view/{$orphaned_affiliations[jj].af_pid}" onclick="javascript:window.open('../view/{$orphaned_affiliations[jj].af_pid}'); return false;">{$orphaned_affiliations[jj].rek_title}</a></td>
		  </tr>
		  {if $smarty.section.jj.last}</table>{/if}
		  {sectionelse}
		  <p><img src="{$rel_url}images/tick_16.png" alt="OK" /> No orphaned affiliations found.</p>
		{/section}

		<br />

		{section name="ii" loop=$bad_sums}
		  {if $smarty.section.ii.first}<h3><img src="{$rel_url}images/redled.png" alt="Problem" /> Non-summing author affiliations</h3><table style="width: 100%">{/if}
		  <tr style="background: {cycle values="$cycle_colours"}">
			<td style="width: 100px">{$bad_sums[ii].af_pid}</td>
			<td><a href="../view/{$bad_sums[ii].af_pid}" onclick="javascript:window.open('../view/{$bad_sums[ii].af_pid}'); return false;">{$bad_sums[ii].rek_title}</a></td>
		  </tr>
		  {if $smarty.section.ii.last}</table>{/if}
		  {sectionelse}
		  <p><img src="{$rel_url}images/tick_16.png" alt="OK" /> All affiliation percentages summed correctly.</p>
		{/section}
		
		<br />

		{section name="ii" loop=$orphaned_main_chapters}
		  {if $smarty.section.ii.first}<h3><img src="{$rel_url}images/redled.png" alt="Problem" /> Orphaned main chapter registrations</h3><table style="width: 100%">{/if}
		  <tr style="background: {cycle values="$cycle_colours"}">
			<td style="width: 100px">{$orphaned_main_chapters[ii].mc_pid}</td>
			<td><a href="../view/{$orphaned_main_chapters[ii].mc_pid}" onclick="javascript:window.open('../view/{$orphaned_main_chapters[ii].mc_pid}'); return false;">{$orphaned_main_chapters[ii].rek_title}</a></td>
		  </tr>
		  {if $smarty.section.ii.last}</table>{/if}
		  {sectionelse}
		  <p><img src="{$rel_url}images/tick_16.png" alt="OK" /> No orphaned main chapter reigistrations found.</p>
		{/section}
		
		<br />

		<form id="integrity" method="post" action="{$smarty.server.PHP_SELF}">
			<div>
				<input type="hidden" name="action" value="report" />
				<input type="submit" name="discover" value="Regenerate report" class="submit button" />
			</div>
		</form>

    </div>
	
</div>

{else}

<div class="admin-box">

	<h1>HERDC Record Integrity Report</h1>

    <div>
		<img style="vertical-align: middle" src="{$rel_url}images/important_32.png" alt="Generate" /> Generate a report of all records with broken author affiliations.<br /><br />
		<form id="integrity" method="post" action="{$smarty.server.PHP_SELF}">
			<div>
				<input type="hidden" name="action" value="report" />
				<input type="submit" name="discover" value="Build report" class="submit button" />
			</div>
		</form>

    </div>

</div>

{/if}
