<div class="admin-box">

	<h1>Import / Export XSDs</h1>

    <div class="default admin-content">
		<img style="vertical-align: middle" src="{$rel_url}images/import_export_22.png" alt="Import / Export" /> Import XSDs from XML or export current XSDs to XML.
		
		<br /><br />
				
		<input type="button" onclick="javascript:window.location = '{$rel_url}manage/import_xsds.php';" value="Import XSDs" class="button" />
		<input type="button" onclick="javascript:window.location = '{$rel_url}manage/export_xsds.php';" value="Export XSDs" class="button" />
		
    </div>

</div>