<div class="admin-box">

	<div class="admin-header">Administration Main</div>

	<div class="default admin-content">
	Choose a common task, or select from the navigation menu on the left.
	<br /><br />

		{if $isSuperAdministrator}
		<table cellpadding="5" cellspacing="10">
		  <tr>
			<td valign="top">
				<a href="users.php"><img align="absmiddle" src="{$rel_url}images/editor_22.png" border="0" alt="Manage Users" /> Manage Users</a><br /><br />
				<a href="groups.php"><img align="absmiddle" src="{$rel_url}images/granter.png" border="0" alt="Manage Groups" /> Manage Groups</a><br /><br />
				<a href="authors.php"><img align="absmiddle" src="{$rel_url}images/approver.png" border="0" alt="Manage Authors" /> Manage Authors</a><br /><br />
			</td>
		    <td valign="top">
				<a href="news.php"><img align="absmiddle" src="{$rel_url}images/globe_22.png" border="0" alt="Manage News" /> Manage News</a><br /><br />
				<a href="citations.php"><img align="absmiddle" src="{$rel_url}images/star_22.png" border="0" alt="Manage Citations" /> Manage Citations</a><br /><br />
				{if $WEBSERVER_LOG_STATISTICS == 'ON'}<a href="run_webstats.php"><img align="absmiddle" src="{$rel_url}images/pie_22.png" border="0" alt="Run Webstats" /> Run Webstats</a><br /><br />{/if}
			</td>
		  </tr>
		</table>
		{else}
		<table cellpadding="5" cellspacing="10">
		  <tr>
			<td valign="top">
				<a href="news.php"><img align="absmiddle" src="{$rel_url}images/globe_22.png" border="0" alt="Manage News" /> Manage News</a><br /><br />
				<a href="users.php"><img align="absmiddle" src="{$rel_url}images/editor_22.png" border="0" alt="Manage Users" /> Manage Users</a><br /><br />
			</td>
		    <td valign="top">
				<a href="authors.php"><img align="absmiddle" src="{$rel_url}images/approver.png" border="0" alt="Manage Authors" /> Manage Authors</a><br /><br />
				<a href="groups.php"><img align="absmiddle" src="{$rel_url}images/granter.png" border="0" alt="Manage Groups" /> Manage Groups</a><br /><br />
			</td>
		  </tr>
		</table>
		{/if}

	</div>

</div>
