<div class="outline">

	<div class="admin-header">Administration Main</div>

	<div class="default admin-content">
	Choose a common task, or select from the navigation menu on the left.
	<br /><br />

		<table cellpadding="5" cellspacing="10">
		  <tr>
			<td valign="top">
				<a href="users.php"><img align="absmiddle" src="{$rel_url}images/editor_22.png" border="0" /> Manage Users</a><br /><br />
				<a href="groups.php"><img align="absmiddle" src="{$rel_url}images/granter.png" border="0" /> Manage Groups</a><br /><br />
				<a href="authors.php"><img align="absmiddle" src="{$rel_url}images/approver.png" border="0" /> Manage Authors</a><br /><br />
			</td>
		    <td valign="top">
				<a href="news.php"><img align="absmiddle" src="{$rel_url}images/news_22.jpg" border="0" /> Manage News</a><br /><br />
				<a href="citations.php"><img align="absmiddle" src="{$rel_url}images/star_22.png" border="0" /> Manage Citations</a><br /><br />
				{if $WEBSERVER_LOG_STATISTICS == 'ON'}<a href="run_webstats.php"><img align="absmiddle" src="{$rel_url}images/statistics_22.gif" border="0" /> Run Webstats</a><br /><br />{/if}
			</td>
		  </tr>
		</table>

	</div>

</div>
