
{if $show_not_allowed_msg}
<center>
<span class="default">
<b>Sorry, but you do not have the required permission level to access this screen.</b>
<br /><br />
<a class="link" href="javascript:history.go(-1);">Go Back</a>
</span>
</center>
{else}
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="{$light_color}">
  <tr>
    <td valign="top">
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td width="100%">
            <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="4">
              
              <tr>
                <td class="default">
				  {if $isSuperAdministrator}
                  <div class="admin-side-nav-title">Configuration</div>
                  <ul class="admin-side-nav">
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/doctypexsds.php'}class="focus" {/if}href="{$rel_url}manage/doctypexsds.php">Manage Document Type XSDs</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/citations.php'}class="focus" {/if}href="{$rel_url}manage/citations.php">Manage Citations Views</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/workflows.php'}class="focus" {/if}href="{$rel_url}manage/workflows.php">Manage Workflow Templates</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/wfbehaviours.php'}class="focus" {/if}href="{$rel_url}manage/wfbehaviours.php">Manage Workflow Behaviours</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'workflow_triggers.php?pid=-1'}class="focus" {/if}href="{$rel_url}workflow_triggers.php?pid=-1">Default Workflows</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/controlled_vocab.php'}class="focus" {/if}href="{$rel_url}manage/controlled_vocab.php">Manage Controlled Vocabularies</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/search_keys.php'}class="focus" {/if}href="{$rel_url}manage/search_keys.php">Manage Search Keys</a></li>
					<li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/configuration.php'}class="focus" {/if}href="{$rel_url}manage/configuration.php">Site Configuration</a></li>
                  </ul>
				  {/if}

				  <div class="admin-side-nav-title">Areas</div>
                  <ul class="admin-side-nav">
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/news.php'}class="focus" {/if}href="{$rel_url}manage/news.php">Manage News</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/statuses.php'}class="focus" {/if}href="{$rel_url}manage/statuses.php">Manage Statuses</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/users.php'}class="focus" {/if}href="{$rel_url}manage/users.php">Manage Users</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/groups.php'}class="focus" {/if}href="{$rel_url}manage/groups.php">Manage Groups</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/orgstructure.php'}class="focus" {/if}href="{$rel_url}manage/orgstructure.php">Manage Organisational Structure</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/authors.php'}class="focus" {/if} href="{$rel_url}manage/authors.php">Manage Authors</a></li>
                  </ul>

				  {if $isSuperAdministrator}
				  <div class="admin-side-nav-title">Maintenance</div>
                  <ul class="admin-side-nav">
				    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/index_new.php'}class="focus" {/if}href="{$rel_url}manage/index_new.php">Index Objects</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/export_workflows.php'}class="focus" {/if}href="{$rel_url}manage/export_workflows.php">Export Workflows</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/import_workflows.php'}class="focus" {/if}href="{$rel_url}manage/import_workflows.php">Import Workflows</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/export_xsds.php'}class="focus" {/if}href="{$rel_url}manage/export_xsds.php">Export XSDs</a></li>
                    <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/import_xsds.php'}class="focus" {/if}href="{$rel_url}manage/import_xsds.php">Import XSDs</a></li>
					{if $WEBSERVER_LOG_STATISTICS == 'ON'}<li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/run_webstats.php'}class="focus" {/if}href="{$rel_url}manage/run_webstats.php">Run Webstats</a></li>{/if}
                  </ul>
				  {/if}
				  <br />
                </td>
              </tr>
              
                </td>
              </tr> 
               </table>
          </td>
        </tr>
      </table>
    </td>
    <td>&nbsp;
      
    </td>
    <td width="100%" valign="top">
      {include file="manage/$type.tpl.html"}
    </td>
  </tr>
</table>
{/if}

