
{if $show_not_allowed_msg}
<center>
<span class="default">
<b>Sorry, but you do not have the required permission level to access this screen.</b>
<br /><br />
<a class="link" href="javascript:history.go(-1);">Go Back</a>
</span>
</center>
{else}
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="{$light_color}">
  <tr>
    <td valign="top">
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td width="100%">
            <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="4">
              {if $isAdministrator}
              <tr>
                <td>
                  <span class="default"><b>Configuration:</b></span>
                </td>
              </tr>
              <tr>
                <td nowrap class="default">
                  <ul>
                    <li><a href="{$rel_url}manage/doctypexsds.php" class="link">Manage Document Type XSDs</a></li>
                    <li><a href="{$rel_url}manage/workflows.php" class="link">Manage Workflow Templates</a></li>
                    <li><a href="{$rel_url}manage/wfbehaviours.php" class="link">Manage Workflow Behaviours</a></li>
                    <li><a href="{$rel_url}workflow_triggers.php?pid=-1" class="link">Default Workflows</a></li>
                    <li><a href="{$rel_url}manage/controlled_vocab.php" class="link">Manage Controlled Vocabularies</a></li>
                    <li><a href="{$rel_url}manage/search_keys.php" class="link">Manage Search Keys</a></li>					
                  </ul>
                </td>
              </tr>
              {/if}
              <tr>
                <td>
                  <span class="default"><b>Areas:</b></span>
                </td>
              </tr>
              <tr>
                <td nowrap class="default">
                  <ul>
                    <li><a href="{$rel_url}manage/news.php" class="link">Manage News</a></li>
                    <li><a href="{$rel_url}manage/statuses.php" class="link">Manage Statuses</a></li>
                    <li><a href="{$rel_url}manage/users.php" class="link">Manage Users</a></li>
                    <li><a href="{$rel_url}manage/groups.php" class="link">Manage Groups</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="default"><b>Maintenance:</b></span>
                </td>
              </tr>
              <tr>
                <td nowrap class="default">
                  <ul>
                    <li><a href="{$rel_url}manage/indexfedora.php" class="link">Index Fedora Objects into Fez</a></li>
                    <li><a href="{$rel_url}manage/reindex.php" class="link">Reindex Fez Fedora Objects</a></li>
                  </ul>
                </td>
              </tr> 
               </table>
          </td>
        </tr>
      </table>
    </td>
    <td>&nbsp;
      
    </td>
    <td width="100%" valign="top">
      {include file="manage/$type.tpl.html"}
    </td>
  </tr>
</table>
{/if}

