{if $show_not_allowed_msg}
  <span style="text-align: center;">
	<b>Sorry, but you do not have the required permission level to access this screen.</b><br /><br />
	<a class="link" href="javascript:history.go(-1);">Go Back</a>
  </span>
{else}
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="admin-wrapper">
  <tr>
    <td valign="top">
      <table style="background: #99BEFF; width: 100%; border: none;" cellspacing="0" cellpadding="1">
        <tr>
          <td>
            <table style="background: #FFFFFF; width: 100%; border: 0;" cellspacing="0" cellpadding="4">
              <tr>
                <td class="default">

          <div class="admin-side-nav-title">Manage</div>
          <ul class="admin-side-nav">
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/news.php'}class="focus" {/if}href="{$rel_url}manage/news.php">News</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/users.php'}class="focus" {/if}href="{$rel_url}manage/users.php">Users</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/groups.php'}class="focus" {/if}href="{$rel_url}manage/groups.php">Groups</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/authors.php'}class="focus" {/if} href="{$rel_url}manage/authors.php">Authors</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/journals.php'}class="focus" {/if} href="{$rel_url}manage/journals.php">Journals</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/statuses.php'}class="focus" {/if}href="{$rel_url}manage/statuses.php">Statuses</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/sessions.php'}class="focus" {/if}href="{$rel_url}manage/sessions.php">Sessions</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/languages.php'}class="focus" {/if}href="{$rel_url}manage/languages.php">Languages</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/conferences.php'}class="focus" {/if}href="{$rel_url}manage/conferences.php">Conferences</a></li>
            <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/orgstructure.php'}class="focus" {/if}href="{$rel_url}manage/orgstructure.php">Organisational Structure</a></li>
            {if $APP_HERDC_SUPPORT == 'ON'}
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/integrity.php'}class="focus" {/if} href="{$rel_url}manage/integrity.php">HERDC Integrity Report</a></li>
            {/if}
          </ul>

          {if $isSuperAdministrator}
            <div class="admin-side-nav-title">Configuration</div>
            <ul class="admin-side-nav">
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/doctypexsds.php'}class="focus" {/if}href="{$rel_url}manage/doctypexsds.php">Document Type XSDs</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/citations.php'}class="focus" {/if}href="{$rel_url}manage/citations.php">Citations Views</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/workflows.php'}class="focus" {/if}href="{$rel_url}manage/workflows.php">Workflow Templates</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/wfbehaviours.php'}class="focus" {/if}href="{$rel_url}manage/wfbehaviours.php">Workflow Behaviours</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/workflow_triggers.php'}class="focus" {/if}href="{$rel_url}manage/workflow_triggers.php?pid=-1">Workflows Triggers</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/controlled_vocab.php'}class="focus" {/if}href="{$rel_url}manage/controlled_vocab.php">Controlled Vocabularies</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/search_keys.php'}class="focus" {/if}href="{$rel_url}manage/search_keys.php">Search Keys</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/custom_views.php'}class="focus" {/if}href="{$rel_url}manage/custom_views.php">Custom Views</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/custom_views_comm.php'}class="focus" {/if}href="{$rel_url}manage/custom_views_comm.php">Community Views</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/thomson_doctype_mappings.php'}class="focus" {/if}href="{$rel_url}manage/thomson_doctype_mappings.php">Thomson DT Mappings</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/configuration.php'}class="focus" {/if}href="{$rel_url}manage/configuration.php">Site Configuration</a></li>
            </ul>
          {/if}

          {if $isSuperAdministrator}
            <div class="admin-side-nav-title">Maintenance</div>
            <ul class="admin-side-nav">
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/index_new.php'}class="focus" {/if}href="{$rel_url}manage/index_new.php">Index Objects</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/ad_hoc_sql.php' || $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/ad_hoc_workflow.php' || $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/ad_hoc.php'}class="focus" {/if}href="{$rel_url}manage/ad_hoc.php">Ad Hoc Queries</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/io_workflows.php' || $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/import_workflows.php' || $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/export_workflows.php'}class="focus" {/if}href="{$rel_url}manage/io_workflows.php">Import / Export Workflows</a></li>
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/io_xsds.php' || $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/import_xsds.php' || $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/export_xsds.php'}class="focus" {/if}href="{$rel_url}manage/io_xsds.php">Import / Export XSDs</a></li>
              {if $WEBSERVER_LOG_STATISTICS == 'ON'}
                <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/run_webstats.php'}class="focus" {/if}href="{$rel_url}manage/run_webstats.php">Run Webstats</a></li>
              {/if}
              <li><a {if $smarty.server.SCRIPT_NAME == $smarty.const.APP_RELATIVE_URL|cat:'manage/upgrade.php'}class="focus" {/if}href="{$rel_url}manage/upgrade.php">Run Upgrades</a></li>
            </ul>
          {/if}
          
				  <br />
                </td>
              </tr>

               </table>
          </td>
        </tr>
      </table>
    </td>
    <td>&nbsp;</td>
    <td valign="top" style="width: 100%;">
      {include file="manage/$type.tpl.html"}
    </td>
  </tr>
</table>
{/if}
