<div class="admin-box">

		<h1>Journal / Conference Matching</h1>

		<!--ul>
			<li><a href="#">Add new Ranked Journal mapping</a></li>
			<li><a href="#">Add new Ranked Conference mapping</a></li>
		</ul>
		
		<br />
		
		<ul>
			<li><a href="#">Add new Ranked Journal mapping</a></li>
			<li><a href="#">Add new Ranked Conference mapping</a></li>
		</ul-->
		
		<p><i>Coming soon to a Fez near you!</i></p>
		
</div>

{*
<form id="languages_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}"></form>
*}