<div class="outline">

	<div class="admin-header">Run Webstats</div>

    <div class="default admin-content">
		<img align="absmiddle" src="{$rel_url}images/pie_22.png" border="0" /> Manually trigger a re-build of the web statistics.
    </div>
    <form name="run_stats"  method="post" action="{$smarty.server.PHP_SELF}">
		<input type="hidden" name="action" value="go"/>
		&nbsp;&nbsp;&nbsp;<input type="submit" name="button" value="Run statistics generator" class="submit" />
	</form>
	<br />

</div>
