<div class="admin-box">

	<h1>Run Webstats</h1>

    <div class="default admin-content">
	{if $is_running == true}
		Stats generation has been triggered.
	{else}
		<img style="vertical-align: middle" src="{$rel_url}images/pie_22.png" alt="Webstats" /> Manually trigger an update of the web statistics.
		<br /><br />
	    <form id="run_stats"  method="post" action="{$smarty.server.PHP_SELF}">
	    	<div>
				<input type="hidden" name="action" value="go" />
				&nbsp;&nbsp;&nbsp;<input type="submit" name="button" value="Update Statistics and Summaries" class="button" />
			</div>
		</form>
	    <form id="run_stats_summary" method="post" action="{$smarty.server.PHP_SELF}">
	    	<div>
				<input type="hidden" name="action" value="go_summary_only" />
				&nbsp;&nbsp;&nbsp;<input type="submit" name="button" value="Update Summaries only" class="button" />
			</div>
		</form>
	{/if}

    </div>

</div>
