<div class="admin-box">

	<h1>Run Upgrades</h1>

    <div class="default admin-content">
		{if $upgrades_available}
			<img src="{$rel_url}images/upgrade_22.png" style="position: relative; top: 5px;" alt="Please Upgrade" />
			You have outstanding upgrade scripts. <a href="{$rel_url}upgrade/" onclick="javascript:window.open('{$rel_url}upgrade/'); return false;">Run them now</a>.
		{else}
			<img src="{$rel_url}images/tick_22.png" style="position: relative; top: 5px;" alt="OK" />
			All available upgrade scripts have been run.
		{/if}
    </div>

</div>