
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              {literal}
              <script language="JavaScript">
              <!--
              function validateForm(f)
              {
                  if (isWhitespace(f.username.value)) {
                      alert('Please enter the username of this user.');
                      selectField(f, 'username');
                      return false;
                  }
                  if (isWhitespace(f.email.value)) {
                      alert('Please enter the email of this user.');
                      selectField(f, 'email');
                      return false;
                  }
                  if (!isEmail(f.email.value)) {
                      alert('Please enter a valid email address.');
                      selectField(f, 'email');
                      return false;
                  }
                  if (isWhitespace(f.full_name.value)) {
                      alert('Please enter the full name of this user.');
                      selectField(f, 'full_name');
                      return false;
                  }

                  if ((f.change_password.checked) && (isWhitespace(f.password.value))) {
                      alert('If you are changing the user password you must enter a password for the user.');
                      selectField(f, 'password');
                      return false;
                  }

                  return true;
              }
              function togglePasswordText()
              {
                  var f = getForm('user_form');
//				  var elementTitle = getPageElement('password');
				  if (f.ldap_authentication.checked) {
					  f.password.disabled = true;
				  } else {
					  f.password.disabled = false;
				  }
                  return true;
              }
              //-->
              </script>
              {/literal}
              {literal}
              <script language="JavaScript">
              <!--
				var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
				var current_page = {/literal}{if $list_info.current_page != ""}{$list_info.current_page}{else}0{/if}{literal};
				var last_page = {/literal}{if $list_info.last_page != ""}{$list_info.last_page}{else}0{/if}{literal};			  
              function validateForm(f)
              {
                  if (isWhitespace(f.lname.value)) {
                      alert('Please enter the last name of this author.');
                      selectField(f, 'lname');
                      return false;
                  }
                  return true;
              }
			    function resizePager(f)
				{
					var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
					window.location.href = page_url + "?" + replaceParam(window.location.href, 'rows', pagesize);
				}
				function checkPageField(ev)
				{
					// check if the user is trying to submit the form by hitting <enter>
					if (((window.event) && (window.event.keyCode == 13)) ||
							((ev) && (ev.which == 13))) {
						return false;
					}
				}
				function goPage(f, new_page)
				{
					if ((new_page > last_page+1) || (new_page <= 0) ||
							(new_page == current_page+1) || (!isNumberOnly(new_page))) {
						f.page.value = current_page+1;
						return false;
					}
					setPage(new_page-1);
				}
				function setPage(new_page)
				{
					if ((new_page > last_page) || (new_page < 0) ||
							(new_page == current_page)) {
						return false;
					}
					window.location.href = page_url + "?" + replaceParam(window.location.href, 'pagerRow', new_page);
				}
              //-->
              </script>
              {/literal}              
              <form name="user_form" onSubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="update">
              <input type="hidden" name="id" value="{$smarty.get.id}">
              {else}
              <input type="hidden" name="cat" value="new">
              {/if}
              <tr>
                <td colspan="2" class="default">
                  <b>Manage Users</b>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new user.
                    {elseif $result == 1}
                      Thank you, the user was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the user information.
                    {elseif $result == 1}
                      Thank you, the user was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Username:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="username" size="40" class="default" value="{$info.usr_username}">
                  {include file="error_icon.tpl.html" field="username"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>E-mail:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="email" size="40" class="default" value="{$info.usr_email}">
                  {include file="error_icon.tpl.html" field="email"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Full Name:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="full_name" size="40" class="default" value="{$info.usr_full_name}">
                  {include file="error_icon.tpl.html" field="full_name"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Administrator?:</b>
                </td>
                <td bgcolor="{$light_color}">
				  <input type="checkbox" name="administrator" {if $info.usr_administrator == 1}checked{/if}>
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Use LDAP Authentication?:</b>
                </td>
                <td bgcolor="{$light_color}">
				  <input type="checkbox" name="ldap_authentication" {if $info.usr_ldap_authentication == 1}checked{/if} onClick="javascript:togglePasswordText();">
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Password:</b>
                </td>
                <td bgcolor="{$light_color}">
				{if ($smarty.get.cat == "edit")}
					{if ($info.usr_ldap_authentication == 0)}
				  <input type="checkbox" name="change_password">  <span class="default"><i>(Tick this if you want to change the user password)</i></span>
					{/if}
				{/if}
                  <input type="password" name="password" size="40" class="default" value="{$info.usr_password}"> <span class="default"><i>(Only for Non-LDAP authentication)</i></span>
                  {include file="error_icon.tpl.html" field="password"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Internal System Groups: *</b>
                </td>
                <td bgcolor="{$light_color}" width="80%">
                  <select name="groups[]" multiple size="10" class="default">
                    {html_options options=$group_options selected=$info.usr_groups}
                  </select>
                  {include file="error_icon.tpl.html" field="users[]"}
                </td>
              </tr>
			  
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="Update User">
                  {else}
                  <input class="button" type="submit" value="Create User">
                  {/if}
                  <input class="button" type="reset" value="Reset">
                </td>
              </tr>
              </form>
              <tr>
                <td colspan="2" class="default">
                  <b>Existing Users:</b>
                </td>
              </tr>
              
              <form name="user_search_form" method="get" action="{$smarty.server.PHP_SELF}">              
              <input type="hidden" name="cat" value="search">
              <input type="hidden" name="id" value="{$smarty.get.id}">

              <tr>
                <td class="default">
                  <b>{if $search_filter != ""}<font color="red">{/if}Search Users (by name/username, ordered by relevance){if $search_filter != ""}</font>{/if}</b>
                </td>
                 <td nowrap bgcolor="{$light_color}" width="80%">
                  <input type="text" name="search_filter" size="40" class="default" value="{$search_filter}">
                  {include file="error_icon.tpl.html" field="search_filter"}
				 <input class="button" type="submit" value="Search">                  
                </td>
              </tr>		
			  </form>    

              
              <tr>
                <td colspan="2">
                  <script language="JavaScript">
                  <!--
                  var active_users = new Array();
                  {section name="i" loop=$list}
                  {if $list[i].usr_status == 'active'}
                  active_users[{$smarty.section.i.index}] = '{$list[i].usr_email|escape:"html"}';
                  {/if}
                  {/section}
                  var page_url = '{$smarty.server.PHP_SELF}';
                  {literal}
                  function checkDelete(f)
                  {
                      var total_selected = getTotalCheckboxesChecked(f, 'items[]');
                      var total = getTotalCheckboxes(f, 'items[]');
                      if (getSelectedOption(f, 'status') == 'inactive') {
                          if (active_users.length < 2) {
                              alert('You cannot change the status of the only active user left in the system.');
                              return false;
                          }
                          if (total == total_selected) {
                              alert('You cannot inactivate all of the users in the system.');
                              return false;
                          }
                      }
                      if (!hasOneChecked(f, 'items[]')) {
                          alert('Please select at least one of the users.');
                          return false;
                      }
                      if (!confirm('This action will change the status of the selected users.')) {
                          return false;
                      } else {
                          return true;
                      }
                  }
                  //-->
                  </script>
                  {/literal}
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <form name="change_status_form" onSubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                    <input type="hidden" name="cat" value="change_status">
                    <tr>
                      <td bgcolor="{$cell_color}" nowrap><input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');"></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Username</b></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Name</b></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Administrator?</b></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>LDAP Authentication?</b></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>E-mail</b></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Status</b></td>
                      <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Login Count</b></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Last Login Date</b></td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td width="4" nowrap bgcolor="{$row_color}" align="center">
                        <input type="checkbox" name="items[]" value="{$list[i].usr_id}" {if $smarty.section.i.total == 0}disabled{/if}>
                      </td>
                      <td nowrap bgcolor="{$row_color}" class="default">
                        &nbsp;<a class="link" href="{$smarty.server.PHP_SELF}?cat=edit&id={$list[i].usr_id}" title="update this entry">{$list[i].usr_username}</a>
                      </td>
                      <td nowrap bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].usr_full_name}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{if $list[i].usr_administrator == 1}Yes{else}No{/if}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{if $list[i].usr_ldap_authentication == 1}Yes{else}No{/if}
                      </td>
                      <td nowrap bgcolor="{$row_color}" class="default">
                        &nbsp;<a href="mailto:{$list[i].usr_email}" class="link" title="send email to {$list[i].usr_email}">{$list[i].usr_email}</a>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].usr_status|capitalize}
                      </td>
                      <td  bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].usr_login_count}
                      </td>
                      <td nowrap bgcolor="{$row_color}" class="default">
                        &nbsp;{if $list[i].usr_login_count > 0}{$list[i].usr_last_login_date}{else}Never{/if}
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="10" bgcolor="{$light_color}" align="center" class="default">
                        No users could be found.
                      </td>
                    </tr>
                    {/section}
        <tr bgcolor="{$cell_color}">
          <td colspan="11">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="40%" align="center" nowrap>
                  <nobr>
                  <input name="first" type="button" value="|&lt;" class="shortcut" onClick="javascript:setPage(0);">
                  <input name="previous" type="button" value="&lt;&lt;" class="shortcut" onClick="javascript:setPage({$list_info.previous_page});">
                  <input type="text" name="page" size="3" maxlength="3" value="{math equation="x + 1" x=$list_info.current_page}" style="background: {$cell_color};" class="paging_input" onKeyPress="javascript:return checkPageField(event);">
                  <input name="go" type="button" value="Go" class="shortcut" onClick="javascript:goPage(this.form, this.form.page.value);">
                  <input name="next" type="button" value="&gt;&gt;" class="shortcut" onClick="javascript:setPage({$list_info.next_page});">
                  <input name="last" type="button" value="&gt;|" class="shortcut" onClick="javascript:setPage({$list_info.last_page});">
                  </nobr>
                </td>
                <td nowrap>
                  <span class="default_white">Rows per Page:</span>
                  <select name="page_size" class="default" onChange="javascript:resizePager(this.form);">
                    <option value="5" {if $options.rows == 5}selected{/if}>5</option>
                    <option value="10" {if $options.rows == 10}selected{/if}>10</option>
                    <option value="25" {if $options.rows == 25}selected{/if}>25</option>
                    <option value="50" {if $options.rows == 50}selected{/if}>50</option>
                    <option value="100" {if $options.rows == 100}selected{/if}>100</option>
                    <option value="150" {if $options.rows == 150}selected{/if}>150</option>
                  </select>
                  <input type="button" value="Set" class="shortcut" onClick="javascript:resizePager(this.form);">
                </td>
              </tr>
			</table>
		</td>
		</tr>                    
                    <tr>
                      <td colspan="10" bgcolor="{$cell_color}">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td>
                              <input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');">
                              <input type="submit" value="Update Status &gt;&gt;" class="button">
                              <select name="status" class="default">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                              </select>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
              {literal}
              <script language="JavaScript">
              <!--
				togglePasswordText();
			  -->
			  </script>
			  {/literal}

