              {literal}
              <script type="text/javascript">
              <!--
              var editing_option_id = -1;
              function validateForm(f)
              {
                  if (isWhitespace(f.wfl_title.value)) {
                      alert('Please enter the title of this workflow template.');
                      selectField(f, 'wfl_title');
                      return false;
                  }
                  if (isWhitespace(f.wfl_version.value) || !isFloat(f.wfl_version.value)) {
                      alert('Make sure the version number is a decimal number e.g. 1.2');
                      selectField(f, 'wfl_version');
                      return false;
                  }
                  
                  return true;
              }
              //-->
              </script>
              {/literal}

     <div class="admin-box">
     
              <form id="custom_field_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
                <div>
                  {if $smarty.get.cat == 'edit'}
                    <input type="hidden" name="cat" value="update" />
                    <input type="hidden" name="id" value="{$smarty.get.id}" />
                  {else}
                    <input type="hidden" name="cat" value="new" />
                  {/if}
                </div>
            <table style="background: #FFFFFF; width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2">
                  <h1>Manage Workflow Templates (<a href="{$rel_url}manage/workflows.php">new</a>)</h1>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new workflow template.
                    {elseif $result == 1}
                      Thank you, the workflow template was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the workflow template information.
                    {elseif $result == 1}
                      Thank you, the workflow template was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Title:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="wfl_title" size="40" class="default" value="{$info.wfl_title}" />
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Version:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="wfl_version" size="30" class="default" value="{$info.wfl_version}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}; white-space: nowrap;" class="default">
                  <b>Description:</b>
                </td>
                <td style="background: {$light_color}">
                  <textarea name="wfl_description" rows="3" cols="60" class="default">{$info.wfl_description}</textarea>
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}; white-space: nowrap;" class="default">
                  <b>End Button Label:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="wfl_end_button_label" size="30" class="default" value="{$info.wfl_end_button_label|default:'Save'}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Roles:</b>
                </td>
                <td style="background: {$light_color}; width: 80%;">
                  <select name="wfl_roles[]" multiple="multiple" size="12" class="default">
                    {html_options options=$auth_role_options selected=$info.wfl_roles}
                  </select>
                  {include file="error_icon.tpl.html" field="wfl_roles[]"}
                </td>
              </tr>
               <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="Update Workflow Template" />
                  {else}
                  <input class="button" type="submit" value="Add Workflow Template" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
              </table>
            </form>
            
            <script type="text/javascript">
            <!--
            {literal}
            function checkDelete(f)
            {
                if (!hasOneChecked(f, 'items[]')) {
                    alert('Please select at least one of the workflow templates.');
                    return false;
                }
                if (!confirm('This action will permanently remove the selected workflow templates.')) {
                    return false;
                } else {
                    return true;
                }
            }
            //-->
            </script>
            {/literal}

            <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
            <div>
              <input type="hidden" name="cat" value="delete" />            
            </div>
              
              <table style="background: #FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Workflow Templates:</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width: 100%;" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="background: {$cell_color}; white-space: nowrap;"><input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" /></td>
                      <td style="background: {$cell_color}" class="default">&nbsp;<b>Title</b>&nbsp;</td>
                      <td style="background: {$cell_color}" class="default">&nbsp;<b>Version</b>&nbsp;</td>
                      <td style="background: {$cell_color}; white-space: nowrap;" class="default">&nbsp;<b>Description</b>&nbsp;</td>
                      <td style="background: {$cell_color}; white-space: nowrap;" class="default">&nbsp;<b>Roles</b>&nbsp;</td>
                      <td style="background: {$cell_color}; white-space: nowrap;" class="default">&nbsp;<b>End Label</b>&nbsp;</td>
                      <td style="background: {$cell_color}; white-space: nowrap;" class="default">&nbsp;<b>Workflow States</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr onmouseover="this.style.background='#{$smarty.const.APP_HIGHLIGHT_COLOR}';" onmouseout="this.style.background='{$row_color}';" style="background: {$row_color}">
                      <td style="white-space: nowrap;" align="center">
                        <input type="checkbox" name="items[]" value="{$list[i].wfl_id}" {if $smarty.section.i.total == 0}disabled="disabled"{/if} />
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="workflows.php?cat=edit&amp;id={$list[i].wfl_id}">{$list[i].wfl_title}</a>
                      </td>
                      <td style="" class="default">
                        &nbsp;{$list[i].wfl_version}
                      </td>
                      <td style="" class="default">
                        &nbsp;{$list[i].wfl_description}
                      </td>
                      <td style="" class="default">
                        	  {section name="r" loop=$list[i].wfl_roles}
            								  {assign var="aro_id" value=$list[i].wfl_roles[r]}
            								  {$auth_role_options[$aro_id]}
            							  {/section}
                      </td>
                      <td style="" class="default">
                        &nbsp;{$list[i].wfl_end_button_label|replace:' ':'&nbsp;'}
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="workflow_states.php?wfl_id={$list[i].wfl_id}" class="link">{$list[i].total_states} State{if $list[i].total_states != 1}s{/if}</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" style="background: {$light_color}; text-align: center;" class="default">
                        No workflow templates could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="width: 4px; text-align: center; background: {$cell_color}">
                        <input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="6" style="background: {$cell_color}">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                  </table>
                  
                </td>
              </tr>
            </table>
            
          </form>
            
</div>
