<div class="admin-box">

<script type="text/javascript">
<!-- 
      // We hide or show the script selection box depending on whether the wfs_auto checkbox is checked.
      showOrHideElement('tr_wfs_wfb_id','wfs_auto',false); 
      showOrHideElement('tr_wfs_wfb_id2','wfs_auto',true);
      //-->
</script>

              {literal}
              <script type="text/javascript">
              <!--
              var editing_option_id = -1;
              function validateForm(f)
              {
                  if (isWhitespace(f.wfs_title.value)) {
                      alert('Please enter the title of this workflow state.');
                      selectField(f, 'title');
                      return false;
                  }
                  return true;
              }
              function addFieldOption(f)
              {
                  var value = f.new_value.value;
                  if (isWhitespace(value)) {
                      alert('Please enter the new value for the combo box.');
                      f.new_value.value = '';
                      f.new_value.focus();
                      return false;
                  }
                  var field = getFormElement(f, 'field_options[]');
                  var current_length = field.options.length;
                  if (current_length == 1) {
                      if (field.options[0].value == -1) {
                          removeFieldOption(f, true);
                      }
                  }
                  // check for an existing option with the same value
                  for (var i = 0; i < field.options.length; i++) {
                      if (field.options[i].text == value) {
                          alert('The specified value already exists in the list of options.');
                          f.new_value.focus();
                          return false;
                      }
                  }
                  current_length = field.options.length;
                  field.options[current_length] = new Option(value, 'new:' + value);
                  f.new_value.value = '';
                  f.new_value.focus();
              }
              function parseParameters(value)
              {
                  value = value.substring(value.indexOf(':')+1);
                  var id = value.substring(0, value.indexOf(':'));
                  var text = value.substring(value.indexOf(':')+1);
                  return new Option(text, id);
              }
              function updateFieldOption(f)
              {
                  if (isWhitespace(f.new_value.value)) {
                      alert('Please enter the updated value.');
                      f.new_value.value = '';
                      f.new_value.focus();
                      return false;
                  }
                  var field = getFormElement(f, 'field_options[]');
                  for (var i = 0; i < field.options.length; i++) {
                      if (field.options[i].value == editing_option_id) {
                          var params = parseParameters(field.options[i].value);
                          field.options[i].value = 'existing:' + params.value + ':' + f.new_value.value;
                          field.options[i].text = f.new_value.value;
                          f.new_value.value = '';
                          f.update_button.disabled = true;
                      }
                  }
              }
              function editFieldOption(f)
              {
                  var options = getSelectedItems(getFormElement(f, 'field_options[]'));
                  if (options.length == 0) {
                      alert('Please select an option from the list.');
                      return false;
                  }
                  editing_option_id = options[0].value;
                  f.new_value.value = options[0].text;
                  f.new_value.focus();
                  f.update_button.disabled = false;
              }
              function removeFieldOption(f, delete_first)
              {
                  if (delete_first != null) {
                      var remove = new Array('-1');
                  } else {
                      var options = getSelectedItems(getFormElement(f, 'field_options[]'));
                      if (options.length == 0) {
                          alert('Please select an option from the list.');
                          return false;
                      }
                      var remove = new Array();
                      for (var i = 0; i < options.length; i++) {
                          remove[remove.length] = options[i].value;
                      }
                  }
                  for (var i = 0; i < remove.length; i++) {
                      removeOptionByValue(f, 'field_options[]', remove[i]);
                  }
                  var field = getFormElement(f, 'field_options[]');
                  if ((delete_first == null) && (field.options.length == 0)) {
                      field.options[0] = new Option('enter a new option above', '-1');
                  }
              }
              function toggleCustomOptionsField(show_field)
              {
                  var f = getForm('custom_field_form');
                  f.new_value.disabled = show_field;
                  var field = getFormElement(f, 'field_options[]');
                  field.disabled = show_field;
                  f.add_button.disabled = show_field;
                  f.remove_button.disabled = show_field;
                  if (f.edit_button) {
                      f.edit_button.disabled = show_field;
                  }
                  return true;
              }
              function checkRequiredFields()
              {
                  var f = getForm('custom_field_form');
                  f.report_form_required.disabled = !(f.report_form.checked);
                  if (f.report_form_required.disabled) {
                      f.report_form_required.checked = false;
                  }
                  f.anon_form_required.disabled = !(f.anon_form.checked);
                  if (f.anon_form_required.disabled) {
                      f.anon_form_required.checked = false;
                  }
              }
              function showOrHideElement(element_name,checkbox_name,reverse)
              {
                  var row = document.getElementById(element_name);
                  var checkbox = document.getElementById(checkbox_name);
                  if (checkbox.checked ^ reverse)
                  {
                      row.style.display='';
                  } else {
                      row.style.display='none';
                  }
              }


              //-->
              </script>
              {/literal}
      <form id="custom_field_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
      <div>
        {if $smarty.get.cat == 'edit'}
          <input type="hidden" name="cat" value="update" />
          <input type="hidden" name="id" value="{$info.wfs_id}" />
        {else}
          <input type="hidden" name="cat" value="new" />
        {/if}
          <input type="hidden" name="wfs_wfl_id" value="{$wfl_id}" />
          <input type="hidden" name="wfl_id" value="{$wfl_id}" />
      </div>              
              
      <table style="width: 100%;" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table style="background: #FFFFFF; width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h1>Manage Workflow States for Workflow Template '{$wfl_title}'</h1>
                  <div>
                    <a href="{$rel_url}manage/workflow_states.php?wfl_id={$wfl_id}">New</a> | <a href="{$rel_url}manage/workflows.php">back to Workflow Templates list</a>
                  </div>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new workflow state.
                    {elseif $result == 1}
                      Thank you, the workflow state was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the workflow state information.
                    {elseif $result == 1}
                      Thank you, the workflow state was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Name: </b>
                </td>
                <td style="width: 80%; background: {$light_color}">
                  <input type="text" name="wfs_title" class="default"
                  value="{$info.wfs_title|escape}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Description: </b>
                </td>
                <td style="width: 80%; background: {$light_color}">
                  <textarea name="wfs_description" class="default" cols="40" rows="10" >{$info.wfs_description|escape}</textarea>
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Roles:</b>
                </td>
                <td style="width: 80%; background: {$light_color}">
                  <select name="wfs_roles[]" multiple="multiple" size="12" class="default">
                    {html_options options=$auth_role_options selected=$info.wfs_roles}
                  </select>
                  {include file="error_icon.tpl.html" field="wfs_roles[]"}
                </td>
              </tr>
               <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Options:</b>
                </td>
                <td style="background: {$light_color}">
                  <label class="default"><input type="checkbox" name="wfs_auto" id="wfs_auto" size="30" class="default" {if $info.wfs_auto}checked="checked"{/if} onclick="javascript:showOrHideElement('tr_wfs_wfb_id','wfs_auto',false); showOrHideElement('tr_wfs_wfb_id2','wfs_auto',true)"/>Scripted</label>
                  <label class="default"><input type="checkbox" name="wfs_start" id="wfs_start" size="30" class="default" {if $info.wfs_start}checked="checked"{/if} />Start State</label>
                  <label class="default"><input type="checkbox" name="wfs_end" id="wfs_end" size="30" class="default" {if $info.wfs_end}checked="checked"{/if} />End State</label>
                  <label class="default"><input type="checkbox" name="wfs_transparent" id="wfs_transparent" size="30" class="default" {if $info.wfs_transparent}checked="checked"{/if} />Transparent</label>
                </td>
              </tr>  
              <tr id="tr_wfs_wfb_id">
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Select Scripted Behaviour:</b>
                </td>
                <td style="background: {$light_color}">
                  <select name="wfs_wfb_id" class="default" >
                        {html_options options=$behaviours_list_auto selected=$info.wfs_wfb_id }
                  </select>
                </td>
              </tr>
              <tr id="tr_wfs_wfb_id2">
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Select Workflow Form:</b>
                </td>
                <td style="background: {$light_color}">
                  <select name="wfs_wfb_id2" class="default" >
                        {html_options options=$behaviours_list selected=$info.wfs_wfb_id }
                  </select>
                </td>
              </tr>
              <tr id="tr_wfs_display_order">
                <td style="width: 120px; white-space: nowrap" class="default cell-colour">
                  <b>Display Order:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="wfs_display_order" size="5" class="default" value="{$info.wfs_display_order}" />
                </td>
              </tr>
               <tr>
                <td style="width: 120px; white-space: nowrap;" class="default cell-colour">
                  <b>Linked States:</b>
                </td>
                <td style="background: {$light_color}">
                  <label class="default">Previous:<br /><select name="wfsl_prev_id[]"  multiple="multiple" >
                        {html_options options=$states_list selected=$info.prev_ids }
                  </select></label><br/><br />
                  <label class="default">Next:<br/><select name="wfsl_next_id[]"  multiple="multiple" >
                        {html_options options=$states_list selected=$info.next_ids }
                  </select></label><br />
                  <p class="default"><i>Note: Scripted states can only have one 'next' state.</i></p>
                </td>
              </tr>
             <tr>
                <td colspan="2" class="cell-colour" align="center">
                  {if $smarty.get.cat == 'edit'}
                    <input class="button" type="submit" value="Update Workflow State" />
                  {else}
                    <input class="button" type="submit" value="Add Workflow State" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
              </table>
                </td>
              </tr>
              </table>
              </form>

          <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
              <div>
                <input type="hidden" name="cat" value="delete" />
                <input type="hidden" name="wfl_id" value="{$wfl_id}" />
              </div>

            <table style="width: 100%; background: #FFFFFF" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Workflow States:</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <script type="text/javascript">
                  <!--
                  {literal}
                  function checkDelete(f)
                  {
                      if (!hasOneChecked(f, 'items[]')) {
                          alert('Please select at least one of the workflow states.');
                          return false;
                      }
                      if (!confirm('This action will permanently remove the selected workflow states.')) {
                          return false;
                      } else {
                          return true;
                      }
                  }
                  //-->
                  </script>
                  {/literal}
                  <table style="width: 100%;" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 4px; background: {$cell_color}; white-space: nowrap; text-align: center;"><input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" /></td>
                      <td class="default cell-colour">&nbsp;<b>Name</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Roles</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Start</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>End</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Behaviour</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td style="white-space: nowrap; background: {$row_color}; text-align: center;">
                        <input type="checkbox" name="items[]" value="{$list[i].wfs_id}" {if $smarty.section.i.total == 0}disabled="disabled"{/if} />
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;<a href="workflow_states.php?cat=edit&amp;wfl_id={$wfl_id}&amp;wfs_id={$list[i].wfs_id}">{$list[i].wfs_title}</a>
                        {if $list[i].wfs_transparent == 1}<span style="color:#555555;">(transparent)</span>{/if}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        	  {section name="r" loop=$list[i].wfs_roles}
            								  {assign var="aro_id" value=$list[i].wfs_roles[r]}
            								  {$auth_role_options[$aro_id]}
            							  {/section}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;{if $list[i].wfs_start == 1}<span class="enabled">yes</span>{/if}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;{if $list[i].wfs_end == 1}<span class="enabled">yes</span>{/if}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;<a href="{$rel_url}manage/wfbehaviours.php?cat=edit&amp;id={$list[i].wfs_wfb_id}&amp;wfl_id={$wfl_id}">{$list[i].wfb_title}</a>
                        {if $list[i].wfs_auto == 1}<span class="enabled">(auto)</span>{/if}
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" style="background: {$light_color}; text-align: center;" class="default">
                        No workflow states could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td align="center" style="background: {$cell_color};">
                        <input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="6" style="background: {$cell_color};">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                    

                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="default">
                  <b>State Links Diagram:</b><br/>
                  Click to edit nodes in the form above.
                </td>
              </tr>
{if $link_check}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                        {$link_check}
                </td>
              </tr>   
{/if}
              <tr>
                <td colspan="2">
                <img src="{$rel_url}webservices/graphviz.php?dot={$encoded_dot}" 
                alt="graphviz output" usemap="{$map_name}" style="border: none;"/>
                {$cmapx}
                </td>
              </tr>  
             </table>
             
         </form>

      {literal}
      <script type="text/javascript">
      <!--
      //window.onload = setCustomOptionsField;
      function setCustomOptionsField()
      {
          var f = getForm('custom_field_form');
          var field1 = getFormElement(f, 'field_type', 0);
          if (field1.checked) {
              toggleCustomOptionsField(true);
          } else {
              toggleCustomOptionsField(false);
          }
          checkRequiredFields();
      }
      //-->
      </script>
      {/literal}

</div>