              {literal}
              <script language="JavaScript">
              <!--
              var editing_option_id = -1;
              function validateForm(f)
              {
                  if (isWhitespace(f.wfl_title.value)) {
                      alert('Please enter the title of this workflow template.');
                      selectField(f, 'wfl_title');
                      return false;
                  }
                  if (isWhitespace(f.wfl_version.value) || !isFloat(f.wfl_version.value)) {
                      alert('Make sure the version number is a decimal number e.g. 1.2');
                      selectField(f, 'wfl_version');
                      return false;
                  }
                  
                  return true;
              }
              //-->
              </script>
              {/literal}

     <div class="outline">
              <form name="custom_field_form" onSubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="update">
              <input type="hidden" name="id" value="{$smarty.get.id}">
              {else}
              <input type="hidden" name="cat" value="new">
              {/if}
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              <tr>
                <td colspan="2">
                  <div class="admin-header">Manage Workflow Templates (<a href="{$rel_url}manage/workflows.php">new</a>)</div>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new workflow template.
                    {elseif $result == 1}
                      Thank you, the workflow template was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the workflow template information.
                    {elseif $result == 1}
                      Thank you, the workflow template was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Title:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="wfl_title" size="40" class="default" value="{$info.wfl_title}">
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Version:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" name="wfl_version" size="30" class="default" value="{$info.wfl_version}">
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default" nowrap>
                  <b>Description:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <textarea name="wfl_description" size="30" class="default">{$info.wfl_description}</textarea>
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default" >
                  <b>Roles:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="textfield" name="wfl_roles" size="30" class="default" value="{$info.wfl_roles}" />
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default" nowrap>
                  <b>End Button Label:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="textfield" name="wfl_end_button_label" size="30" class="default" value="{$info.wfl_end_button_label|default:'Done'}" />
                </td>
              </tr>
               <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="Update Workflow Template">
                  {else}
                  <input class="button" type="submit" value="Add Workflow Template">
                  {/if}
                  <input class="button" type="reset" value="Reset">
                </td>
              </tr>
              </table>
              </form>
              <table  bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              <tr>
                <td colspan="2" class="default">
                  <b>Existing Workflow Templates:</b>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <script language="JavaScript">
                  <!--
                  {literal}
                  function checkDelete(f)
                  {
                      if (!hasOneChecked(f, 'items[]')) {
                          alert('Please select at least one of the workflow templates.');
                          return false;
                      }
                      if (!confirm('This action will permanently remove the selected workflow templates.')) {
                          return false;
                      } else {
                          return true;
                      }
                  }
                  //-->
                  </script>
                  {/literal}
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <form onSubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
                    <input type="hidden" name="cat" value="delete">
                    <tr>
                      <td bgcolor="{$cell_color}" nowrap><input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');"></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Title</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Version</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Description</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Roles</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>End Label</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Workflow States</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td nowrap bgcolor="{$row_color}" align="center">
                        <input type="checkbox" name="items[]" value="{$list[i].wfl_id}" {if $smarty.section.i.total == 0}disabled{/if}>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;<a href="workflows.php?cat=edit&id={$list[i].wfl_id}">{$list[i].wfl_title}</a>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].wfl_version}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].wfl_description}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].wfl_roles}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].wfl_end_button_label}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;<a href="workflow_states.php?wfl_id={$list[i].wfl_id}" class="link">{$list[i].total_states} State{if $list[i].total_states != 1}s{/if}</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" bgcolor="{$light_color}" align="center" class="default">
                        No workflow templates could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td width="4" align="center" bgcolor="{$cell_color}">
                        <input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');">
                      </td>
                      <td colspan="6" bgcolor="{$cell_color}">
                        <input type="submit" value="Delete" class="button">
                      </td>
                    </tr>
                    </form>
                  </table>
                </td>
              </tr>
            </table>
         </div>
      

