<html>
<head>
<link rel="StyleSheet" href="{$rel_url}css/other.css" type="text/css" />
<link rel="StyleSheet" href="{$rel_url}css/dtree.css" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/dtree.js"></script>
</head>

<body topmargin="5" marginheight="5">
<span class="default">&nbsp;<b>{$xdis_title}</b> XSD Display<br /><br /></span>
<span class="default">&nbsp;<a target="basefrm" href="xsd_tree_clean.php?xdis_id={$xdis_id}">Orphaned XSDMF entries</a> (<font color="{if $ophan_count > 0}red{else}green{/if}">{$orphan_count}</font>)<br /><br /></span>
<div class="dtree">
<script type="text/javascript">
<!--
tree = new dTree('tree');
tree.config.useCookies = false;
tree.icon.root = '{$rel_url}images/dtree/base.gif';
tree.icon.folder = '{$rel_url}images/dtree/element.gif';
tree.icon.folderOpen = '{$rel_url}images/dtree/element.gif';
tree.icon.node = '{$rel_url}images/dtree/element.gif';
tree.icon.empty = '{$rel_url}images/dtree/empty.gif';
tree.icon.line = '{$rel_url}images/dtree/line.gif';
tree.icon.join= '{$rel_url}images/dtree/join.gif';
tree.icon.joinBottom = '{$rel_url}images/dtree/joinbottom.gif';
tree.icon.plus = '{$rel_url}images/dtree/plus.gif';
tree.icon.plusBottom = '{$rel_url}images/dtree/plusbottom.gif';
tree.icon.minus = '{$rel_url}images/dtree/minus.gif';
tree.icon.minusBottom = '{$rel_url}images/dtree/minusbottom.gif';
tree.icon.nlPlus = '{$rel_url}images/dtree/nolines_plus.gif';
tree.icon.nlMinus = '{$rel_url}images/dtree/nolines_minus.gif';

{$xsd_tree}

document.write(tree);

{section name="i" loop=$xsd_tree_open}
{$xsd_tree_open[i]}
{/section}

//tree.openAll();
//tree.openAll();
//-->
</script>
</div>

</body>
</html>