<html>
<head>
<link rel="StyleSheet" href="{$rel_url}css/other.css" type="text/css" />
<link rel="StyleSheet" href="{$rel_url}css/dtree.css" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/dtree.js"></script>
</head>

<body topmargin="5" marginheight="5">
<a href="xsd_displays.php?xsd_id={$xsd_id}" target="_parent"><img src="{$rel_url}images/back_16.png" border="0" title="Back to XSD Display list" " /></a>
<span class="default"><strong>{$xdis_title}</strong></span>
<a href="xsd_tree.php?xdis_id={$xdis_id}" target="_self"><img src="{$rel_url}images/refresh_16.png" border="0" title="Refresh the XSD Tree" " /></a><br /><br />
<a target="basefrm" href="xsd_tree_clean.php?xdis_id={$xdis_id}"><span class="default">Orphaned XSDMF entries</span></a>
 (<font color="{if $ophan_count > 0}red{else}green{/if}">{$orphan_count}</font>)<br /><br />
<div class="dtree">
<script type="text/javascript">
<!--
tree = new dTree('tree');
tree.config.useCookies = false;
tree.icon.root = '{$rel_url}images/dtree/base.gif';
tree.icon.folder = '{$rel_url}images/dtree/element.gif';
tree.icon.folderOpen = '{$rel_url}images/dtree/element.gif';
tree.icon.node = '{$rel_url}images/dtree/element.gif';
tree.icon.empty = '{$rel_url}images/dtree/empty.gif';
tree.icon.line = '{$rel_url}images/dtree/line.gif';
tree.icon.join= '{$rel_url}images/dtree/join.gif';
tree.icon.joinBottom = '{$rel_url}images/dtree/joinbottom.gif';
tree.icon.plus = '{$rel_url}images/dtree/plus.gif';
tree.icon.plusBottom = '{$rel_url}images/dtree/plusbottom.gif';
tree.icon.minus = '{$rel_url}images/dtree/minus.gif';
tree.icon.minusBottom = '{$rel_url}images/dtree/minusbottom.gif';
tree.icon.nlPlus = '{$rel_url}images/dtree/nolines_plus.gif';
tree.icon.nlMinus = '{$rel_url}images/dtree/nolines_minus.gif';

{$xsd_tree}

document.write(tree);

{section name="i" loop=$xsd_tree_open}
{$xsd_tree_open[i]}
{/section}

//tree.openAll();
//tree.openAll();
//-->
</script>
</div>

</body>
</html>