*~
.DS_Store
.idea
.credentials
*.fstab
*.orig
*.bak
*.ser
test.php
error_handler.log
public/config.inc.php
config_test.inc.php
test.php
phpinfo.php
._*
Thumbs.db
tests/api/conf.ini

data/*
cache
secure
public/templates_c/*
flviewer/1*
flviewer/2*
flviewer/3*
flviewer/4*
flviewer/5*
flviewer/6*
flviewer/7*
flviewer/8*
flviewer/9*
include/simplesaml/metadata/metadata-aaf-consuming/*
include/simplesaml/config/*
include/simplesaml/log/*
pidimages
pidimages/*
pidindex/*
sitemap/sitemap-records-*
.settings/*
.buildpath
.buildpath/*
dstree
dstree/*
public/tests
.project
.project/*
pidindex
.settings
tmp/*
tmp
pidsources
pidsources/*
bookreadertest*
public/solr_upload/*
testst.txt.txt
*nfs*
apc.php
.idea
\.tmtags
tests\application\features\bootstrap\LoginHelper.php
tests/application/logs/*.xml
tests/application/logs/*.html
.docker/development/logs/*
.docker/development/tmp/*
.docker/development/data/*
.docker/testing/logs/*
.docker/testing/tmp/*
.docker/testing/data/*
public/testing.php
codeship.key
codeship.aes
*.env
dockerenv
dockercfg


scripts/deploy.sh
