*~
.DS_Store
.idea
*.orig
test.php
error_handler.log
config.inc.php
config_test.inc.php
test.php
phpinfo.php
._*
behat.yml
LoginHelper.php
Thumbs.db

cache
secure
templates_c/*
flviewer/1*
flviewer/2*
flviewer/3*
flviewer/4*
flviewer/5*
flviewer/6*
flviewer/7*
flviewer/8*
flviewer/9*
include/simplesaml/metadata/metadata-aaf-consuming/*
include/simplesaml/config/*
include/simplesaml/log/*
pidimages
pidimages/*
pidindex/*
.settings/*
.buildpath
.buildpath/*
dstree
dstree/*
public/tests
.project
.project/*
pidindex
.settings
tmp/*
tmp
pidsources
pidsources/*
bookreadertest*
solr_upload/*
testst.txt.txt
*nfs*
apc.php
init.php
.idea
\.tmtags
tests\application\features\bootstrap\LoginHelper.php

