RewriteEngine   on

# Robots.txt
RewriteRule ^robots.txt$         robots.php [L]

#REWRITE RULES APPLYING TO BASE FEZ CODE 
RewriteRule     ^view/([A-Za-z]+):([0-9]+)(\?.*)*$                  view.php?pid=$1:$2$3 [L]
RewriteRule     ^eserv/([A-Za-z]+):([0-9]+)/(.+)(/.+)*$             eserv.php?pid=$1:$2&dsID=$3$4 [L,QSA]
RewriteRule     ^community/([A-Za-z]+):([0-9]+)$	                list.php?community_pid=$1:$2 [L,QSA]
RewriteRule     ^community/([A-Za-z]+):([0-9]+)/(.+)$	            list.php?community_pid=$1:$2&$3 [L,QSA]
RewriteRule     ^collection/([A-Za-z]+):([0-9]+)$                   list.php?collection_pid=$1:$2 [L,QSA]
RewriteRule     ^collection/([A-Za-z]+):([0-9]+)/(.+)$              list.php?collection_pid=$1:$2&$3 [L,QSA]
RewriteRule     ^list/([^/]*)/([^/]*)(/?)$                          list.php?browse=$1&value=$2 [L,QSA]
RewriteRule     ^list/(.*)$                                         list.php?$1 [L,QSA]

#TESTING SEND EVERYTHING TO index.php for user defined author my pubs aliases etc
RewriteCond     %{REQUEST_FILENAME} -s [OR]
RewriteCond     %{REQUEST_FILENAME} -l [OR]
RewriteCond     %{REQUEST_FILENAME} -d
RewriteRule     ^.*$ - [NC,L]
RewriteRule     ^.*$ index.php [NC,L]
