{include file="header.tpl.html" extra_title="Advanced Search"}
    {include file="navigation.tpl.html"}
<form id="custom_filter_form" action="{$rel_url}list/" method="get" name="custom_filter_form">
	<div>
		<input type="hidden" name="cat" value="quick_filter" />
		<input type="hidden" name="form_name" value="adv_search" />
	</div>
{include file="custom_filter_form2.tpl.html"}
</form>
{literal}
<script type="text/javascript">
<!--
var basic_element = getPageElement('basic_filter_form' + '1');
if (isElementVisible(basic_element)) {
	toggleVisibility('basic_filter_form');
}
var custom_element = getPageElement('custom_filter_form' + '1');
if (!isElementVisible(custom_element)) {
	toggleVisibility('custom_filter_form');
}

{/literal}
//-->
</script>
    {include file="app_info.tpl.html"}
{include file="footer.tpl.html"}