


<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>  
	<td class="feedback" height="28">
	  {if $benchmark_total}
	  {literal}
	  <script language="JavaScript" type="text/javascript">
	  <!--
	  function openBenchmark()
	  {
		  var f = getForm('benchmark_form');
		  var width = 500;
		  var height = 450;
		  var w_offset = 30;
		  var h_offset = 30;
		  var location = 'top=' + h_offset + ',left=' + w_offset + ',';
		  if (screen.width) {
			  location = 'top=' + h_offset + ',left=' + (screen.width - (width + w_offset)) + ',';
		  }
		  var features = 'width=' + width + ',height=' + height + ',' + location + 'resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
		  var benchmarkWin = window.open('', '_benchmark', features);
		  f.submit();
		  benchmarkWin.focus();
	  }
	  //-->
	  </script>
	  {/literal}
	  <form name="benchmark_form" target="_benchmark" method="post" action="{$rel_url}benchmark.php">
	  <input type="hidden" name="encoded_stats" value="{$benchmark_results}" />
	  </form>
	  {/if}&nbsp;	
	</td>
</tr>
  <tr>
    <td valign="top" class="footer">
      Powered by <a href="http://sourceforge.net/projects/fez" target="_blank" title="More information about Fez software">Fez {$application_version}</a> software<br />
      Copyright &copy; 2005, 2007 <a href="http://www.library.uq.edu.au/escholarship" title="Visit the APSR eScholarship site">APSR eScholarshipUQ</a><br />
      Contact the {$smarty.const.APP_NAME} Coordinator at: <a href="mailto:{$smarty.const.APP_ADMIN_EMAIL}" title="Contact the {$smarty.const.APP_NAME} Coordinator">{$smarty.const.APP_ADMIN_EMAIL}</a>
      {if $benchmark_total}
      <br />
      Page generated in {$benchmark_total} seconds {if $total_queries}({$total_queries} queries){/if}    
      {/if}
    </td>
  </tr>
</table>
