<body>
<!--Header starts here -->
<a name="top"></a>
<!--START: Header -->

<div id="header">
<!-- ************** Put your page heading below here ************** -->
<a href="{$app_base_url}" target="_top">
<img hspace="7" vspace="7" alt="Click here to go the the {$application_title} homepage" title="Click here to go the the {$application_title} homepage" border="0" align="top" src="{$rel_url}images/fez_2_logo.png" />
<img hspace="7" vspace="28" alt="Click here to go the the {$application_title} homepage" title="Click here to go the the {$application_title} homepage" border="0" align="top" src="{$rel_url}images/fez_2_banner_title.png" />
</a>
<!-- ************** Put your page heading above here ************** -->
</div>

<!--END: Header -->
