<body bgcolor="{if $bgcolor}{$bgcolor}{else}#FFFFFF{/if}" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0">
<link rel="stylesheet" href="{$rel_url}css/home.css" type="text/css">
<!--Header starts here -->
<a name="top"></a>
<!--START: Header -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-header" summary="UQ header">
     <tr>
       <td width="100%" align="left" bgcolor="003399" colspan="2" background="/images/fez_banner_glass.gif">
          <table cellpadding=0 cellspacing=0 border=0 >
            <tr>
                <td width=100% height="55">
<!-- -------------- Put your page heading below here --------------- -->
<a href="{$app_base_url}" target="_top"><img title="Click here to go the the {$application_title} homepage" border="0" align="top" src="{$rel_url}images/Fez_Header.gif"/></a>
<!-- -------------- Put your page heading above here --------------- -->
              </td></tr>
          </table></td></tr>
   </tbody>
  </table>
<!--END: Header -->
