{include file="header.tpl.html" extra_title="Contact us"}
{include file="navigation.tpl.html"}

<h1>Contact us</h1>

<h2>General Enquires</h2>

<br />
Tel: 07 334 69775<br />
Email: <a href='mailto&#58;&#101;s&#112;a%&#54;3e&#64;%6Ci&#98;r%61ry&#46;u%71&#46;edu%2Eau'>&#101;spa&#99;&#101;&#64;l&#105;&#98;r&#97;r&#121;&#46;uq&#46;edu&#46;au</a><br /><br />
 
<h2>UQ eSpace staff</h2>

<br />
<b>Margaret Gauld</b><br />
Manager, UQ eSpace<br />
Tel: 07 334 69981<br />
Email: <a href='m&#97;&#105;lt&#111;&#58;&#109;%2E&#103;au&#108;d&#64;%6Cibra&#37;72y&#46;uq&#46;%65%64u&#46;a&#117;'>m&#46;ga&#117;ld&#64;li&#98;rary&#46;&#117;q&#46;e&#100;u&#46;au</a><br /><br />

<b>Amerbyn Thomas</b><br />
Manager, Research Infrastructure<br />
Tel: 334 69992<br />
Email: <a href='mailto&#58;a&#46;thom&#97;s1&#64;u%&#55;1%2E%65du&#46;au'>a&#46;&#116;hom&#97;s1&#64;u&#113;&#46;e&#100;u&#46;au</a><br /><br />

<b>Andrew Heath</b><br />
Senior Librarian, UQ eSpace<br />
Tel: 07 334 69992<br />
Email: <a href='ma&#105;l&#116;o&#58;&#97;%2Ehe&#97;t%68&#64;%6C&#37;69br%&#54;1%72y%&#50;E%7&#53;q&#46;&#101;d%&#55;5&#46;&#97;u'>&#97;&#46;he&#97;&#116;h&#64;libr&#97;ry&#46;&#117;q&#46;edu&#46;au</a><br /><br />

<b>Therese Egan</b><br /> 
Librarian, UQ eSpace<br /> 
Tel: 07 334 69775<br /> 
Email: <a href='mail&#116;o&#58;%7&#52;&#46;ega&#110;&#64;l%6&#57;b%72a%72%7&#57;&#46;%7&#53;q&#46;&#101;d%&#55;5&#46;a%75'>&#116;&#46;&#101;&#103;an&#64;librar&#121;&#46;uq&#46;e&#100;u&#46;&#97;u</a><br /><br />

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}