{include file="header.tpl.html" extra_title="Contact us"}
{include file="navigation.tpl.html"}

<h1 class="public"><img src="{$rel_url}images/icons/mail.png" alt="Contact us" title="Contact us" /> Contact us</h1>

<div class="default" style="padding:25px;">

<p>For help, please contact</p>

<p><b>Belinda Weaver</b><br />
Manager, UQ eSpace</p>

<p>
E: <a href="mailto:espace@library.uq.edu.au">espace@library.uq.edu.au</a><br />
T: +617 3365 8281<br />
F: +617 3365 7930</p>

</div>

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}