{include file="header.tpl.html"}

{if $update_result}
  <br />
  <center>
  <span class="default">
  {if $update_result == -1}
    <b>An error occurred while trying to run your query</b>
  {elseif $update_result == 1}
    <b>Thank you, the custom field values were updated successfully.</b>
  {/if}
  </span>
  </center>
  <script language="JavaScript">
  <!--
  {if $current_user_prefs.close_popup_windows == '1'}
  setTimeout('closeAndRefresh()', 2000);
  {/if}
  //-->
  </script>
  <br />
  {if not $current_user_prefs.close_popup_windows}
  <center>
    <span class="default"><a class="link" href="javascript:void(null);" onClick="javascript:closeAndRefresh();">Continue</a></span>
  </center>
  {/if}
{else}
{literal}
<script language="JavaScript">
<!--
var required_custom_fields = new Array();
function validateForm(f)
{
    checkRequiredCustomFields(f, required_custom_fields);
}
function resetCustom(x){
	//cycle through the options collection, setting the selected attribute of each to false
	var element = getPageElement('custom_fields['+x+']');
	for (var i = 0; i < element.options.length; i++) {
		element.options[i].selected = false;
	}
}
//-->
</script>
{/literal}
<form name="custom_field_form" method="post" action="{$smarty.server.PHP_SELF}" onSubmit="javascript:return checkFormSubmission(this, 'validateForm');">
<input type="hidden" name="cat" value="update_values">
<input type="hidden" name="issue_id" value="{$smarty.get.issue_id}">
<table align="center" width="100%" cellpadding="3">
  <tr>
    <td>
      <table width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td colspan="2" class="default">
            <b>Update Issue Custom Details</b>
          </td>
        </tr>
        {section name="i" loop=$custom_fields}
        {cycle values=$cycle assign="row_color"}
        <tr>
          <td width="120" bgcolor="{$cell_color}" class="default_white">
            <nobr><b>{$custom_fields[i].fld_title}:</b>&nbsp;</nobr>
          </td>
          <td width="100%" bgcolor="{$row_color}">
			{if $custom_fields[i].fld_id == 6 || $custom_fields[i].fld_id == 8}
				<select size="10" class="default" multiple id="custom_fields[{$custom_fields[i].fld_id}]" name="custom_fields[{$custom_fields[i].fld_id}]" onChange="javascript:showSelectionsFill('custom_field_form', 'custom_fields[{$custom_fields[i].fld_id}]', {$custom_fields[i].fld_id});">
				  {html_options options=$library_staff}
				</select>
			<input type="button" name="reset_nameOfUser" value="Select None" class="default" onClick="javascript:resetCustom({$custom_fields[i].fld_id});custom{$custom_fields[i].fld_id}.value='';">
			<br />
			<div class=default>Quick Lookup:</div>{if $custom_fields[i].fld_id == 6}{include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="custom_fields[6]" callbacks="new Array('showSelectionsFill(\'custom_field_form\', \'custom_fields[6]\', 6)')"}{else}{include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="custom_fields[8]" callbacks="new Array('showSelectionsFill(\'custom_field_form\', \'custom_fields[8]\', 8)')"}{/if}
					<img src="{$rel_url}images/lookup.gif" align="absmiddle" onClick="javascript:lookupHistory({$custom_fields[i].fld_id})">
					<input type="button" value="Clear" class="default" name="btnClearCustom{$custom_fields[i].fld_id}" onClick="javascript:custom{$custom_fields[i].fld_id}.value='';">
			<div class="default" id="selection_custom_fields[{$custom_fields[i].fld_id}]"></div>
			<input type="text" name="custom{$custom_fields[i].fld_id}" id="custom{$custom_fields[i].fld_id}" value="{$custom_fields[i].icf_value|escape:"html"}" size="80" class="default">{if $custom_fields[i].fld_id == 6}{include file="error_icon.tpl.html" field="custom6"}{else}{include file="error_icon.tpl.html" field="custom8"}{/if}
			{else}
				{if $custom_fields[i].fld_type == 'text'}
				<input class="default" type="text" name="custom_fields[{$custom_fields[i].fld_id}]" maxlength="255" size="50" value="{$custom_fields[i].icf_value|escape:"html"}">
				{elseif $custom_fields[i].fld_type == 'textarea'}
				<textarea name="custom_fields[{$custom_fields[i].fld_id}]" rows="10" cols="60"></textarea>
				{else}
				<select class="default" name="custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}" {if $custom_fields[i].fld_type == 'multiple'}multiple size="3"{/if}>
				  {if $custom_fields[i].fld_type != 'multiple'}<option value="-1">Please choose an option</option>{/if}
				  {html_options options=$custom_fields[i].field_options selected=$custom_fields[i].selected_cfo_id}
				</select>
				{/if}
				{if $custom_fields[i].fld_description != ""}
				<span class="small_default">({$custom_fields[i].fld_description|escape:"html"})</span>
				{/if}
			{/if}
          </td>
        </tr>
        {sectionelse}
        <tr>
          <td align="center" class="default" colspan="2" bgcolor="{$dark_color}">
            <b>No custom field could be found.</b>
          </td>
        </tr>
        {/section}
        <tr>
          <td colspan="2" bgcolor="{$cell_color}">
            <input class="button" type="submit" value="Update Values">&nbsp;&nbsp;
            <input class="button" type="button" value="Close" onClick="javascript:window.close();">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
{/if}

{include file="footer.tpl.html"}