
<table class="listing" width="100%" cellpadding=0>
<tr>

{section name="i" loop=$search_keys}
  {if ($smarty.section.i.index==2)}
   <td nowrap valign="middle">            
     <input class="button" type="submit" value="Search">
   </td>
  </tr>
  <tr>    
  {elseif (($smarty.section.i.index % 4)==0 && $smarty.section.i.index != 3)}
    </tr>
    <tr>  
  {/if}
  {assign var="search_key_name" value='searchKey'|cat:$search_keys[i].sek_id}
  {assign var ="last_key" value=$options.$search_key_name}  
  {if ($smarty.section.i.index ==  0)}
  <td class="{if $options.searchKey0 != ''}default-search-used{else}default{/if}" valign="top">
    All Fields: <br />
	<input id="search_keys[0]" type="text" name="search_keys[0]" maxlength="255" size="35" value="{$options.searchKey0}">
  </td>
  {/if}
  {if $search_keys[i].sek_html_input != 'allcontvocab' and $search_keys[i].sek_html_input != 'contvocab'}
  <td class="{if $last_key != 'ALL' && $last_key != ''}default-search-used{else}default{/if}" valign="top">
  {if $search_keys[i].sek_alt_title}{$search_keys[i].sek_alt_title}{else}{$search_keys[i].sek_title}{/if}:
  {if $search_keys[i].sek_html_input != 'text' &&  $search_keys[i].sek_html_input != 'textarea'}
    <script language="JavaScript">
    <!--
    //            search_keys[search_keys.length] = new Option('search_keys[{$search_keys[i].sek_id}]{if $search_keys[i].sek_html_input == 'multiple'}[]{/if}', '{$search_keys[i].sek_title}');
    //            required_search_keys[required_search_keys.length] = new Option('search_keys[{$search_keys[i].sek_id}]{if $search_keys[i].sek_html_input == 'multiple'}[]{/if}', {if $search_keys[i].sek_html_input == 'multiple'}'multiple'{elseif $search_keys[i].sek_html_input == 'combo'}'combo'{else}'whitespace'{/if});
    //-->
    </script>
  {/if}
  <br />
  {/if}
  {if $search_keys[i].sek_html_input == 'text'}
  <input id="search_keys[{$search_keys[i].sek_id}]" type="text" name="search_keys[{$search_keys[i].sek_id}]" maxlength="255" size="35" value="{$last_key}">
  {elseif $search_keys[i].sek_html_input == 'textarea'}
  <textarea id="search_keys[{$search_keys[i].sek_id}]" name="search_keys[{$search_keys[i].sek_id}]" rows="10" cols="60" value="{$last_key}"></textarea>
  {elseif $search_keys[i].sek_html_input == 'allcontvocab' or $search_keys[i].sek_html_input == 'contvocab'}
	{section name="z" loop=$search_keys[i].field_options}
	{assign var="loop_num" value=$search_keys[i].cv_ids[z]}
	<tr id="tr_list_{$search_keys[i].sek_id}_{$loop_num}" valign="top">
	  <td width="150" bgcolor="{$cell_color}" class="default">
		<b>{$search_keys[i].sek_title}</b><br />{$search_keys[i].cv_titles[z]}
	  </td>
	  <td bgcolor="{$light_color}">
		<select id="list_{$search_keys[i].sek_id}_{$loop_num}" multiple size="5" class="default" name="list[{$search_keys[i].sek_id}]{if $search_keys[i].sek_html_input == 'multiple'}[]{/if}">
		</select>
		<input class="default" type=button value="Add Subject" onclick = "javascript:small_window('cv_selector.php?cvo_id={$search_keys[i].cv_ids[z]}&form=custom_filter_form&element=list_{$search_keys[i].sek_id}_{$loop_num}');">
		<input class="default" type=button value="Remove Subject" onclick =" javascript:deleteSelectedItemsFromList(list_{$search_keys[i].sek_id}_{$loop_num});">
	 </td>
	</tr>
  {/section}	

  {else}
  <select id="search_keys[{$search_keys[i].sek_id}]" {if $search_keys[i].sek_html_input == 'multiple'}multiple size="8"{/if} name="search_keys[{$search_keys[i].sek_id}]{if $search_keys[i].sek_html_input == 'multiple'}[]{/if}">
    {html_options options=$search_keys[i].field_options selected=$last_key}
  </select>
  {/if}
  {assign var="search_key_id" value=$search_keys[i].sek_id}
  {if $search_keys[i].sek_html_input == 'multiple'}
    {assign var="search_key_sufix" value="[]"}
  {else}
    {assign var="search_key_sufix" value=""}
  {/if}
  {include file="error_icon.tpl.html" field="search_keys[$search_key_id]$search_key_sufix"}
  </td>
{/section}
</tr>
</table>
