{include file="header.tpl.html"}

<link type="text/css" rel="stylesheet" href="{$rel_url}css/treeview.css">
<script src = "{$rel_url}js/yahoo/yahoo-min.js" ></script>
<script src = "{$rel_url}js/yahoo/event-min.js" ></script>
<script src = "{$rel_url}js/yahoo/treeview-min.js" ></script>
{literal}
<script language="JavaScript">

<!-- Begin
function addSelectedItemsToParent() {
	self.opener.addToParentList(window.document.frmMain.cv_fields, self.opener.document.{/literal}{$form}.{$element}{literal});
}

function dblClickSubmit() {
	for(var count = document.frmMain.cv_fields.options.length - 1; count >= 0; count--) {
		if (document.frmMain.cv_fields.options[count].selected) {
			document.frmMain.submit();
		}
	}
}

function addItemToParent(selectedItem, selectedItemDescription) {
	var selectedItem = parseInt(selectedItem);
	//window.alert('Selected: ' + selectedItem);
	document.frmMain.newOptions.options[0] = new Option(selectedItemDescription, selectedItem, true, true);
	self.opener.addToParentList(window.document.frmMain.newOptions, self.opener.document.{/literal}{$form}.{$element}{literal});
}

// End -->
</script>
{/literal}
<div id="oldForm" style="display: show;">
  <form name="frmMain" method="GET" action="cv_selector.php">
    <select name="newOptions" style="display: none;"></select>
  </div>
</form>

<div id="treeDiv1" style="padding-left: 10px;"></div> 

{literal}
<script language="JavaScript">

//global variable to allow console inspection of tree:
var tree;

//anonymous function wraps the remainder of the logic:
(function() {

	// Function to initialize the tree
    function treeInit() {
		// Instantiate the tree
        tree = new YAHOO.widget.TreeView("treeDiv1");
		{/literal}{$cv_tree}{literal}

		/*
		// Trees with TextNodes will fire an event for when the label is clicked:
		tree.subscribe("labelClick", function(node) {
			window.alert(node.data.id + " label was clicked");
		});
		// Taken straight from Yahoo example - doesn't work. Need to look at this. For now,
		// just use hard-coded onclick events to transfer codes.
		*/

        tree.draw();
    }
	// Add a window onload handler to build the tree when the load event fires.
    YAHOO.util.Event.addListener(window, "load", treeInit);

})();

</script>
{/literal}

{include file="footer.tpl.html"}
