{include file="header.tpl.html"}
{literal}
<script language="JavaScript">

<!-- Begin
function toggleOld() {
	if (document.getElementById('oldForm').style.display !== "block") {
		document.getElementById('oldForm').style.display = "block";
		document.getElementById('hider').value = "Hide old selector control";
	} else {
		document.getElementById('oldForm').style.display = "none";
		document.getElementById('hider').value = "Show old selector control";
	}
}

function addSelectedItemsToParent() {
	self.opener.addToParentList(window.document.frmMain.cv_fields, self.opener.document.{/literal}{$form}.{$element}{literal});
}

function dblClickSubmit() {
	for(var count = document.frmMain.cv_fields.options.length - 1; count >= 0; count--) {
		if (document.frmMain.cv_fields.options[count].selected) {
			document.frmMain.submit();
		}
	}
}

function addItemToParent(selectedItem, selectedItemDescription) {
	var selectedItem = parseInt(selectedItem);
	//window.alert('Selected: ' + selectedItem);
	document.frmMain.newOptions.options[0] = new Option(selectedItemDescription, selectedItem, true, true);
	self.opener.addToParentList(window.document.frmMain.newOptions, self.opener.document.{/literal}{$form}.{$element}{literal});
}


// End -->
</script>
{/literal}
<div id="oldForm" style="display: none;">
<table>
<form name="frmMain" method="GET" action="cv_selector.php">

	<tr valign="top">
	  <td class="default">
		          {if $max_subject_breadcrumb != -1}
					{if $cvo_id != ""}<a href='{$rel_url}cv_selector.php?element={$element}&form={$form}&cvo_id=&xsdmf_cvo_min_level={$xsdmf_cvo_min_level}'>All Subject Classifications</a> -> {/if}
					  {section name="b" loop=$subject_breadcrumb}
						  {assign var="counter" value=b}
		                  {if $subject_breadcrumb[b].cvo_image_filename != ""}
						    <img align="absmiddle" src="{$rel_url}images/{$subject_breadcrumb[b].cvo_image_filename}"/>
						  {/if}
                          {if $max_subject_breadcrumb != $smarty.section.b.index}<a href='{$rel_url}cv_selector.php?element={$element}&form={$form}&cvo_id={$subject_breadcrumb[b].cvo_id}&xsdmf_cvo_min_level={$xsdmf_cvo_min_level}'>{else}<b>{/if}{$subject_breadcrumb[b].cvo_title|escape:"html"}{if $max_subject_breadcrumb != $smarty.section.b.index}</a>{else}</b>{/if}
 						  {assign var="cvo_id" value=$subject_breadcrumb[b].cvo_id}
						  {if $subject_count[$cvo_id]}({$subject_count[$cvo_id]}){else}{/if}{if $max_subject_breadcrumb != $smarty.section.b.index}->{else}:{/if}					
					  {/section}
				   {else}<a href='{$rel_url}cv_selector.php?element={$element}&form={$form}&cvo_id=&xsdmf_cvo_min_level={$xsdmf_cvo_min_level}'>All Subject Classifications</a>:{/if}</b>		  
	  </td>
	</tr>
	<tr>
	  <td bgcolor="{$light_color}">
		<select size="30" class="default" name="cv_fields" onDblClick="javascript:dblClickSubmit();">
			  {html_options options=$cvo_list}
		</select>
	  </td>
	</tr>
	<tr>
	  <td bgcolor="{$light_color}">
		{if $show_add == 1}
		<input type="button" value="Add and Continue" onClick = "javascript:addSelectedItemsToParent();">
		{/if}
		<input type="submit" value="Show Sub-Categories">
		<input type="button" value="Close" onClick = "javascript:window.close()">
		<input type="hidden" name="xsdmf_cvo_min_level" value="{$xsdmf_cvo_min_level}"/>
		<input type="hidden" name="form" value="{$form}"/>
		<input type="hidden" name="element" value="{$element}"/>		
	 </td>
	</tr>				
	{if $show_add == 0}
	<tr>
	  <td bgcolor="{$light_color}">
		<span class="default">This category selector requires you to go to a sub-category before  <br /> you can add a value. 
		You can do this by double clicking on one of the values, <br /> or highlighting one and clicking 'Show Sub-Categories'.</span>
	 </td>
	</tr>				
	{/if}
</table>
</div>

<link rel="StyleSheet" href="{$rel_url}css/other.css" type="text/css" />
<link rel="StyleSheet" href="{$rel_url}css/dtree.css" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/dtree.js"></script>

<select name="newOptions" style="display: none;"></select>

<div class="dtree" style="padding: 10px;">
<script type="text/javascript">
<!--
tree = new dTree('tree');
tree.config.useCookies = false;
tree.config.inOrder = true;
tree.icon.root = '{$rel_url}images/dtree/globe.gif';
tree.icon.folder = '{$rel_url}images/dtree/page.gif';
tree.icon.folderOpen = '{$rel_url}images/dtree/page.gif';
tree.icon.node = '{$rel_url}images/dtree/page.gif';
tree.icon.empty = '{$rel_url}images/dtree/empty.gif';
tree.icon.line = '{$rel_url}images/dtree/line.gif';
tree.icon.join= '{$rel_url}images/dtree/join.gif';
tree.icon.joinBottom = '{$rel_url}images/dtree/joinbottom.gif';
tree.icon.plus = '{$rel_url}images/dtree/plus.gif';
tree.icon.plusBottom = '{$rel_url}images/dtree/plusbottom.gif';
tree.icon.minus = '{$rel_url}images/dtree/minus.gif';
tree.icon.minusBottom = '{$rel_url}images/dtree/minusbottom.gif';
tree.icon.nlPlus = '{$rel_url}images/dtree/nolines_plus.gif';
tree.icon.nlMinus = '{$rel_url}images/dtree/nolines_minus.gif';

{$cv_tree}
document.write(tree);

//-->
</script>
</div>

<br />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="hider" value="Show old selector control" onclick="javascript:toggleOld();" class="default" />

</form>

{include file="footer.tpl.html"}
