<?xml version="1.0" encoding="UTF-8"?>
<foxml:digitalObject PID="{$pid}"
	fedoraxsi:schemaLocation="info:fedora/fedora-system:def/foxml# http://www.fedora.info/definitions/1/0/foxml1-0.xsd"
 	xmlns:audit="info:fedora/fedora-system:def/audit#" xmlns:fedoraxsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:foxml="info:fedora/fedora-system:def/foxml#">
	<foxml:objectProperties>
	   <foxml:property NAME="http://www.w3.org/1999/02/22-rdf-syntax-ns#type" VALUE="FedoraObject"/>
	   <foxml:property NAME="info:fedora/fedora-system:def/model#state" VALUE="Active"/>
	   <foxml:property NAME="info:fedora/fedora-system:def/model#label" VALUE="{$title}"/>
	</foxml:objectProperties>

{if $mods != ''}
    {include file='mods.tpl.html'}
{/if}

{if $dc != ''}
    {include file='dc.tpl.html'}
{/if}

{if $links != ''}
    {include file='links.tpl.html'}
{/if}

{if $premis != ''}
    {include file='premis.tpl.html'}
{/if}

{include file='relsext.tpl.html'}
	
{include file='fezmd.tpl.html'}
  
</foxml:digitalObject>