
{include file="header.tpl.html" extra_title="Home"}
{include file="navigation.tpl.html"}

{literal}
<script language="JavaScript">
<!--
{/literal}{$najax_register}{literal}
function purgeObject(pid)
{
    if (!confirm('This action will permanently delete the selected object.')) {
        return false;
    } else {
        window.location.replace('{/literal}{$rel_url}workflow/delete.php?pid=' + pid + '&href={$smarty.server.REQUEST_URI}{literal}');
        return true;
    }
}
var dt1_load_state = 0;
function showLoading1()
{
	document.body.style.cursor = 'wait';
	document.getElementById('loading1').style.display = 'block';
}

function hideLoading1()
{
	document.body.style.cursor = '';
	document.getElementById('loading1').style.display = 'none';
}

function selectSearchSuggestor(f, field_name)
{

	if (dt1_load_state > 0) {
	   return false;
	}
	var field = getFormElement(f, field_name);
	//var selections = getSelectedItems(field);
	if (field.value != '') {
		dt1_load_state++;

		showLoading1();
		var obj = new Suggestor();
		obj.ongetSuggestionError = function() {
			removeAllOptions(f, 'front_search');
			hideLoading1();
			dt1_load_state--;
		}
		obj.setTimeout(10000);

		obj.getSuggestion(field, function(dt_list) {
				removeAllOptions(f, 'front_search');
				addOptions(f, 'front_search', dt_list);
				hideLoading1();
				//autoComplete(field, dt_list);
				dt1_load_state--;
				});
	}
}

//-->
</script>
{/literal}

<table id="front-page-container">
  <tr>
    <td colspan="2"><div id="front-page-welcome-message">Welcome to <b>{$smarty.const.APP_NAME}</b>, {$smarty.const.APP_ORG_NAME}'s institutional digital repository</div></td>
  </tr>
  <tr>
    <td width="50%" valign="top">
	  <div class="front-page-content-header"><img src="{$rel_url}images/search_22.jpg" alt="Search" title="Search" /> Search</div>
	  <div class="front-page-content-detail">
		<form name="search_frm" target="_top" method="get" action="{$rel_url}list.php">
		  <label for="search" accesskey="3"></label>
			<input type="hidden" name="order_by" value="Relevance" />
			<input class="default"  type="text" id="front_search" autocomplete="off" name="terms" size="40" onKeyUp="javascript: selectSearchSuggestor(this.form, 'front_search')">
				<div id="loading1" style="display:none;">Loading...</div>
			<input class="default" type="submit" value="Search">
			<span class="default"><a href="#" onClick="javascript:alert( 'Search All Fields\n\n Enter a phrase.  Objects where any field contains the phrase will be returned.\n This is a case-insensitive search, and you may use the * or ? wildcards.\n\n Examples:\n\n li*y\n finds objects that start with li and end with y\n\n b?ts\n finds words that start with b followed by any letter and then ts.  e.g. bits, bats, byts')">Help</a> <br />
			Use <a href="{$rel_url}adv_search.php"><b>Advanced Search</b></a> to search by multiple criteria</span>
		</form>	  
	  </div>

	  <div class="front-page-content-header"><img src="{$rel_url}images/browse_22.jpg" alt="Browse" title="Browse" /> Browse</div>
	  <div class="front-page-content-detail">
	  <span class="default">
		<ul class="front-page-list">
			<li><a href="{$rel_url}list.php?browse=author">by Author</a></li>
			<li><a href="{$rel_url}list.php?browse=subject">by Subject</a></li>
			<li><a href="{$rel_url}list.php">by Community</a></li>
			<li><a href="{$rel_url}list.php?browse=year">by Year</a></li>
			<li><a href="{$rel_url}list.php?browse=latest">by Latest additions</a></li>
		</ul>
		</span>
	  </div>

{if $WEBSERVER_LOG_STATISTICS == 'ON'}
	  <div class="front-page-content-header"><img src="{$rel_url}images/statistics_22.gif" alt="Download Statistics" title="Download Statistics" /> Download Statistics</div>
	  <div class="front-page-content-detail">
	  <span class="default">
		<ul class="front-page-list">
		  <li><a href="{$rel_url}stats.php?browse=top50authors">Top 50 authors</a></li>
		  <li><a href="{$rel_url}stats.php?browse=top50papers">Top 50 papers</a></li>
		  <li>Most viewed - <a href="{$rel_url}stats.php?browse=show_detail_date&range=4w">Last 4 weeks</a> | <a href="{$rel_url}stats.php?browse=show_detail_date&year={$thisYear}">This year</a> | <!--a href="{$rel_url}stats.php?browse=show_detail_date&year={$lastYear}">Last year</a> |--> <a href="{$rel_url}stats.php?browse=show_detail_date">All years</a></li>
		  <li>All statistics - <a href="{$rel_url}stat_details.php?action=cumulative_usage&range=all">by Date</a> | <a href="{$rel_url}stat_details.php?action=cumulative_usage_country">by Country</a></li>
		</ul>
		</span>
	  </div>
{/if}

{if $SELF_REGISTRATION == 'ON'}
	  <div class="front-page-content-header"><img src="{$rel_url}images/editor_22.jpg" alt="Registered Users" title="Registered Users" /> Registered Users</div>
	  <div class="front-page-content-detail">
	  <span class="default">
		<a href="{$rel_url}register.php">Register</a> | <a href="{$rel_url}my_fez.php">Deposit or manage papers</a>
		</span>
	  </div>
{/if}


    </td>
    <td width="50%" valign="top">
	  <div class="front-page-content-header"><img src="{$rel_url}images/news_22.jpg" alt="News" title="News" /> News</div>
	  <div class="front-page-content-detail">
		<span class="default">
		  <ul class="front-page-list">
		  {section name="i" loop=$news}
		  <li><a href="news.php#{$news[i].nws_id}">{$news[i].nws_title}</a></li>
		  {/section}
		  <li><a href="news.php">More...</a></li>
		  </ul>
		</span>
	  </div>

	  <div class="front-page-content-header"><img src="{$rel_url}images/folder_new_22.jpg" alt="Recently Added Items" title="Recently Added Items" /> Recently Added Items</div>
	  <div class="front-page-content-detail">
	    <span class="default">
		<ul class="front-page-list">

	        {section name="i" loop=$list}		
                {if ($list[i].isViewer==1 || $isAdministrator)}
                  {if ($list[i].object_type.0 == '3')}
	                  {assign var="href_view" value=$rel_url|cat:"view.php?pid="|cat:$list[i].pid|escape:"html"}
	                  {assign var="icon" value="images/record.jpg" }	                  
                  {elseif ($list[i].object_type.0 == '1')}
	                  {assign var="href_view" value=$rel_url|cat:"list.php?community_pid="|cat:$list[i].pid|escape:"html"}                  
  	                  {assign var="icon" value="images/community.jpg" }
                  {else}
	                  {assign var="href_view" value=$rel_url|cat:"list.php?collection_pid="|cat:$list[i].pid|escape:"html"}
	                  {assign var="icon" value="images/collection.jpg" }
                  {/if}
                {else}
                  {assign var="href_view" value=""}
                {/if}
				{if $list[i].thumbnail != "0" && $list[i].isViewer==1}
	                {assign var="icon" value=$eserv_url|cat:"?ls=0&pid="|cat:$list[i].pid|cat:"&dsID="|cat:$list[i].thumbnail}
				{else}

				{/if}
                {if $isUser && ($list[i].isEditor==1 || $isAdministrator)} 
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
			{if $list[i].created_date} 
					{if ($list[i].created_date.0|date_format:"%Y-%m-%d") != $today}
						{if (($list[i].day_name) != $day_name && ($list[i].created_date.0|date_format:"%Y-%m-%d") != $yesterday) || (($list[i].created_date.0|date_format:"%Y-%m-%d") == $yesterday && $day_name != "Yesterday")}
							{if ($list[i].day_name) == $today_day_name}
								{assign var="day_name_pre" value=$list[i].day_name}
								{assign var="day_name" value=$last|cat:$day_name_pre}
							{else}
								{if ($list[i].created_date.0|date_format:"%Y-%m-%d") == $yesterday}								
									{assign var="day_name" value="Yesterday"}		
								{else}
									{assign var="day_name" value=$list[i].day_name}							
								{/if}
							{/if}
		  <!--tr>
			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
				  <tr>
					  <td class="default_white" {$shaded_bar}><strong>{$day_name}</strong>
					  </td>
				  </tr>
			 </table>
			 </td>
		  </tr-->
	
						{/if}				
					{elseif $day_name != "Today"}
					  {assign var="day_name" value="Today"}
		  <!--tr>
			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
				  <tr>
					  <td class="default_white" {$shaded_bar}><strong>{$day_name}</strong>
					  </td>
				  </tr>
			 </table>
			 </td>
		  </tr-->

					{/if}
			{/if}

					<li>
                        {if $href_view}<a href='{$href_view}' >{/if}<!--img align="absmiddle" 
                        src="{$icon}" border="0"-->{if $href_view}</a>{/if} 

                    {if $href_view}<a href='{$href_view}'>{/if}
					{$list[i].title.0|escape:"html"}{if $href_view}</a>{/if}

					  {if $showEdit || $isAdministrator}
						{if $showEdit}
							&nbsp;&nbsp;<a href='{$rel_url}workflow/update.php?pid={$list[i].pid|escape:"html"}&href={$smarty.server.REQUEST_URI}'><img title="Edit" align="absmiddle" src="{$rel_url}images/edit.gif" border="0"></a>
						{/if}
						{if $isAdministrator}
							 <a href='javascript:void(null);' onClick="javascript:purgeObject('{$list[i].pid|escape:"html"}');"><img title="Delete" align="absmiddle" src="{$rel_url}images/delete.gif" border="0"></a>
						{/if}

					  {/if}

					{if $list[i].file_downloads}(<a class="silent_link" href="{$rel_url}stat_details.php?action=show_detail&pid={$list[i].pid}">{$list[i].file_downloads|escape:"html"} File Downloads</a>)
					{/if}			   
	
                       {if $list[i].author} by <b>{section name="author_loop" loop=$list[i].author}{assign var="next_author" value=$smarty.section.author_loop.index+1}<a class="author_link" href="list.php?browse=author&author={$list[i].author[author_loop]}">{$list[i].author[author_loop]|escape:"html"}</a>{if $list[i].author[$next_author] != ""}</b> and <b>{/if}{/section}</b>{if $list[i].date.0} {else} - {/if}{/if}{if $list[i].date.0}({$list[i].date.0|date_format:"%Y"}) - {/if}
                	   {if $list[i].research_program.0}{$list[i].research_program.0|escape:"html"}{if $list[i].xdis_title.0  && $list[i].object_type.0 == '3'} - <i>{$list[i].xdis_title.0|escape:"html"}</i>{/if} - {else}{if $list[i].xdis_title.0  && $list[i].object_type.0 == '3'}<i>{$list[i].xdis_title.0|escape:"html"}</i>{/if}{/if}
                       
					   {if $list[i].object_type == '3' && $list[i].datastreams.0}<b>Files:</b> {section name="d" loop=$list[i].datastreams}{if $href_view}<a href="{$eserv_url|cat:"?pid="|cat:$list[i].pid|cat:"&dsID="|cat:$list[i].datastreams[d]}">{/if}{$list[i].datastreams[d]}{if $href_view}</a>{/if} {/section}{/if}

					</li>

			{sectionelse}
			  <strong>(No publicly viewable items published in the last week)</strong>
			{/section}

		</ul>
		</span>
	  </div>

	  <div class="front-page-content-header"><img src="{$rel_url}images/community_22.jpg" alt="About" title="About" /> About</div>
	  <div class="front-page-content-detail"><span class="default">Find out more about <a href="about.php">{$application_title}</a>.</span>
	  </div>

    </td>
  </tr>
</table>

{include file="app_info.tpl.html"} {include file="footer.tpl.html"}