{include file="header.tpl.html" extra_title="Home"}
{include file="navigation.tpl.html"}

{literal}

<script type="text/javascript" src="{/literal}{$rel_url}{literal}js/tabs.js">
/***********************************************
* Tab Content script v2.0- (C) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script>

{/literal}

	<div id="container">
		
		{if $fedora_connectivity != '1'}
			<div id="fedora_fail">Fez has not yet been configured to connect to Fedora.</div>
		{/if}

	<div id="inner-container">

		<div id="first-box" class="floated-boxes">

			<div id="intro-text">Welcome to {$smarty.const.APP_ORG_NAME}'s institutional digital repository</div>

			<div id="search-box">
				<div id="searchbox-content">
					<form method="get" action="{$rel_url}list/">
						<div>
							<input type="hidden" name="cat" value="quick_filter" />
							<label for="search" accesskey="3"><strong>Quick Search {$smarty.const.APP_NAME}</strong> <a href="#" class="icon-help"><img src="{$rel_url}images/icons/help.png" style="vertical-align:bottom;" alt="Help on Searching" title="Help on searching" onclick="javascript:alert( 'Search Title, Abstract, Keywords:\n\n Enter a phrase.  Objects where any field contains the phrase will be returned.\n This is a case-insensitive search, and you may use the * or ? wildcards.\n\n Examples:\n\n li*y\n finds objects that start with li and end with y\n\n b?ts\n finds words that start with b followed by any letter and then ts.  e.g. bits, bats, byts')" /></a></label>
							<input type="hidden" name="sort_by" value="searchKey0" />
							<input type="text" id="front_search" name="search_keys[0]" size="40" />
							<div id="loading1" style="display:none;">Loading...</div>
							<input type="submit" value="Search" id="submit-button" />
						</div>
				</form>
				<p class="advanced-search-link">Use <a title="Advanced Search" href="{$rel_url}adv_search.php">Advanced Search</a> to search by multiple criteria.</p>
				</div>
			</div>

			<div id="news-box1">
			<p><strong>Did you know that</strong> you can customize your {$smarty.const.APP_NAME} RSS feeds by multiple search criteria?</p><p><a href="http://www.google.com.au/search?hl=en&amp;q=What+is+RSS%3F&amp;btnG=Google+Search&amp;meta=" onclick="javascript: window.open('http://www.google.com.au/search?hl=en&amp;q=What+is+RSS%3F&amp;btnG=Google+Search&amp;meta='); return false;">What is RSS?</a></p>
			</div>

			<div id="news-box2">
			<p><br /><strong>Our open repository</strong> content is indexed by:</p>
			<p><a href="http://oaister.umdl.umich.edu/o/oaister" onclick="javascript: window.open('http://oaister.umdl.umich.edu/o/oaister'); return false;"><img src="{$rel_url}images/logo_oaister.gif" alt="OAIster - University of Michigan Digital Library Production Services" title="OAIster - University of Michigan Digital Library Production Services" /></a> &nbsp; 
			<a href="http://search.arrow.edu.au/" onclick="javascript: window.open('http://search.arrow.edu.au/'); return false;"><img src="{$rel_url}images/logo_arrow.gif" alt="ARROW - National Library of Australia's resource discovery service" title="ARROW - National Library of Australia's resource discovery service" /></a> &nbsp; 
			<a href="http://scholar.google.com/" onclick="javascript: window.open('http://scholar.google.com/'); return false;"><img src="{$rel_url}images/logo_google_scholar.jpg" alt="Google Scholar - broadly search for scholarly literature" title="Google Scholar - broadly search for scholarly literature" /></a></p>
			</div>

		</div>

		<div id="snapshot-box" class="floated-boxes">
			<h2>Daily Snapshot</h2>
			<ul id="snapshottabs" class="shadetabs clearfix">
			<li><a href="#" rel="#default" class="selected">News</a></li>
			<li><a href="{$rel_url}tabcontent_snapshot.php?browse=recentitems" rel="snapshotcontainer">Recently Added</a></li>
			<li><a href="{$rel_url}tabcontent_snapshot.php?browse=topdownloads" rel="snapshotcontainer">Recently Popular</a></li>
			<li><a href="{$rel_url}tabcontent_snapshot.php?browse=tagcloud" rel="snapshotcontainer">Tags</a></li>
			</ul>
			<div class="box-content clearfix">
			<div id="snapshotcontainer">
				<ul style="list-style-type: square">
				{section name="i" loop=$news}
				<li><a href="{$rel_url}news.php#x{$news[i].nws_id}">{$news[i].nws_title}</a></li>
				{/section}
				<li  style="list-style-type: none"><!--img src="{$rel_url}images/feed-icon16x16.png" alt="RSS" width="14" height="14" /--><a href="news.php?show=rss">RSS</a> | <a href="news.php">More...</a></li>
				</ul>
			</div>
		</div>

		</div>

		<div id="browse-box" class="boxes"></div>
		
	</div>
	
	</div>

<script type="text/javascript">
<!--
var countries=new ddajaxtabs("snapshottabs", "snapshotcontainer")
countries.setpersist(true)
countries.setselectedClassTarget("linkparent") //"link" or "linkparent"
countries.init()
//-->
</script>

{include file="app_info.tpl.html"}{include file="footer.tpl.html"}
