</table>
</td>
</tr>
</table>
			   </td>

             </tr>
    	   </table>
<!-- END OF THE ACTUAL CONTENT -->		
  	    </td>
 	   </tr>
     </table>
<!--   </td>-->
 </tr>
</table>
	
	
<!--Footer starts here-->
{include ("/html/sirius/ssi/siriusfooter1.txt");}

<tr>
<td width="50%"></td>
<td class="uqfooter" valign="top" align="right">Maintained by: <a href="mailto:webmaster@library.uq.edu.au" class="uqfooterlink">webmaster@library.uq.edu.au</a>
</td>
</tr>

<tr>
<td width="50%"></td>
<td class="uqfooter" valign="top" align="right">Last major modification: <?php echo date ("jS F, Y.", $tempdate); ?>
</td>
</tr>
<?php// include ("/html/sirius/ssi/siriusfooter2.html"); ?>



<tr>
<td width="50%">&nbsp;</td>
<td class="uqfooter" valign="top" align="right">Last Updated: 

</td>
</tr>
</table>

<!--Footer ends-->


<script language="JavaScript" src="{$rel_url}js/post_load.js"></script>

</body>
</html>
