<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{if $extra_title != ""}{$extra_title} - {/if}{$application_title}</title>
<link rel="Bookmark" href="{$rel_url}favicon.ico" />
<link rel="stylesheet" href="{$rel_url}css/dynamic_css.php" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/dojo/dojo.js"></script>
{if $cv_css != ""}
<link rel="stylesheet" href="{$cv_css}" type="text/css" />
{/if}
{if $setup}
<link rel="stylesheet" href="../css/setup.css" type="text/css" />
{/if}
{if $list}
<link rel="alternate" href="{$PAGE_URL}?{if $url_wo_tpl != ''}{$url_wo_tpl}&{/if}tpl=2" type="application/rss+xml" title="{$title}" id="gallery" />
{/if}
{if $swfobject}
<script type="text/javascript" src="{$rel_url}js/swfobject.js"></script>
{/if}
{if $authors_form || $enter_metadata}
<script language="JavaScript" type="text/javascript">
<!--
dojo.require("dojo.rpc.JsonService");
//-->
</script>
{/if}
<script type="text/javascript" src="{$rel_url}js/common.js"></script>
{if $autosuggest == 1}
<script language="JavaScript" type="text/javascript" src="{$rel_url}js/suggestions.js"></script>
<script language="JavaScript" type="text/javascript" src="{$rel_url}js/autosuggest.js"></script>
<script language="JavaScript" type="text/javascript" src="{$rel_url}js/autocomplete.js"></script>
{/if}
{if $yui_autosuggest == 1}
<link rel="stylesheet" href="{$rel_url}css/autocomplete.css" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/yahoo/utilities.js"></script>
<script type="text/javascript" src="{$rel_url}js/yahoo/autocomplete.js"></script>
{/if}
{if $include_stats_map == 1 && APP_USE_GOOGLE_MAP_SWITCH == 'ON'}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={$maps_api_key}&amp;sensor=false" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" type="text/javascript"></script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/mapiconmaker/1.1/src/mapiconmaker.js" type="text/javascript"></script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/1.1/src/markermanager.js" type="text/javascript"></script>
<script src="{$rel_url}js/maps/tooltip.js" type="text/javascript"></script>
<script src="{$rel_url}js/maps/statsmap.js" type="text/javascript"></script>
<link href="{$rel_url}css/statsmap.css" type="text/css" rel="stylesheet" media="all" />
{/if}
{* Check if we're including the flash uploader and that the admins want to use this uploader *}
{if $header_include_flash_uploader_files == 1 && $smarty.const.APP_ENABLE_FLASH_UPLOADER_SWITCH == 'ON'}
<script type="text/javascript" src="{$rel_url}js/flash_detection.js"></script>
<script type="text/javascript" src="{$rel_url}js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="{$rel_url}js/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="{$rel_url}js/swfuploader.js"></script>
<link type="text/css" href="{$rel_url}css/flash_uploader.css" rel="stylesheet" media="all" />
{/if}
{if $refresh_rate}
<meta http-equiv="Refresh" content="{$refresh_rate};URL={$app_base_url}{$refresh_page}" />
{/if}
{$najax_header}
{$meta_head}
	<script type="text/javascript">
	<!--
	{$najax_register}
	{* Change the window.onload if we're using dojo so that this doesn't overwrite our flash uploader callback *}
	{if $header_include_flash_uploader_files == 1 && $smarty.const.APP_ENABLE_FLASH_UPLOADER_SWITCH == 'ON'}
	dojo.addOnLoad( function() {ldelim}
	{*Event.observe(window, 'load', function() {ldelim} *}
	{else}
	{literal}
	window.onload = function () {
	{/literal}
	{/if}
		// do any other hacks requried by IE mostly
		{$headerscript}
	{literal}
		// find any divs of class register_suggest and eval the code in them to setup their suggest widgets
		divs = document.getElementsByName('register_suggest');
		for (ii = 0; ii < divs.length; ii++) { // >
		  div = divs[ii];
		  if (div.className == 'register_suggest') {
			eval(div.innerHTML);
		  }
		}
	}
	
{/literal}
{if $header_include_flash_uploader_files == 1 && $smarty.const.APP_ENABLE_FLASH_UPLOADER_SWITCH == 'ON'}
);
{/if}
rel_url = '{$rel_url}';
cell_color = '{$cell_color}';
value_color = '{$value_color}';
	
{if $include_stats_map == 1 && APP_USE_GOOGLE_MAP_SWITCH == 'ON'}
{include file="stats_map.javascript_include.tpl.html"}
{/if}
-->

</script>

	<!--[if IE 6]><link rel="stylesheet" href="{$rel_url}css/ie6bugs.css" media="screen" type="text/css" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="{$rel_url}css/ie7bugs.css" media="screen" type="text/css" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="{$rel_url}css/ie8bugs.css" media="screen" type="text/css" /><![endif]-->

</head>
