<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{if $extra_title != ""}{$extra_title} - {/if}{$application_title}</title>
<link rel="Bookmark" href="{$rel_url}favicon.ico" />
<link rel="SHORTCUT ICON" href="{$rel_url}favicon.ico" />
<link rel="stylesheet" href="{$rel_url}css/dynamic_css.php" type="text/css" />
{if $cv_css != ""}
<link rel="stylesheet" href="{$cv_css}" type="text/css" />
{/if}
<script language="JavaScript" type="text/javascript" src="{$rel_url}js/browserSniffer.js"></script>
<script language="JavaScript" type="text/javascript" src="{$rel_url}js/global.js"></script>
<script language="JavaScript" type="text/javascript" src="{$rel_url}js/validation.js"></script>
{if $refresh_rate}
<meta http-equiv="Refresh" content="{$refresh_rate};URL={$app_base_url}{$refresh_page}" />
{/if}
{$najax_header}
{$meta_head}
<script language="JavaScript" type="text/javascript">
<!--
{$najax_register}
{literal}
window.onload = function () {
{/literal}
    // do any other hacks requried by IE mostly
    {$headerscript}
{literal}
	// find any divs of class register_suggest and eval the code in them to setup their suggest widgets
	divs = document.getElementsByName('register_suggest');
	for (ii = 0; ii < divs.length; ii++) { // >
	  div = divs[ii];
	  if (div.className == 'register_suggest') {
	  	eval(div.innerHTML);
	  }
	}
}
{/literal}
-->
</script>

</head>
