<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>History of changes to record #{$pid}</title>
  <link rel="stylesheet" href="{$rel_url}css/dynamic_css.php" type="text/css" />
</head>

<body>
  
  <div id="object-history">
  
  {if $exists == 1}
  
	<h1>History of changes to record #{$pid}</h1>
  
	<table>
	  <tr>
		<th class="date-col">Date</th>
		<th class="details-col">Details</th>
	  </tr>
	  {section name="i" loop=$changes}
	  {cycle values=$cycle assign="row_color"}
	  <tr>
		<td style="background: {$row_color};" >
		  {$changes[i].pre_date}
		</td>
		<td style="background: {$row_color};" >
		  {if $changes[i].pre_outcome}{$changes[i].pre_outcome|escape:"html"}, {/if}
		  {$changes[i].pre_detail|escape:"html"|replace:"no value set":"<i>no value set</i>"}
		  {if $changes[i].pre_outcomedetail}<br />{$changes[i].pre_outcomedetail|escape:"html"}{/if}
		</td>
	  </tr>
	  {sectionelse}
	  <tr>
		<td colspan="2" style="background: {$light_color}">
		  <i>No changes could be found.</i>
		</td>
	  </tr>
	  {/section}
	  <tr>
		<td colspan="2" style="background: {$light_color}; text-align: center;">
		  <input type="button" class="button" value="Close" onclick="javascript:window.close();" />
		</td>
	  </tr>
	</table>
  
  {else}
	<p>The requested object does not exist.</p>
  {/if}

  </div>

</body>
</html>