<html>
<head>
<title>{if $extra_title != ""}{$extra_title} - {/if}{$app_setup.tool_caption|default:$application_title}</title>
<link rel="stylesheet" href="{$rel_url}css/dynCalendar.css" type="text/css" media="screen">
{if $user_agent == 'ie'}
<link rel="stylesheet" href="{$rel_url}css/style.css" type="text/css">
{else}
<link rel="stylesheet" href="{$rel_url}css/other.css" type="text/css">
{/if}
<script language="JavaScript" src="{$rel_url}js/browserSniffer.js"></script>
<script language="JavaScript" src="{$rel_url}js/global.js"></script>
<script language="JavaScript" src="{$rel_url}js/validation.js"></script>
{if $refresh_rate}
<meta http-equiv="Refresh" content="{$refresh_rate};URL={$app_base_url}{$refresh_page}">
{/if}
</head>

<body bgcolor="{if $bgcolor}{$bgcolor}{else}#FFFFFF{/if}" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0">
<!--START: Header -->
<!--START: Header -->
<!--Header starts here -->
{ include ("/html/sirius/ssi/siriusheader1.txt"); }

<!-- -------------- Put your page heading below here --------------- -->

   { echo $heading; }

<!-- -------------- Put your page heading above here --------------- -->
{ include ("/html/sirius/ssi/siriusheader2.txt"); }

<!--Header ends here-->



   <!-- NOTE: search form closed later -->
   <!-- END: Header-->



   <!-- START: Body -->

<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#CCCCCC" >
    <tr>
     <td class="bodytext" bgcolor="#FFFFFF" valign="top" >
	   <table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="CCCCCC">
        <tr>
		
		   <!-- LEFT COLUMN -->

   <!-- CONTENTS  NONE! -->



   <!-- LEFT COLUMN ENDS -->
	
		 <td valign="top">
<!-- THIS IS THE CONTENT INCLUDING THIS TABLE -->	
		   <table height="100%"  width="100%" cellpadding="2" cellspacing="1" border="0" bgcolor="#FFFFFF" >
             <tr valign="top">
			   <td align="left">
  
<table class="bodytext" width="100%">
<tr><td class="bodytext">
	  <!-- Breadcrumbtrail starts -->
	    <table height="14" width="100%" cellpadding="0" cellspacing="0" border=0>
	    <tr>
            <td height="14" valign="middle" class="siriusbreadcrumb"> &nbsp;
			<a href="/sirius" class="uqbreadcrumblink">Sirius Home</a>
			»
{ /*            <a class="uqbreadcrumblink" href="/it">Library Technology Service</a> <!-- add more or remove as required -->
			» 
            <a class="uqbreadcrumblink" href="/test/uqckorte/eventum/index.php">LTS Helpdesk &amp; Bugtesting Matix</a> <!-- add more or remove as required -->
			»
*/  }
            <b>{ echo $heading; }</b></td>
	    </tr>
	    </table>
	    <table width=100% cellpadding="0" cellspacing="0" border=0>
	    <tr><td height="1"><img src="{$rel_url}images/blank.gif" alt="" width=1 height=1></td></tr>
	    </table>
     <!-- Breadcrumbtrail ends -->
<table width=100% cellpadding="0" cellspacing="0" border=0 class="bodytext">
