{include file="js/list.tpl.js"}
<script type="text/javascript" src="{$rel_url}js/listpage.js"></script>

<form id="list_form" method="get" action="{$smarty.server.PHP_SELF}">

{if $researcherID != ""}
<div style="float:right;">
{include file="rid_badge.tpl.html"}
</div>
{/if}

{include file="paging_control_header.tpl.html"}

<div>
  <input type="hidden" name="cat" value="assign" />
  <input type="hidden" name="href" value="{$smarty.server.REQUEST_URI|escape:'html'}" />
  <input type="hidden" name="xdis_id" value="" />
</div>

{if $isUser}  
	{if $list_type == 'community_list' && $isAdministrator}
	<div class="create-box">
		<a target="_top" title="Create a new community" href="{$rel_url}workflow/new.php?pid=-1&amp;xdis_id={$xdis_id}&amp;href={$smarty.server.REQUEST_URI|escape:'url'}"><img src="{$rel_url}images/folder_new.gif" align="top" alt="" /> <b>Create New Community</b></a>
	</div> <br /><br />&nbsp;
	{elseif $list_type == 'collection_list' && ($isAdministrator || $isCreator)}
	<div class="create-box">
		{if $childXDisplayOptions != 0}
		<img src="{$rel_url}images/folder_new.gif" align="top" alt="" />
		<input type="hidden" name="community_pid" value="{$community_pid}" />
		<select name="xdis_id_top">
		  {html_options options=$childXDisplayOptions}
		</select>
		<input type="button" value="Create" onClick="javascript:createRecord(this.form, this.form.xdis_id_top)" />
		{/if}
	</div><br /><br />&nbsp;
	{elseif ($list_type == 'collection_records_list' && ($isAdministrator || $isCreator)) && $browse_type == ""}
	<div class="create-box">			
		{if $childXDisplayOptions != 0}
		<img src="{$rel_url}images/folder_new.gif" align="top" alt="" />
		<input type="hidden" name="collection_pid" value="{$collection_pid}" />
		<select name="xdis_id_top">
		  {html_options options=$childXDisplayOptions}
		</select>
		<input type="button" value="Create" onClick="javascript:createRecord(this.form, this.form.xdis_id_top)" />
		{/if}
	</div><br /><br />&nbsp;
	{/if}  
{/if}

{include file="list_browse_type.tpl.html"}
{if ($browse_heading == "") ||  ($browse_type != "" && ($author != "" || $author_id != "")) || ($browse_type != "" & $depositor != "") || ($browse_type != "" && $year != "") || ($browse_type != "" && $parent_id != "" && $max_subject_breadcrumb != 0)}
        
	{if $spell_suggest != ""}
	<table width="100%" cellpadding="10" cellspacing="0" class="listrecord">
	  	<tr>
	  		<td class="default" colspan="2">&nbsp;<span style="color: red">Did you mean?: </span><a href="?{$spell_suggest_url}">{$spell_suggest|escape:"html"}</a><br /><br /></td>
	  	</tr>
	</table>
	{/if}
		
	{if $facets && $list_type != 'collection_records_list' && $list_type != 'collection_list' && $list_type != 'community_list'}
    <div class="facet">
    <div class="facetheader">
    <h2>Refine</h2>
    </div>
    
    <ul>
    {foreach from=$facets key=sek_id item=items}
	{if $items.sek_alt_title == ""}
	        <li><strong>{$items.sek_title}</strong></li>
	{else}
	        <li><strong>{$items.sek_alt_title}</strong></li>
	{/if}
        {foreach from=$items.values key=id item=valueData}
        {if $valueData.num > 0}
        {if $id != '0'}<li class='facetarrow'><a href="{$rel_url}list/?cat=quick_filter&search_keys[core_26]={$author_id}&{$url_wo_rows}&search_keys[{$sek_id}]={$id}">{$valueData.value}</a> ({$valueData.num})</li>{/if}
        {/if}
        {/foreach}
        <li>&nbsp;</li>
    {/foreach}
    </ul>
    
    </div>
    {/if}
<div style="padding:20px;">
	<table {if $facets  && $list_type != 'collection_records_list' && $list_type != 'collection_list' && $list_type != 'community_list'}width="70%"{else}width="100%"{/if} cellpadding="10" cellspacing="0" class="listrecord">
        <tr>
            <td colspan="{if ($isAdministrator)}3{else}2{/if}">&nbsp;</td>
            {if $showEdit || $isAdministrator}		
                <td align="right">&nbsp;</td>
            {/if}
            {if $smarty.get.cat =='Search' || $smarty.get.cat == 'all_fields' || $smarty.get.cat == 'quick_filter'}
            <td align="center">
                <img src="{$rel_url}images/thermometer_16.png" title="Search Relevance" alt="Search Relevance" />
            </td>
            {/if}
            <td align="center">
            {if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
                <img src="{$rel_url}images/views_16.png" title="Abstract Views" alt="Abstract Views" />
            {/if}
            </td>
            <td align="center">
            {if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
                <img src="{$rel_url}images/downloads_16.png" title="File Downloads" alt="File Downloads" />
            {/if}
            </td>
            <td style="text-align: center; padding: 2px;">
			{if $list_info.total_rows > 0}
				<img src="{$rel_url}images/journal_ranking_16.png" title="Ranked Journal List Ranking" alt="Ranked Journal List Ranking" />
			{/if}
			</td>
			<td style="text-align: center; padding: 2px;">
				{if $list_info.total_rows > 0}
					<img src="{$rel_url}images/conference_ranking_16.png" title="Ranked Conference List Ranking" alt="Ranked Conference List Ranking" />
				{/if}
			</td>
			<td style="text-align: center; padding: 2px;">
				{if $list_info.total_rows > 0}
					<img src="{$rel_url}images/herdc_code_16.png" title="HERDC Code" alt="HERDC Code" />
				{/if}
			</td>
			<td style="text-align: center; padding: 2px;">
				{if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
					<img src="{$rel_url}images/rid_16.png" title="Thomson Reuters Citation Count" alt="Thomson Reuters Citation Count" />
				{/if}
			</td>
			<td style="text-align: center; padding: 2px;">
				{if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
					<img src="{$rel_url}images/scopus_logo_small.gif" title="Scopus Citation Count" alt="Scopus Citation Count" />
				{/if}
			</td>
        </tr>
		{section name="m" loop=$masterList}
        {assign var="list" value=$masterList[m].0}
		{assign var="listInfo" value=$masterList[m].1}
		{if $listInfo.total_rows > 0}
		<tr>
		  <td class="no-wrap bold" colspan="10">
		    {$masterList[m].2} ({$listInfo.total_rows})
          </td>
        </tr>
		{/if}
        {section name="i" loop=$list}
        {assign var="icon_width" value=""}
        {assign var="icon_height" value=""}
        {if (($list[i].isLister==1 || $isAdministrator) && $list_type != 'browse_subjects_list')}
	   		{if $list[i].rek_object_type == 1}
                {assign var="href_view" value="community/"|cat:$list[i].rek_pid|escape:"html"}
                {assign var="icon" value=$rel_url|cat:"images/community.jpg" }
                {if ($list[i].isEditor==1 || $isAdministrator)} 
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {elseif $list[i].rek_object_type == 2}
                {assign var="href_view" value="collection/"|cat:$list[i].rek_pid|escape:"html"}
                {assign var="icon" value=$rel_url|cat:"images/collection.jpg" }
                {if $isUser && ($list[i].isEditor==1 || $isAdministrator)}  
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {else}
                {if ($list[i].isViewer==1 || $isAdministrator)}
                  {assign var="href_view" value="view/"|cat:$list[i].rek_pid|escape:"html"}
                {else}
                  {assign var="href_view" value=""}
                {/if}
                
				{if $list[i].thumbnail.0 != "" && $list[i].isViewer==1}
	                {assign var="icon" value=$eserv_url|cat:$list[i].rek_pid|cat:"/"|cat:$list[i].thumbnail.0}
	        		{assign var="icon_height" value=$list[i].thumbnail_height.0}
	        		{assign var="icon_width" value=$list[i].thumbnail_width.0}
				{else}
	                {assign var="icon" value=""}
				{/if}
				
                {if $isUser } 
                    {assign var="showEdit" value=true}
                {else}
                    {assign var="showEdit" value=false}
                {/if}
           {/if}

		  <tr>
		  {if ($isAdministrator)}  		  
              <td valign="middle" style="border-top: 1px dashed #be87e9; width: 10px; padding: 10px">
	              <input type="checkbox" name="pids[]" value="{$list[i].rek_pid}" />
              </td>
          {/if}

		  {if $icon != ""}
          <td align='right' style="border-top:1px dashed #be87e9; width: 1%;">
                {if $href_view}<a href='{$rel_url}{$href_view}' >{/if}<img {if ($icon_width != "" && $icon_height != "")}width={$icon_width} height={$icon_height}{/if} valign='top' align='right' src="{$icon}" alt="" />{if $href_view}</a>{/if}
		  </td>
		  {/if}
				  
		  <td align="left"{if $icon}{else} colspan="2"{/if} valign="middle" style="border-top:1px dashed #be87e9; width: 100%;">
            {if $list[i].rek_citation != ""}
            {$list[i].rek_citation}
            {else}
            {if $href_view}<a href='{$rel_url}{$href_view}' title='{$list[i].rek_title}'>{/if}{$list[i].rek_title|escape:"html"}{if $href_view}</a>{/if}
            {/if}
			
            {if $list[i].rek_object_type != 3}
                {if $list[i].rek_ismemberof_count != ""}({$list[i].rek_ismemberof_count}){/if}
            {/if}
			{assign var="pid" value =$list[i].rek_pid}
            {if $snips[$pid] != '' && $isAdministrator}<br /><br /><div class='snip'>...{$snips[$pid]}...</div>{/if}
		  </td>

			{if $list[i].isEditor==1 || $isAdministrator}
			  <td align="left" valign="middle" style="border-top:1px dashed #be87e9; white-space: nowrap;">
			  {section name="w" loop=$list[i].wft_id}
			    {if $list[i].wft_id[w] != ''}
			    {if $list[i].wft_icon[w] == 'images/security.gif'}
			      {if $list[i].security == 'include'}
			        {assign var="wf_icon" value="images/security_include.gif"}
			      {elseif $list[i].security == 'exclude'}
			        {assign var="wf_icon" value="images/security_exclude.gif"}
			      {elseif $list[i].security == 'inherit'}
		                {assign var="wf_icon" value="images/security_inherit.gif"}
			      {else}
			        {assign var="wf_icon" value=$list[i].wft_icon[w]}
			      {/if}
	            {else}
			      {assign var="wf_icon" value=$list[i].wft_icon[w]}
			    {/if}
                            
			    {if $list[i].wft_type_id[w] == 6}
                  {assign var='wf_url' value=$rel_url|cat:'workflow/export.php'}
                {else}
                  {assign var='wf_url' value=$rel_url|cat:'workflow/update.php'}
   			    {/if}
			     <a href="{$wf_url}?pid={$list[i].rek_pid|escape:"html"}&amp;cat=select_workflow&amp;xdis_id={$list[i].rek_display_type}&amp;wft_id={$list[i].wft_id[w]}&amp;href={$smarty.server.REQUEST_URI|escape:'url'}"{if $list[i].wft_icon[w] == 'images/delete.gif'} onclick="return confirmDelete();"{/if}><img alt="{$list[i].wfl_title[w]}" title="{$list[i].wfl_title[w]}" src="{$rel_url}{$wf_icon}" /></a> 
				{/if}
			  {/section}
		          
                <a href="{$rel_url}workflow/list_workflows2.php?pid={$list[i].rek_pid|escape}"><img src="{$rel_url}images/options_16.png" alt="More options" title="More options" width="16" height="16" /></a> 
			</td>
           {/if}

				{if $smarty.get.cat =='Search' || $smarty.get.cat == 'all_fields' || $smarty.get.cat == 'quick_filter'}
					<td align="center" valign="middle" style="border-top:1px dashed #be87e9; width: 10px; white-space: nowrap;">&nbsp;{if $list[i].Relevance}{$list[i].Relevance|@number_format:2}{/if}</td>
				{/if}
				
				{if $list[i].rek_object_type == 3}
					<td align="center" valign="middle" style="border-top:1px dashed #be87e9; width: 10px; white-space: nowrap;">{if $list[i].rek_views}{$list[i].rek_views|escape:"html"}{else}&nbsp;{/if}</td>
					<td align="center" valign="middle" style="border-top:1px dashed #be87e9; width: 10px; white-space: nowrap;">{if $list[i].rek_file_downloads}<a class="author_link" title="View detailed statistics for this object" href="{$rel_url}stat_details.php?action=show_detail&pid={$list[i].rek_pid}">{$list[i].rek_file_downloads|escape:"html"}</a>{else}&nbsp;{/if}</td>
				{else}
					<tdstyle="border-top:1px dashed #be87e9;">&nbsp;</td>
				{/if}
		
				<td style="vertical-align: middle; text-align: center; border-top:1px dashed #be87e9;">
					{if $list[i].rj_rank}<a href="#" title="{$list[i].rj_title}">{$list[i].rj_rank}</a>{else}<a href="#" title="This publication is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Journal.">-</a>{/if}
				</td>
	
				<td style="vertical-align: middle; text-align: center; border-top:1px dashed #be87e9;">
					{if $list[i].rc_rank}<a href="#" title="{$list[i].rc_title}">{$list[i].rc_rank}</a>{else}<a href="#" title="This is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Conference.">-</a>{/if}
				</td>
	
				<td style="vertical-align: middle; text-align: center; border-top:1px dashed #be87e9;">
					{if $list[i].herdc_code}<a href="#" title="{if $list[i].confirmed != ''}CONFIRMED {else}PROVISIONAL {/if}{$list[i].herdc_code_description}">{$list[i].herdc_code}{if $list[i].confirmed != ''}{else}P{/if}</a>{else}-{/if}
				</td>
	
				<td style="vertical-align: middle; text-align: center; border-top:1px dashed #be87e9;">
					{if $list[i].rek_thomson_citation_count != ""}
						<a href="{$rel_url}rid_citation_count_history_{$list[i].rek_pid|escape:"html"}" title="Cited {$list[i].rek_thomson_citation_count} times in Thomson Reuters Researcher ID">{$list[i].rek_thomson_citation_count}</a>
					{elseif $list[i].rek_thomson_citation_count == 0}
						{$list[i].rek_thomson_citation_count}
					{/if}
				</td>
	
				<td style="vertical-align: middle; text-align: center; border-top:1px dashed #be87e9;">
					{if $list[i].rek_scopus_citation_count != ""}
						<a href="{$rel_url}scopus_citation_count_history_{$list[i].rek_pid|escape:"html"}" class="form_note"> <span class="form_note">Cited {$list[i].rek_scopus_citation_count} times in Scopus</span>{$list[i].rek_scopus_citation_count}</a>
					{elseif $list[i].rek_scopus_citation_count == 0}
						{$list[i].rek_scopus_citation_count}
					{/if}
				</td>

			</tr>
	       
        {/if}
	   
       {sectionelse}
       {/section}
       {/section}
   </table>
</div>
{/if}

{if $isAdministrator && $list_info.total_rows > 0}
	<div class="result-box clearfix" style="width: 980px; margin-top: 20px;">
	  <div class="clearfix sub-box">
		<div class="order-element" style="padding: 10px 0px 10px 10px;">
			<input type="button" value="Select All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'pids[]');" />
			<select name="wft_id" class="default">
			  {html_options options=$bulk_workflows}
			</select>
			<input type="button" value="Run Workflow" class="shortcut" onclick="javascript:workflowItems(this.form, '{$rel_url}');" />
			<input type="button" value="Delete" onclick="javascript:return checkDeleteRecords(this.form);" class="button" />
			{include file="error_icon.tpl.html" field="users"}
		</div>
	  </div>
	</div>
{/if}

    {include file="paging_control.tpl.html" field="paginat0r"}

</form>
