{literal}
<script language="JavaScript">
<!--
//var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
//var current_page = {/literal}{$list_info.current_page}{literal};
//var last_page = {/literal}{$list_info.last_page}{literal};
function assignItems(f)
{
    if (!hasOneChecked(f, 'item[]')) {
        alert('Please choose which entries to assign.');
        return false;
    }
    if (f.users.options[f.users.selectedIndex].value == '') {
        alert('Please choose the user to assign these entries to.');
        f.users.focus();
        selectField(f, 'users');
        return false;
    }
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_popup', features);
    popupWin.focus();
    f.action = 'popup.php';
    f.target = '_popup';
    f.submit();
}

function hideClosed(f)
{
    if (f.hide_closed.checked) {
        window.location.href = page_url + "?" + replaceParam(window.location.href, 'hide_closed', '1');
    } else {
        window.location.href = page_url + "?" + replaceParam(window.location.href, 'hide_closed', '0');
    }
}
function resizePager(f)
{
    var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'rows', pagesize);
}
function checkPageField(ev)
{
    // check if the user is trying to submit the form by hitting <enter>
    if (((window.event) && (window.event.keyCode == 13)) ||
            ((ev) && (ev.which == 13))) {
        return false;
    }
}
function goPage(f, new_page)
{
    if ((new_page > last_page+1) || (new_page <= 0) ||
            (new_page == current_page+1) || (!isNumberOnly(new_page))) {
        f.page.value = current_page+1;
        return false;
    }
    setPage(new_page-1);
}
function setPage(new_page)
{
    if ((new_page > last_page) || (new_page < 0) ||
            (new_page == current_page)) {
        return false;
    }
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'pagerRow', new_page);
}
function downloadCSV()
{
    var f = this.document.csv_form;
    f.submit();
    return false;
}
//window.onload = disableFields;
function disableFields()
{
    var f = document.list_form;
    if (current_page == 0) {
        f.first.disabled = true;
        f.previous.disabled = true;
    }
    if ((current_page == last_page) || (last_page <= 0)) {
        f.next.disabled = true;
        f.last.disabled = true;
    }
    if ((current_page == 0) && (last_page <= 0)) {
        f.page.disabled = true;
        f.go.disabled = true;
    }
}



//-->
</script>
{/literal}

{literal}
<script language="JavaScript">
<!--
function purgeObject(pid)
{
    if (!confirm('This action will permanently delete the selected object.')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('popup.php?cat=purge_object&pid=' + pid, '_popup', features);
        popupWin.focus();
    }
}
//-->
</script>
{/literal}
<table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <form name="list_form" method="post" action="{$smarty.server.PHP_SELF}">
  <input type="hidden" name="cat" value="assign">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">

		{if $list_type == 'collection_records_list'}
		<tr>
		  <td align="left"> <br />
			<table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="1">
				<tr>
				  <td align="left" class="default"> <b>Parent Communities: </b></td>
				  <td align="left" class="default"> &nbsp;
					{section name="i" loop=$parents}
						<a href="/list.php?community_pid={$parents[i].pid}">{$parents[i].title}</a> &nbsp;
					{/section}
				  </td>
				</tr>
			</table>
		  </td>
		</tr>
		{/if}
        <tr>
			<td align="left" class="default"><br />
		{if $list_type == 'all_records_list' || $list_type == 'collection_records_list'}
			<img src="/images/record_32.gif" align="absmiddle"/>		
		{elseif $list_type == 'community_list'}
			<img src="/images/community_32.png" align="absmiddle"/>
		{elseif $list_type == 'collection_list'}
			<img src="/images/collection_32.png" align="absmiddle"/>
		{/if}
           &nbsp;<b>{$list_heading}: </b></td>
        </tr>
        {section name="i" loop=$list}
		 {if ($list[i].isLister==1 || $isAdministrator)}
        <tr>
          <td align="left" class="default"><br /> 
			{if ($list_type == 'all_records_list' || $list_type == 'collection_records_list')}
				
				{if ($list[i].isViewer==1 || $isAdministrator)}<a href='view.php?pid={$list[i].pid|escape:"html"}'>{/if}<img align="absmiddle" src="/images/record.png" border="0">{if ($list[i].isViewer==1 || $isAdministrator)}</a> <a href='view.php?pid={$list[i].pid|escape:"html"}'>{/if}{$list[i].title|escape:"html"}{if ($list[i].isViewer==1 || $isAdministrator)}</a>{/if}  &nbsp;&nbsp;{if $isUser && ($list[i].isEditor==1 || $isAdministrator)} <a href='update.php?pid={$list[i].pid|escape:"html"}'><img title="Edit" align="absmiddle" src="/images/edit.png" border="0"></a>{/if}{if $isAdministrator} &nbsp; <a href='javascript:void(null);' onClick="javascript:purgeObject('{$list[i].pid|escape:"html"}');"><img title="Delete" align="absmiddle" src="/images/delete.png" border="0"></a>{/if}
			{elseif $list_type == 'community_list'}
				<a href='list.php?community_pid={$list[i].pid|escape:"html"}'><img align="absmiddle" src="/images/community.png" border="0"></a> <a href='list.php?community_pid={$list[i].pid|escape:"html"}'>{$list[i].title|escape:"html"}</a> &nbsp;&nbsp;{if $isAdministrator} <a href='update.php?pid={$list[i].pid|escape:"html"}'><img title="Edit" align="absmiddle" src="/images/edit.png" border="0"></a> &nbsp; <a href='javascript:void(null);' onClick="javascript:purgeObject('{$list[i].pid|escape:"html"}');"><img title="Delete" align="absmiddle" src="/images/delete.png" border="0"></a>{/if}
			{elseif $list_type == 'collection_list'}
				 <a href='list.php?collection_pid={$list[i].pid|escape:"html"}'><img align="absmiddle" src="/images/collection.png" border="0"></a> <a href='list.php?collection_pid={$list[i].pid|escape:"html"}'>{$list[i].title|escape:"html"}</a>  &nbsp;&nbsp; {if $isUser && ($list[i].isEditor==1 || $isAdministrator)}  <a href='update.php?pid={$list[i].pid|escape:"html"}'><img title="Edit" align="absmiddle" src="/images/edit.png" border="0"></a> {/if}{if $isAdministrator}&nbsp; <a href='javascript:void(null);' onClick="javascript:purgeObject('{$list[i].pid|escape:"html"}');"><img title="Delete" align="absmiddle" src="/images/delete.png" border="0"></a> {/if}
			{/if}
		  </td>
        </tr>
		{if $list[i].creator != ''}
        <tr>
          <td align="left" class="default"><i>{$list[i].creator|escape:"html"}</i>. {$list[i].date|escape:"html"} <br /></td>
        </tr>
		{/if}
		{if $list[i].description} 
        <tr>
          <td align="left" class="default">{$list[i].description|escape:"html"}<br /></td>
        </tr>
		{/if}
		 {/if}
        {sectionelse}
        <tr bgcolor="gray">
          <td colspan="13" class="default_white" align="center">
            <b>No records could be found.</b>
          </td>
        </tr>
        {/section}
		{if $isUser}
        <tr>
          <td align="left" class="default">
			{if $list_type == 'community_list' && $isAdministrator}
			<br /> <a target="_top" title="create a new community" href="{$rel_url}new.php?xdis_id={$xdis_id}"><img align="absmiddle" src="/images/folder_new.png" border="0"><b>Create New Community</b></a>&nbsp;
			{elseif $list_type == 'collection_list' && ($isAdministrator || $isCreator)}
			<br /> <a target="_top" title="create a new collection" href="{$rel_url}new.php?xdis_id={$xdis_id}{if $community_pid}&community_pid={$community_pid}{/if}"><img align="absmiddle" src="/images/folder_new.png" border="0"><b>Create New Collection</b></a>&nbsp;
			{elseif $list_type == 'all_records_list' || $list_type == 'collection_records_list' && ($isAdministrator || $isCreator)}
			<br /> <a target="_top" title="create a new record" href="{$rel_url}new.php{if $collection_pid}?collection_pid={$collection_pid}{/if}"><img align="absmiddle" src="/images/folder_new.png" border="0"><b>Create New Record</b></a>&nbsp;
			{/if}
		  </td>
        </tr>
		{/if}



      </table>
    </td>
  </tr>
  </form>
</table>

