{literal}
<script language="JavaScript">
<!--
var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
var current_page = {/literal}{if $list_info.current_page != ""}{$list_info.current_page}{else}0{/if}{literal};
var last_page = {/literal}{if $list_info.last_page != ""}{$list_info.last_page}{else}0{/if}{literal};
function assignItems(f)
{
    if (!hasOneChecked(f, 'item[]')) {
        alert('Please choose which entries to assign.');
        return false;
    }
    if (f.users.options[f.users.selectedIndex].value == '') {
        alert('Please choose the user to assign these entries to.');
        f.users.focus();
        selectField(f, 'users');
        return false;
    }
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_popup', features);
    popupWin.focus();
    f.action = 'popup.php';
    f.target = '_popup';
    f.submit();
}

function createRecord(f) {
    f.action = 'workflow/new.php';
	f.submit();
}

function assignWorkflow(f) {
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_popup', features);
    popupWin.focus();
    f.target = '_popup';
    f.action = 'popup.php';
    f.submit();
}
 
function hideClosed(f)
{
    if (f.hide_closed.checked) {
        window.location.href = page_url + "?" + replaceParam(window.location.href, 'hide_closed', '1');
    } else {
        window.location.href = page_url + "?" + replaceParam(window.location.href, 'hide_closed', '0');
    }
}
function resizePager(f)
{
    var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'rows', pagesize);
}
function checkPageField(ev)
{
    // check if the user is trying to submit the form by hitting <enter>
    if (((window.event) && (window.event.keyCode == 13)) ||
            ((ev) && (ev.which == 13))) {
        return false;
    }
}
function goPage(f, new_page)
{
    if ((new_page > last_page+1) || (new_page <= 0) ||
            (new_page == current_page+1) || (!isNumberOnly(new_page))) {
        f.page.value = current_page+1;
        return false;
    }
    setPage(new_page-1);
}
function setPage(new_page)
{
    if ((new_page > last_page) || (new_page < 0) ||
            (new_page == current_page)) {
        return false;
    }
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'pagerRow', new_page);
}
function downloadCSV()
{
    var f = this.document.csv_form;
    f.submit();
    return false;
}
//window.onload = disableFields;
function disableFields()
{
    var f = document.list_form;
    if (current_page == 0) {
        f.first.disabled = true;
        f.previous.disabled = true;
    }
    if ((current_page == last_page) || (last_page <= 0)) {
        f.next.disabled = true;
        f.last.disabled = true;
    }
    if ((current_page == 0) && (last_page <= 0)) {
        f.page.disabled = true;
        f.go.disabled = true;
    }
}

function sortList(f, field) {
    order_by = getSelectedOption(f, field);
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'order_by', order_by);
}

function setTemplate(f, field) {
    tpl = getSelectedOption(f, field);
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'tpl', tpl);
}


//-->
</script>
{/literal}

{literal}
<script language="JavaScript">
<!--
function purgeObject(pid)
{
    if (!confirm('This action will permanently delete the selected object.')) {
        return false;
    } else {
        window.location.replace('{/literal}{$rel_url}workflow/delete.php?pid=' + pid + '&href={$smarty.server.REQUEST_URI}{literal}');
        return true;
    }
}
//-->
</script>
{/literal}
<table width="100%" bgcolor="{$cell_color}" cellspacing="0" cellpadding="1" align="center">
  <form name="list_form" method="get" action="{$smarty.server.PHP_SELF}">
  <input type="hidden" name="cat" value="assign">
  <input type="hidden" name="href" value="{$smarty.server.REQUEST_URI}">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" >

		{if $list_type == 'collection_records_list'}
		<tr>
		  <td align="left"> <br />
			<table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="1">
				<tr>
				  <td align="left" class="default"> <b>Parent Communities: </b></td>
				  <td align="left" class="default"> &nbsp;
					{section name="i" loop=$parents}
						<a href="list.php?community_pid={$parents[i].pid}">{$parents[i].title}</a> &nbsp;
					{/section}
				  </td>
				</tr>
			</table>
		  </td>
		</tr>
		{/if}

        <tr><td>
      <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1">
		{if ($browse_type == "browse_author")} 
        <tr>
			<td align="left" class="default"><br />
			<a href="{$rel_url}list.php?browse=author"><img border="0" src="{$rel_url}images/browse_32.jpg" align="absmiddle"/></a>
           &nbsp;<b>{$browse_heading}:</b>		  
			</td>
        </tr>
		   {if $smarty.get.author == ""}
			{section name="i" loop=$list}

			  <tr>
				  <td>
				  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
				  <tr>
					  <td>
							<a href='{$rel_url}list.php?browse=author&author={$list[i].record_author|escape:'url'}'>{$list[i].record_author|escape:"html"}</a> ({$list[i].record_count|escape:"html"})

						</td>
					</tr>
					  </table>
					<!-- space between rows -->
				</td>
				</tr>

			{sectionelse}
			<tr>
			<td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
			<tr><td>
				No authors could be found.
			</td></tr>
			</table>
						</td>
				</tr>
			{/section}
			{/if}
		{elseif ($browse_type == "browse_depositor")} 
        <tr>
			<td align="left" class="default"><br />
			<a href="{$rel_url}list.php?browse=depositor"><img border="0" src="{$rel_url}images/browse_32.jpg" align="absmiddle"/></a>
           &nbsp;<b>{$browse_heading}:</b>		  
			</td>
        </tr>
		   {if $smarty.get.depositor == ""}
			{section name="i" loop=$list}

			  <tr>
				  <td>
				  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
				  <tr>
					  <td>
							<a href='{$rel_url}list.php?browse=depositor&depositor={$list[i].record_depositor}'>{$list[i].record_desc|escape:"html"}</a> ({$list[i].record_count|escape:"html"})

						</td>
					</tr>
					  </table>
					<!-- space between rows -->
				</td>
				</tr>

			{sectionelse}
			<tr>
			<td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
			<tr><td>
				No depositors could be found.
			</td></tr>
			</table>
						</td>
				</tr>
			{/section}
			{/if}			
		{elseif ($browse_type == "browse_year")} 
        <tr>
			<td align="left" class="default"><br />
			<a href="{$rel_url}list.php?browse=year"><img border="0" src="{$rel_url}images/browse_32.jpg" align="absmiddle"/></a>
           &nbsp;<b>{$browse_heading}:</b>		  
			</td>
        </tr>
		   {if $smarty.get.year == ""}
			{section name="i" loop=$list}

			  <tr>
				  <td>
				  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
				  <tr>
					  <td>
							<a href='{$rel_url}list.php?browse=year&year={$list[i].record_year}'>{$list[i].record_year|escape:"html"}</a> ({$list[i].record_count|escape:"html"})

						</td>
					</tr>
					  </table>
					<!-- space between rows -->
				</td>
				</tr>

			{sectionelse}
			<tr>
			<td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
			<tr><td>
				No records with saved dates could be found.
			</td></tr>
			</table>
						</td>
				</tr>
			{/section}
			{/if}
		{elseif $browse_type == "browse_subject"}
        <tr>
			<td align="left" class="default"><br />
			<a href="{$rel_url}list.php?browse=subject"><img border="0" src="{$rel_url}images/browse_32.jpg" align="absmiddle"/></a>
           &nbsp;<b>Browse by 
		          {if $max_subject_breadcrumb != -1}
					  {section name="b" loop=$subject_breadcrumb}
						  {assign var="counter" value=b}
		                  {if $subject_breadcrumb[b].cvo_image_filename != ""}
						    <img align="absmiddle" src="{$rel_url}images/{$subject_breadcrumb[b].cvo_image_filename}"/>
						  {/if}
                          {if $max_subject_breadcrumb != $smarty.section.b.index}<a href='{$rel_url}list.php?browse=subject&parent_id={$subject_breadcrumb[b].cvo_id}'>{else}<b>{/if}{$subject_breadcrumb[b].cvo_title|escape:"html"}{if $max_subject_breadcrumb != $smarty.section.b.index}</a>{else}</b>{/if}
 						  {assign var="cvo_id" value=$subject_breadcrumb[b].cvo_id}
						  {if $max_subject_breadcrumb != $smarty.section.b.index}->{else}:{/if}					
					  {/section}
				   {else}Subject Classification:{/if}</b>		  
			</td>
        </tr>


        {section name="i" loop=$subject_list}
		  <tr>
			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
              <tr>
                  <td>{if $subject_list[i].cvo_image_filename != ""}<img align="absmiddle" src="{$rel_url}images/{$subject_list[i].cvo_image_filename}"/>{/if}
                        <a href='{$rel_url}list.php?browse=subject&parent_id={$subject_list[i].cvo_id}'>{$subject_list[i].cvo_title|escape:"html"}</a>
						{assign var="cvo_id" value=$subject_list[i].cvo_id}
						{if $subject_count[$cvo_id]}({$subject_count[$cvo_id]}){elseif ($smarty.get.parent_id)}(0){/if}
					</td>
				</tr>
				<tr>
                    <td>
						{$subject_list[i].cvo_desc}
                    </td>
                  </tr>
				  </table>
                <!-- space between rows -->
	        </td>
	        </tr>
        {sectionelse}
		<tr>
		<td>
		  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
        <tr><td>
            No further child subject classifications could be found.
        </td></tr>
        </table>
			        </td>
	        </tr>
		{/section}
		{/if}		
		{if ($browse_heading == "") ||  ($browse_type != "" & $smarty.get.author != "") || ($browse_type != "" & $smarty.get.depositor != "") || ($browse_type != "" & $smarty.get.year != "") || ($browse_type != "" && $parent_id != "" && $max_subject_breadcrumb != 0)} 
        <tr>
			<td>&nbsp;</td>
		</tr>
		  <tr>
			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
        <tr>
			<td align="left" class="default">
		{if $list_type == 'all_records_list' || $list_type == 'collection_records_list'}
			<img src="{$rel_url}images/record_32.jpg" align="absmiddle"/>		
		{elseif $list_type == 'community_list'}
			<img src="{$rel_url}images/community_32.jpg" align="absmiddle"/>
		{elseif $list_type == 'collection_list'}
			<img src="{$rel_url}images/collection_32.jpg" align="absmiddle"/>
		{elseif $list_type == 'browse_subjects_list'}		

		{/if}
           &nbsp;<b>{$list_heading}: </b>
		   
		   <b>({$list_info.total_rows} results found{if $list_info.end_offset > 0}, {math equation="x + 1" x=$list_info.start_offset|default:0} - {$list_info.end_offset} shown{/if}) ({$list_info.hidden_rows} hidden)</b> 
                   </td><td align="right"><span class="default">Order By </span>
                   <select class="default" name="order_by" onchange="javascript:sortList(this.form, 'order_by');">
                       {html_options options=$order_by_list selected=$order_by_default}
                   </select>
			</td>
        </tr>
		</table>
		</td>
		</tr>

        {section name="i" loop=$list}
		{if $browse_type == "browse_latest"}
			{if $list[i].created_date} 
					{if ($list[i].created_date.0|date_format:"%Y-%m-%d") != $today}
						{if (($list[i].created_date.0|date_format:"%A") != $day_name && ($list[i].created_date.0|date_format:"%Y-%m-%d") != $yesterday) || (($list[i].created_date.0|date_format:"%Y-%m-%d") == $yesterday && $day_name != "Yesterday")}
							{if ($list[i].created_date.0|date_format:"%A") == $today_day_name}
								{assign var="day_name_pre" value=$list[i].created_date.0|date_format:"%A"}
								{assign var="day_name" value=$last|cat:$day_name_pre}
							{else}
								{if ($list[i].created_date.0|date_format:"%Y-%m-%d") == $yesterday}								
									{assign var="day_name" value="Yesterday"}		
								{else}
									{assign var="day_name" value=$list[i].created_date.0|date_format:"%A"}							
								{/if}
							{/if}
		  <tr>
			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
				  <tr>
					  <td class="default_white" {$shaded_bar}><strong>{$day_name}</strong>
					  </td>
				  </tr>
			 </table>
			 </td>
		  </tr>
	
						{/if}				
					{elseif $day_name != "Today"}
					  {assign var="day_name" value="Today"}
		  <tr>
			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
				  <tr>
					  <td class="default_white" {$shaded_bar}><strong>{$day_name}</strong>
					  </td>
				  </tr>
			 </table>
			 </td>
		  </tr>

					{/if}
			{/if}
		{/if}


        {if (($list[i].isLister==1 || $isAdministrator) && $list_type != 'browse_subjects_list')}
	   		{if $list[i].object_type.0 == '1'}
                {assign var="href_view" value="list.php?community_pid="|cat:$list[i].pid|escape:"html"}
                {assign var="icon" value="images/community.jpg" }
                {if ($list[i].isEditor==1 || $isAdministrator)} 
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {elseif $list[i].object_type.0 == '2'}
                {assign var="href_view" value="list.php?collection_pid="|cat:$list[i].pid|escape:"html"}
                {assign var="icon" value="images/collection.jpg" }
                {if $isUser && ($list[i].isEditor==1 || $isAdministrator)}  
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {else}
                {if ($list[i].isViewer==1 || $isAdministrator)}
                  {assign var="href_view" value="view.php?pid="|cat:$list[i].pid|escape:"html"}
                {else}
                  {assign var="href_view" value=""}
                {/if}
				{if $list[i].thumbnail != "0" && $list[i].isViewer==1}
	                {assign var="icon" value=$eserv_url|cat:"?ls=0&pid="|cat:$list[i].pid|cat:"&dsID="|cat:$list[i].thumbnail}
				{else}
	                {assign var="icon" value="images/record.jpg" }
				{/if}
                {if $isUser && ($list[i].isEditor==1 || $isAdministrator)} 
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {/if}
		  <tr>

			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
              <tr>
                  <td>
                        {if $href_view}<a href='{$href_view}' >{/if}<img align="absmiddle" 
                        src="{$icon}" border="0">{if $href_view}</a>{/if} 

                    {if $href_view}<a href='{$href_view}'>{/if}
					{$list[i].title.0|escape:"html"}{if $href_view}</a>{/if}

			{if $showEdit || $isAdministrator}
			  &nbsp;&nbsp;
			  {if $showEdit}
			  {section name="w" loop=$list[i].workflows}
			    {if $list[i].workflows[w].wft_icon == 'images/security.gif'}
			      {if $list[i].security == 'include'}
			        {assign var="wf_icon" value="images/security_include.gif"}
			      {elseif $list[i].security == 'exclude'}
			        {assign var="wf_icon" value="images/security_exclude.gif"}
			      {elseif $list[i].security == 'inherit'}
		                {assign var="wf_icon" value="images/security_inherit.gif"}
			      {else}
			        {assign var="wf_icon" value=$list[i].workflows[w].wft_icon}
			      {/if}
		            {else}
			      {assign var="wf_icon" value=$list[i].workflows[w].wft_icon}
			    {/if}
                            {if $list[i].workflows[w].wft_type_id == 6}
                              {assign var='wf_url' value=$rel_url|cat:'workflow/export.php'}
                            {else}
                              {assign var='wf_url' value=$rel_url|cat:'workflow/update.php'}
			    {/if}
			<a href='{$wf_url}?pid={$list[i].pid|escape:"html"}&cat=select_workflow&xdis_id={$list[i].xdis_id.0}&wft_id={$list[i].workflows[w].wft_id}&href={$smarty.server.REQUEST_URI}'
                        ><img title="{$list[i].workflows[w].wfl_title}" align="absmiddle" 
                        src="{$rel_url}{$wf_icon}" border="0"></a> 
			  {/section}
			  {/if}
			  {if $isAdministrator}
			<a href="javascript:void(null);" onclick="javascript: purgeObject('{$list[i].pid|escape}');" 
                        ><img title="Delete" align="absmiddle" 
                        src="{$rel_url}images/delete.gif" border="0"></a> 
		          {/if}
                        <a href="workflow/list_workflows2.php?pid={$list[i].pid|escape}"
                        >...</a> 

                        {/if}


		    </td><td align="right" valign="top">{if $list[i].Relevance} (Search Relevance: <b>{$list[i].Relevance}</b>)<br />{/if}
					        {if $list[i].abstract_downloads}({$list[i].abstract_downloads|escape:"html"} Abstract Views)<br />{/if} {if $list[i].file_downloads}({$list[i].file_downloads|escape:"html"} <a class="author_link" href="{$rel_url}stat_details.php?action=show_detail&pid={$list[i].pid}">File Downloads</a>){/if} </td>

				</tr>
					<tr>
                    <td colspan="2">
                       {if $list[i].author}<b>{section name="author_loop" loop=$list[i].author}{assign var="next_author" value=$smarty.section.author_loop.index+1}<a class="author_link" href="list.php?browse=author&author={$list[i].author[author_loop]}">{$list[i].author[author_loop]|escape:"html"}</a>{if $list[i].author[$next_author] != ""} and {/if}{/section}</b>{if $list[i].date.0} {else}<br />{/if}{/if}{if $list[i].date.0}({$list[i].date.0|date_format:"%Y"})<br />{/if}
                	   {if $list[i].research_program.0}{$list[i].research_program.0|escape:"html"}{if $list[i].xdis_title.0  && $list[i].object_type.0 == '3'} - <i>{$list[i].xdis_title.0|escape:"html"}</i>{/if}<br />{else}{if $list[i].xdis_title.0  && $list[i].object_type.0 == '3'}<i>{$list[i].xdis_title.0|escape:"html"}</i><br />{/if}{/if}
                       {if $list[i].description.0}{$list[i].description.0|escape:"html"}{if ($list[i].description.0|count_characters > 200)}...{/if}<br />{/if}
					   {if $list[i].object_type == '3' && $list[i].datastreams.0}<b>Files:</b> {section name="d" loop=$list[i].datastreams}{if $href_view}<a href="{$eserv_url|cat:"?pid="|cat:$list[i].pid|cat:"&dsID="|cat:$list[i].datastreams[d]}">{/if}{$list[i].datastreams[d]}{if $href_view}</a>{/if} {/section}{/if}
                    </td>
                  </tr>
				  </table>
                <!-- space between rows -->
	        </td>
	        </tr>
	 {else}


	 {/if}
	 

        {sectionelse}
		<tr>
		<td>
		  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
        <tr><td>
            No records could be found.
        </td></tr>
        </table>
			        </td>
	        </tr>
        {/section}
		{/if}


		</table>
        </td>
        </tr>
		{if $isUser}
        <tr>
          <td align="left" >
			{if $list_type == 'community_list' && $isAdministrator}
			<br /> <a class="default" target="_top" title="create a new community" href="{$rel_url}workflow/new.php?pid=-1&xdis_id={$xdis_id}&href={$smarty.server.REQUEST_URI}"><img align="absmiddle" src="{$rel_url}images/folder_new.gif" border="0"><b>Create New Community</b></a>&nbsp;
			{elseif $list_type == 'collection_list' && ($isAdministrator || $isCreator)}
				{if $childXDisplayOptions != 0}
			<br /> <img align="absmiddle" src="{$rel_url}images/folder_new.gif" border="0">
				<input type="hidden" name="community_pid" value="{$community_pid}">
				<select name="xdis_id" class="default">
				  {html_options options=$childXDisplayOptions}
				</select>
				<input class="default" type="button" value="Create" onClick="javascript:createRecord(this.form)">
			&nbsp;<br />
				{/if}
			{elseif ($list_type == 'collection_records_list' && ($isAdministrator || $isCreator)) && $browse_type == ""}			
				{if $childXDisplayOptions != 0}
			<br /> <img align="absmiddle" src="{$rel_url}images/folder_new.gif" border="0">
				<input type="hidden" name="collection_pid" value="{$collection_pid}">
				<select name="xdis_id" class="default">
				  {html_options options=$childXDisplayOptions}
				</select>
				<input class="default" type="button" value="Create" onClick="javascript:createRecord(this.form)">
			&nbsp;<br />
				{/if}
			{/if}
		  </td>
        </tr>
		{/if}

        <tr bgcolor="{$cell_color}">
          <td colspan="{if $current_role > $roles.standard_user}{math equation="x + 13" x=$ColumnAdd|default:0}{else}{math equation="x + 12" x=$ColumnAdd|default:0}{/if}">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30%" nowrap>
                  {if $current_role > $roles.administrator}
                  <input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'item[]');">
                  <input type="button" value="Assign &gt;" class="shortcut" onClick="javascript:assignItems(this.form);">
                  <select name="users" class="default">
                    <option value=""></option>
                    {html_options options=$users}
                  </select>
                  {include file="error_icon.tpl.html" field="users"}
                  {/if}
                </td>
                <td width="40%" align="center" nowrap>
                  <nobr>
                  <input name="first" type="button" value="|&lt;" class="shortcut" onClick="javascript:setPage(0);">
                  <input name="previous" type="button" value="&lt;&lt;" class="shortcut" onClick="javascript:setPage({$list_info.previous_page});">
                  <input type="text" name="page" size="3" maxlength="3" value="{math equation="x + 1" x=$list_info.current_page}" style="background: {$cell_color};" class="paging_input" onKeyPress="javascript:return checkPageField(event);">
                  <input name="go" type="button" value="Go" class="shortcut" onClick="javascript:goPage(this.form, this.form.page.value);">
                  <input name="next" type="button" value="&gt;&gt;" class="shortcut" onClick="javascript:setPage({$list_info.next_page});">
                  <input name="last" type="button" value="&gt;|" class="shortcut" onClick="javascript:setPage({$list_info.last_page});">
                  </nobr>
                </td>
                <td nowrap>
                  <span class="default_white">Rows per Page:</span>
                  <select name="page_size" class="default" onChange="javascript:resizePager(this.form);">
                    <option value="5" {if $options.rows == 5}selected{/if}>5</option>
                    <option value="10" {if $options.rows == 10}selected{/if}>10</option>
                    <option value="25" {if $options.rows == 25}selected{/if}>25</option>
                    <option value="50" {if $options.rows == 50}selected{/if}>50</option>
                    <option value="100" {if $options.rows == 100}selected{/if}>100</option>
                    <option value="150" {if $options.rows == 150}selected{/if}>150</option>
                  </select>
                  <input type="button" value="Set" class="shortcut" onClick="javascript:resizePager(this.form);">
                </td>
                <td width="30%" align="right">
                {* if $isAdministrator *}
                   <span class="default_white">Change View:</span><select  name="tpl" onchange="javascript:setTemplate(this.form, 'tpl');">
                       {html_options options=$tpl_list selected=$smarty.get.tpl}
                   </select>
                   {* /if *}

                </td>
              </tr>
			</table>
		</td>
		</tr>
      </table>
    </td>
  </tr>
  </form>
</table>

