{literal}
<script language="JavaScript" type="text/javascript">
<!--
{/literal}
{if $list_type == 'collection_records_list'}
var page_url = '{$rel_url}collection/{$collection_pid}';
{elseif $list_type == 'community_list'}
var page_url = '{$rel_url}list';
{elseif $list_type == 'collection_list'}
var page_url = '{$rel_url}community/{$community_pid}';
{else}
var page_url = '{$rel_url}list';
{/if}
{literal}
var current_page = {/literal}{if $list_info.current_page != ""}{$list_info.current_page}{else}0{/if}{literal};
var last_page = {/literal}{if $list_info.last_page != ""}{$list_info.last_page}{else}0{/if}{literal};
function assignItems(f)
{
    if (!hasOneChecked(f, 'item[]')) {
        alert('Please choose which entries to assign.');
        return false;
    }
    if (f.users.options[f.users.selectedIndex].value == '') {
        alert('Please choose the user to assign these entries to.');
        f.users.focus();
        selectField(f, 'users');
        return false;
    }
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_popup', features);
    popupWin.focus();
    f.action = '{/literal}{$rel_url}{literal}popup.php';
    f.target = '_popup';
    f.submit();
}


function createRecord(f, xdis_id_sel) {
    f.action = '{/literal}{$rel_url}{literal}workflow/new.php';
    xdis_id = getSelectedOption(f, xdis_id_sel.getAttribute('name'));
    f.xdis_id.setAttribute('value', xdis_id);
	f.submit();
}

function assignWorkflow(f) {
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_popup', features);
    popupWin.focus();
    f.target = '_popup';
    f.action = '{/literal}{$rel_url}{literal}popup.php';
    f.submit();
}
 
function hideClosed(f)
{
    if (f.hide_closed.checked) {
        window.location.href = page_url + "/" + replaceParam(window.location.href, 'hide_closed', '1');
    } else {
        window.location.href = c + "/" + replaceParam(window.location.href, 'hide_closed', '0');
    }
}

function checkPageField(ev)
{
    // check if the user is trying to submit the form by hitting <enter>
    if (((window.event) && (window.event.keyCode == 13)) ||
            ((ev) && (ev.which == 13))) {
        return false;
    }
}
function goPage(f, new_page)
{
    if ((new_page > last_page+1) || (new_page <= 0) ||
            (new_page == current_page+1) || (!isNumberOnly(new_page))) {
        f.page.value = current_page+1;
        return false;
    }
    setPage(new_page-1);
}
function setPage(new_page)
{
    if ((new_page > last_page) || (new_page < 0) ||
            (new_page == current_page)) {
        return false;
    }
    window.location.href = page_url + "/" + replaceParam(window.location.href, 'pager_row', new_page);
}
function downloadCSV()
{
    var f = this.document.csv_form;
    f.submit();
    return false;
}
//window.onload = disableFields;
function disableFields()
{
    var f = document.list_form;
    if (current_page == 0) {
        f.first.disabled = true;
        f.previous.disabled = true;
    }
    if ((current_page == last_page) || (last_page <= 0)) {
        f.next.disabled = true;
        f.last.disabled = true;
    }
    if ((current_page == 0) && (last_page <= 0)) {
        f.page.disabled = true;
        f.go.disabled = true;
    }
}

function orderAndSort(f, field1, field2) {
	sort_by = getSelectedOption(f, field1);
	sort_order = getSelectedOption(f, field2);
	{/literal}
	{if $browse_mode == 'collection' || $browse_mode == 'community'}
		sortURL = '{$query_plus}{$query_reduced_sans_sort}sort_by=' + sort_by + '&sort_order=' + sort_order;
	{else}
		{if $$query_reduced_sans_sort != ''}
			sortURL = '{$query_plus}{$query_reduced_sans_sort}&sort_by=' + sort_by + '&sort_order=' + sort_order;
		{else}
			sortURL = '{$query_plus}{$query_reduced_sans_sort}sort_by=' + sort_by + '&sort_order=' + sort_order;
		{/if}

	{/if}{literal}
	window.location.href = sortURL;
}

function resizePagerNew(f)
{
	{/literal}
    var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
	{if $query_reduced == ''}var queryReducedString = '';{else}var queryReducedString = '{$query_reduced}';{/if}
	if (queryReducedString.length > 0) {literal}{{/literal}
		var pagingURL = "{$query_plus}{$query_reduced}&rows=" + pagesize + "&pager_row=0";
	{literal}}{/literal} else {literal}{{/literal}
		var pagingURL = "{$query_plus}{$query_reduced}rows=" + pagesize + "&pager_row=0";
	{literal}}{/literal}

	var theTemplate = '{$template_mode}';
//	if (theTemplate !== "0") {literal}{{/literal}
//		pagingURL = pagingURL + '&tpl=' + theTemplate;
//	{literal}}{/literal}
    window.location.href = pagingURL;
	{literal}
}

function setTemplateNew(f, field) {
	{/literal}
    var tpl = getSelectedOption(f, field);
	{if $query_reduced == ''}var queryReducedString = '';{else}var queryReducedString = '{$query_reduced}';{/if}

	if (queryReducedString.length > 0) {literal}{{/literal}
		var templateURL = "{$query_plus}{$query_reduced}&rows={$list_info.page_rows}&pager_row={$list_info.current_page}&tpl=" + tpl;
	{literal}}{/literal} else {literal}{{/literal}
		var templateURL = "{$query_plus}{$query_reduced}rows={$list_info.page_rows}&pager_row={$list_info.current_page}&tpl=" + tpl;
	{literal}}{/literal}
    window.location.href = templateURL;
	{literal}
}

-->
</script>
{/literal}

{literal}
<script language="JavaScript" type="text/javascript">
<!--
function purgeObject(pid)
{
    if (!confirm('This action will permanently delete the selected object.')) {
        return false;
    } else {
        window.location.replace('{/literal}{$rel_url}workflow/delete.php?pid=' + pid + '&href={$smarty.server.REQUEST_URI|escape:'url'}{literal}');
        return true;
    }
}
function checkDeleteRecords(f)
{
    if (!hasOneChecked(f, 'pids[]')) {
        alert('Please select at least one item.');
        return false;
    }
    if (!confirm('The checked items will be deleted, are you sure?')) {
        return false;
    } else {
	f.cat.value = 'delete_objects';
    f.action = '{/literal}{$rel_url}{literal}popup.php';
    f.target = '_popup';
	f.method = 'post';
        var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('', '_popup', features);
        popupWin.focus();

    f.submit();        
        
    }
}
var custom_filter_element = getPageElement('custom_filter_form' + '1');
{/literal}
/* {$browse_type} ---- {$list_type} */
{if (($browse_type == "" && $list_type <> "all_records_list") || $browse_type != "")}
{literal}
if (isElementVisible(custom_filter_element)) {
	toggleVisibility('custom_filter_form');
}
{/literal}
{/if}
{literal}
var basic_element = getPageElement('basic_filter_form' + '1');
if ((isElementVisible(basic_element) && isElementVisible(custom_filter_element)) || (!isElementVisible(basic_element) && !isElementVisible(custom_filter_element))) {
	toggleVisibility('basic_filter_form');
} 
{/literal}
-->
</script>

<table width="100%" bgcolor="{$cell_color}" cellspacing="0" cellpadding="1" align="center">
  
  <tr>
    <td>
		  <form name="list_form" method="get" action="{$smarty.server.PHP_SELF}">
		  <input type="hidden" name="cat" value="assign" />
		  <input type="hidden" name="href" value="{$smarty.server.REQUEST_URI|escape:'html'}" />
		  <input type="hidden" name="xdis_id" value="" />
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" >

		{if $list_type == 'collection_records_list'}
		{if $parents}
		<tr>
		  <td align="left" class="default"> <br />
			<table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="1">
				<tr>
				  <td align="left"> <b>Parents: </b></td>
				  <td align="left"> &nbsp;
					{section name="i" loop=$parents}
						{if $parents[i].rek_object_type == 1}
						<a href="{$rel_url}community/{$parents[i].rek_pid}">{$parents[i].rek_title}</a> &nbsp;
						{else}
						<a href="{$rel_url}collection/{$parents[i].rek_pid}">{$parents[i].rek_title}</a> &nbsp;
						{/if}
					{/section}
				  </td>
				</tr>
			</table>
		  </td>
		</tr>
		{/if}
		{/if}
		<form name="list_form" method="get" action="{$smarty.server.PHP_SELF}">
		{if $isUser}
        <tr>
          <td align="left" class="default" >
			{if $list_type == 'community_list' && $isAdministrator}
			<br /> <a target="_top" title="create a new community" href="{$rel_url}workflow/new.php?pid=-1&amp;xdis_id={$xdis_id}&amp;href={$smarty.server.REQUEST_URI|escape:'url'}"><img src="{$rel_url}images/folder_new.gif" align="top" border="0" alt="" /> <b>Create New Community</b></a>&nbsp;
			{elseif $list_type == 'collection_list' && ($isAdministrator || $isCreator)}
				{if $childXDisplayOptions != 0}
			<br /> <img src="{$rel_url}images/folder_new.gif" align="top" border="0" alt="" />
				<input type="hidden" name="community_pid" value="{$community_pid}" />
				<select name="xdis_id_top">
				  {html_options options=$childXDisplayOptions}
				</select>
				<input type="button" value="Create" onClick="javascript:createRecord(this.form, this.form.xdis_id_top)" />
			&nbsp;<br />
				{/if}
			{elseif ($list_type == 'collection_records_list' && ($isAdministrator || $isCreator)) && $browse_type == ""}			
				{if $childXDisplayOptions != 0}
			<br /> <img src="{$rel_url}images/folder_new.gif" align="top" border="0" alt="" />
				<input type="hidden" name="collection_pid" value="{$collection_pid}" />
				<select name="xdis_id_top">
				  {html_options options=$childXDisplayOptions}
				</select>
				<input type="button" value="Create" onClick="javascript:createRecord(this.form, this.form.xdis_id_top)" />
			&nbsp;
				{/if}
			{/if}
			
		  </td>
        </tr>
  		{/if}

        <tr>
		  <td>
      <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1">
		{if ($browse_type == "browse_author") && (!$smarty.get.author && !$smarty.get.author_id)} 
        <tr>
			<td align="left" class="default">
			<a href="{$rel_url}list/browse=author"><img border="0" src="{$rel_url}images/browse_32.jpg" alt="" /></a>
           &nbsp;<b>{$browse_heading}:</b>		  
			</td>
        </tr>

		<tr>
		  <td>
			<div class="letter-list">
			{section name="i" loop=$alphabet_list}
                          {if $smarty.get.browse == "author_id"}
				<a href="{$rel_url}list/browse=author_id&amp;letter={$alphabet_list[i]}">{$alphabet_list[i]}</a> | 
                          {else}
				<a href="{$rel_url}list/browse=author&amp;letter={$alphabet_list[i]}">{$alphabet_list[i]}</a> | 
                          {/if}
			{/section}
			{if $smarty.get.browse == "author_id"}
				<a href="{$rel_url}list/browse=author_id">All</a>
			{else}
			<a href="{$rel_url}list/browse=author">All</a>
			{/if}
			</div>
          </td>
		</tr>

		   {if $smarty.get.author == "" && $smarty.get.author_id == ""}
			{section name="i" loop=$list}

			  <tr bgcolor="{cycle values="$cycle_colours"}">
				  <td>
				  <table width="100%" cellpadding="2" cellspacing="1" class="listrecord">
				  <tr>
					  <td>
					      {if $list[i].record_author_id != 0}
					      <a class="author_id_link" href='{$rel_url}list/browse=author&author_id={$list[i].record_author_id|escape:'url'}'>{$list[i].record_author|escape:"html"}</a> ({$list[i].record_count|escape:"html"})
					      {else}
							<a href='{$rel_url}list/browse=author&author={$list[i].record_author|escape:'url'}'>{$list[i].record_author|escape:"html"}</a> ({$list[i].record_count|escape:"html"})
						  {/if}
						</td>
					</tr>
					  </table>
					<!-- space between rows -->
				</td>
				</tr>

			{sectionelse}
			<tr>
			<td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
			<tr><td>
				No authors could be found.
			</td></tr>
			</table>
						</td>
				</tr>
			{/section}
			{/if}
		{elseif ($browse_type == "browse_depositor")} 
        <tr>
			<td align="left" class="default" colspan="2"><br />
			<a href="{$rel_url}list/browse=depositor"><img border="0" src="{$rel_url}images/browse_32.jpg" alt="" /></a>
           &nbsp;<b>{$browse_heading}:</b>		  
			</td>
        </tr>
		   {if $smarty.get.depositor == ""}
			{section name="i" loop=$list}

			  <tr bgcolor="{cycle values="$cycle_colours"}">
				  <td colspan="2">
				  <table width="100%" cellpadding="2" cellspacing="1" class="listrecord">
				  <tr>
					  <td>
							<a href='{$rel_url}list/browse=depositor&depositor={$list[i].record_depositor}'>{$list[i].record_desc|escape:"html"}</a> ({$list[i].record_count|escape:"html"})

						</td>
					</tr>
					  </table>
					<!-- space between rows -->
				</td>
				</tr>

			{sectionelse}
			<tr>
			<td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
			<tr><td>
				No depositors could be found.
			</td></tr>
			</table>
						</td>
				</tr>
			{/section}
			{/if}			
		{elseif ($browse_type == "browse_year")} 
        <tr>
			<td align="left" class="default" colspan="2" ><br />
			<a href="{$rel_url}list/browse=year"><img border="0" src="{$rel_url}images/browse_32.jpg" alt="" /></a>
           &nbsp;<b>{$browse_heading}:</b>		  
			</td>
        </tr>
		   {if $smarty.get.year == ""}
			{section name="i" loop=$list}

			  <tr bgcolor="{cycle values="$cycle_colours"}">
				  <td>
				  <table width="100%" cellpadding="2" cellspacing="1" class="listrecord">
				  <tr>
					  <td>
					{if $list[i].record_year == 0}
							(not set) ({$list[i].record_count|escape:"html"})
					{else}
							<a href='{$rel_url}list/browse=year&year={$list[i].record_year}'>{$list[i].record_year|escape:"html"}</a> ({$list[i].record_count|escape:"html"})
					{/if}
						</td>
					</tr>
					  </table>
					<!-- space between rows -->
				</td>
				</tr>

			{sectionelse}
			<tr>
			<td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
			<tr><td>
				No records with saved dates could be found.
			</td></tr>
			</table>
						</td>
				</tr>
			{/section}
			{/if}
		{elseif $browse_type == "browse_subject"}
        <tr>
			<td colspan="2" align="left" class="default"><br />
			<a href="{$rel_url}list/browse=subject"><img border="0" src="{$rel_url}images/browse_32.jpg" alt="" /></a>
           &nbsp;<b>Browse by 
		          {if $max_subject_breadcrumb != -1}
					  {section name="b" loop=$subject_breadcrumb}
						  {assign var="counter" value=b}
		                  {if $subject_breadcrumb[b].cvo_image_filename != ""}
						    <img src="{$rel_url}images/{$subject_breadcrumb[b].cvo_image_filename}" alt="" />
						  {/if}
                          {if $max_subject_breadcrumb != $smarty.section.b.index}<a href='{$rel_url}list/browse=subject&parent_id={$subject_breadcrumb[b].cvo_id}'>{else}<b>{/if}{$subject_breadcrumb[b].cvo_title|escape:"html"}{if $max_subject_breadcrumb != $smarty.section.b.index}</a>{else}</b>{/if}
 						  {assign var="cvo_id" value=$subject_breadcrumb[b].cvo_id}
						  {if $max_subject_breadcrumb != $smarty.section.b.index}->{else}:{/if}					
					  {/section}
				   {else}Subject Classification:{/if}</b>		  
			</td>
        </tr>


        {section name="i" loop=$subject_list}
		  <tr bgcolor="{cycle values="$cycle_colours"}">
			  <td colspan="2">
			  <table width="100%" cellpadding="2" cellspacing="1" class="listrecord">
              <tr>
                  <td>{if $subject_list[i].cvo_image_filename != ""}<img src="{$rel_url}images/{$subject_list[i].cvo_image_filename}" alt="" />{/if}
                        <a href='{$rel_url}list/browse=subject&parent_id={$subject_list[i].cvo_id}'>{$subject_list[i].cvo_title|escape:"html"}</a>
						{assign var="cvo_id" value=$subject_list[i].cvo_id}
						{if $subject_count[$cvo_id]}({$subject_count[$cvo_id]}){elseif ($smarty.get.parent_id)}(0){/if}
					</td>
				</tr>
				<tr>
                    <td>
						{$subject_list[i].cvo_desc}
                    </td>
                  </tr>
				  </table>
                <!-- space between rows -->
	        </td>
	        </tr>
        {sectionelse}
		<tr>
		<td colspan="2">
		  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
        <tr><td>
            No further child subject classifications could be found.
        </td></tr>
        </table>
			        </td>
	        </tr>
		{/section}
		{/if}		
		{if ($browse_heading == "") ||  ($browse_type != "" && ($smarty.get.author != "" || $smarty.get.author_id != "")) || ($browse_type != "" & $smarty.get.depositor != "") || ($browse_type != "" & $smarty.get.year != "") || ($browse_type != "" && $parent_id != "" && $max_subject_breadcrumb != 0)} 
          {if $isCreator != true}
<!--         <tr>
			<td>&nbsp;</td>
		</tr>
		 -->
		{/if}
		  <tr>
			  <td colspan="2">
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">

			  {if $spell_suggest != ""}
			  	<tr>
			  		<td class="default" colspan="2">&nbsp;<font color="Red">Did you mean?: </font><a href="?{$spell_suggest_url}">{$spell_suggest}</a><br /><br /></td>
			  	</tr>
			  {/if}
		        <tr>
					<td align="left" valign="middle" class="default" width ="1%" nowrap>
				{if $list_type == 'all_records_list' || $list_type == 'collection_records_list'}
					<img src="{$rel_url}images/record_32.jpg" alt="" />		
				{elseif $list_type == 'community_list'}
					<img src="{$rel_url}images/community_32.jpg" alt="" />
				{elseif $list_type == 'collection_list'}
					<img src="{$rel_url}images/collection_32.jpg" alt="" />
				{elseif $browse_type == 'browse_author'}			
					<a href="{$rel_url}list/browse=author"><img title="Browse by all authors" alt="Browse by all authors" border="0" src="{$rel_url}images/browse_32.jpg" /></a>
				{elseif $list_type == 'browse_subjects_list'}		
		
				{/if}
				</td>
				<td class="default" align="left" valign="middle">
					&nbsp;<b>{$list_heading}: </b>
				   
				   <b>({$list_info.total_rows} results found{if $list_info.end_offset > 0}, {math equation="x + 1" x=$list_info.start_offset|default:0} - {$list_info.end_offset} shown{/if})</b> 
				   {if $list_type != 'community_list'}
				   <a href="{$smarty.server.REQUEST_URI|escape:'html'}&amp;tpl=2"><img alt="Subscribe to the RSS feed for this list or search" title="Subscribe to the RSS feed for this list or search" border="0" src="{$rel_url}images/feed-icon16x16.png" /></a>
				   <a href="{$smarty.server.REQUEST_URI|escape:'html'}&amp;tpl=4"><img alt="Show the copy-friendly citations only display for this list or search" title="Show the copy-friendly citations only display for this list or search" border="0" src="{$rel_url}images/citation.png" /></a>
				   {/if}
		                   </td>                                     
		                   <td align="right">
						   <span class="default">Order By </span>
		                   <select class="default" name="sort_by" onchange="javascript:orderAndSort(this.form, 'sort_by', 'sort_order');">
		                       {html_options options=$sort_by_list selected=$sort_by_default}
		                   </select>
		                    <select class="default" name="sort_order" onchange="javascript:orderAndSort(this.form, 'sort_by', 'sort_order');">
		                       <option value="0" {if $sort_order == 0}selected="selected"{/if}>Asc</option>
		                       <option value="1" {if $sort_order == 1}selected="selected"{/if}>Desc</option>
		                   </select>
					</td>
		        </tr>
			</table>

			</td>
		</tr>
		{if $list_info.total_pages > 1}
		<tr>
		  <td>
		    <span class="default">You are viewing page <b>{$list_info.printable_page}</b> of <b>{$list_info.total_pages}</b></span>
		  </td>
		</tr>
		{/if}

		<tr>
		<td width="100%">
		<table width="100%" cellpadding="2" cellspacing="1" class="listrecord">			  
		  <tr>
 		  	{if ($isAdministrator)}
			  <td>
				&nbsp;
			</td>
			{/if}
			  <td colspan="2">
				&nbsp;
			</td>			
			{if $showEdit || $isAdministrator}		
			  <td>
				&nbsp;
			</td>
			{/if}
			{if $smarty.get.cat =='Search' || $smarty.get.cat == 'all_fields' || $smarty.get.cat == 'quick_filter'}
			  <td align="right">
				<img src="{$rel_url}images/thermometer_16.png" title="Search Relevance" alt="Search Relevance" />
			</td>
			{/if}
			  <td align="right">
				<img src="{$rel_url}images/views_16.png" title="Abstract Views" alt="Abstract Views" />
			</td>
			  <td align="right">
				<img src="{$rel_url}images/downloads_16.png" title="File Downloads" alt="File Downloads" />
			</td>
		</tr>

		
        <tr>
        {section name="i" loop=$list}
		{if $browse_type == "browse_latest"}
			{if $list[i].rek_created_date} 
					{if ($list[i].rek_created_date|date_format:"%Y-%m-%d") != $today}
						{if (($list[i].day_name) != $day_name 
								&& ($list[i].created_date|date_format:"%Y-%m-%d") != $yesterday) 
							|| (($list[i].created_date|date_format:"%Y-%m-%d") == $yesterday 
								&& $day_name != "Yesterday")}
							{if ($list[i].day_name) == $today_day_name}
								{assign var="day_name_pre" value=$list[i].day_name}
								{assign var="day_name" value=$last|cat:$day_name_pre}
							{else}
								{if ($list[i].created_date|date_format:"%Y-%m-%d") == $yesterday}								
									{assign var="day_name" value="Yesterday"}		
								{else}
									{assign var="day_name" value=$list[i].day_name}							
								{/if}
							{/if}
		  <!--tr>
			  <td colspan="2">
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
				  <tr>
					  <td class="default_white" bgcolor="{$heading_color}"><strong>{$day_name}</strong>
					  </td>
				  </tr>
			 </table>
			 </td>
		  </tr-->
	
						{/if}				
					{elseif $day_name != "Today"}
					  {assign var="day_name" value="Today"}
		  <!--tr>
			  <td>
			  <table bgcolor="#FFFFFF" width="100%" cellpadding="3" cellspacing="0">
				  <tr>
					  <td class="default_white" bgcolor="{$heading_color}"><strong>{$day_name}</strong>
					  </td>
				  </tr>
			 </table>
			 </td>
		  </tr-->

					{/if}
			{/if}
		{/if}


        {if (($list[i].isLister==1 || $isAdministrator) && $list_type != 'browse_subjects_list')}
	   		{if $list[i].rek_object_type == 1}
                {assign var="href_view" value="community/"|cat:$list[i].rek_pid|escape:"html"}
                {assign var="icon" value=$rel_url|cat:"images/community.jpg" }
                {if ($list[i].isEditor==1 || $isAdministrator)} 
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {elseif $list[i].rek_object_type == 2}
                {assign var="href_view" value="collection/"|cat:$list[i].rek_pid|escape:"html"}
                {assign var="icon" value=$rel_url|cat:"images/collection.jpg" }
                {if $isUser && ($list[i].isEditor==1 || $isAdministrator)}  
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {else}
                {if ($list[i].isViewer==1 || $isAdministrator)}
                  {assign var="href_view" value="view/"|cat:$list[i].rek_pid|escape:"html"}
                {else}
                  {assign var="href_view" value=""}
                {/if}
				{if $list[i].thumbnail.0 != "" && $list[i].isViewer==1}				
	                {assign var="icon" value=$eserv_url|cat:$list[i].rek_pid|cat:"/"|cat:$list[i].thumbnail.0}
				{else}
	                {assign var="icon" value=""}
				{/if}
                {if $isUser } 
                        {assign var="showEdit" value=true}
                {else}
                        {assign var="showEdit" value=false}
                {/if}
           {/if}

		  <tr bgcolor="{cycle values="$cycle_colours"}">
		  {if ($isAdministrator)}  		  
              <td valign="top">
	              <table bgcolor="#FFFFFF" cellpadding="2" cellspacing="1">			  
	              	<tr>
	                  <td width="4" bgcolor="{$cell_color}" nowrap="nowrap"><input type="checkbox" name="pids[]" value="{$list[i].rek_pid}" /></td>
	                </tr>
	              </table>  
              </td>
          {/if}

				{if $icon != ""}
                  <td width="1%" align='right'>
                        {if $href_view}<a href='{$rel_url}{$href_view}' >{/if}<img valign='top' align='right' src="{$icon}" alt="" border="0" />{if $href_view}</a>{/if}
				  </td>
				{/if}
				  <td align="left" {if $icon}{else}colspan="2"{/if} valign="middle" width="90%">
					{if $list[i].rek_citation != ""}
                    {$list[i].rek_citation}
					{else}
                    {if $href_view}<a href='{$rel_url}{$href_view}' title='{$list[i].rek_title}'>{/if}{$list[i].rek_title|escape:"html"}{if $href_view}</a>{/if}
					{/if}
	{if $list[i].rek_object_type != 3}{if $list[i].rek_ismemberof_count != ""}({$list[i].rek_ismemberof_count}){else}(0){/if}{/if}
				  </td>		

			{if $list[i].isEditor==1 || $isAdministrator}
			  <td align="left" valign="middle" nowrap>
			  {section name="w" loop=$list[i].wft_id}
			    {if $list[i].wft_id[w] != ''}
    			    {if $list[i].wft_icon[w] == 'images/security.gif'}
    			      {if $list[i].security == 'include'}
    			        {assign var="wf_icon" value="images/security_include.gif"}
    			      {elseif $list[i].security == 'exclude'}
    			        {assign var="wf_icon" value="images/security_exclude.gif"}
    			      {elseif $list[i].security == 'inherit'}
    		                {assign var="wf_icon" value="images/security_inherit.gif"}
    			      {else}
    			        {assign var="wf_icon" value=$list[i].wft_icon[w]}
    			      {/if}
    	            {else}
    			      {assign var="wf_icon" value=$list[i].wft_icon[w]}
    			    {/if}
                                
    			    {if $list[i].wft_type_id[w] == 6}
                      {assign var='wf_url' value=$rel_url|cat:'workflow/export.php'}
                    {else}
                      {assign var='wf_url' value=$rel_url|cat:'workflow/update.php'}
   			        {/if}
    			     <a href="{$wf_url}?pid={$list[i].rek_pid|escape:"html"}&amp;cat=select_workflow&amp;xdis_id={$list[i].rek_display_type}&amp;wft_id={$list[i].wft_id[w]}&amp;href={$smarty.server.REQUEST_URI|escape:'url'}"{if $list[i].wft_icon[w] == 'images/delete.gif'} onclick="return confirmDelete();"{/if}><img alt="{$list[i].wfl_title[w]}" title="{$list[i].wfl_title[w]}" src="{$rel_url}{$wf_icon}" border="0" /></a> 
				{/if}
			  {/section}
		          
                <a href="{$rel_url}workflow/list_workflows2.php?pid={$list[i].rek_pid|escape}"><img src="{$rel_url}images/options_16.png" alt="More options" title="More options" border="0" width="16" height="16" /></a> 
			</td>
           {/if}
			{if $smarty.get.cat =='Search' || $smarty.get.cat == 'all_fields' || $smarty.get.cat == 'quick_filter'}
			<td align="right" valign="top" width="" nowrap>&nbsp;{if $list[i].Relevance}{$list[i].Relevance|@number_format:2}{/if}</td>
			{/if}
			<td align="right" valign="top" width="" nowrap>&nbsp;{if $list[i].rek_object_type == 3}{if $list[i].rek_views}{$list[i].rek_views|escape:"html"}{/if}</td>
			<td align="right" valign="top" width="" nowrap>&nbsp;{if $list[i].rek_file_downloads}<a class="author_link" title="View detailed statistics for this object" href="{$rel_url}stat_details.php?action=show_detail&pid={$list[i].rek_pid}">{$list[i].rek_file_downloads|escape:"html"}</a>{/if}{/if} </td>

	        </tr>
	 {else}


	 {/if}
	 

        {sectionelse}
		<tr>
		<td>
		  <table bgcolor="#FFFFFF" width="100%" cellpadding="2" cellspacing="1" class="listrecord">
        <tr><td>
            No records could be found.
        </td></tr>
        </table>
			        </td>
	        </tr>
        {/section}
			</tr>
			  </table>
            <!-- space between rows -->
        </td>

		{/if}


		</table>
        </td>
        </tr>
		<tr>
		  <td>
		    {include file="paging_control.tpl.html" field="paginat0r"}
		  </td>
		</tr>

		{if $isUser}
        <tr>
          <td align="left" class="default" >
			{if $list_type == 'community_list' && $isAdministrator}
			<br /> <a target="_top" title="create a new community" href="{$rel_url}workflow/new.php?pid=-1&amp;xdis_id={$xdis_id}&amp;href={$smarty.server.REQUEST_URI|escape:'url'}"><img src="{$rel_url}images/folder_new.gif" align="top" border="0" alt="" /> <b>Create New Community</b></a>&nbsp;
			{elseif $list_type == 'collection_list' && ($isAdministrator || $isCreator)}
				{if $childXDisplayOptions != 0}
			<br /> <img src="{$rel_url}images/folder_new.gif" align="top" border="0" alt="" />
				<input type="hidden" name="community_pid" value="{$community_pid}" />
				<select name="xdis_id_bottom">
				  {html_options options=$childXDisplayOptions}
				</select>
				<input type="button" value="Create" onClick="javascript:createRecord(this.form, this.form.xdis_id_bottom)" />
			&nbsp;<br />
				{/if}
			{elseif ($list_type == 'collection_records_list' && ($isAdministrator || $isCreator)) && $browse_type == ""}			
				{if $childXDisplayOptions != 0}
			<br /> <img src="{$rel_url}images/folder_new.gif" align="top" border="0" alt="" />
				<input type="hidden" name="collection_pid" value="{$collection_pid}" />
				<select name="xdis_id_bottom">
				  {html_options options=$childXDisplayOptions}
				</select>
				<input type="button" value="Create" onClick="javascript:createRecord(this.form, this.form.xdis_id_bottom)" />
			&nbsp;
				{/if}
			{/if}
		  </td>
        </tr>
  		{/if}


        <tr bgcolor="{$cell_color}">
          <td colspan="{if $current_role > $roles.standard_user}{math equation="x + 13" x=$ColumnAdd|default:0}{else}{math equation="x + 12" x=$ColumnAdd|default:0}{/if}">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30%" nowrap="nowrap">
                  {if $isAdministrator}

                  <input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'pids[]');" />
			      <input type="button" value="Delete" onclick="javascript:return checkDeleteRecords(this.form);" class="button" />                  
                  <input type="button" value="Run Workflow &gt;" class="shortcut" onclick="javascript:workflowItems(this.form, '{$rel_url}');" />
                  <select name="wft_id" class="default">
                    {html_options options=$bulk_workflows}
                  </select>
                  {include file="error_icon.tpl.html" field="users"}
                  {/if}
                </td>
                <td nowrap="nowrap">
                  <span class="default_white">Rows per Page:</span>
                  <select name="page_size" class="default" onchange="javascript:resizePagerNew(this.form);">
                    <option value="5" {if $options.rows == 5}selected{/if}>5</option>
                    <option value="10" {if $options.rows == 10}selected{/if}>10</option>
                    <option value="25" {if $options.rows == 25}selected{/if}>25</option>
                    <option value="50" {if $options.rows == 50}selected{/if}>50</option>
                    <option value="100" {if $options.rows == 100}selected{/if}>100</option>
                    <option value="150" {if $options.rows == 150}selected{/if}>150</option>
                    <option value="300" {if $options.rows == 300}selected{/if}>300</option>
                    <option value="500" {if $options.rows == 500}selected{/if}>500</option>
                  </select>
                  <input type="button" value="Set" class="shortcut" onclick="javascript:resizePagerNew(this.form);" />
                </td>
                <td width="30%" align="right">
                {* if $isAdministrator *}
                   <span class="default_white">Change View:</span><select  name="tpl" onchange="javascript:setTemplateNew(this.form, 'tpl');">
                       {html_options options=$tpl_list selected=$smarty.get.tpl}
                   </select>
                   {* /if *}
                </td>
              </tr>
			</table>
   	      </td>
		</tr>
      </table>
	  </form>
	</td>
  </tr>
</table>
