
{literal}
<script language="JavaScript">
<!--
function validateForm(f)
{
    if (isWhitespace(f.username.value)) {
        errors[errors.length] = new Option('UQ or Fez Username', 'username');
    }
    if (isWhitespace(f.passwd.value)) {
        errors[errors.length] = new Option('Password', 'passwd');
    }
    if (errors.length > 0) {
        return false;
    }
}
//-->
</script>
{/literal}
<form name="login_form" onSubmit="javascript:return checkFormSubmission(this, 'validateForm');" method="post" action="index.php">
<input type="hidden" name="cat" value="login">
<input type="hidden" name="url" value="{$smarty.get.url}">
<table align="center" width="400" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
  <tr>
    <td>
            <br /><br />
      <table bgcolor="{$heading_color}" width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td colspan="2" align="center" nowrap class="default_white">
            <img align="absmiddle" src="{$rel_url}images/keys_32.png" border="0"><b>Login to {$app_setup.tool_caption|default:$application_title}</b>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table align="center" width="400" border="0" cellspacing="0" cellpadding="1" bgcolor="#000000">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td colspan="2" bgcolor="{$cell_color}"><img src="images/blank.gif" width="1" height="5"></td>
        </tr>
        {if $smarty.get.err != 0}
        <tr>
          <td colspan="2" align="center" class="error" bgcolor="{$cell_color}">
            <b>
            {if $smarty.get.err == 1}
              Error: Please provide your UQ or Fez username.
            {elseif $smarty.get.err == 2}
              Error: Please provide your password.
            {elseif $smarty.get.err == 3 or $smarty.get.err == 4}
              Error: The username / password combination could not be found in the system.
            {elseif $smarty.get.err == 5}
              Your session has expired. Please login again to continue.
            {elseif $smarty.get.err == 6}
              Thank you, you are now logged out of {$application_title}.
            {elseif $smarty.get.err == 7}
              Error: Your user status is currently set as inactive. Please 
              contact your local system administrator for further information.
            {elseif $smarty.get.err == 8}
              Thank you, your account is now active and ready to be 
              used. Use the form below to login.
            {elseif $smarty.get.err == 9}
              Error: Your user status is currently set as pending. This 
              means that you still need to confirm your account 
              creation request. Please contact your local system 
              administrator for further information.
            {elseif $smarty.get.err == 11}
              Error: Cookies support seem to be disabled in your browser. Please enable this feature and try again.
            {elseif $smarty.get.err == 20}
              Error: Your IP Address appears to have changed during your login session in {$application_title}. This behaviour is often
			  indicative of an attempt to hijack a session to gain priviledges in web applications, so you have been logged out. If
              this continues to be a problem for you, please contact the {$application_title} webmaster as your ISP may be forcing you through a rotating proxy.
            {elseif $smarty.get.err == 21}
			  You must first login to access this resource.
            {elseif $smarty.get.err == 12}
              Error: In order for {$application_title} to work properly, you must enable cookie support in your browser. Please login 
              again and accept all cookies coming from it.
            {/if}
            </b>
          </td>
        </tr>
        {/if}
        <tr>
          <td align="right" width="40%" class="default" bgcolor="{$cell_color}"><b>UQ or Fez <u>u</u>sername:</b></td>
          <td width="60%" bgcolor="{$cell_color}">
            <input accessKey="u" class="default" type="text" name="username" value="{$username|default:$smarty.get.username}" size="30">
            {include file="error_icon.tpl.html" field="username"}
          </td>
        </tr>
        <tr>
          <td align="right" width="40%" class="default" bgcolor="{$cell_color}"><b><u>P</u>assword:</b></td>
          <td width="60%" bgcolor="{$cell_color}">
            <input accessKey="p" class="default" type="password" name="passwd" size="20" maxlength="32">
            {include file="error_icon.tpl.html" field="passwd"}
          </td>
        </tr>
        <tr align="left">
          <td bgcolor="{$cell_color}">&nbsp;</td>
          <td bgcolor="{$cell_color}">
            <input type="submit" name="Submit" value="Login" class="button">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>

{literal}
<script language="JavaScript">
<!--
window.onload = setFocus;
function setFocus()
{
    if (!isWhitespace(document.login_form.username.value)) {
        document.login_form.passwd.focus();
    } else {
        document.login_form.username.focus();
    }
}
//-->
</script>
{/literal}

