{literal}
<script type="text/javascript">
<!--
function validateForm(f)
{
    if (isWhitespace(f.username.value)) {
        errors[errors.length] = new Option('Username', 'username');
    }
    if (isWhitespace(f.passwd.value)) {
        errors[errors.length] = new Option('Password', 'passwd');
    }
    if (errors.length > 0) {
        return false;
    }
}

var visStatus = 0;

function toggleHideSecondaryLogin()
{
	if (visStatus) {
		document.getElementById('secondary-login').style.display = "none";
		visStatus = 0;
	} else {
		document.getElementById('secondary-login').style.display = "block";
		visStatus = 1;
	}
}

//-->
</script>
{/literal}

<div style="margin-left: auto; margin-right: auto; width: 600px;">
{if $SHIB_SWITCH == "ON"}
{if $SHIB_VERSION == "2"}
<table width="500" cellspacing="0" cellpadding="0" style="background: #FFFFFF;">	
  <tr>
    <td>
{literal}
	<!-- EMBEDDED-WAYF-START -->
	    <script type="text/javascript">
            <!--

			// To use this JavaScript, please access:
			// https://ds.aaf.edu.au/discovery/DS/embedded-wayf.js/snippet.html
			// and copy/paste the resulting HTML snippet to an unprotected web page that 
			// you want the embedded WAYF to be displayed


			// Parameters to influence look & feel of WAYF
			// ===========================================

			// Whether or not the new SAML2/Shibboleth 2 flow shall be used that
			// sends the user from the discovery service back to the the Service Provider
			// Set this to true if you are using a Shibboleth Service Provider 2.x
			// [Optional, default: true]
			wayf_use_discovery_service = false;

			// EntityID of the Service Provider that protects this Resource
			// Examples: "https://vho.aaf.edu.au/shibboleth", "https://aarnet.edu.au/shibboleth"
			// [Mandatory]
			// wayf_sp_entityID = "https://my-app.aaf.edu.au/shibboleth";
			wayf_sp_entityID = "{/literal}{$SHIB_HOME_SP}{literal}";

			// Assertion consumer URL of the Service Provider
			// Examples: "https://econf.switch.ch/Shibboleth.sso/SAML/POST", "https://dokeos.unige.ch/Shibboleth.sso/SAML/POST"
			// [Mandatory, when wayf_use_discovery_service = false]
			// wayf_sp_handlerURL = "https://my-app.aaf.edu.au/Shibboleth.sso";
			wayf_sp_handlerURL = "https://{/literal}{$APP_HOSTNAME}{literal}/Shibboleth.sso";

			// Assertion consumer URL of the Service Provider
			// Examples: "https://econf.switch.ch/Shibboleth.sso/DS", "https://dokeos.unige.ch/Shibboleth.sso/DS"
			// [Mandatory, when wayf_use_discovery_service = true]
			// wayf_sp_samlDSURL = "https://my-app.aaf.edu.au/Shibboleth.sso/DS";
			wayf_sp_samlDSURL = "https://{/literal}{$APP_HOSTNAME}{literal}/Shibboleth.sso/WAYF";

			// URL of the WAYF to use
			// Examples: "https://ds.aaf.edu.au/discovery/WAYF"
			// [Mandatory]
			// wayf_URL = "https://ds.aaf.edu.au/discovery/DS";
			wayf_URL = "{/literal}{$SHIB_WAYF_URL}{literal}";

			// URL on this resource that the user shall be returned to after authentication
			// Examples: "https://econf.switch.ch/aai/home", "https://olat.uzh.ch/my/courses"
			// [Mandatory]
			wayf_return_url = "https://{/literal}{$APP_HOSTNAME}{literal}";

			// Default IdP to preselect when central WAYF couldn't guess IdP either
			// This is usually the case the first time ever a user accesses a resource
			// [Optional, default: commented out]
			//wayf_default_idp = "https://aai.switch.ch/idp/shibboleth";
			wayf_default_idp = "{/literal}{$SHIB_HOME_IDP}{literal}";

			// Font size
			// [Optional, default: 12]
			wayf_font_size = 12;

			// Font color
			// [Optional, default: #000000]
			wayf_font_color = '#000000';

			// Border color
			// [Optional, default: #00247D]
			wayf_border_color = '#00247D';

			// Background color
			// [Optional, default: #F4F7F7]
			wayf_background_color = '#FEFCEE';

			// Logo size
			// [Optional, default: false]
			wayf_use_small_logo = false;

			// Width of the embedded WAYF in pixels or "auto"
			// [Optional, default: 200]
			wayf_width = 478;

			// Height of the embedded WAYF in pixels or "auto"
			// [Optional, default: "auto"]
			wayf_height = "auto";

			// Whether to show the checkbox to remember settings for this session
			// [optional, default: true]
			wayf_show_remember_checkbox = true;

			// Whether to automatically log in user if he has a session/permanent redirect
			// cookie set at central wayf
			// [optional, default: true]
			wayf_auto_login = true;

			// Whether to hide the WAYF after the user was logged in
			// This requires that the _shib_session_* cookie is set when a user 
			// could be authenticated
			// [optional, default: true]
			wayf_hide_after_login = true;

			// Whether to hide the WAYF after the user was logged in
			// This requires that the _shib_session_* cookie is set when a user 
			// could be authenticated
			// If you want to hide the embedded WAYF completely, uncomment
			// the property and set it to "". This then won't draw anything
			// [optional, default commented out: You are already logged in]
			//wayf_logged_in_messsage = "";

			// Whether or not to show the categories in the drop-down list
			// Possible values are: true or false
			// [Optional, default: true]
			wayf_show_categories =  true;

			// Categories of Identity Provider that shall not be shown
			// Possible values are: "category","university","nzuniversity","marcs","vho","others","Upcoming", "all"
			// [Optional, default: none]
			wayf_hide_categories =  new Array();

			// Example of how to hide categories
			// wayf_hide_categories =  new Array("other", "library");

			// EntityIDs of Identity Provider whose category is hidden but that shall be shown anyway
			// If this array is not empty, wayf_show_categories will be disabled because
			// otherwise, unhidden IdPs may be displayed in the wrong category
			// [Optional, default: none]
			wayf_unhide_idps = new Array();

			// Example of how to unhide certain Identity Providers
			// wayf_unhide_idps = new Array("urn:mace:switch.ch:aaitest:dukono.switch.ch");

			// EntityIDs of Identity Provider that shall not be shown at all
			// [Optional, default: none]
			wayf_hide_idps = new Array();

			// Example of how to hide certain Identity Provider
			// wayf_hide_idps = new Array("urn:mace:switch.ch:aaitest:blupblup.switch.ch", "https://lewotolo.switch.ch/idp/shibboleth");

			// EntityIDs, Names and SSO URLs of Identity Providers from other federations 
			// that shall be added to the drop-down list
			// The IdPs will be displayed in the sequence they are defined
			// [Optional, default: none]
			wayf_additional_idps = [ ];

			// Example of how to add Identity Provider from other federations
			// wayf_additional_idps = [ 
			//        
			//        {name:"International University X",
			//        entityID:"urn:mace:switch.ch:SWITCHaai:internation.university.org",
			//        SAML1SSOurl:"https://int.univ.org/shibboleth-idp/SSO"},
			//
			//        {name:"Some Other University",
			//        entityID:"https://other.univ.edu/idp/shibboleth",
			//        SAML1SSOurl:"https://other.univ.edu/shibboleth-idp/SSO"},
			// ];
		    -->
	    </script>

	    <script type="text/javascript" src="{/literal}{$SHIB_WAYF_JS}{literal}"></script>

	<noscript>
		<!-- Fallback to Shibboleth DS session initiator for non-JavaScript users -->
		<p>
		<strong>Login:</strong> Since Javascript is not activated or not available in your web browser, you have to <a href="{/literal}{$SHIB_NONJS_URL}{literal}">proceed manually</a>.
		</p>
	</noscript>

	<!-- EMBEDDED-WAYF-END -->
{/literal}
    </td>
  </tr>	
</table>
{/if}
{if $SHIB_VERSION == "1"}
<form id="idplist" method="get" action="">
	<div>
		<input type="hidden" name="shire" value="https://{$APP_HOSTNAME}/Shibboleth.sso/SAML/POST" />
		<input type="hidden" name="target" value="cookie" />
		<input type="hidden" name="providerId" value="{$SHIB_HOME_SP}" />
		<input type="hidden" name="getArguments" value="{$getArguments|escape:"html"}" />
		<input type="hidden" name="time" value="1142380709" />
		<input type="hidden" name="action" value="selection" />
		<input type="hidden" name="cache" value="false" />
	</div>
<table width="500" cellspacing="0" cellpadding="0" style="background: #FFFFFF;">
  <tr>
    <td>
            <br /><br />
      <table style="background: {$heading_color}" width="100%" cellspacing="0" cellpadding="4">
		<tr>
          <td class="default_white" style="text-align: center; white-space: nowrap;">
            <img src="{$rel_url}images/shibboleth_logo_32.gif" alt="" /> <b> Select your home institution:</b>
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<table width="500" cellspacing="0" cellpadding="1" style="background: #000000;">
  <tr>
    <td>
      <table style="background: #FFFFFF" width="100%" cellspacing="0" cellpadding="4">
        <tr>
          <td colspan="2" style="background: {$cell_color}"><img src="images/blank.gif" width="1" height="5" alt="" /></td>
        </tr>
	
        <tr>
          <td align="right" style="background: {$cell_color}; width: 40%; padding-right: 10px;"><b>Home Institution:</b></td>
          <td style="width: 60%; background: {$cell_color}; white-space: nowrap;">
							{if $SHIB_IDP_LIST != ''}
							<select class="default" name="origin">
							  {html_options options=$SHIB_IDP_LIST selected=$SHIB_HOME_IDP}
							</select>
							{else}
								There are currently no institutions to choose from.<br />Please choose another login method.
							{/if}
          </td>
        </tr>
		{if $SHIB_IDP_LIST != ''}
			<tr>
			  <td colspan="2" style="background: {$cell_color}" align="center"><input type="submit" name="federation_login" value="Login" class="button" /></td>
			</tr>
		{/if}

      </table>
    </td>
  </tr>
</table>
</form>
{/if}	
{/if}
{if $SHIB_SWITCH == "ON"}<div id="secondary-login-unhider" style="margin: 20px;"><a href="#" onclick="javascript:toggleHideSecondaryLogin(); document.getElementById('username').focus(); return false;">Non-{$app_short_org_name} login</a></div>{/if}

<div id="secondary-login"{if $SHIB_SWITCH == "ON"} style="display: none;"{/if}>

<form id="login_form" onsubmit="javascript:return checkFormSubmission(this, 'validateForm');" method="post" action="index.php">
	<div>
		<input type="hidden" name="cat" value="login" />
		<input type="hidden" name="url" value="{$smarty.get.url|escape:"html"}" />
	</div>

<table width="500" cellspacing="0" cellpadding="0" style="background: #FFFFFF">
  <tr>
    <td>
<br />
      <table style="background: {$heading_color}" width="100%" cellspacing="0" cellpadding="4">
        <tr>
          <td colspan="2" align="center" class="default_white" style="padding: 5px;">
            <img src="{$rel_url}images/lock_22.png" alt="" /><b>Login to {$application_title}{if $SHIB_SWITCH == "ON"} with a {$org_short_name} username or internal {$application_title} username ONLY if you do not belong to one of the institutions in the above drop down list or if the federated login is down{/if}</b>
          </td>
        </tr>
      </table>
    </td>
  </tr>



</table>

<table width="500" cellspacing="0" cellpadding="1" style="background: #000000">
  <tr>
    <td>
      <table style="background: #FFFFFF" width="100%" cellspacing="0" cellpadding="4">
        {if $smarty.get.err != 0}
        <tr>
          <td colspan="2" align="center" class="error" style="background: {$cell_color}">
            <b>
            {if $smarty.get.err == 1}
              Error: Please provide your UQ or Fez username.
            {elseif $smarty.get.err == 2}
              Error: Please provide your password.
            {elseif $smarty.get.err == 3 or $smarty.get.err == 4}
              Error: The username / password combination could not be found in the system.
            {elseif $smarty.get.err == 5}
              Your session has expired. Please login again to continue.
            {elseif $smarty.get.err == 6}
              Thank you, you are now logged out of {$application_title}.
            {elseif $smarty.get.err == 7}
              Error: Your user status is currently set as inactive. Please 
              contact your local system administrator for further information.
            {elseif $smarty.get.err == 8}
              Thank you, your account is now active and ready to be 
              used. Use the form below to login.
            {elseif $smarty.get.err == 9}
              Error: Your user status is currently set as pending. This 
              means that you still need to confirm your account 
              creation request. Please contact your local system 
              administrator for further information.
            {elseif $smarty.get.err == 11}
              Error: Cookies support seem to be disabled in your browser. Please enable this feature and try again.
            {elseif $smarty.get.err == 20}
              Error: Your IP Address appears to have changed during your login session in {$application_title}. This behaviour is often
			  indicative of an attempt to hijack a session to gain priviledges in web applications, so you have been logged out. If
              this continues to be a problem for you, please contact the {$application_title} webmaster as your ISP may be forcing you through a rotating proxy.
            {elseif $smarty.get.err == 21}
			  You must first login to access this resource.
            {elseif $smarty.get.err == 22}
              Error: In order to login to {$application_title} via Shibboleth federated authentication your home institution's Identity Provider must release your Eduperson Targeted ID, or at least
			  your Eduperson Principal Name.
            {elseif $smarty.get.err == 12}
              Error: In order for {$application_title} to work properly, you must enable cookie support in your browser. Please login 
              again and accept all cookies coming from it.
            {elseif $smarty.get.err == 23}
               Shibboleth can't find a username in the IDP attributes
            {/if}
            </b>
          </td>
        </tr>
        {/if}
        <tr>
          <td align="right" style="background: {$cell_color}; white-space: nowrap; padding-right: 10px;" valign="middle"><b>{if $SHIB_SWITCH != "ON"}{if $ldap_switch == "ON"}{$org_short_name} or {/if}{$application_title}{/if} <span style="text-decoration: underline;">U</span>sername:</b></td>
          <td style="width: 60%; background: {$cell_color}; white-space: nowrap;" valign="bottom">
            <input accesskey="U" class="default" type="text" id="username" name="username" value="{$username|default:$smarty.get.username|escape:'html'}" size="30" />
            {include file="error_icon.tpl.html" field="username"}
          </td>
        </tr>
        <tr>
          <td align="right" style="background: {$cell_color}; padding-right: 10px;" valign="middle"><b><span style="text-decoration: underline;">P</span>assword:</b></td>
          <td style="width: 60%; background: {$cell_color}" valign="middle">
            <input accesskey="p" class="default" type="password" id="passwd" name="passwd" size="30" maxlength="32" />
            {include file="error_icon.tpl.html" field="passwd"}
          </td>
        </tr>
        <tr align="left">
          <td style="background: {$cell_color}">&nbsp;</td>
          <td style="background: {$cell_color}; padding-bottom: 5px;">
            <input type="submit" name="Submit" value="Login" class="button" />
          </td>
        </tr>			
      </table>
    </td>
  </tr>
</table>

	<div style="padding: 30px;"><a href="mailto:{$smarty.const.APP_ADMIN_EMAIL}?subject={$application_title}: Non-{$app_short_org_name} access request">Request access to the system - for former {$org_short_name} staff and students only</a></div>

</form>

</div>

</div>

{literal}
<script type="text/javascript">
<!--
window.onload = setFocus;
function setFocus()
{
    if (!isWhitespace(document.login_form.username.value)) {
        document.login_form.passwd.focus();
    } else {
		{/literal}
		{if SHIB_SWITCH == "ON"}
        document.idplist.origin.focus();
		{else}
        document.login_form.username.focus();		
		{/if}
		{literal}
    }
}
//-->
</script>
{/literal}
