<div class="outline">

<div class="default">This is a list of your active workflows.  Click on a workflow to resume it.</div>

<form name="form1" method="post">
<table class="listing">
<tr bgcolor="{$cell_color}" class="tableheader">
{* <td class="checkbox_column"><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form,'items[]');" class="button"/></td> *}
<td class="default tableheader" >Date</td>
<td class="default tableheader" >Workflow</td>
<td class="default tableheader" ></td>
</tr>


{section name="iii" loop=$list}
{cycle values=$cycle assign="row_color"}
<tr bgcolor="{$row_color}" class="default">
{* <td><input type="checkbox" name="items[]" value="{$list[iii].wfses_id}"/></td> *}
<td>{$list[iii].wfses_date}</td>
<td><a href="{$rel_url}workflow/resume.php?id={$list[iii].wfses_id}">{$list[iii].wfses_listing}</a></td>
<td><a href="{$rel_url}workflow/abandon.php?id={$list[iii].wfses_id}&href={$smarty.server.PHP_SELF|escape:'url'}">Abandon</a></td>
</tr>
{sectionelse}
<tr>
<td colspan="20" class="default" bgcolor={$light_color} align="center" >No Items</td>
</tr>
{/section}

{*
<tr bgcolor="{$cell_color}" >
<td><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form,'items[]');" class="button"/></td>
<td colspan="10">
<input type="button" value="Delete" onclick="javascript:return checkDelete(this.form);"  class="button"/>
</td>
</tr>
*}
</table>
</form>

</div>