<script type="text/javascript" language="javascript">
<!--
var page_url = '{$smarty.server.PHP_SELF}';
var current_page = {if $my_assigned_items_info.currentPage != ""}{$my_assigned_items_info.currentPage}{else}0{/if};
var last_page = {if $my_assigned_items_info.lastPage != ""}{$my_assigned_items_info.lastPage}{else}0{/if};
{literal}
function checkDeleteRecords(f)
{
    if (!hasOneChecked(f, 'items[]')) {
        alert('Please select at least one item.');
        return false;
    }
    if (!confirm('The checked items will be deleted, are you sure?')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('', '_popup', features);
        popupWin.focus();
         return true;
    }
}
function checkPublishRecords(f)
{
    if (!hasOneChecked(f, 'items[]')) {
        alert('Please select at least one item.');
        return false;
    }
    if (!confirm('The checked items will be published, are you sure?')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('', '_popup', features);
        cat = getFormElement(f, 'cat');
        cat.value = 'publish_objects';
        popupWin.focus();
         return true;
    }
}

function resizePager(f)
{
    var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'rows', pagesize);
}
function checkPageField(ev)
{
    // check if the user is trying to submit the form by hitting <enter>
    if (((window.event) && (window.event.keyCode == 13)) ||
            ((ev) && (ev.which == 13))) {
        return false;
    }
}
function goPage(f, new_page)
{
    if ((new_page > last_page+1) || (new_page <= 0) ||
            (new_page == current_page+1) || (!isNumberOnly(new_page))) {
        f.page.value = current_page+1;
        return false;
    }
    setPage(new_page-1);
}
function setPage(new_page)
{
    if ((new_page > last_page) || (new_page < 0) ||
            (new_page == current_page)) {
        return false;
    }
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'pagerRow_my_assigned', new_page);
}
function disableFields(f)
{
    if (current_page == 0) {
        f.first.disabled = true;
        f.previous.disabled = true;
    }
    if ((current_page == last_page) || (last_page <= 0)) {
        f.next.disabled = true;
        f.last.disabled = true;
    }
    if ((current_page == 0) && (last_page <= 0)) {
        f.page.disabled = true;
        f.go.disabled = true;
    }
}

function sortList(f, field) {
    order_by = getSelectedOption(f, field);
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'order_by', order_by);
}



{/literal}
// -->
</script>
<form name="assigned_records" method="post" action="{$rel_url}popup.php" target="_popup">
<div class="outline">
<div class="contentheader">
Assigned Unpublished Items
</div>
<span class="default">
Showing items {math equation="x + 1" x=$my_assigned_items_info.currentRow} 
to {$my_assigned_items_info.currentLastRow} of {$my_assigned_items_info.totalRows}
</span>

<div><span class="default">Order By </span>
                   <select class="default" name="order_by" onchange="javascript:sortList(this.form, 'order_by');">
                       {html_options options=$order_by_list selected=$order_by_default}
                   </select>
			</div>
</div>

<input type="hidden" name="cat" value="purge_objects" />

   <table class="listing">
     <tr bgcolor="{$cell_color}">
       <td width="10"><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form, 'items[]');" 
       class="button" /></td>
       <td class="default">&nbsp;<b>Title</b></td>
     </tr>
{assign var="list" value=$my_assigned_items_list}
     {section name="i" loop=$list}
		{if $list[i].thumbnail != "0"}
			{assign var="icon" value=$eserv_url|cat:"?pid="|cat:$list[i].pid|cat:"&dsID="|cat:$list[i].thumbnail}
		{else}
			{assign var="icon" value="images/record.jpg" }
		{/if}
	     {cycle values=$cycle assign="row_color"}
     <tr bgcolor="{$row_color}">
       <td><input type="checkbox" name="items[]" value="{$list[i].pid}" /></td>
       <td class="default">


		<a href="{$rel_url}view.php?pid={$list[i].pid|escape}"><img align="absmiddle" src="{$icon}" border="0"></a>
         <a href="{$rel_url}view.php?pid={$list[i].pid|escape}">{$list[i].title.0|escape}</a>
         <a href='{$rel_url}workflow/update.php?pid={$list[i].pid|escape}&href={$smarty.server.REQUEST_URI}'
         ><img title="Edit" align="absmiddle" src="{$rel_url}images/edit.gif" border="0"></a> 
         <a href="javascript:void(null);" onclick="javascript: purgeObject('{$list[i].pid|escape}');" 
         ><img title="Delete" align="absmiddle" src="{$rel_url}images/delete.gif" border="0"></a> 
		<br /><i>{$list[i].xdis_title.0|escape}</i>{if $list[i].research_program.0} - {$list[i].research_program.0|escape:"html"}{/if} <br />        
        {if $list[i].author}<b>{section name="author_loop" loop=$list[i].author}{assign var="next_author" value=$smarty.section.author_loop.index+1}{$list[i].author[author_loop]|escape:"html"}{if $list[i].author[$next_author] != ""} and {/if}{/section}</b><br />{/if}
		 (Created: {$list[i].created_date.0|escape}{if $list[i].updated_date.0 <> $list[i].created_date.0} Last Updated: {$list[i].updated_date.0|escape}{/if})
       </td>
     </tr>
     {sectionelse}
     <tr>
       <td colspan="5" bgcolor="{$light_color}" align="center" class="default">
         No workflow items could be found.
       </td>
     </tr>
     {/section}
     </table>

     <table class="listing">
     <tr bgcolor="{$cell_color}">
       <td width="10px"><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form, 'items[]');" 
       class="button" /></td>
       <td >
       <input type="submit" value="Delete" onclick="javascript:checkDeleteRecords(this.form);" class="button" />
       <input type="submit" value="Publish" onclick="javascript:checkPublishRecords(this.form);" class="button" />
       </td>
       <td width="40%" align="center" nowrap>
       <nobr>
       <input name="first" type="button" value="|&lt;" class="shortcut" onClick="javascript:setPage(0);">
       <input name="previous" type="button" value="&lt;&lt;" class="shortcut" onClick="javascript:setPage({$my_assigned_items_info.prevPage});">
       <input type="text" name="page" size="3" maxlength="3" value="{math equation="x + 1" x=$my_assigned_items_info.currentPage}" style="background: {$cell_color};" class="paging_input" onKeyPress="javascript:return checkPageField(event);">
       <input name="go" type="button" value="Go" class="shortcut" onClick="javascript:goPage(this.form, this.form.page.value);">
       <input name="next" type="button" value="&gt;&gt;" class="shortcut" onClick="javascript:setPage({$my_assigned_items_info.nextPage});">
       <input name="last" type="button" value="&gt;|" class="shortcut" onClick="javascript:setPage({$my_assigned_items_info.lastPage});">
                  </nobr>
                </td>
                <td nowrap>
                  <select name="page_size" class="default" onChange="javascript:resizePager(this.form);">
                    <option value="5" {if $options.rows == 5}selected{/if}>5</option>
                    <option value="10" {if $options.rows == 10}selected{/if}>10</option>
                    <option value="15" {if $options.rows == 15}selected{/if}>15</option>
                    <option value="25" {if $options.rows == 25}selected{/if}>25</option>
                    <option value="50" {if $options.rows == 50}selected{/if}>50</option>
                    <option value="100" {if $options.rows == 100}selected{/if}>100</option>
                    <option value="150" {if $options.rows == 150}selected{/if}>150</option>
                  </select>
                  <input type="button" value="Show Rows" class="shortcut" onClick="javascript:resizePager(this.form);">
                </td>
                <script type="text/javascript" language="JavaScript">
                <!--
                disableFields(getForm('assigned_records'));
                // -->
                </script>
     </tr>
   </table>
   </form>
  </div>

