<script  type="text/javascript" language="JavaScript">
<!--
{$najax_register}

var bgp_states = new Array;
{section name='i' loop=$bgp_states}
bgp_states[{$smarty.section.i.index}] = '{$bgp_states[i]}';
{/section}

var bgp_items = new Array;
var bgp_done = new Array;
{section name="iii" loop=$bgp_list}
bgp_items[{$smarty.section.iii.index}] = {$bgp_list[iii].bgp_id};
{if {$bgp_list[iii].bgp_state == 2}
bgp_done[{$smarty.section.iii.index}] = 1;
{else}
bgp_done[{$smarty.section.iii.index}] = 0;
{/if}
{/section}

var updateProcess_mutex;
var showBgpLog_mutexes = new Array;
{literal}
function showBgpUpdated(id)
{
    document.getElementById(id+'_progress').style.color = 'black';
    document.getElementById(id+'_status_message').style.color = 'black';
    document.getElementById(id+'_heartbeat').style.color = 'black';
    document.getElementById(id+'_state').style.color = 'black';
}
function showBgpUpdating(id)
{
    document.getElementById(id+'_progress').style.color = 'gray';
    document.getElementById(id+'_status_message').style.color = 'gray';
    document.getElementById(id+'_heartbeat').style.color = 'gray';
    document.getElementById(id+'_state').style.color = 'gray';
}
function showBgpError(id)
{
    document.getElementById(id+'_state').innerHTML = bgp_states[0];
}
function showBgpValues(id, values)
{
    document.getElementById(id+'_progress').innerHTML = values.bgp_progress;
    document.getElementById(id+'_status_message').innerHTML = values.bgp_status_message;
    document.getElementById(id+'_heartbeat').innerHTML = values.bgp_heartbeat;
    document.getElementById(id+'_state').innerHTML = bgp_states[values.bgp_state];
    showBgpUpdated(id);
}
next_idx = 0;
// updateProcesses recursively works through the list of background processes and updates them.
function updateProcesses()
{
    if (updateProcess_mutex++ > 0) {
        updateProcess_mutex--;
        return;
    } 
    good_id = false;
    while (!good_id) {
        if (next_idx >= bgp_items.length) {
            next_idx = 0;
            updateProcess_mutex--;
            return;
        }
        id = bgp_items[next_idx++];
        if (bgp_done[id] != 1) {
            good_id = true;
        }
    }
    showBgpUpdating(id);
    bgp = new NajaxBackgroundProcessList;
    bgp.onGetDetailsError = function () {
        showBgpError(id);
        updateProcess_mutex--;
        updateProcesses();
        return;
    };
    bgp.setTimeout(10000);
    bgp.getDetails(id, function(values) {
            showBgpValues(id, values);
            if (values.bgp_state == 2) {
              bgp_done[id] = 1;
            }
            updateProcess_mutex--;
            updateProcesses();
            });
}

var bgp_timer = false;
function updateBgpTimer()
{
    if (bgp_timer) {
        clearTimeout(bgp_timer);
        bgp_timer = 0;
    }
    updateProcesses();
    bgp_timer = setTimeout("updateBgpTimer()", 5000);
}

function showBgpLogUpdating(id)
{
    document.getElementById('div_log_'+id).innerHTML = 'Loading...';
    document.getElementById('tr_log_'+id).style.display = '';
}
function showBgpLogError(id)
{
    document.getElementById('div_log_'+id).innerHTML = 'Not found';
    document.getElementById('tr_log_'+id).style.display = '';
}
function hideBgpLog(id)
{
    document.getElementById('tr_log_'+id).style.display = 'none';
}

function showBgpLog(id)
{
    if (showBgpLog_mutexes[id]++ > 0) {
        showBgpLog_mutexes[id]--;
        return;
    } 
    showBgpLogUpdating(id);
    bgp = new NajaxBackgroundProcessList;
    bgp.onGetLogError = function () {
        showBgpLogError(id);
        showBgpLog_mutexes[id]--;
        return;
    };
    bgp.setTimeout(10000);
    bgp.getLog(id, function(log) {
            if (log.length < 1) {
            log = '(empty)';
            }
            document.getElementById('div_log_'+id).innerHTML = log;
            showBgpLog_mutexes[id]--;
            });

}
// end ajaxy stuff


function checkDelete(f)
{
    if (!hasOneChecked(f, 'items[]')) {
        alert('Please select at least one of the items.');
        return false;
    }
    if (!confirm('This action will permanently remove the selected items.')) {
        return false;
    } else {
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_popup', features);
    popupWin.focus();
    f.action = 'popup.php';
    f.target = '_popup';
    f.submit();
    return true;
    }
}
{/literal}
// -->
</script>
<div class="outline">
<div class="contentheader">
Running Processes
</div>
<form name="background_processes" method="post">
<input type="hidden" name="cat" value="delete_background_processes" />
<table class="listing">
<tr bgcolor="{$cell_color}" class="tableheader">
<td><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form,'items[]');" class="button"/></td>
<td class="default tableheader" >Started</td>
<td class="default tableheader" >Name</td>
<td class="default tableheader" >Progress</td>
<td class="default tableheader" >Message</td>
<td class="default tableheader" >Last Heartbeat</td>
<td class="default tableheader" >Status</td>
<td class="default tableheader" ></td>
</tr>
{section name="iii" loop=$bgp_list}
{cycle values=$cycle assign="row_color"}
<tr bgcolor="{$row_color}" class="default">
<td><input type="checkbox" name="items[]" value="{$bgp_list[iii].bgp_id}"/></td>
<td id="{$bgp_list[iii].bgp_id}_started">{$bgp_list[iii].bgp_started}</td>
<td id="{$bgp_list[iii].bgp_id}_name">{$bgp_list[iii].bgp_name}</td>
<td id="{$bgp_list[iii].bgp_id}_progress">{$bgp_list[iii].bgp_progress}</td>
<td id="{$bgp_list[iii].bgp_id}_status_message">{$bgp_list[iii].bgp_status_message}</td>
<td id="{$bgp_list[iii].bgp_id}_heartbeat">{$bgp_list[iii].bgp_heartbeat}</td>
<td id="{$bgp_list[iii].bgp_id}_state">{assign var="bgp_state" value=$bgp_list[iii].bgp_state}
<td ><a href="javascript:void(0);" onclick="showBgpLog('{$bgp_list[iii].bgp_id}')"
><img src="{$rel_url}images/system_16.png" alt="log" border="0" /></a> 
<a href="{$rel_url}get_bgp_file.php?bgp_id={$bgp_list[iii].bgp_id}"><img 
   src="{$rel_url}images/file.gif" alt="Get exported file" border="0"  /></a></td>

</tr>
<tr id="tr_log_{$bgp_list[iii].bgp_id}" style="display:none">
<td colspan="20" >
<div style="text-align:right">
<input type="button" value="close" class="button" onclick="hideBgpLog('{$bgp_list[iii].bgp_id}')" />
</div>
<div id="div_log_{$bgp_list[iii].bgp_id}" ></div>
<div style="text-align:right">
<input type="button" value="close" class="button" onclick="hideBgpLog('{$bgp_list[iii].bgp_id}')" />
</div>
</td></tr>
{sectionelse}
<tr >
<td colspan="20" class="default" bgcolor={$light_color} align="center" >No Items</td>
</tr>
{/section}
<tr bgcolor="{$cell_color}" >
<td><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form,'items[]');" class="button"/></td>
<td colspan="10">
<input type="button" value="Delete" onclick="javascript:return checkDelete(this.form);"  class="button"/>
</td>
</tr>
</table>
</form>

</div>
<script type="text/javascript">
<!--
updateBgpTimer();
// -->
</script>
