<script type="text/javascript" language="javascript">
<!--
var page_url = '{$smarty.server.PHP_SELF}';
var current_page = {if $my_created_items_info.current_page != ""}{$my_created_items_info.current_page}{else}0{/if};
var last_page = {if $my_created_items_info.last_page != ""}{$my_created_items_info.last_page}{else}0{/if};
{literal}
function checkDeleteRecords(f)
{
    if (!hasOneChecked(f, 'pids[]')) {
        alert('Please select at least one item.');
        return false;
    }
    if (!confirm('The checked items will be deleted, are you sure?')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('', '_popup', features);
        popupWin.focus();
         return true;
    }
}
function checkPublishRecords(f)
{
    if (!hasOneChecked(f, 'pids[]')) {
        alert('Please select at least one item.');
        return false;
    }
    if (!confirm('The checked items will be published, are you sure?')) {
        return false;
    } else {
	  	
        cat = getFormElement(f, 'cat');
        cat.value = 'publish_objects';  
        var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('', '_popup', features);
        popupWin.focus();
         return true;
    }
}


function checkPageField(ev)
{
    // check if the user is trying to submit the form by hitting <enter>
    if (((window.event) && (window.event.keyCode == 13)) ||
            ((ev) && (ev.which == 13))) {
        return false;
    }
}
function goPage(f, new_page)
{
    if ((new_page > last_page+1) || (new_page <= 0) ||
            (new_page == current_page+1) || (!isNumberOnly(new_page))) {
        f.page.value = current_page+1;
        return false;
    }
    setPage(new_page-1);
}
function setPage(new_page)
{
    if ((new_page > last_page) || (new_page < 0) ||
            (new_page == current_page)) {
        return false;
    }
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'pager_row_my_created', new_page);
}
function disableFields(f)
{
    if (current_page == 0) {
        f.first.disabled = true;
        f.previous.disabled = true;
    }
    if ((current_page == last_page) || (last_page <= 0)) {
        f.next.disabled = true;
        f.last.disabled = true;
    }
    if ((current_page == 0) && (last_page <= 0)) {
        f.page.disabled = true;
        f.go.disabled = true;
    }
}

function sortList(f, field) {
    sort_by = getSelectedOption(f, field);
    sort_by_dir = getSelectedOption(f, 'sort_by_dir');    
    temp = page_url + "?" + 'sort_by=' + sort_by;
    window.location.href = temp + "&" + 'sort_by_dir=' + sort_by_dir;
}


{/literal}
// -->
</script>
<div class="outline">
<form name="custom_filter_form" action="my_created_items.php" method="get" onsubmit="javascript:return validateSearchForm();">
<div class="contentheader">
Created Items <span class="default">(your deposited items you can list)</span>

</div>
<span class="default">
{if $my_created_items_info.total_rows != 0}
Showing items {math equation="x + 1" x=$my_created_items_info.current_row|default:0} 
to {$my_created_items_info.current_last_row} of {$my_created_items_info.total_rows}
{else}
No items found
{/if}
</span>
{if ($my_created_items_info.noOrder == 1)}
<span class="default_warning">
(No search restrictions set, so order sorting disabled)
</span>
{/if}


{include file="quick_filter_form.tpl.html"}         
<br />         
</form>
<form name="assigned_records" method="post" action="{$rel_url}popup.php" target="_popup">     
<input type="hidden" name="cat" value="delete_objects" />

   <table class="listing" width="100%" cellpadding=0>
     <tr bgcolor="{$cell_color}">
       <td width="10"><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form, 'pids[]');" 
       class="button" /></td>
       {if $options.searchKeycore_9 == "" || $options.searchKeycore_9 == "ALL" || $options.searchKeycore_9 == '-4'}     
       <td>
       	<table class="listing" width="100%" cellpadding=0 cellspacing=0>
       	  <tr>
       		<td class="default">Status</td>
       		{if ($my_assigned_items_info.noOrder == 0)}
       		<td align="right">
       		{if $options.sort_by == "searchKeycore_9"}
       			{if $options.sort_order == "1"}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_9&sort_order=0'><img border="0" title="click to sort by Status Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle"></a><img border="0" src="{$rel_url}images/sort_desc_16.gif" align="middle">{/if}
       			{if $options.sort_order == "0"}<img border="0" src="{$rel_url}images/sort_asc_16.gif"  align="middle"><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_9&sort_order=1'><img border="0" title="click to sort by Status Descending"  src="{$rel_url}images/sort_desc_off_16.gif" align="middle"></a>{/if}
       	    {else}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_9&sort_order=0'><img border="0" src="{$rel_url}images/sort_asc_off_16.gif" title="click to sort by Status Ascending" align="middle"></a><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_9&sort_order=1'><img border="0" src="{$rel_url}images/sort_desc_off_16.gif" title="click to sort by Status Descending" align="middle"></a>
       	    {/if}</td>
       	    {/if}       
       	  </tr>
       	</table>
       </td>
       {/if}
       {if $options.searchKeycore_23 == "" || $options.searchKeycore_23 == "ALL"}     
       <td>
       	<table class="listing" width="100%" cellpadding=0 cellspacing=0>
       	  <tr>
       		<td class="default">Group</td>
       		{if ($my_assigned_items_info.noOrder == 0)}
       		<td align="right">
       		{if $options.sort_by == "searchKeycore_23"}
       			{if $options.sort_order == "1"}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_23&sort_order=0'><img border="0" title="click to sort by Group Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle"></a><img border="0" src="{$rel_url}images/sort_desc_16.gif" align="middle">{/if}
       			{if $options.sort_order == "0"}<img border="0" src="{$rel_url}images/sort_asc_16.gif" align="middle"><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_23&sort_order=1'><img title="click to sort by Group Descending" border="0" src="{$rel_url}images/sort_desc_off_16.gif" align="middle"></a>{/if}
       	    {else}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_23&sort_order=0'><img border="0" src="{$rel_url}images/sort_asc_off_16.gif" title="click to sort by Group Ascending" align="middle"></a><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_23&sort_order=1'><img border="0" src="{$rel_url}images/sort_desc_off_16.gif" title="click to sort by Group Descending" align="middle"></a>
       	    {/if}</td>
       	    {/if}              		
       	  </tr>
       	</table>
       </td>{/if}
       {if ($options.searchKeycore_22 == "" || $options.searchKeycore_22 == "ALL"  || $options.searchKeycore_22 == '-3')}
       <td>
       	<table class="listing" width="100%" cellpadding=0 cellspacing=0>
       	  <tr>       
	       <td class="default">Assigned Users</td>
	       {if ($my_assigned_items_info.noOrder == 0)}
       		<td align="right">
       		{if $options.sort_by == "searchKeycore_22"}
       			{if $options.sort_order == "1"}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_22&sort_order=0'><img border="0" title="click to sort by Assigned User Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle"></a><img border="0" src="{$rel_url}images/sort_desc_16.gif" align="middle">{/if}
       			{if $options.sort_order == "0"}<img border="0" src="{$rel_url}images/sort_asc_16.gif"  align="middle"><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_22&sort_order=1'><img border="0" title="click to sort by Assigned User Descending"  src="{$rel_url}images/sort_desc_off_16.gif" align="middle"></a>{/if}
       	    {else}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_22&sort_order=0'><img border="0" src="{$rel_url}images/sort_asc_off_16.gif" title="click to sort by Assigned User Ascending" align="middle"></a><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_22&sort_order=1'><img border="0" src="{$rel_url}images/sort_desc_off_16.gif" title="click to sort by Assigned User Descending" align="middle"></a>
       	    {/if}</td>
       	    {/if}       	       
      	  </tr>
       	</table>
       </td>{/if}
       {if $options.searchKeycore_8 == ""}
       <td>
       	<table class="listing" width="100%" cellpadding=0 cellspacing=0>
       	  <tr>
       		<td class="default">Collection(s)</td>
       		{if ($my_assigned_items_info.noOrder == 3)} {* disabled for now - slow and meaningless unless using collection title instead of pid *}
       		<td align="right">
       		{if $options.sort_by == "searchKeycore_8"}
       			{if $options.sort_order == "1"}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_8&sort_order=0'><img border="0" title="click to sort by Collection Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle"></a><img border="0" src="{$rel_url}images/sort_desc_16.gif" align="middle">{/if}
       			{if $options.sort_order == "0"}<img border="0" src="{$rel_url}images/sort_asc_16.gif"  align="middle"><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_8&sort_order=1'><img border="0" title="click to sort by Collection Descending"  src="{$rel_url}images/sort_desc_off_16.gif" align="middle"></a>{/if}
       	    {else}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_8&sort_order=0'><img border="0" src="{$rel_url}images/sort_asc_off_16.gif" title="click to sort by Collection Ascending" align="middle"></a><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_8&sort_order=1'><img border="0" src="{$rel_url}images/sort_desc_off_16.gif" title="click to sort by Collection Descending" align="middle"></a>
       	    {/if}</td>
       	    {/if}       	       
      	  </tr>
       	</table>
       </td>{/if}
       <td width="50%">
       	<table class="listing" width="100%" cellpadding=0 cellspacing=0>
       	  <tr>       
       		<td class="default">Title</td>
       		{if ($my_assigned_items_info.noOrder == 0)} 
       		<td align="right">
       		{if $options.sort_by == "searchKeycore_2"}
       			{if $options.sort_order == "1"}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_2&sort_order=0'><img border="0" title="click to sort by Title Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle"></a><img border="0" src="{$rel_url}images/sort_desc_16.gif" align="middle">{/if}
       			{if $options.sort_order == "0"}<img border="0" src="{$rel_url}images/sort_asc_16.gif"  align="middle"><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_2&sort_order=1'><img border="0" title="click to sort by Title Descending"  src="{$rel_url}images/sort_desc_off_16.gif" align="middle"></a>{/if}
       	    {else}<a href='{$rel_url}my_fez.php?sort_by=searchKeycore_2&sort_order=0'><img border="0" src="{$rel_url}images/sort_asc_off_16.gif" title="click to sort by Title Ascending" align="middle"></a><a href='{$rel_url}my_fez.php?sort_by=searchKeycore_2&sort_order=1'><img border="0" src="{$rel_url}images/sort_desc_off_16.gif" title="click to sort by Title Descending" align="middle"></a>
       	    {/if}</td>
       	    {/if}       	       
      	  </tr>
       	</table>       		
       </td>       		       		
     </tr>
{assign var="list" value=$my_created_items_list}
   {section name="i" loop=$list}
		{if $list[i].thumbnail.0 != ""}
			{assign var="icon" value=$eserv_url|cat:$list[i].rek_pid|cat:"/"|cat:$list[i].thumbnail.0}
		{else}
			{assign var="icon" value="images/record.png"}
		{/if}
	     {cycle values=$cycle assign="row_color"}
   <tr bgcolor="{$row_color}">
     <td width="10"><input type="checkbox" name="pids[]" value="{$list[i].rek_pid}" /></td>
	  {assign var="status_id" value=$list[i].rek_status}
    {if $options.searchKeycore_9 == "" || $options.searchKeycore_9 == '-4'}<td class="default">{$status_list[$status_id]}</td>{/if}     

		{if $options.searchKeycore_23 == ""}<td class="default">
			{section name="g" loop=$list[i].rek_assigned_group_id}
				{assign var="group_id" value=$list[i].rek_assigned_group_id[g]} 
				{$grp_list[$group_id]}
			{/section}</td>
		{/if}
     {if ($options.searchKeycore_22 == "" || $options.searchKeycore_22 == "ALL"  ||  $options.searchKeycore_22 == '-3')}<td class="default">

		{section name="u" loop=$list[i].rek_assigned_user_id}
			{assign var="user_id" value=$list[i].rek_assigned_user_id[u]} 
			{$usr_list[$user_id]}
		{/section}</td>
	   {/if}
	   {if $options.searchKeycore_8 == ""}
     <td class="default">
		{section name="m" loop=$list[i].rek_ismemberof.rek_pid}
      <a title="click to open the published list of records in this collection" href="{$rel_url}collection/{$list[i].rek_ismemberof.rek_pid[m]}">{$list[i].rek_ismemberof.rek_title[m]|escape}</a><br />
		{/section}
     </td>
     {/if}
     <td width="99%">
     	<table class="default" cellpadding="0" cellspacing="0" width="100%">
     	  <tr>
     	    <td width="99%">


		<a href="{$rel_url}view/{$list[i].rek_pid|escape}"><img align="absmiddle" src="{$icon}" border="0"></a>
       <a href="{$rel_url}view/{$list[i].rek_pid|escape}" class="title_link">{$list[i].rek_citation}</a>
			  {section name="w" loop=$list[i].wft_id}
			    {if $list[i].wft_id[w] != ''}
			    {if $list[i].wft_icon[w] == 'images/security.gif'}
			      {if $list[i].security == 'include'}
			        {assign var="wf_icon" value="images/security_include.gif"}
			      {elseif $list[i].security == 'exclude'}
			        {assign var="wf_icon" value="images/security_exclude.gif"}
			      {elseif $list[i].security == 'inherit'}
		                {assign var="wf_icon" value="images/security_inherit.gif"}
			      {else}
			        {assign var="wf_icon" value=$list[i].wft_icon[w]}
			      {/if}
	            {else}
			      {assign var="wf_icon" value=$list[i].wft_icon[w]}
			    {/if}
                       {if $list[i].wft_type_id[w] == 6}
                         {assign var='wf_url' value=$rel_url|cat:'workflow/export.php'}
                       {else}
                         {assign var='wf_url' value=$rel_url|cat:'workflow/update.php'}
          			    {/if}
			<a href="{$wf_url}?pid={$list[i].rek_pid|escape:"html"}&amp;cat=select_workflow&amp;xdis_id={$list[i].rek_display_type}&amp;wft_id={$list[i].wft_id[w]}&amp;href={$smarty.server.REQUEST_URI|escape:'url'}"><img alt="{$list[i].wfl_title[w]}" title="{$list[i].wfl_title[w]}" src="{$rel_url}{$wf_icon}" border="0" /></a> 
			  {/if}
			  {/section}
			{if $list[i].isEditor==1 || $isAdministrator}		          
           <a href="workflow/list_workflows2.php?pid={$list[i].rek_pid|escape}"><img src="{$rel_url}images/options_16.png" alt="More options" title="More options" border="0" width="16" height="16" /></a>		<br />
			{/if}
		 (Created: {$list[i].rek_created_date|date_format:"%c"}{if $list[i].rek_updated_date <> $list[i].rek_created_date} Last Updated: {$list[i].rek_updated_date|date_format:"%c"}{/if})
     </td>
     <td nowrap align="right" valign="top">{if $list[i].Relevance} (Search Relevance: <b>{$list[i].Relevance|@number_format:"2"}</b>)<br />{/if}
					        {if $list[i].rek_object_type == '3'}{if $list[i].rek_views}({$list[i].rek_views|escape:"html"}&nbsp;Abstract&nbsp;View{if $list[i].rek_views > 1}s{/if})<br />{/if} {if $list[i].rek_file_downloads}({$list[i].rek_file_downloads|escape:"html"}&nbsp;<a class="author_link" href="{$rel_url}stat_details.php?action=show_detail&pid={$list[i].rek_pid}">File&nbsp;Download{if $list[i].rek_file_downloads > 1}s{/if}</a>){/if}{/if} 
     </td>
    </tr>
    </table>
   </td>
     
   </tr>
   {sectionelse}
   <tr>
     <td colspan="6" bgcolor="{$light_color}" align="center" class="default">
       No items with that search filter could be found.
     </td>
   </tr>
   {/section}
   </table>

   <table width="100%" cellpadding=0>
   <tr bgcolor="{$cell_color}">
     <td width="10px"><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form, 'pids[]');" 
     class="button" /></td>
     {if $isAdministrator} 
     <td>
     <input type="submit" value="Delete"  onClick="javascript:return checkDeleteRecords(this.form);" class="button" />
     <input type="submit" value="Publish" onClick="javascript:return checkPublishRecords(this.form);" class="button" />
     </td>
     {/if}
     <td>                   
       <input type="button" value="Run Workflow &gt;" class="shortcut" onClick="javascript:workflowItems(this.form, '{$rel_url}');">
       <select name="wft_id" class="default">
         {html_options options=$bulk_workflows}
        </select>
       {include file="error_icon.tpl.html" field="users"} 
     </td>
     <td width="40%" align="center" nowrap>
     <nobr>
     <input name="first" type="button" value="|&lt;" class="shortcut" onClick="javascript:setPage(0);">
     <input name="previous" type="button" value="&lt;&lt;" class="shortcut" onClick="javascript:setPage({$my_assigned_items_info.prev_page});">
     <input type="text" name="page" size="3" maxlength="3" value="{math equation="x + 1" x=$my_assigned_items_info.current_page}" style="background: {$cell_color};" class="paging_input" onKeyPress="javascript:return checkPageField(event);">
     <input name="go" type="button" value="Go" class="shortcut" onClick="javascript:goPage(this.form, this.form.page.value);">
     <input name="next" type="button" value="&gt;&gt;" class="shortcut" onClick="javascript:setPage({$my_assigned_items_info.next_page});">
     <input name="last" type="button" value="&gt;|" class="shortcut" onClick="javascript:setPage({$my_assigned_items_info.last_page});">
                </nobr>
              </td>
              <td nowrap>
                <select name="page_size" class="default" onChange="javascript:resizePager(this.form);">
                  <option value="5" {if $options.rows == 5}selected{/if}>5</option>
                  <option value="10" {if $options.rows == 10}selected{/if}>10</option>
                  <option value="15" {if $options.rows == 15}selected{/if}>15</option>
                  <option value="25" {if $options.rows == 25}selected{/if}>25</option>
                  <option value="50" {if $options.rows == 50}selected{/if}>50</option>
                  <option value="100" {if $options.rows == 100}selected{/if}>100</option>
                  <option value="150" {if $options.rows == 150}selected{/if}>150</option>
                  <option value="300" {if $options.rows == 300}selected{/if}>300</option>
                  <option value="500" {if $options.rows == 500}selected{/if}>500</option>
                </select>
                <input type="button" value="Show Rows" class="shortcut" onClick="javascript:resizePager(this.form);">
              </td>
              {literal}
              <script type="text/javascript" language="JavaScript">
              <!--
              disableFields(getForm('assigned_records'));
				var custom_filter_element = getPageElement('custom_filter_form' + '1');
				if (!isElementVisible(custom_filter_element)) {
					toggleVisibility('custom_filter_form');
				}
              // -->
              </script>
              {/literal}
   </tr>
 </table>

 </form>
</div>

