<div class="contentheader">My Assigned Collections</div>

 <table cellpadding="5" cellspacing="0" class="my_fez_table" width="100%">
     <tr>
       <th class="default">&nbsp;<b>Title</b></th>
       <th class="default">&nbsp;<b>Community</b></th>
       <th class="default" nowrap>&nbsp;<b>Action</b></th>
     </tr>
     {assign var="list" value=$my_collections_list}
     {section name="i" loop=$list}
     {cycle values=$cycle assign="row_color"}
     <tr>
       <td class="default">
         &nbsp;<a href="{$rel_url}collection/{$list[i].rek_pid|escape}">{$list[i].rek_title|escape}</a>
       </td>
       <td class="default">
		{section name="m" loop=$list[i].rek_ismemberof.rek_pid}
         &nbsp;{$list[i].rek_ismemberof.rek_title[m]|escape}
		{/section}
       </td>
       <td class="default">
		  {section name="w" loop=$list[i].wft_id}
		    {if $list[i].wft_id[w] != ''}
		    {if $list[i].wft_icon[w] == 'images/security.gif'}
		      {if $list[i].security == 'include'}
		        {assign var="wf_icon" value="images/security_include.gif"}
		      {elseif $list[i].security == 'exclude'}
		        {assign var="wf_icon" value="images/security_exclude.gif"}
		      {elseif $list[i].security == 'inherit'}
	            {assign var="wf_icon" value="images/security_inherit.gif"}
		      {else}
		        {assign var="wf_icon" value=$list[i].wft_icon[w]}
		      {/if}
           {else}
		      {assign var="wf_icon" value=$list[i].wft_icon[w]}
		    {/if}
                       
		    {if $list[i].wft_type_id[w] == 6}
             {assign var='wf_url' value=$rel_url|cat:'workflow/export.php'}
            {else}
             {assign var='wf_url' value=$rel_url|cat:'workflow/update.php'}
			{/if}
		<a href="{$wf_url}?pid={$list[i].rek_pid|escape:"html"}&amp;cat=select_workflow&amp;xdis_id={$list[i].rek_display_type}&amp;wft_id={$list[i].wft_id[w]}&amp;href={$smarty.server.REQUEST_URI}"><img alt="{$list[i].wfl_title[w]}" title="{$list[i].wfl_title[w]}" src="{$rel_url}{$wf_icon}" border="0" /></a> 
		  {/if}
		  {/section}
   			{if $list[i].isEditor==1 || $isAdministrator}
           <a href="workflow/list_workflows2.php?pid={$list[i].rek_pid|escape}"><img src="{$rel_url}images/options_16.png" alt="More options" title="More options" border="0" width="16" height="16" /></a> 
			{/if}

        </td>
     </tr>
     {sectionelse}
     <tr>
       <td colspan="5" bgcolor="{$light_color}" align="center" class="default">
         No items could be found.
       </td>
     </tr>
     {/section}
   </table>
