{include file="header.tpl.html" extra_title=$extra_title}
{include file="navigation.tpl.html"}

{literal}
<script type="text/javascript">
<!--
function purgeObject(pid)
{
    if (!confirm('This action will permanently delete the selected object.')) {
        return false;
    } else {
        window.location.replace('{/literal}{$rel_url}workflow/delete.php?pid=' + pid + '&href={$smarty.server.REQUEST_URI}{literal}');
        return true;
    }
}
var basic_element = getPageElement('basic_filter_form' + '1');
if (!isElementVisible(basic_element)) {
	toggleVisibility('basic_filter_form');
}
//-->
</script>
{/literal}

<div id="my-fez-container">
    
    <p class="default"><a href="{$rel_url}workflow/new.php?href={$smarty.server.REQUEST_URI}"><img src="{$rel_url}images/new_22.png" width="22" height="22" alt="Create" /> Create</a></p>
    
    <ul class="my_views_tab">
        <li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'my_collections.php'}class="my_views_tab_here" {/if}href="{$rel_url}my_collections.php" title="See the complete list of collections you have access to.">My Collections</a></li>
        <li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'my_created_items.php'}class="my_views_tab_here" {/if}href="{$rel_url}my_created_items.php" title="See the list of items you have created.">My Created Items</a></li>
        <li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'my_fez.php'}class="my_views_tab_here" {/if}href="{$rel_url}my_fez.php" title="See which of your items are not yet published.">Unpublished Items</a></li>
        <li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'my_work_in_progress.php'}class="my_views_tab_here" {/if}href="{$rel_url}my_work_in_progress.php" title="See the list of items you have created.">My Work In Progress</a></li>
        {if $isApprover}<li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'submitted_for_approval.php'}class="my_views_tab_here" {/if}href="{$rel_url}submitted_for_approval.php" title="See the list of items you can approve.">Submitted for Approval</a></li>{/if}
        {if $isApprover}<li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'in_review.php'}class="my_views_tab_here" {/if}href="{$rel_url}in_review.php" title="See the list of items you are reviewing.">In Review</a></li>{/if}
        {if $isAdministrator}<li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'my_active_workflows.php'}class="my_views_tab_here" {/if}href="{$rel_url}my_active_workflows.php" title="See the list of active workflows you have running.">Active Workflows</a></li>{/if}
        {if $isAdministrator}<li><a {if $smarty.server.PHP_SELF|replace:$rel_url:'' == 'my_processes.php'}class="my_views_tab_here" {/if}href="{$rel_url}my_processes.php" title="View background process information.">Background Processes</a></li>{/if}
    </ul>
    
    {if $myFezView == "MAI"}
    {include file="my_assigned_items.tpl.html"}


		{literal}
		<script type="text/javascript">
		<!--
		var custom_filter = getPageElement('custom_filter_form' + '1');
		if (!isElementVisible(custom_filter)) {
			toggleVisibility('custom_filter_form');
		}
		//-->
		</script>
		{/literal}


    {elseif $myFezView == "MCL"}
    {include file="my_collections.tpl.html"}
    {* records where the current user has role = creator  *}
    {elseif $myFezView == "MCI"}
    {include file="my_created_items.tpl.html"}
    {elseif $myFezView == "MBP"}
    {include file="my_background_processes.tpl.html"}
    {elseif $myFezView == "MWF"}
    {include file="my_active_workflows.tpl.html"}
    {elseif $myFezView == "WIP"}
    {include file="my_work_in_progress.tpl.html"}
    {elseif $myFezView == "SFA"}
    {include file="submitted_for_approval.tpl.html"}
    {elseif $myFezView == "Review"}
    {include file="in_review.tpl.html"}
    {else}
    {include file="my_assigned_items.tpl.html"}
    {/if}

</div>

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}
