<table width="100%" bgcolor="{$cell_color}" cellspacing="0" cellpadding="1" align="center">
<tr><td>
  <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" >
  <tr><td class="contentheader">

   Assigned Workflow Items
   <table border="0" width="100%" cellpadding="1" cellspacing="1">
     <tr>
       <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Title</b></td>
       <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>State</b></td>
       <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Role</b></td>
       <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>Action</b></td>
     </tr>
{assign var="list" value=$my_workflow_items_list}
     {section name="i" loop=$list}
     {cycle values=$cycle assign="row_color"}
     <tr>
       <td bgcolor="{$row_color}" class="default">
         &nbsp;{$list[i].title|escape}
       </td>
       <td bgcolor="{$row_color}" class="default">
         &nbsp;{$list[i].sta_title|escape}
       </td>
       <td bgcolor="{$row_color}" class="default">
         &nbsp;{$list[i].role|escape}
       </td>
       <td bgcolor="{$row_color}" class="default">
       <a href='update.php?pid={$list[i].pid|escape}'><img title="Edit" align="absmiddle" 
       src="{$rel_url}images/edit.png" border="0"></a> 
         <a href="{$rel_url}view.php?pid={$list[i].pid|escape}">[view]</a>
       </td>
     </tr>
     {sectionelse}
     <tr>
       <td colspan="5" bgcolor="{$light_color}" align="center" class="default">
         No workflow items could be found.
       </td>
     </tr>
     {/section}
   </table>
  </td></tr>
  </table>
</td></tr>
</table>

