
<body bgcolor="{if $bgcolor}{$bgcolor}{else}#FFFFFF{/if}" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0">
<link rel="stylesheet" href="{$rel_url}css/home.css" type="text/css">
<!--Header starts here -->
<a name="top"></a>
<!--START: Header -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-header" summary="UQ header">
     <tr>
       <td width="100%" align="left" bgcolor="003399" colspan="2">
          <table cellpadding=0 cellspacing=0 border=0 >
            <tr>
                <td width=100% height="55">
<!-- -------------- Put your page heading below here --------------- -->
<a href="{$app_base_url}" target="_top"><img title="Click here to go the the {$application_title} homepage" border="0" align="top" src="{$rel_url}images/Fez_Header.gif"/></a>
<!-- -------------- Put your page heading above here --------------- -->
              </td></tr>
          </table></td></tr>
   </tbody>
  </table>
<!--END: Header -->

<!-- -- -- -- -- -- -- -- -- -- -- page content starts here -- -- -- -- -- -- -- -- -- -- -->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" {$shaded_bar}>
        <tr height="21" valign="middle">
		  
          <td class="default_white">
            &nbsp;<b>{$application_title}</b> {if $isUser}(<a title="logout from {$application_title}" target="_top" href="{$rel_url}logout.php" class="white_link">Logout</a>){else}(<a title="login to {$application_title}" target="_top" href="{$rel_url}login.php" class="white_link">Login</a>){/if}
          </td>
          
          <td align="right" class="default">
            {if $isAdministrator}
            <img src="{$rel_url}images/administrator_16.gif" align="absmiddle"/> <a target="_top" title="manage the application settings, users, etc" href="{$rel_url}manage/" class="white_link">Administration</a>&nbsp;|
            {/if}
            <img src="{$rel_url}images/community_16.gif" align="absmiddle"/> <a target="_top" title="list the communities stored in {$application_title}" href="{$rel_url}list.php" class="white_link">Browse Communities</a>&nbsp;|
            {if $isAdministrator || $isUser}
            <img src="{$rel_url}images/my_fez_16.gif" align="absmiddle"/> <a target="_top" title="" href="{$rel_url}my_fez.php" class="white_link">My {$application_title}</a>&nbsp;|
            {/if}
            <img src="{$rel_url}images/help.gif" align="absmiddle"/> <a title="help documentation" href="javascript:void(null);" onClick="javascript:openHelp('{$rel_url}', 'main');" class="help">Help</a>&nbsp;
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="2" >
        <tr>
          {literal}
          <script language="JavaScript">
          <!--
          function setCurrentCollection()
          {
              var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
              var projWin = window.open('', '_active_collection', features);
              projWin.focus();
              return true;
          }
          //-->
          </script>
          {/literal}
		  {if $isUser}
          <td width="50%" nowrap bgcolor="{$light_color}" class="default">
            <b>User: {$current_full_name}</b> {if $isFezUser}(<a target="_top" title="modify your account details and preferences" href="{$rel_url}preferences.php" class="link">Preferences</a>){/if}
          </td>
		  {/if}
          <form target="_top" method="get" action="{$rel_url}list.php">
          <td width="5%" nowrap bgcolor="{$light_color}" align="right" >
            <a href="{$rel_url}adv_search.php"><img border="0" title="Click Here for Advanced Search page" src="{$rel_url}images/search_16.gif" align="absmiddle"/></a> <label for="search" accesskey="3"></label>
            <input type="text" id="search" name="terms" value="terms" size="15" 
              onBlur="javascript:if (this.value == '') this.value = 'terms';" onFocus="javascript:if (this.value == 'terms') this.value='';" class="shortcut">
            <input type="submit" value="Search" class="shortcut">
<!--<a href="#" onClick="javascript:alert( 'Search All Fields\n\n Enter a phrase.  Objects where any field contains the phrase will be returned.\n This is a case-insensitive search, and you may use the * or ? wildcards.\n\n Examples:\n\n li*y\n finds objects that start with li and end with y\n\n b?ts\n finds words that start with b followed by any letter and then ts.  e.g. bits, bats, byts')"><i>search help</i></a>-->
          </td>
          </form>                          
        </tr>
      </table>
    </td>
  </tr>
</table>

{if $show_line != "no"}

{/if}
