{include file="header.tpl.html" extra_title="News"}
{include file="navigation.tpl.html"}

<table cellpadding="5" cellspacing="5">
  <tr class="default">
    <td class="contentheader"><img src="/fez/images/community_22.jpg" alt="News" align="absmiddle"> News</td>
  </tr>

</table>

{section name="i" loop=$news}
<div class="news-item"><a name="{$news[i].nws_id}"></a><div class="news-heading">{$news[i].nws_title}</div><div class="news-supp-info">Posted {$news[i].nws_published_date} by {if $news[i].usr_email !== ''}<a href="mailto:{$news[i].usr_email}">{/if}{$news[i].usr_full_name}{if $news[i].usr_email !== ''}</a>{/if}</div><div class="news-body">{$news[i].nws_message}</div>
</div>
{/section}

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}