<?xml version="1.0" encoding="UTF-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
        <ShortName>{$app_name}</ShortName>
        <Description>Search {$app_name}</Description>
        <InputEncoding>UTF-8</InputEncoding>
        <Image height="16" width="16" type="image/x-icon">http://{$hostName}/favicon.ico</Image>
        <Url type="text/html" method="GET" template="http://{$hostName}/list/?cat=quick_filter&amp;sort_by=searchKey0&amp;search_keys%5B0%5D={ldelim}searchTerms{rdelim}"/>
</OpenSearchDescription>