{if $pages == 1}
Page: 1	
{elseif $pages > 1}
Page: 
  {if $pages <= 5}
     {section name='page_idx' loop=5}
     	{assign var='pp_current' value=$smarty.section.page_idx.index}
     	{if $pp_current == $page}
     	  {math equation='x + 1' x=$page}
     	{else}
     	  <a href="{$pager_self_link|replace:__pp_page__:$pp_current}">{math equation='x + 1' x=$pp_current}</a>
     	{/if}
     {/section}
  {else}
   	{assign var='pp_current' value=0}
     	{if $pp_current == $page}
     	  {math equation='x + 1' x=$page}
     	{else}
     	  <a href="{$pager_self_link|replace:__pp_page__:$pp_current}">{math equation='x + 1' x=$pp_current}</a>
     	{/if}

   	{math assign='pp_start' equation='x - 2' x=$page}
   	{math assign='pp_loop' equation='x+5' x=$pp_start}
   	{if $pp_start < 2}
   		{assign var='pp_start' value=1}
		{math assign='pp_loop' equation='x+5' x=$pp_start}
   	{elseif $pp_start > $pages - 6}
   	  	{math assign='pp_start' equation='x-6' x=$pages}
     	{math assign='pp_loop' equation='x+5' x=$pp_start}
   	{else}
   	...  
 	{/if}
		
     {section name='page_idx' loop=$pp_loop start=$pp_start}
     	{assign var='pp_current' value=$smarty.section.page_idx.index}
     	{if $pp_current == $page}
     	  {math equation='x + 1' x=$page}
     	{else}
     	  <a href="{$pager_self_link|replace:__pp_page__:$pp_current}">{math equation='x + 1' x=$pp_current}</a>
     	{/if}
     {/section}

	... 
   	{math assign='pp_current' equation='x - 1' x=$pages}
     	{if $pp_current == $page}
     	  {math equation='x + 1' x=$page}
     	{else}
     	  <a href="{$pager_self_link|replace:__pp_page__:$pp_current}">{math equation='x + 1' x=$pp_current}</a>
     	{/if}

  	
  {/if}
{/if}