{if $list_info.total_pages > 1}
  {if $smarty.get.pager_row == ""}
    {capture name="qs"}{$smarty.server.QUERY_STRING}&pager_row=[[[PAGER_ROW]]]{/capture}
  {else}
    {capture name="qs"}{$smarty.server.QUERY_STRING|regex_replace:"/pager_row=[\d]*/":"pager_row=[[[PAGER_ROW]]]"}{/capture}
  {/if}
  {math assign='end_range' equation='x - y' x=$list_info.end_range y=$list_info.start_range}
  {assign var=qs1 value="$rel_url$browse_mode/$pid/"}

<div class="pager-display">
	Page results<br />
	{if $list_info.printable_page != 1}
	<a href="{$qs1}pager_row=0" title="First page"><img src="{$rel_url}images/browse_first_16.png" border="" alt="" width="16" height="16" /></a> 
	<a href="{$qs1}pager_row={$list_info.prev_page}" title="Previous page"><img src="{$rel_url}images/browse_previous_16.png" border="" alt="" width="16" height="16" /></a>&nbsp;
	{/if}
	{section name=pages start=$list_info.start_range loop=100 step=1 max=$end_range}
	  {if $smarty.section.pages.index == $list_info.current_page}
		<a href="{$qs1}pager_row={$smarty.section.pages.index}" style="color: red; font-weight: bold;" title="Current page">{math equation="x + 1" x=$smarty.section.pages.index}</a>
	  {else}
		<a href="{$qs1}pager_row={$smarty.section.pages.index}" title="Page {math equation="x + 1" x=$smarty.section.pages.index}">{math equation="x + 1" x=$smarty.section.pages.index}</a> 
      {/if}
	{/section}
	{if $list_info.printable_page != $list_info.total_pages}
	&nbsp;<a href="{$qs1}pager_row={$list_info.next_page}" title="Next page"><img src="{$rel_url}images/browse_next_16.png" border="" alt="" width="16" height="16" /></a> 
	<a href="{$qs1}pager_row={$list_info.last_page}" title="Last page"><img src="{$rel_url}images/browse_last_16.png" border="" alt="" width="16" height="16" /></a>
	{/if}
</div>
{/if}