<div id="criteria-box">
  <h1>
  {if $list_type == 'all_records_list' || $list_type == 'collection_records_list'}
    <img src="{$rel_url}images/record_32.jpg" alt="" />		
  {elseif $list_type == 'community_list'}
    <img src="{$rel_url}images/community_32.jpg" alt="" />
  {elseif $list_type == 'collection_list'}
    <img src="{$rel_url}images/collection_32.jpg" alt="" />
  {elseif $browse_type == 'browse_author'}			
    <a href="{$rel_url}list/author/"><img title="Browse by all authors" alt="Browse by all authors" src="{$rel_url}images/browse_32.jpg" /></a>
  {/if}
  {$list_heading}</h1>

{if $list_type == 'collection_records_list'}
  {if $parents}
  <div id="parent-list"><b>Parents:</b> 
	{section name="i" loop=$parents}
		{if $parents[i].rek_object_type == 1}
		<a href="{$rel_url}community/{$parents[i].rek_pid}">{$parents[i].rek_title}</a> &nbsp; 
		{else}
		<a href="{$rel_url}collection/{$parents[i].rek_pid}">{$parents[i].rek_title}</a> &nbsp; 
		{/if}
	{/section}
  </div>
  {/if}
{/if}

</div>


<div class="result-box clearfix" style="width: 980px;">

  <h2>Browse Results ({$list_info.total_rows} results found)</h2>
  {if $list_type != 'community_list'}
  <p class="rss"><a title="Subscribe to the RSS feed for this result set" href="{$PAGE_URL}?{if $url_wo_tpl != ''}{$url_wo_tpl}&amp;{/if}tpl=2"><img src="{$rel_url}images/icons/rss-icon.png" alt="Subscribe to the RSS feed for this result set" />Subscribe to the RSS feed for this result set</a></p>
  {/if}

    <div id="order-box" class="clearfix">
  	{if $list_type != 'mypubs_list' || $template_mode != 0}
    	<div class="order-element">
    		<label>Sort results by</label>
    	    <select class="default" name="sort_by" onchange="javascript:orderAndSort(this.form, 'sort_by', 'sort_order');">
    		   {html_options options=$sort_by_list selected=$sort_by_default}
    	    </select>
    		<select class="default" name="sort_order" onchange="javascript:orderAndSort(this.form, 'sort_by', 'sort_order');">
    		   <option value="0" {if $sort_order == 0}selected="selected"{/if}>Asc</option>
    		   <option value="1" {if $sort_order == 1}selected="selected"{/if}>Desc</option>
    	    </select>
    	</div>
    {/if}
	{if $tpl_list}
    	<div class="order-element">
    		<label for="order-view">Display results</label>
    		<select class="default" name="tpl" onchange="javascript:setTemplateNew(this.form, 'tpl');" id="order-view">
    			{html_options options=$tpl_list selected=$template_mode}
    		</select>
    	</div>
    {/if}
  	{if $list_type != 'mypubs_list' || $template_mode != 0}
    	<div class="order-element">
    		<label for="order-number">Set objects per page</label>
    		
    		  <select name="rows" class="default" onchange="javascript:resizePagerNew(this.form);" id="order-number">
			    <option value="1" {if $rows == 1}selected="selected"{/if}>1</option>
    			<option value="5" {if $rows == 5}selected="selected"{/if}>5</option>
    			<option value="10" {if $rows == 10}selected="selected"{/if}>10</option>
    			<option value="25" {if $rows == 25}selected="selected"{/if}>25</option>
    			<option value="50" {if $rows == 50}selected="selected"{/if}>50</option>
    			<option value="100" {if $rows == 100}selected="selected"{/if}>100</option>
    			<option value="150" {if $rows == 150}selected="selected"{/if}>150</option>
    			<option value="300" {if $rows == 300}selected="selected"{/if}>300</option>
    			<option value="500" {if $rows == 500}selected="selected"{/if}>500</option>
    		  </select>
    
    	</div>
	{/if}
	{if $list_type == 'possible'}
    	<div class="order-element">
			<input id="hide_closed" name="hide_closed"  {if $options.hide_closed}checked="checked"{/if} onclick="javascript:hideClosed(this.form);" type="checkbox"> <label for="hide_closed">Show Hidden Records</label>&nbsp;
		</div>
	{/if}
	
	</div>
	{if $list_info.total_pages > 1}{include file="paging_control.tpl.html" field="paginat0r"}{/if}
</div>