{if $list_info.total_pages > 1}
  {if $smarty.get.pager_row == ""}
    {capture name="qs"}{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING}&pager_row=[[[PAGER_ROW]]]{/capture}
  {else}
    {capture name="qs"}{$smarty.server.PHP_SELF}?{$smarty.server.QUERY_STRING|regex_replace:"/pager_row=[\d]*/":"pager_row=[[[PAGER_ROW]]]"}{/capture}
  {/if}

<div class="pager-display">
	Page results<br />
	{if $list_info.printable_page != 1}
	<a href="{$smarty.capture.qs|replace:"[[[PAGER_ROW]]]":"0"}" title="First page"><img src="images/browse_first_16.png" border="" alt="" width="16" height="16" /></a> 
	<a href="{$smarty.capture.qs|replace:"[[[PAGER_ROW]]]":$list_info.prev_page}" title="Previous page"><img src="images/browse_previous_16.png" border="" alt="" width="16" height="16" /></a>&nbsp;
	{/if}
	{section name=pages start=$list_info.start_range loop=$list_info.total_pages step=1 max=$list_info.end_range}
	  {if $smarty.section.pages.index == $list_info.current_page}
		<a href="{$smarty.capture.qs|replace:"[[[PAGER_ROW]]]":$smarty.section.pages.index}" style="color: red; font-weight: bold;" title="Current page">{math equation="x + 1" x=$smarty.section.pages.index}</a>
	  {else}
		<a href="{$smarty.capture.qs|replace:"[[[PAGER_ROW]]]":$smarty.section.pages.index}" title="Page {math equation="x + 1" x=$smarty.section.pages.index}">{math equation="x + 1" x=$smarty.section.pages.index}</a> 
      {/if}
	{/section}
	{if $list_info.printable_page != $list_info.total_pages}
	&nbsp;<a href="{$smarty.capture.qs|replace:"[[[PAGER_ROW]]]":$list_info.next_page}" title="Next page"><img src="images/browse_next_16.png" border="" alt="" width="16" height="16" /></a> 
	<a href="{$smarty.capture.qs|replace:"[[[PAGER_ROW]]]":$list_info.last_page}" title="Last page"><img src="images/browse_last_16.png" border="" alt="" width="16" height="16" /></a>
	{/if}
</div>
{/if}

<!-- This is the original paging control -->
<!--div style="white-space: nowrap;">
	<input name="first" type="button" value="|&lt;" class="shortcut" onclick="javascript:setPage(0);" />
	<input name="previous" type="button" value="&lt;&lt;" class="shortcut" onclick="javascript:setPage({$list_info.prev_page});" />
	<input type="text" name="page" size="3" maxlength="3" value="{math equation="x + 1" x=$list_info.current_page|default:0}" style="background: {$cell_color};" class="paging_input" onkeypress="javascript:return checkPageField(event);" />
	<input name="go" type="button" value="Go" class="shortcut" onclick="javascript:goPage(this.form, this.form.page.value);" />
	<input name="next" type="button" value="&gt;&gt;" class="shortcut" onclick="javascript:setPage({$list_info.next_page});" />
	<input name="last" type="button" value="&gt;|" class="shortcut" onclick="javascript:setPage({$list_info.last_page});" />
</div-->
