{include file="header.tpl.html"}



<br />
<center>
  <span class="default">

{if $purge_datastream_result == -1}
  <b>An error occurred while trying to purge the datastream</b>
{elseif $purge_datastream_result == 1}
  <b>Thank you, the datastream was purged successfully.</b>
{/if}
{if $update_form_result == -1}
  <b>An error occurred while trying to update the record</b>
{elseif $update_form_result == 1}
  <b>Thank you, the record was updated successfully.</b>
{/if}
{if $purge_object_result == -1}
  <b>An error occurred while trying to purge the object</b>
{elseif $purge_object_result == 1}
  <b>Thank you, the object was purged successfully.</b>
{/if}
{if $generic_result==-1}
  <b>An error occurred while performing {$generic_action} on the {$generic_type}</b>
{elseif $generic_result==1}
  <b>Succesfully performed {$generic_action} on the {$generic_type}</b>
{/if}
  </span>
</center>

<script language="JavaScript">
setTimeout('closeAndRefresh()', 1000);
</script>
<br />
<!--
//<input type="button" onclick="javascript:closeAndRefresh();" value="close"/> 
//-->
{include file="footer.tpl.html"}
