{include file="header.tpl.html" extra_title="Preferences"}
{include file="navigation.tpl.html"}

{literal}
<script language="JavaScript" type="text/javascript">
<!--
function validateName(f)
{
    if (isWhitespace(f.full_name.value)) {
        alert('Please enter your full name.');
        selectField(f, 'full_name');
        return false;
    }
    return true;
}
function validateEmail(f)
{
    if (!isEmail(f.email.value)) {
        alert('Please enter a valid email address.');
        selectField(f, 'email');
        return false;
    }
    return true;
}

function validateMyPubURL(f)
{
	if (!isWhitespace(f.mypub_url.value) && !isMyPubURL(f.mypub_url.value)) {
		alert('My Pub URL must be lowercase, only a-z and underscores, and less than 100 characters. Also it cannot be one of reserved path words we use on the site like \'view\'');
        selectField(f, 'mypub_url');
        return false;
    }
    return true;
}

function validateAccount(f)
{
    return true;
}
//-->
</script>
{/literal}
<table width="99%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        {if $smarty.get.from != ""}
        <tr>
          <td align="center" class="error" bgcolor="{$cell_color}">
            <b>
            {if $smarty.get.from == "ldap_registration"}
              Please check these details provided by the UQ central authentication systems <br />are correct and proceed to your <a href="{$rel_url}my_fez.php">My {$application_title}</a> area to
			  indicate communities and collections you wish to join to deposit material.
            {elseif $smarty.get.from == "new_registration"}
              Please check these details you provided are correct and proceed to your <a href="{$rel_url}my_fez.php">My {$application_title}</a> area to
			  indicate communities and collections you wish to join to deposit material.
            {/if}
            </b>

          </td>
        </tr>
        {/if}
  <tr>
    <td>
	<form name="update_name_form" onsubmit="javascript:return validateName(this);" action="{$smarty.server.PHP_SELF}" method="post">
	<input type="hidden" name="cat" value="update_name" />
	  <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
		<tr bgcolor="{$heading_color}">

          <td class="default_white" colspan="2">
            <b>User Details</b>
            {include file="help_link.tpl.html" topic="preferences"}
          </td>
        </tr>
        {if $update_name_result}
        <tr>
          <td colspan="2" class="error" bgcolor="{$cell_color}" align="center">
            {if $update_name_result == -1}
            <b>An error occurred while trying to run your query.</b>

            {elseif $update_name_result == 1}
            <b>Thank you, your full name was updated successfully.</b>
            {/if}
          </td>
        </tr>
        {/if}
        <tr>
          <td width="250" bgcolor="{$cell_color}" class="default">
            <b>Full Name:</b>

          </td>
          <td bgcolor="{$light_color}">
            <input type="text" name="full_name" size="40" class="default" value="{$current_full_name}" />
            {include file="error_icon.tpl.html" field="full_name"}
          </td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="{$cell_color}" align="center">
            <input class="button" type="submit" value="Update Full Name" />

            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
	  </table>
    </form>

	<form name="update_email_form" onsubmit="javascript:return validateEmail(this);" action="{$smarty.server.PHP_SELF}" method="post">
	<input type="hidden" name="cat" value="update_email" />
	  <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">

        {if $update_email_result}
        <tr>
          <td colspan="2" class="error" bgcolor="{$cell_color}" align="center">
            {if $update_email_result == -1}
            <b>An error occurred while trying to run your query.</b>
            {elseif $update_email_result == 1}
            <b>Thank you, your email address was updated successfully.</b>
            {/if}
          </td>
        </tr>

        {/if}
        <tr>
          <td width="250" bgcolor="{$cell_color}" class="default">
            <b>Email Address:</b>
          </td>
          <td bgcolor="{$light_color}">
            <input type="text" name="email" size="40" class="default" value="{$current_email}" />
            {include file="error_icon.tpl.html" field="email"}
          </td>

        </tr>
        <tr>
          <td colspan="2" bgcolor="{$cell_color}" align="center">
            <input class="button" type="submit" value="Update Email Address" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
      </table>
	</form>
{if $isAuthor == 1}
	<form name="update_mypub_url_form" onsubmit="javascript:return validateMyPubURL(this);" action="{$smarty.server.PHP_SELF}" method="post">
	<input type="hidden" name="cat" value="update_mypub_url" />
	  <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
	    <tr>
	      <td width="250" bgcolor="{$cell_color}" class="default">
	        <b>Author My Publications URL:</b><br />(lowercase, a-z and underscore characters only, and less than 100 characters)
	      </td>
	      <td bgcolor="{$light_color}">
	        <input type="text" name="mypub_url" size="40" class="default" value="{$myPubURL}" />
	        {include file="error_icon.tpl.html" field="mypub_url"}
	      </td>
	    </tr>
        {if $update_mypub_url_result == '-2'}
        <tr>
          <td colspan="2" class="error" bgcolor="{$cell_color}" align="center">
            {if $update_mypub_url_result == '-1'}
            <b>An error occurred while trying to run your query. Your My Publications URL must be lowercase, a-z and underscores only, and less than 100 characters</b>
            {elseif $update_mypub_url_result == '-2'}
            <b>An error occurred while trying to run your query. Your My Publications URL must be lowercase, a-z and underscores only, and less than 100 characters and cannot use one of the reserved words in the system.</b>
            {elseif $update_mypub_url_result == '1'}
            <b>Thank you, your my publications url was updated successfully.</b>
            {/if}
          </td>
        </tr>
        {/if}
          <td colspan="2" bgcolor="{$cell_color}" align="center">
            <input class="button" type="submit" value="Update My Pubs URL" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
	  </table>
    </form>
{/if}
	{if $local_db_user == 1}
	<form name="update_name_form" onsubmit="javascript:return validateName(this);" action="{$smarty.server.PHP_SELF}" method="post">
	<input type="hidden" name="cat" value="update_password" />
	  <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        {if $update_password_result}
        <tr>
          <td colspan="2" class="error" bgcolor="{$cell_color}" align="center">
            {if $update_password_result == -1}
            <b>An error occurred while trying to run your query.</b>
			{elseif $update_password_result == -2}
            <b>The password and confirm passwords did not match. Please try again.</b>
			{elseif $update_password_result == -3}
            <b>Your password muct be at least 6 characters long.</b>
            {elseif $update_password_result == 1}
            <b>Thank you, your password was updated successfully.</b>
            {/if}
          </td>
        </tr>
        {/if}
        <tr>
          <td width="190" bgcolor="{$cell_color}" class="default">
            <b>New Password:</b>
          </td>
          <td bgcolor="{$light_color}">
            <input type="password" name="new_password" size="40" class="default" value="" />
            {include file="error_icon.tpl.html" field="new_password"}
          </td>
        </tr>
        <tr>
          <td width="190" bgcolor="{$cell_color}" class="default">
            <b>Confirm Password:</b>
          </td>
          <td bgcolor="{$light_color}">

            <input type="password" name="confirm_password" size="40" class="default" value="" />
            {include file="error_icon.tpl.html" field="confirm_password"}
          </td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="{$cell_color}" align="center">
            <input class="button" type="submit" value="Update Password" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
	  </table>
    </form>
	{/if}

    </td>
  </tr>
</table>
<br />
<table width="99%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>

	  <form name="account_prefs_form" onsubmit="javascript:return validateAccount(this);" action="{$smarty.server.PHP_SELF}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="cat" value="update_account" />
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr bgcolor="{$heading_color}">
          <td class="default_white" colspan="2">
            <b>Account Preferences</b>
            {include file="help_link.tpl.html" topic="preferences"}
          </td>
        </tr>

        {if $update_account_result}
        <tr>
          <td colspan="2" class="error" bgcolor="{$cell_color}" align="center">
            {if $update_account_result == -1}
            <b>An error occurred while trying to run your query.</b>
            {elseif $update_account_result == 1}
            <b>Thank you, your account preferences were updated successfully.</b>
            {/if}
          </td>
        </tr>

        {/if}
        <tr>
          <td width="190" bgcolor="{$cell_color}" class="default">
            <b>Timezone:</b>
          </td>
          <td bgcolor="{$light_color}">
            <select class="default" name="timezone">
              {html_options values=$zones output=$zones selected=$user_prefs.timezone}
            </select>

            {include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="timezone"}
          </td>
        </tr>
        <tr>
          <td width="190" bgcolor="{$cell_color}" class="default">
            <b>Front Page Style:</b>
          </td>
          <td bgcolor="{$light_color}">
            <select class="default" name="front_page">
              {html_options options=$front_pages selected=$user_prefs.front_page}
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="{$cell_color}" align="center">
            <input class="button" type="submit" value="Update Preferences" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
      </table>
      </form>
    </td>
  </tr>
</table>
{if $SHIB_SWITCH == "ON"}
<br />
<table width="99%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">

        <tr bgcolor="{$heading_color}">
          <td class="default_white" colspan="2">
            <b>Shibboleth Attributes</b>
            {include file="help_link.tpl.html" topic="preferences"}
          </td>
        </tr>
		{section name="i" loop=$shibAttribs}
        <tr>
          <td width="190" bgcolor="{$cell_color}" class="default">

            <b>{$shibAttribs[i].name}:</b>
          </td>
          <td bgcolor="{$light_color}" class="default">
			{$shibAttribs[i].value}
          </td>
        </tr>
		{/section}
      </table>
    </td>

  </tr>
</table>
{/if}

<br />

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}