
{literal}
<script language="JavaScript">
<!--
var anyBranchArray = new Array(1);
anyBranchArray[0] = "";
var onCampusArray = new Array(15);
var offCampusArray = new Array(9);
onCampusArray[0] = 36;
onCampusArray[1] = 17;
onCampusArray[2] = 16;
onCampusArray[3] = 23;
onCampusArray[4] = 7;
onCampusArray[5] = 24;
onCampusArray[6] = 14;
onCampusArray[7] = 13;
onCampusArray[8] = 11;
onCampusArray[9] = 33; 
onCampusArray[10] = 9; 
onCampusArray[11] = 38; 
onCampusArray[12] = 26; 
onCampusArray[13] = 22; 
onCampusArray[14] = 6; 

offCampusArray[0] = 15; 
offCampusArray[1] = 12; 
offCampusArray[2] = 25; 
offCampusArray[3] = 10; 
offCampusArray[4] = 8; 
offCampusArray[5] = 37;
offCampusArray[6] = 40; 
offCampusArray[7] = 39; 
offCampusArray[8] = 41; 
function clearFilters(f)
{
    f.keywords.value = '';
    f.has_attachments.value = '';
	// @@@ CK - added so the team/projects select box can be reselt can also be cleared
    f.projects.selectedIndex = 0;
    f.users.selectedIndex = 0;
    f.category.selectedIndex = 0;
    f.status.selectedIndex = 0;
    f.priority.selectedIndex = 0;
    f.time_tracking_category.selectedIndex = 0;
	// @@@ CK - added so the custom fields can also be cleared
{/literal}
{section name="i" loop=$custom_fields}
//	f.custom_fields[{$custom_fields[i].fld_id}].selectedIndex = 0;
//	f.custom_fields[1].selectedIndex = 0;
//	var element{$custom_fields[i].fld_id} = getPageElement('custom_fields[{$custom_fields[i].fld_id}]');
//	var element{$custom_fields[i].fld_id}.selectedIndex = 0;
{/section}
{literal}
	var element1 = getPageElement('custom_fields[1]');
	element1.selectedIndex = 0;
	var element2 = getPageElement('custom_fields[2]');
	if (element2 != null) {
		element2.selectedIndex = 0;
	}
	var element3 = getPageElement('custom_fields[3]');
	if (element3 != null) {
		element3.selectedIndex = 0;
	}
	var element4 = getPageElement('custom_fields[4]');
	element4.value = '';
	var element5 = getPageElement('custom_fields[5]');
	element5.selectedIndex = 0;
	var element6 = getPageElement('custom_fields[6]');
	if (element6 != null) {
		element6.value = '';
	}
	var element7 = getPageElement('custom_fields[7]');
	if (element7 != null) {
//		element7.selectedIndex = 0;
	}
	var element8 = getPageElement('custom_fields[8]');
	if (element8 != null) {
		element8.value = '';
	}



    // now for the fields that are only available through the advanced search page
    setHiddenFieldValue(f, 'created_date[Year]', '');
    setHiddenFieldValue(f, 'created_date[Month]', '');
    setHiddenFieldValue(f, 'created_date[Day]', '');
    setHiddenFieldValue(f, 'created_date[filter_type]', '');
    setHiddenFieldValue(f, 'updated_date[Year]', '');
    setHiddenFieldValue(f, 'updated_date[Month]', '');
    setHiddenFieldValue(f, 'updated_date[Day]', '');
    setHiddenFieldValue(f, 'updated_date[filter_type]', '');
    setHiddenFieldValue(f, 'last_response_date[Year]', '');
    setHiddenFieldValue(f, 'last_response_date[Month]', '');
    setHiddenFieldValue(f, 'last_response_date[Day]', '');
    setHiddenFieldValue(f, 'last_response_date[filter_type]', '');
    setHiddenFieldValue(f, 'first_response_date[Year]', '');
    setHiddenFieldValue(f, 'first_response_date[Month]', '');
    setHiddenFieldValue(f, 'first_response_date[Day]', '');
    setHiddenFieldValue(f, 'first_response_date[filter_type]', '');
    setHiddenFieldValue(f, 'closed_date[Year]', '');
    setHiddenFieldValue(f, 'closed_date[Month]', '');
    setHiddenFieldValue(f, 'closed_date[Day]', '');
    setHiddenFieldValue(f, 'closed_date[filter_type]', '');
    setHiddenFieldValue(f, 'show_authorized_issues', '');
    setHiddenFieldValue(f, 'show_notification_list_issues', '');
    f.submit();
}
{/literal}
var get_urls = new Array();
{section name="i" loop=$csts}
get_urls[{$csts[i].cst_id}] = 'keywords={$csts[i].cst_keywords|escape:"html"}&users={$csts[i].cst_users}&category={$csts[i].cst_iss_prc_id}&status={$csts[i].cst_iss_sta_id}&priority={$csts[i].cst_iss_pri_id}&release={$csts[i].cst_iss_pre_id}&rows={$csts[i].cst_rows}&sort_by={$csts[i].cst_sort_by}&sort_order={$csts[i].cst_sort_order}&hide_closed={$csts[i].cst_hide_closed}&show_authorized_issues={$csts[i].cst_show_authorized}&show_notification_list_issues={$csts[i].cst_show_notification_list}';
{/section}
{literal}
function runCustomFilter(f)
{
    var cst_id = getSelectedOption(f, 'custom_filter');
    if (isWhitespace(cst_id)) {
        alert('Please select the custom filter to search against.');
        f.custom_filter.focus();
        return false;
    }
    f.action = 'list.php?cat=search&' + get_urls[cst_id];
    location.href = f.action;
    return false;
}
//-->
</script>
{/literal}
<table bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr id="filter_form1" {get_display_style element_name="filter_form"}>
    <td>&nbsp;
      
    </td>
    <td>
      <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="4">
        <form action="list.php" method="get">
        <input type="hidden" name="cat" value="search">
        <input type="hidden" name="pagerRow" value="0">
        <input type="hidden" name="created_date[Year]" value="{$options.created_date.Year}">
        <input type="hidden" name="created_date[Month]" value="{$options.created_date.Month}">
        <input type="hidden" name="created_date[Day]" value="{$options.created_date.Day}">
        <input type="hidden" name="created_date[filter_type]" value="{$options.created_date.filter_type}">
        <input type="hidden" name="updated_date[Year]" value="{$options.updated_date.Year}">
        <input type="hidden" name="updated_date[Month]" value="{$options.updated_date.Month}">
        <input type="hidden" name="updated_date[Day]" value="{$options.updated_date.Day}">
        <input type="hidden" name="updated_date[filter_type]" value="{$options.updated_date.filter_type}">
        <input type="hidden" name="last_response_date[Year]" value="{$options.last_response_date.Year}">
        <input type="hidden" name="last_response_date[Month]" value="{$options.last_response_date.Month}">
        <input type="hidden" name="last_response_date[Day]" value="{$options.last_response_date.Day}">
        <input type="hidden" name="last_response_date[filter_type]" value="{$options.last_response_date.filter_type}">
        <input type="hidden" name="first_response_date[Year]" value="{$options.first_response_date.Year}">
        <input type="hidden" name="first_response_date[Month]" value="{$options.first_response_date.Month}">
        <input type="hidden" name="first_response_date[Day]" value="{$options.first_response_date.Day}">
        <input type="hidden" name="first_response_date[filter_type]" value="{$options.first_response_date.filter_type}">
        <input type="hidden" name="closed_date[Year]" value="{$options.closed_date.Year}">
        <input type="hidden" name="closed_date[Month]" value="{$options.closed_date.Month}">
        <input type="hidden" name="closed_date[Day]" value="{$options.closed_date.Day}">
        <input type="hidden" name="closed_date[filter_type]" value="{$options.closed_date.filter_type}">
        <input type="hidden" name="show_authorized_issues" value="{$options.show_authorized_issues}">
        <input type="hidden" name="show_notification_list_issues" value="{$options.show_notification_list_issues}">
        <tr>
          <td>
            <span class="{if $options.keywords}default-search-used{else}default{/if}">Keyword(s):</span><br />
            <input class="default" type="text" name="keywords" size="15" value="{$options.keywords|escape:"html"}">
          </td>
          <td>
            <span class="{if $options.projects != 'all' && $options.projects != ''}default-search-used{else}default{/if}">Team(s):</span><br />
            <select name="projects" class="default">
              <option value="all">All</option>
			  {if $options.projects == ''}
			    {assign var="selectedTeam" value=$prj_id}
			  {else}
                {assign var="selectedTeam" value=$options.projects}
			  {/if}
              {html_options options=$projects selected=$selectedTeam}
            </select>
          </td>

          <td>
            <span class="{if $options.users != 'any' && $options.users != ''}default-search-used{else}default{/if}">Assigned:</span><br />
            <select name="users" class="default">
              <option value="">any</option>
              <option value="-1" {if $options.users == '-1'}selected{/if}>un-assigned</option>
              <option value="-2" {if $options.users == '-2'}selected{/if}>myself and un-assigned</option>
              {html_options options=$users selected=$options.users}
            </select>
          </td>
          <td>
            <span class="{if $options.status != 'any' && $options.status != ''}default-search-used{else}default{/if}">Status:</span><br />
            <select name="status" class="default">
              <option value="">any</option>
              {foreach key=sta_id item=sta_title from=$status}
              <option value="{$sta_id}" {if $sta_id == $options.status}selected{/if}>{$sta_title}</option>
              {/foreach}
            </select>
          </td>
          <td nowrap valign="middle">
            <input class="button" type="submit" value="Search">
            <input class="button" type="button" value="Clear" onClick="javascript:clearFilters(this.form);">
          </td>

		</tr>
		<tr>

          <td>
            <span class="{if $options.category != 'any' && $options.category != ''}default-search-used{else}default{/if}">Category:</span><br />
            <select name="category" class="default">
              <option value="">any</option>
              {html_options options=$categories selected=$options.category}
            </select>
          </td>

          <td>
            <span class="{if $options.priority != 'all' && $options.priority != ''}default-search-used{else}default{/if}">Priority:</span><br />
            <select name="priority" class="default">
              <option value="">any</option>
              {section name="i" loop=$priorities}
              <option value="{$priorities[i].pri_id}" {if $priorities[i].pri_id == $options.priority}selected{/if}>{$priorities[i].pri_title}</option>
              {/section}
            </select>
          </td>
        {section name="i" loop=$custom_fields}
 {if $custom_fields[i].fld_id != 9 && $custom_fields[i].fld_id != 10 && $custom_fields[i].fld_id != 11 && $custom_fields[i].fld_id != 12}

 {if $custom_fields[i].fld_id == 4 || $custom_fields[i].fld_id == 8}
		</tr>
		<tr>
 {/if}
			 {if $custom_fields[i].fld_id == 1}
			  {assign var ="lastcustom" value=$options.custom1}
			 {/if}
			 {if $custom_fields[i].fld_id == 2}
			  {assign var ="lastcustom" value=$options.custom2}
			 {/if}
			 {if $custom_fields[i].fld_id == 3}
			  {assign var ="lastcustom" value=$options.custom3}
			 {/if}
			 {if $custom_fields[i].fld_id == 4}
			  {assign var="lastcustom" value=$options.custom4}
			 {/if}
			 {if $custom_fields[i].fld_id == 5}
			  {assign var ="lastcustom" value=$options.custom5}
			 {/if}
			 {if $custom_fields[i].fld_id == 6}
			  {assign var ="lastcustom" value=$options.custom6}
			 {/if}
			 {if $custom_fields[i].fld_id == 7}
			  {assign var ="lastcustom" value=$options.custom7}
			 {/if}
			 {if $custom_fields[i].fld_id == 8}
			  {assign var ="lastcustom" value=$options.custom8}
			 {/if}

          <td {if $custom_fields[i].fld_id == 2}rowspan='3' colspan="2"{/if}><span class="{if $lastcustom != 'all' && $lastcustom != 'any' && $lastcustom != '' && $lastcustom[0] != ''}default-search-used{else}default{/if}">


            {$custom_fields[i].fld_title}:

				{if $custom_fields[i].fld_type != 'text' &&  $custom_fields[i].fld_type != 'textarea'}
            <script language="JavaScript">
            <!--
//            custom_fields[custom_fields.length] = new Option('custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}', '{$custom_fields[i].fld_title}');
//            required_custom_fields[required_custom_fields.length] = new Option('custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}', {if $custom_fields[i].fld_type == 'multiple'}'multiple'{elseif $custom_fields[i].fld_type == 'combo'}'combo'{else}'whitespace'{/if});
            //-->
            </script>
	            {/if}


			</span><br />
            {if $custom_fields[i].fld_type == 'text'}
            <input id="custom_fields[{$custom_fields[i].fld_id}]" class="default" type="text" name="custom_fields[{$custom_fields[i].fld_id}]" maxlength="255" size="35" value="{$lastcustom}">
            {elseif $custom_fields[i].fld_type == 'textarea'}
            <textarea id="custom_fields[{$custom_fields[i].fld_id}]" name="custom_fields[{$custom_fields[i].fld_id}]" rows="10" cols="60" value="{$lastcustom}"></textarea>
            {else}
			  {if $custom_fields[i].fld_id == 2}<table cellpadding="0" cellspacing="0" bgcolor="#CCCCCC"><tr><td>{/if}
            <select id="custom_fields[{$custom_fields[i].fld_id}]" {if $custom_fields[i].fld_type == 'multiple' or $custom_fields[i].fld_id == 2}multiple size="8"{/if} class="default" name="custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple' or $custom_fields[i].fld_id == 2}[]{/if}">
              {if $custom_fields[i].fld_type != 'multiple'}<option value=""{if $lastcustom[0] == ""}{assign var ="lastcustom" value=""}selected{/if}>any</option>{/if}
              {if $custom_fields[i].fld_type != 'multiple'}<option value="none"{if $lastcustom[0] == "none"}{assign var ="lastcustom" value=""}selected{/if}>not set</option>{/if}
              {html_options options=$custom_fields[i].field_options selected=$lastcustom}
            </select>
            {/if}
            {assign var="custom_field_id" value=$custom_fields[i].fld_id}
            {if $custom_fields[i].fld_type == 'multiple' or $custom_fields[i].fld_id == 2}
              {assign var="custom_field_sufix" value="[]"}
            {else}
              {assign var="custom_field_sufix" value=""}
            {/if}
			  {if $custom_fields[i].fld_id == 2}
				</td><td valign="top"><table><tr><td>
				<input type="button" class="shortcut" value="On Campus" onClick="javascript:clearSelectedOptions(getFormElement(this.form, 'custom_fields[2][]'));selectCustomOptions(this.form, 'custom_fields[2][]', onCampusArray);">
				<br /></td></tr><tr><td>
				<input type="button" class="shortcut" value="Off Campus" onClick="javascript:clearSelectedOptions(getFormElement(this.form, 'custom_fields[2][]'));selectCustomOptions(this.form, 'custom_fields[2][]', offCampusArray);">
				<br /></td></tr><tr><td>
				<input type="button" class="shortcut" value="Clear Selections" onClick="javascript:clearSelectedOptions(getFormElement(this.form, 'custom_fields[2][]'));selectCustomOptions(this.form, 'custom_fields[2][]', anyBranchArray);">
				</td></tr></table></td></tr></table>
			   {/if}
            {include file="error_icon.tpl.html" field="custom_fields[$custom_field_id]$custom_field_sufix"}
            {if $custom_fields[i].fld_description != ""}
            <span class="small_default">({$custom_fields[i].fld_description|escape:"html"})</span>
            {/if}
          </td>

		 {/if}
        {/section}

          <td>
			<span class="{if $options.time_tracking_category != 'all' && $options.time_tracking_category != ''}default-search-used{else}default{/if}">Time Tracking Category:</span><br />
            <select name="time_tracking_category" class="default">
              <option value="">any</option>
              {html_options options=$time_categories selected=$options.time_tracking_category}
            </select>
            {include file="error_icon.tpl.html" field="time_tracking_category"}
          </td>
          <td>
            <span class="{if $options.has_attachments != ''}default-search-used{else}default{/if}">Has Attachments?:</span><br />
            <select name="has_attachments" class="default">
              <option value="">any</option>
              <option value="yes" {if $options.has_attachments == 'yes'}selected{/if}>yes</option>
              <option value="no" {if $options.has_attachments == 'no'}selected{/if}>no</option>
            </select>
          </td>
        </tr>
        </form>
      </table>
    </td>
    <td>&nbsp;
      
    </td>
  </tr>
  <tr id="custom_filter_form1" {get_display_style element_name="custom_filter_form"}>
    <td>&nbsp;
      
    </td>
    <td>
      <table bgcolor="{$light_color}" width="100%" border="0" cellspacing="0" cellpadding="4">
        <form action="list.php" method="get">
        <tr>
          <td class="default">
            [ <a class="link" href="javascript:void(open('{$rel_url}searchbar.php', '_search'));">quick search bar</a> ]
          </td>
          <td class="default" align="center">
            <a target="_top" title="create advanced searches" href="{$rel_url}adv_search.php" class="link">Advanced Search</a>
          </td>
        </tr>
        </form>
      </table>
    </td>
    <td>&nbsp;
      
    </td>
  </tr>
</table>

<br />

