
{if $new_issue_id != "" and $smarty.post.report_stays != "yes"}
<table width="500" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td class="default">
            <b>Thank you, the new issue was created successfully. Please choose 
            from one of the options below:</b>
            <ul>
              <li><a href="view.php?id={$new_issue_id}" class="link">Open the Issue Details Page</a></li>
              <li><a href="list.php" class="link">Open the Issue Listing Page</a></li>
              {if $app_setup.support_email == 'enabled' and $current_role > $roles.viewer}
              <li><a href="emails.php" class="link">Open the Emails Listing Page</a></li>
              {/if}
              <li><a href="new.php" class="link">Report a New Issue</a></li>
            </ul>
            <b>Otherwise, you will be automatically redirected to the Issue Details Page in 5 seconds.</b>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{literal}
<script language="JavaScript">
<!--
setTimeout('openDetailPage()', 5000);
function openDetailPage()
{
{/literal}
    window.location.href = 'view.php?id={$new_issue_id}';
{literal}
}
//-->
</script>
{/literal}
{else}
{if $new_issue_id != ""}
<table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td class="default" align="center">
			<font color="red">Last submitted at {$timenow} = {$last_submitted_via} - {$last_category} - {$last_subcategory} assigned to Issue ID -> <a href="view.php?id={$new_issue_id}" class="link">{$new_issue_id}</a></font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{/if}

{literal}
<script language="JavaScript">
<!--
function ChangeSelected(sel,state){
    for(var i=0; i<sel.options.length; i++){
        sel.options[i].selected=state;
    }
}
function clearNameUser() {
  var element6 = getPageElement('custom_fields[6]');
  element6.selectedIndex = 0;
}
var required_custom_fields = new Array();
var instant_required_custom_fields = new Array();
var custom_fields = new Array();
var instant_custom_fields = new Array();
function lookupHistory(x) {
	if (x == 6) {
		var searchVal = getPageElement('custom6'); 
		window.open('list.php?cat=search&pagerRow=0&created_date%5BYear%5D=&created_date%5BMonth%5D=&created_date%5BDay%5D=&created_date%5Bfilter_type%5D=&updated_date%5BYear%5D=&updated_date%5BMonth%5D=&updated_date%5BDay%5D=&updated_date%5Bfilter_type%5D=&last_response_date%5BYear%5D=&last_response_date%5BMonth%5D=&last_response_date%5BDay%5D=&last_response_date%5Bfilter_type%5D=&first_response_date%5BYear%5D=&first_response_date%5BMonth%5D=&first_response_date%5BDay%5D=&first_response_date%5Bfilter_type%5D=&closed_date%5BYear%5D=&closed_date%5BMonth%5D=&closed_date%5BDay%5D=&closed_date%5Bfilter_type%5D=&show_authorized_issues=&show_notification_list_issues=&keywords=&projects=all&users=&status=&category=&priority=&custom_fields%5B6%5D='+(searchVal.value).replace(" ", "+"));		
	} else {
		if (x == 8) {
			var searchVal = getPageElement('custom8'); 
			window.open('list.php?cat=search&pagerRow=0&created_date%5BYear%5D=&created_date%5BMonth%5D=&created_date%5BDay%5D=&created_date%5Bfilter_type%5D=&updated_date%5BYear%5D=&updated_date%5BMonth%5D=&updated_date%5BDay%5D=&updated_date%5Bfilter_type%5D=&last_response_date%5BYear%5D=&last_response_date%5BMonth%5D=&last_response_date%5BDay%5D=&last_response_date%5Bfilter_type%5D=&first_response_date%5BYear%5D=&first_response_date%5BMonth%5D=&first_response_date%5BDay%5D=&first_response_date%5Bfilter_type%5D=&closed_date%5BYear%5D=&closed_date%5BMonth%5D=&closed_date%5BDay%5D=&closed_date%5Bfilter_type%5D=&show_authorized_issues=&show_notification_list_issues=&keywords=&projects=all&users=&status=&category=&priority=&custom_fields%5B8%5D='+(searchVal.value).replace(" ", "+"));		
		} else {
			var searchVal = getPageElement('custom_fields['+x+']'); 
			window.open('list.php?cat=search&pagerRow=0&created_date%5BYear%5D=&created_date%5BMonth%5D=&created_date%5BDay%5D=&created_date%5Bfilter_type%5D=&updated_date%5BYear%5D=&updated_date%5BMonth%5D=&updated_date%5BDay%5D=&updated_date%5Bfilter_type%5D=&last_response_date%5BYear%5D=&last_response_date%5BMonth%5D=&last_response_date%5BDay%5D=&last_response_date%5Bfilter_type%5D=&first_response_date%5BYear%5D=&first_response_date%5BMonth%5D=&first_response_date%5BDay%5D=&first_response_date%5Bfilter_type%5D=&closed_date%5BYear%5D=&closed_date%5BMonth%5D=&closed_date%5BDay%5D=&closed_date%5Bfilter_type%5D=&show_authorized_issues=&show_notification_list_issues=&keywords=&projects=all&users=&status=&category=&priority=&custom_fields%5B'+x+'%5D='+(searchVal.value).replace(" ", "+"));		
		}
	}
}

/*function lookupHistory(x) {
	var searchVal = getPageElement('custom_fields['+x+']'); //.replace(' ', '+'));
	window.open('list.php?cat=search&pagerRow=0&created_date%5BYear%5D=&created_date%5BMonth%5D=&created_date%5BDay%5D=&created_date%5Bfilter_type%5D=&updated_date%5BYear%5D=&updated_date%5BMonth%5D=&updated_date%5BDay%5D=&updated_date%5Bfilter_type%5D=&last_response_date%5BYear%5D=&last_response_date%5BMonth%5D=&last_response_date%5BDay%5D=&last_response_date%5Bfilter_type%5D=&first_response_date%5BYear%5D=&first_response_date%5BMonth%5D=&first_response_date%5BDay%5D=&first_response_date%5Bfilter_type%5D=&closed_date%5BYear%5D=&closed_date%5BMonth%5D=&closed_date%5BDay%5D=&closed_date%5Bfilter_type%5D=&show_authorized_issues=&show_notification_list_issues=&keywords=&projects=all&users=&status=&category=&priority=&custom_fields%5B'+x+'%5D='+(searchVal.value).replace(" ", "+"));		
}*/
function validateForm(f)
{
    checkRequiredCustomFields(f, required_custom_fields);
    if (hasSelected(f.category, -1)) {
        errors[errors.length] = new Option('Category', 'category');
    }
    if (hasSelected(f.subcategory, 0)) {
        errors[errors.length] = new Option('Subcategory', 'subcategory');
    }
{/literal}
{if $prj_id == 2}
{literal}
    if (!hasOneSelected(f, 'users')) {
        errors[errors.length] = new Option('Assigned To', 'users');
    }
    if (!hasOneSelected(f, 'loggedby')) {
        errors[errors.length] = new Option('Logged By', 'loggedby');
    }
{/literal}
{/if}
{literal}

    {/literal}
    {literal}
}

function validateInstantForm(f)
{
    checkRequiredInstantCustomFields(f, instant_required_custom_fields);
{/literal}
{if $prj_id == 2}
{literal}
    if (!hasOneSelected(f, 'users')) {
        errors[errors.length] = new Option('Assigned To', 'users');
    }
    if (!hasOneSelected(f, 'loggedby')) {
        errors[errors.length] = new Option('Logged By', 'loggedby');
    }
{/literal}
{/if}
{literal}
    {/literal}
    {literal}
}
//-->
</script>
{/literal}

<table width="80%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
<form name="report_form" action="{$smarty.server.PHP_SELF}" method="post" enctype="multipart/form-data"  onSubmit="javascript:return checkFormSubmission(this, 'validateForm');redirect(0);">
<input type="hidden" name="cat" value="report">
<input type="hidden" name="attached_emails" value="{$attached_emails}">
  <tr valign="top">
	<td></td>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
        <tr>
          <td class="default" nowrap>
            <b>Create New Quick Issue Clicker</b>
          </td>
          <td align="right" class="default">
            (Current Team: {$current_project_name}) 
          </td>
        </tr>

		{if ($prj_id == 2)}
		<tr>
		 <td width="150" bgcolor="{$cell_color}" class="default_white">
			 <b>Logged By: *</b>
		 </td>
		 <td bgcolor="{$light_color}" nowrap>
			<select name="loggedby" class="default" tabindex="1" size="5" onChange="javascript:return selectOption(document.report_form, 'users', document.report_form.loggedby[document.report_form.loggedby.selectedIndex].value)">
			  {html_options options=$users selected=$smarty.post.loggedby}
			</select>
			{include file="error_icon.tpl.html" field="loggedby"}
		  </td>
		</tr>
		<tr>
		<td width="150" bgcolor="{$cell_color}" class="default_white">
			 <b>Assigned To: *</b>
		 </td>
		 <td bgcolor="{$light_color}" nowrap>
			<select name="users" class="default" tabindex="2" size="5">
			  {html_options options=$users selected=$smarty.post.users}
			</select>
			{include file="error_icon.tpl.html" field="users"}
		  </td>
		</tr>

		{/if}

        {section name="i" loop=$custom_fields}
			{if $custom_fields[i].fld_id == 1 or $custom_fields[i].fld_id == 2 or (($custom_fields[i].fld_id == 7 or $custom_fields[i].fld_id == 3) and $prj_id == 2)}
			{if $custom_fields[i].fld_id == 3}
			  {assign var ="lastcustom" value=$smarty.post.custom_fields[3]}
			{else}
			  {assign var ="lastcustom" value=""}
			{/if}
        <tr id="choicecustom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}">
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>{$custom_fields[i].fld_title}:{if $custom_fields[i].fld_report_form_required} *{/if}</b>
            {if $custom_fields[i].fld_report_form_required}
            <script language="JavaScript">
            <!--
            custom_fields[custom_fields.length] = new Option('custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}', '{$custom_fields[i].fld_title}');
            required_custom_fields[required_custom_fields.length] = new Option('custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}', {if $custom_fields[i].fld_type == 'multiple'}'multiple'{elseif $custom_fields[i].fld_type == 'combo'}'combo'{else}'whitespace'{/if});
            //-->
            </script>
            {/if}
          </td>
          <td bgcolor="{$light_color}">
            {if $custom_fields[i].fld_type == 'text'}
            <input class="default" type="text" id="custom_fields[{$custom_fields[i].fld_id}]" name="custom_fields[{$custom_fields[i].fld_id}]" maxlength="255" size="50">
            {elseif $custom_fields[i].fld_type == 'textarea'}
            <textarea name="custom_fields[{$custom_fields[i].fld_id}]" rows="10" cols="60"></textarea>
            {else}
            <select {if $custom_fields[i].fld_type == 'multiple'}multiple size="3"{/if} class="default" name="custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}">
              {if $custom_fields[i].fld_type != 'multiple' and  ($custom_fields[i].fld_id != 7 and $prj_id == 2)}<option value="-1">Please choose an option</option>{/if}
				{if $custom_fields[i].fld_id == 1}
              		{html_options options=$custom_fields[i].field_options selected='2'}
				{elseif $custom_fields[i].fld_id == 3}
					{html_options options=$custom_fields[i].field_options selected=$user_primary_campus_id}
				{elseif $custom_fields[i].fld_id == 7}
              		{html_options options=$custom_fields[i].field_options selected='34'}
				{else}
		            {html_options options=$custom_fields[i].field_options selected=$lastcustom}
			    {/if}
            </select>
            {/if}
            {assign var="custom_field_id" value=$custom_fields[i].fld_id}
            {if $custom_fields[i].fld_type == 'multiple'}
              {assign var="custom_field_sufix" value="[]"}
            {else}
              {assign var="custom_field_sufix" value=""}
            {/if}
            {include file="error_icon.tpl.html" field="custom_fields[$custom_field_id]$custom_field_sufix"}
            {if $custom_fields[i].fld_description != ""}
            <span class="small_default">({$custom_fields[i].fld_description|escape:"html"})</span>
            {/if}
          </td>
        </tr>
			{/if}
        {/section}
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Category: *</b> {include file="help_link.tpl.html" topic="report_category"}
          </td>
          <td bgcolor="{$light_color}" nowrap>
            <select name="category" class="default" tabindex="1" onChange="redirect(this.options.selectedIndex);">
              <option value="-1">Please choose a category</option>
              {html_options options=$cats selected=$smarty.post.category}
            </select>
            {include file="error_icon.tpl.html" field="category"}
          </td>
        </tr>
		<tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Subcategory: *</b> 
          </td>
          <td bgcolor="{$light_color}">
            <select name="subcategory" class="default" tabindex="1">
              <option value=0>Please choose a subcategory</option>
            </select>
            {include file="error_icon.tpl.html" field="subcategory"} 
          </td>
        </tr>
<!--
        {section name="r" loop=$custom_fields}
			{if $custom_fields[r].fld_id == 4 or $custom_fields[r].fld_id == 5 or $custom_fields[r].fld_id == 6 or $custom_fields[r].fld_id == 7 or $custom_fields[r].fld_id == 8}
        <tr id="choicecustom_fields[{$custom_fields[r].fld_id}]{if $custom_fields[r].fld_type == 'multiple'}[]{/if}">
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>{$custom_fields[r].fld_title}:{if $custom_fields[r].fld_report_form_required or $custom_fields[r].fld_id == 6} *{/if}</b>
            {if $custom_fields[r].fld_report_form_required}
            <script language="JavaScript">
            <!--
            custom_fields[custom_fields.length] = new Option('custom_fields[{$custom_fields[r].fld_id}]{if $custom_fields[r].fld_type == 'multiple'}[]{/if}', '{$custom_fields[r].fld_title}');
            required_custom_fields[required_custom_fields.length] = new Option('custom_fields[{$custom_fields[r].fld_id}]{if $custom_fields[r].fld_type == 'multiple'}[]{/if}', {if $custom_fields[r].fld_type == 'multiple'}'multiple'{elseif $custom_fields[r].fld_type == 'combo'}'combo'{else}'whitespace'{/if});
            //-->
<!--
            </script>
            {/if}
          </td>
          <td bgcolor="{$light_color}">
			{if $custom_fields[r].fld_id == 6 || $custom_fields[r].fld_id == 8}
				<select size="10" class="default" multiple id="custom_fields[{$custom_fields[r].fld_id}]" name="custom_fields[{$custom_fields[r].fld_id}]" onChange="javascript:showSelectionsFill('report_form', 'custom_fields[{$custom_fields[r].fld_id}]', {$custom_fields[r].fld_id});">
				  {html_options options=$library_staff}
				</select>
			<input type="button" name="reset_nameOfUser" value="Select None" class="default" onClick="javascript:resetCustom({$custom_fields[r].fld_id});custom{$custom_fields[r].fld_id}.value='';">
			<br />
			<div class=default>Quick Lookup:</div>{if $custom_fields[r].fld_id == 6}{include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="custom_fields[6]" callbacks="new Array('showSelectionsFill(\'report_form\', \'custom_fields[6]\', 6)')"}{else}{include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="custom_fields[8]" callbacks="new Array('showSelectionsFill(\'report_form\', \'custom_fields[8]\', 8)')"}{/if}
					<img src="{$rel_url}images/lookup.gif" align="absmiddle" onClick="javascript:lookupHistory({$custom_fields[r].fld_id})">
					<input type="button" value="Clear" class="default" name="btnClearCustom{$custom_fields[r].fld_id}" onClick="javascript:custom{$custom_fields[r].fld_id}.value='';">
			<div class="default" id="selection_custom_fields[{$custom_fields[r].fld_id}]"></div>
			<input type="text" name="custom{$custom_fields[r].fld_id}" id="custom{$custom_fields[r].fld_id}" value="" size="60" class="default">{if $custom_fields[r].fld_id == 6}{include file="error_icon.tpl.html" field="custom6"}{else}{include file="error_icon.tpl.html" field="custom8"}{/if}
			{/if}

            {if $custom_fields[r].fld_type == 'text'}
				{if $custom_fields[r].fld_id != 6 && $custom_fields[r].fld_id != 8}
		            <input class="default" type="text" id="custom_fields[{$custom_fields[r].fld_id}]" name="custom_fields[{$custom_fields[r].fld_id}]" maxlength="255" size="50">
				{/if}
				{if $custom_fields[r].fld_id == 4}
					<img src="{$rel_url}images/lookup.gif" align="absmiddle" onClick="javascript:lookupHistory({$custom_fields[r].fld_id})">
				{/if}
            {elseif $custom_fields[r].fld_type == 'textarea'}
            <textarea name="custom_fields[{$custom_fields[r].fld_id}]" rows="10" cols="60"></textarea>
            {else}
            <select {if $custom_fields[r].fld_type == 'multiple'}multiple size="3"{/if} class="default" name="custom_fields[{$custom_fields[r].fld_id}]{if $custom_fields[r].fld_type == 'multiple'}[]{/if}">
              {if $custom_fields[r].fld_type != 'multiple'}<option value="-1">Please choose an option</option>{/if}
              {html_options options=$custom_fields[r].field_options}
            </select>
            {/if}
            {assign var="custom_field_id" value=$custom_fields[r].fld_id}
            {if $custom_fields[r].fld_type == 'multiple'}
              {assign var="custom_field_sufix" value="[]"}
            {else}
              {assign var="custom_field_sufix" value=""}
            {/if}
            {include file="error_icon.tpl.html" field="custom_fields[$custom_field_id]$custom_field_sufix"}
            {if $custom_fields[r].fld_description != ""}
            <span class="small_default">({$custom_fields[r].fld_description|escape:"html"})</span>
            {/if}
          </td>
        </tr>
			{/if}
        {/section}
-->

<!--
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Priority: *</b> {include file="help_link.tpl.html" topic="report_priority"}
          </td>
          <td bgcolor="{$light_color}">
            <select name="priority" class="default" tabindex="2">
              <option value="-1">Please choose a priority</option>
              {section name="i" loop=$priorities}
              <option value="{$priorities[i].pri_id}" {if $priorities[i].pri_id == $smarty.post.priority}selected{/if}>{$priorities[i].pri_title}</option>
              {/section}
            </select>
            {include file="error_icon.tpl.html" field="priority"}
          </td>
        </tr>

		<tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Issue Status: *</b> 
          </td>
          <td bgcolor="{$light_color}">
            <select name="status" class="default" tabindex="1" onClick="javascript:toggleStatusChoices();">
              <option value="Open" {if ($smarty.post.status == "Open")} selected {/if}>Open</option>
              <option value="Closed" {if ($smarty.post.status == "" || $smarty.post.status == "Closed")} selected {/if}>Closed</option>
            </select>
            {include file="error_icon.tpl.html" field="Status"} <span class="default"><em>Quick Issues are closed by default unless specified here</em></span>
          </td>
        </tr>
		{if $browser.ie5up or $browser.ns6up or $browser.gecko}
		<tr id="statuschoicestitle" style="display:none">
	    {else}        
		<tr>
		{/if}
		  <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Resolution Location: *</b> 
          </td>
		  <td bgcolor="{$light_color}"> 
            <table>
              <tr>

				  <td bgcolor="{$light_color}">
					<select class="default" name="resolution_location">
					  {html_options options=$resolution_locations}
					</select> &nbsp; <span class="default"><em>(Onsite means at the library branch of the issue location)</em></span>
				  </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Escalate to another team?: {if $allow_unassigned_issues != 'yes'}*{/if}</b> {include file="help_link.tpl.html" topic="report_assignment"}
			<br><br>
          </td>
          <td bgcolor="{$light_color}" valign="top">
            <select name="projects" size="5" class="default" tabindex="3">
			  <option label="Don't Escalate" value="{$prj_id}" selected>Don't Escalate</option>
              {html_options options=$project_list}
            </select>
            {include file="error_icon.tpl.html" field="projects"} 
			<input type="button" name="reset_escalation" value="Select None" class="default" onClick="javascript:resetEscalation()">
          </td>
        </tr>
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Assignment: {if $allow_unassigned_issues != 'yes'}*{/if}</b> {include file="help_link.tpl.html" topic="report_assignment"}
          </td>
          <td bgcolor="{$light_color}">
            <select name="users[]" id="users" multiple size="10" class="default" tabindex="3">
              {html_options options=$users selected=$user_id}
            </select>
            {include file="error_icon.tpl.html" field="users"}
			<input type="button" name="reset_Assignment" value="Select None" class="default" onClick="javascript:resetAssignment();">
          </td>
        </tr>
-->
<!--
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Scheduled Release:</b> {include file="help_link.tpl.html" topic="report_release"}
          </td>
          <td bgcolor="{$light_color}">
            <select name="release" class="default" tabindex="4">
              <option value="0">un-scheduled</option>
              {html_options options=$releases selected=$smarty.post.release}
            </select>
          </td>
        </tr>
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Summary: *</b> {include file="help_link.tpl.html" topic="report_summary"}
          </td>
          <td bgcolor="{$light_color}">
            <input type="text" name="summary" class="default" size="50" tabindex="5">
            {include file="error_icon.tpl.html" field="summary"}
          </td>
        </tr>
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Description / Initial Requirements: *</b> {include file="help_link.tpl.html" topic="report_description"}
          </td>
          <td bgcolor="{$light_color}">
            <textarea name="description" rows="10" tabindex="6" style="width: 97%"></textarea>
            {include file="error_icon.tpl.html" field="description"}
          </td>
        </tr>
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <nobr><b>Estimated Dev. Time:</b> {include file="help_link.tpl.html" topic="report_estimated_dev_time"}&nbsp;</nobr>
          </td>
          <td bgcolor="{$light_color}">
            <input type="text" name="estimated_dev_time" class="default" size="10" tabindex="7">
            {include file="error_icon.tpl.html" field="estimated_dev_time"} <span class="default">(in hours)</span>
          </td>
        </tr>


        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Attach Files:</b>
          </td>
          <td bgcolor="{$light_color}">
            <table width="100%" cellpadding="2" cellspacing="0" id="file_table">
              <tr>
                <td>
                  <input type="file" name="file[]" size="40" class="shortcut" tabindex="8" {if $user_agent == 'ie'}onChange="javascript:addFileRow();"{/if}>
                </td>
              </tr>
            </table>
            {literal}
            <script language="">
            <!--
            if (document.all) {
                var fileTable = document.all['file_table'];
            } else if (!document.all && document.getElementById) {
                var fileTable = document.getElementById('file_table');
            }
            function addFileRow()
            {
                if (!fileTable) {
                    return;
                }
                rows = fileTable.rows.length;
                newRow = fileTable.insertRow(rows);
                cell = newRow.insertCell(0);
                cell.innerHTML = '<input class="shortcut" size="40" type="file" name="file[]" onChange="javascript:addFileRow();">';
            }
            //-->
            </script>
            {/literal}
<!--
          </td>
        </tr>
//-->
        <script language="JavaScript">
        <!--
        var prefs = new Array;
        {foreach from=$user_prefs item="value" key="key"}
        prefs[prefs.length] = new Option('{$key}', '{$value}');
        {/foreach}
        {literal}
        function toggleNotificationChoices()
        {
            var f = getForm('report_form');
            var element = getPageElement('choices');
            if (f.receive_notifications.checked) {
                element.style.display = '';
            } else {
                element.style.display = 'none';
            }
        }
        function toggleStatusChoices()
        {
            var f = getForm('report_form');
            var elementTitle = getPageElement('statuschoicestitle');
            if (f.status.options[f.status.options.selectedIndex].text == 'Closed') {
//                element.style.display = '';
                elementTitle.style.display = '';
            } else {
  //              element.style.display = 'none';
                elementTitle.style.display = 'none';
            }
        }
/*        function toggleHardwareChoices()
        {
            var f = getForm('report_form'); 
            var element1 = getPageElement('choicecustom_fields[5]');
            var element2 = getPageElement('choicecustom_fields[4]');
            if (f.category.options[f.category.options.selectedIndex].text == 'Hardware') {
                element1.style.display = '';
                element2.style.display = '';
            } else {
                element1.style.display = 'none';
                element2.style.display = 'none';
            }
        } */

        function getOptionValue(arr, value)
        {
            for (var i = 0; i < arr.length; i++) {
                if (arr[i].text == value) {
                    return arr[i].value;
                }
            }
        }
        function toggleChoice()
        {
            var f = getForm('report_form');
            if (f.choice[0].checked) {
                for (var i = 0; ; i++) {
                    var field = getFormElement(f, 'actions[]', i);
                    if (field == false) {
                        break;
                    } else {
                        var value = getOptionValue(prefs, field.value);
                        if (value == '1') {
                            field.checked = true;
                        } else {
                            field.checked = false;
                        }
                    }
                }
            } else {
                uncheckBoxes(f, 'actions[]');
            }
        }
        function uncheckBoxes(f, field_name)
        {
            var i = 0;
            while (1) {
                var field = getFormElement(f, field_name, i);
                if (field != false) {
                    field.checked = false;
                } else {
                    break;
                }
                i++;
            }
        }
		function resetEscalation(){
			//cycle through the options collection, setting the selected attribute of each to false
//			for (i=0;i<document.report_form.projects.options.length;i++){
//				document.report_form.projects.options[i].selected=false;
				document.report_form.projects.selectedIndex=0;
//			}
		}

		function resetAssignment(){
			//cycle through the options collection, setting the selected attribute of each to false
			var element = getPageElement('users');
			for (var i = 0; i < element.options.length; i++) {
				element.options[i].selected = false;
			}
		}

		function resetCustom(x){
			//cycle through the options collection, setting the selected attribute of each to false
			var element = getPageElement('custom_fields['+x+']');
			for (var i = 0; i < element.options.length; i++) {
				element.options[i].selected = false;
			}
		}
        //-->
        </script>
        {/literal}
<!--
        <tr>
          <td width="150" bgcolor="{$cell_color}" class="default_white">
            <b>Notification Options:</b>
          </td>
          <td bgcolor="{$light_color}" class="default">
            <input type="checkbox" name="receive_notifications" value="1" onClick="javascript:toggleNotificationChoices();"> <a id="link" class="link" href="javascript:void(null);" onClick="javascript:toggleCheckbox('report_form', 'receive_notifications');toggleNotificationChoices();">Subscribe to notifications of changes on this new issue</a>
            {if $browser.ie5up or $browser.ns6up or $browser.gecko}
            <table id="choices" style="display:none">
            {else}
            <table>
            {/if}
              <tr>
                <td><img src="{$rel_url}images/blank.gif" width="20" height="1" border="0"></td>
                <td class="default">
                  <input type="radio" name="choice" checked value="default" onClick="javascript:toggleChoice();"> <a id="link" class="link" href="javascript:void(null);" onClick="javascript:checkRadio('report_form', 'choice', 0);toggleChoice();">Use my default notification preferences</a><br />
                  <input type="radio" name="choice" value="custom" onClick="javascript:toggleChoice();"> <a id="link" class="link" href="javascript:void(null);" onClick="javascript:checkRadio('report_form', 'choice', 1);toggleChoice();">Choose a different notification preference</a>
                  <table>
                    <tr>
                      <td><img src="{$rel_url}images/blank.gif" width="20" height="1" border="0"></td>
                      <td class="default">
                        <input type="checkbox" name="actions[]" {if $user_prefs.update}checked{/if} value="update"> <a id="link" class="link" href="javascript:void(null);" onClick="javascript:toggleCheckbox('report_form', 'actions[]', 0);">Issue is Updated</a><br />
                        <input type="checkbox" name="actions[]" {if $user_prefs.closed}checked{/if} value="closed"> <a id="link" class="link" href="javascript:void(null);" onClick="javascript:toggleCheckbox('report_form', 'actions[]', 1);">Issue is Closed</a><br />
                        <input type="checkbox" name="actions[]" {if $user_prefs.emails}checked{/if} value="emails"> <a id="link" class="link" href="javascript:void(null);" onClick="javascript:toggleCheckbox('report_form', 'actions[]', 3);">Emails are Associated</a><br />
                        <input type="checkbox" name="actions[]" {if $user_prefs.files}checked{/if} value="files"> <a id="link" class="link" href="javascript:void(null);" onClick="javascript:toggleCheckbox('report_form', 'actions[]', 4);">Files are Attached</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
-->
        <tr>
          <td colspan="2" bgcolor="{$cell_color}">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td width="10" nowrap class="default_white">
                  <nobr>
                  <input type="checkbox" name="report_stays" value="yes" checked tabindex="11"> <b><a id="white_link" class="white_link" href="javascript:void(null);" onClick="javascript:toggleCheckbox('report_form', 'report_stays');">Keep Form Open</a></b>
                  </nobr>
                </td>
                <td width="100%" align="center">
                  <input class="button" type="submit" name="submit" value="Submit &amp; Open" tabindex="12">&nbsp;&nbsp;
                  <input class="button" type="submit" name="submit" value="Submit &amp; Close" tabindex="12">&nbsp;&nbsp;
                  <input class="button" type="reset" value="Reset" tabindex="13">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="default">
            <b>* Required fields</b>
          </td>
        </tr>
      </table>
    </td>
	</form>
	<form name="instant_report_form" action="{$smarty.server.PHP_SELF}" method="post" enctype="multipart/form-data" onSubmit="javascript:return checkFormSubmission(this, 'validateInstantForm');">

		  <td valign="top">
				  <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0" >
					<tr>
					  <td class="default" nowrap align="center">
						<img src="{$rel_url}images/instantissue.jpg" align="absmiddle"> &nbsp;<b>Instant Issue Clicker</b>
					  </td>
					</tr>

			{if ($prj_id == 2)}
			<tr>
			  <td bgcolor="{$light_color}" align="center">
				 <b><span class="default">Logged By: *</span></b><br />  
				<select name="loggedby" class="default" tabindex="1" size="5" onChange="javascript:return selectOption(document.instant_report_form, 'users', document.instant_report_form.loggedby[document.instant_report_form.loggedby.selectedIndex].value)">
				  {html_options options=$users selected=$smarty.post.loggedby}
				</select>
				{include file="error_icon.tpl.html" field="loggedby"}
			  </td>
			</tr>
			<tr>
			  <td bgcolor="{$light_color}" align="center">
				 <b><span class="default">Assigned To: *</span></b><br />  
				<select name="users" class="default" tabindex="2" size="5">
				  {html_options options=$users selected=$smarty.post.users}
				</select>
				{include file="error_icon.tpl.html" field="users"}
			  </td>
			</tr>

			{/if}

        {section name="i" loop=$custom_fields}

			{if $custom_fields[i].fld_id == 1 or $custom_fields[i].fld_id == 2 or  ($custom_fields[i].fld_id == 2 and $prj_id == 3) or (($custom_fields[i].fld_id == 7 or $custom_fields[i].fld_id == 3) and $prj_id == 2)}
        <tr>
          <td bgcolor="{$light_color}" align="center">
            {if $custom_fields[i].fld_report_form_required}
            <script language="JavaScript">
            <!--
            instant_custom_fields[instant_custom_fields.length] = new Option('instant_custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}', '{$custom_fields[i].fld_title}');
            instant_required_custom_fields[instant_required_custom_fields.length] = new Option('instant_custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}', {if $custom_fields[i].fld_type == 'multiple'}'multiple'{elseif $custom_fields[i].fld_type == 'combo'}'combo'{else}'whitespace'{/if});
            //-->
            </script>
            {/if}
            <b><span class="default">{$custom_fields[i].fld_title}:{if $custom_fields[i].fld_report_form_required} *{/if}</span></b>
            {if $custom_fields[i].fld_description != ""}			
            <br /><span class="small_default">({$custom_fields[i].fld_description|escape:"html"})</span>
            {/if}&nbsp;
			<br>
            {if $custom_fields[i].fld_type == 'text'}
            <input class="default" type="text" name="instant_custom_fields[{$custom_fields[i].fld_id}]" maxlength="255" size="50">
            {elseif $custom_fields[i].fld_type == 'textarea'}
            <textarea name="instant_custom_fields[{$custom_fields[i].fld_id}]" rows="10" cols="60"></textarea>
            {else}
            <select {if $custom_fields[i].fld_type == 'multiple'}multiple size="3"{/if} class="default" name="instant_custom_fields[{$custom_fields[i].fld_id}]{if $custom_fields[i].fld_type == 'multiple'}[]{/if}">
              {if $custom_fields[i].fld_type != 'multiple' and $prj_id != '2'}<option value="-1">Please choose an option</option>{/if}
				{if $custom_fields[i].fld_id == 1}
              		{html_options options=$custom_fields[i].field_options selected='2'}
				{elseif $custom_fields[i].fld_id == 3}
					{html_options options=$custom_fields[i].field_options selected=$user_primary_campus_id}
				{elseif $custom_fields[i].fld_id == 7}
              		{html_options options=$custom_fields[i].field_options selected='34'}
				{else}
              		{html_options options=$custom_fields[i].field_options}
				{/if}
            </select>
            {/if}
            {assign var="custom_field_id" value=$custom_fields[i].fld_id}
            {if $custom_fields[i].fld_type == 'multiple'}
              {assign var="custom_field_sufix" value="[]"}
            {else}
              {assign var="custom_field_sufix" value=""}
            {/if}
            {include file="error_icon.tpl.html" field="instant_custom_fields[$custom_field_id]$custom_field_sufix"}
          </td>
        </tr>
		  {/if}
        {/section}


					<tr>					
						<td  align="middle" class="default" bgcolor="{$light_color}"><br>&nbsp;
							<input type="hidden" name="cat" value="instantreport">
							<input type="hidden" name="report_stays" value="yes">
					{section name="i" loop=$instantlist}						
						<input type='submit' name='btnQuick' id="{$instantlist[i].prsc_id}"  value="{$instantlist[i].prc_title} -- {$instantlist[i].prsc_title}"><br><br>&nbsp;
					{/section}
						</td>
					</tr>
				</table>
			</td>
	  </tr>
	</form>
{literal}
<!-- BEGIN THE JTASK SCRIPT -->
<script>
<!--
var groups;
groups=document.report_form.category.options.length;
var group=new Array(groups)
//for (i=0; i<groups; i++) {
for (i=0; i<{/literal}{$maxG}{literal}; i++) {
        group[i]=new Array()
}
group[0][0]=new Option(0,"Please choose a subcategory")

<!-- BEGIN THE JTASK PHP TAG -->
{/literal}
{$jtaskData}
{literal}
<!-- END OF THE JTASK PHP TAG -->
var temp=document.report_form.subcategory

function redirect(x) {
	if (x != null) {
		var y = 0
        for (m=temp.options.length-1;m>0;m--)
                temp.options[m]=null
        temp.options[y]=new Option(group[0][0].value,0)
//        temp.options[y]=new Option(group[0][0].value,group[0][0].value)
		y++
        for (var i in group[document.report_form.category.options[x].value]){
//           temp.options[y]=new Option(group[document.report_form.category.options[x].value][i].value,i)
           temp.options[y]=new Option(group[document.report_form.category.options[x].value][i].value,i)
		   y++
        }

        temp.options[0].selected=true
	}
}

//-->
</script>
<!-- END OF THE JTASK SCRIPT -->
{/literal}
{literal}
<script language="JavaScript">
<!-- CK - To initialise the list after a reload with the same selected option
redirect(document.report_form.category.options.selectedIndex)
-->
</script>
{/literal}


</table>



{literal}
<script language="JavaScript">
<!--
window.onload = setFocus;
//toggleStatusChoices(); // to initialise the resolution location
function setFocus()
{
//    document.report_form.category.focus();
}
//-->
</script>
{/literal}
{/if}
