<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
  <title>{if $list_heading != ""}{$list_heading|escape:'html'} - {/if}{$application_title|escape:'html'}</title>
  <link>{$app_base_url}</link>
  <description>{$org_name}</description>
  <language>{$lang}</language>
  <generator>Fez {$application_version}</generator>
  <docs>http://blogs.law.harvard.edu/tech/rss</docs>
  {section name="i" loop=$list}
 		{if $list[i].reko_bject_type == 1}
          {assign var="href_view" value="community/"|cat:$list[i].rek_pid|escape:"html"}  
        {elseif $list[i].rek_object_type == 2}
	      {assign var="href_view" value="collection/"|cat:$list[i].rek_pid|escape:"html"}
	    {else}
		  {assign var="href_view" value="view/"|cat:$list[i].rek_pid|escape:"html"}	      
		{/if}
  <item>
	  <title>{$list[i].rek_title|escape:"html"}</title>
	  <link>{$app_base_url}{$href_view}</link>
	  {if $list[i].rek_description != "null"}	
	  	 <description>{$list[i].rek_description|escape:"html"}</description>
	  {/if}
	  {if $list[i].rek_created_date}
	  	<pubDate>{$list[i].rek_created_date|date_format:"%a, %d %b %Y %H:%M:%S"}</pubDate>
	  {/if}
		{if $list[i].rek_author}
			<author>
			{section name="author_loop" loop=$list[i].rek_author}
				{assign var="next_author" value=$smarty.section.author_loop.index+1}
						{$list[i].rek_author[author_loop]|escape:"html"}
				{if $list[i].rek_author[$next_author] != ""} og {/if}
			{/section}
			</author>
		{/if}
  </item>
  {/section}
</channel>
</rss>
