{if $mode == "all"}

	{include file="header.tpl.html"}
	{include file="navigation.tpl.html"}
	<div class="outline">
	<div class="contentheader">Sanity Check</div>
	<div class="default">This page causes a number of tests to be run and shows the results with suggestions on how to fix any 
	problems.  For more help, see the <a href="http://dev-repo.library.uq.edu.au/wiki/index.php/Troubleshooting">Troubleshooting</a>
	section on the Fez Wiki or search the <a href="http://sourceforge.net/mailarchive/forum.php?forum_id=46814">mailing list archives</a>.</div>
	<br/>
	Configuration varaibles may need to be changed by editing config.inc.php in the base directory of the installation.
	Most error messages will show which configuration variable was the problem.
	<br/>
		<div class="default">
			{include file="sanity_check_results.tpl.html"}
		</div>
		<br/>
		Fix any problems then <a href="{$smarty.const.PHP_SELF}">reload this page</a>
	</div>
	{include file="app_info.tpl.html"}
	{include file="footer.tpl.html"}

{elseif $mode == "individual"}

	{include file="header.tpl.html"}
	{include file="sanity_check_individual_results.tpl.html"}
	{include file="footer.tpl.html"}

{/if}