{include file="header.tpl.html" application_title="Fez Setup"}

{literal}
<style type="text/css">

.left-col {
	width: 200px;
	text-align: right;
	padding-right: 15px;
}

.right-col {
	width: 500px;
	text-align: left;
	font-size: 80%;
}

</style>

<script language="JavaScript">
<!--
function validateForm(f)
{
    if (isWhitespace(f.app_name.value)) {
        errors[errors.length] = new Option('Application Name', 'app_name');
    }
    return true;
}

//-->
</script>
{/literal}

<body style="background-color: #ECF6FF;">
<div style="padding: 30px;">
<div class="outline" style="padding: 10px; width: 650px; border: 1px #80C0FF solid; background-color: white;">

{if $step == 0}
	<div class="admin-header">Fez Installation</div>
	<div class="default admin-content">
	{if $problems != ''}
		{$problems}
	{else}
		Welcome to the Fez installation script. Everything looks ready to go.<br /><br />
		<form action="index.php?step=1" method="POST">
			<input type="submit" name="button" value="Proceed to the first step">
		</form>
	{/if}
	</div>

{elseif $step == 1}

<div class="admin-header">Core Variables</div>
<div class="default admin-content">Please supply the following values.

<br /><br />

<form action="index.php?step=2" method="POST">

<table>

<tr>
<td class="left-col">Application path</td>
<td class="right-col">
  <input type="text" name="app_path" value="{$default_path}" size="50" />
  <br />Change this to the location of your Fez installation on disk.
  {include file="error_icon.tpl.html" field="app_path"}
</td>
</tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>

<tr>
<td class="left-col">Relative path</td>
<td class="right-col">
  <input type="text" name="app_relative_url" value="/" size="50" />
  <br />If fez will be running somewhere other than the base directory of your domain - e.g. http://yourdomain.com<b>/fez/</b> - then enter the path here ('/fez/'). Otherwise, leave this value set to '/'.
  {include file="error_icon.tpl.html" field="app_relative_url"}
</td>
</tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>

<tr>
<td class="left-col">Database type</td>
<td class="right-col">
  <select name="app_sql_dbtype">
	<option value="mysql">MySQL</option>
	<!--option value="pgsql">PostgreSQL</option-->
	<!-- Have commented out all PEAR db systems that the Fedora site doens't claim they support -->
	<!--option value="sybase">Sybase</option>
	<option value="odbc">ODBC</option>
	<option value="oci8">Oracle 8</option>
	<option value="mssql">Microsoft SQL Server</option>
	<option value="msql">Mini-SQL</option>
	<option value="ifx">Informix</option>
	<option value="ibase">Interbase</option>
	<option value="fbsql">FrontBase</option>
	<option value="dbase">dbase</option-->
  </select>
</td>
</tr>
<tr>
<td class="left-col">Database host</td>
<td class="right-col">
  <input type="text" name="app_sql_dbhost" value="" size="30" />
  {include file="error_icon.tpl.html" field="app_sql_dbhost"}
</td>
</tr>
<tr>
<td class="left-col">Database name</td>
<td class="right-col">
  <input type="text" name="app_sql_dbname" value="" size="30" />
  {include file="error_icon.tpl.html" field="app_sql_dbname"}
</td>
</tr>
<tr>
<td class="left-col">Database username</td>
<td class="right-col">
  <input type="text" name="app_sql_dbuser" value="" size="30" />
  {include file="error_icon.tpl.html" field="app_sql_dbuser"}
</td>
</tr>
<tr>
<td class="left-col">Database password</td>
<td class="right-col">
  <input type="text" name="app_sql_dbpass" value="" size="30" />
  {include file="error_icon.tpl.html" field="app_sql_dbpass"}
</td>
</tr>
</table>

<br /><br />

<input type="submit" name="button" value="Proceed to the next step" onclick="javascript:window.alert('Please allow a couple of minutes for the next step to be performed.\nDo not refresh the next page during this time.');">
<input type="reset" name="reset" value="Reset to initial values">

</form>

</div>

{elseif $step == 2}
    {if $test_result != ''}
		<div class="admin-header">Error</div>
		<div class="default admin-content">There was a problem with the values you supplied. Please click back and try again.
		<br /><br /><span style="color: red;">{$test_result}</span></div>
    {elseif $sql_result != ''}
		<div class="admin-header">Error</div>
		<div class="default admin-content">There was a problem with the database setup. Please review the error below and try again.
		<br /><br /><span style="color: red;">{$sql_result}</span></div>
    {elseif $test_result == '' && $sql_result == ''}
		<div class="admin-header">Success!</div>
		<div class="default admin-content">The Fez installation process completed successfully.<br /><br />
		<div style="border: 2px red solid; padding: 10px;">
		<b>IMPORTANT SECURITY INFORMATION:</b> Once you have verified that your installation is working, delete the /setup/ directory.
		</div>
		<br /><br />You should now be able to log into <a href="../login.php?action=setup&url=manage/configuration.php" target="_blank">Fez Administration</a> and complete the rest of the setup process. In particular, you will need to configure your Fedora settings.
		</div>
	{/if}
{/if}

</div>
</div>

{include file="footer.tpl.html"}
