<div id="snapshotcontainer">
<span style="padding-left: 35px">Most Downloaded in the Last Week:</span>
<ul>

{foreach from=$list key=pid item=pidData name=dlstats}

	<li>{$smarty.foreach.dlstats.iteration}. <a href='{$rel_url}view/{$pid}'>{$pidData.citation}</a> {if $pidData.downloads <> ''} &nbsp;&nbsp;&nbsp; (<a title="View detailed statistics for this object" href="{$rel_url}stat_details.php?action=show_detail&pid={$pid}">{$pidData.downloads|escape:"html"} download{if $pidData.downloads > 1}s{/if}</a>){/if}</li><br />
	
	{if $smarty.foreach.dlstats.last}<br /><a href="{$rel_url}stats.php?browse=top50papers">Top 50 Papers</a> | <a href="{$rel_url}stats.php?browse=top50authors">Top 50 Authors</a></li>{/if}

{/foreach}

{if $smarty.foreach.dlstats.total == 0}
	Stats are not currently available.
{/if}


</ul>
</div>