

<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="{$light_color}">
  <tr>
    <td valign="top">
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td width="100%">
            <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="4">
             <tr>
                <td>
                  <span class="default"><b>Areas:</b></span>
                </td>
              </tr>
              <tr>
                <td nowrap class="default">
                  <ul>
                    <li><a href="{$rel_url}update.php?pid={$pid}" class="link">Edit Record</a></li>
                    <li><a href="{$rel_url}workflow_triggers.php?pid={$pid}" class="link">Workflow Triggers 
                    ({$triggers})</a></li>
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td>&nbsp;
      
    </td>
    <td width="100%" valign="top">
      {include file="$type.tpl.html"}
    </td>
  </tr>
</table>

