
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              {literal}
              <script language="JavaScript">
              <!--
              var editing_option_id = -1;
              function validateForm(f)
              {return true;}
              function addFieldOption(f)
              {
                  var value = f.new_value.value;
                  if (isWhitespace(value)) {
                      alert('Please enter the new value for the combo box.');
                      f.new_value.value = '';
                      f.new_value.focus();
                      return false;
                  }
                  var field = getFormElement(f, 'field_options[]');
                  var current_length = field.options.length;
                  if (current_length == 1) {
                      if (field.options[0].value == -1) {
                          removeFieldOption(f, true);
                      }
                  }
                  // check for an existing option with the same value
                  for (var i = 0; i < field.options.length; i++) { //>
                      if (field.options[i].text == value) {
                          alert('The specified value already exists in the list of options.');
                          f.new_value.focus();
                          return false;
                      }
                  }
                  current_length = field.options.length;
                  field.options[current_length] = new Option(value, 'new:' + value);
                  f.new_value.value = '';
                  f.new_value.focus();
              }
              function parseParameters(value)
              {
                  value = value.substring(value.indexOf(':')+1);
                  var id = value.substring(0, value.indexOf(':'));
                  var text = value.substring(value.indexOf(':')+1);
                  return new Option(text, id);
              }
              function updateFieldOption(f)
              {
                  if (isWhitespace(f.new_value.value)) {
                      alert('Please enter the updated value.');
                      f.new_value.value = '';
                      f.new_value.focus();
                      return false;
                  }
                  var field = getFormElement(f, 'field_options[]');
                  for (var i = 0; i < field.options.length; i++) { // >
                      if (field.options[i].value == editing_option_id) {
                          var params = parseParameters(field.options[i].value);
                          field.options[i].value = 'existing:' + params.value + ':' + f.new_value.value;
                          field.options[i].text = f.new_value.value;
                          f.new_value.value = '';
                          f.update_button.disabled = true;
                      }
                  }
              }
              function editFieldOption(f)
              {
                  var options = getSelectedItems(getFormElement(f, 'field_options[]'));
                  if (options.length == 0) {
                      alert('Please select an option from the list.');
                      return false;
                  }
                  editing_option_id = options[0].value;
                  f.new_value.value = options[0].text;
                  f.new_value.focus();
                  f.update_button.disabled = false;
              }
              function removeFieldOption(f, delete_first)
              {
                  if (delete_first != null) {
                      var remove = new Array('-1');
                  } else {
                      var options = getSelectedItems(getFormElement(f, 'field_options[]'));
                      if (options.length == 0) {
                          alert('Please select an option from the list.');
                          return false;
                      }
                      var remove = new Array();
                      for (var i = 0; i < options.length; i++) { // >
                          remove[remove.length] = options[i].value;
                      }
                  }
                  for (var i = 0; i < remove.length; i++) { // >
                      removeOptionByValue(f, 'field_options[]', remove[i]);
                  }
                  var field = getFormElement(f, 'field_options[]');
                  if ((delete_first == null) && (field.options.length == 0)) {
                      field.options[0] = new Option('enter a new option above', '-1');
                  }
              }
              function toggleCustomOptionsField(show_field)
              {
                  var f = getForm('entry_form');
                  f.new_value.disabled = show_field;
                  var field = getFormElement(f, 'field_options[]');
                  field.disabled = show_field;
                  f.add_button.disabled = show_field;
                  f.remove_button.disabled = show_field;
                  if (f.edit_button) {
                      f.edit_button.disabled = show_field;
                  }
                  return true;
              }
              function checkRequiredFields()
              {
                  var f = getForm('entry_form');
                  f.report_form_required.disabled = !(f.report_form.checked);
                  if (f.report_form_required.disabled) {
                      f.report_form_required.checked = false;
                  }
                  f.anon_form_required.disabled = !(f.anon_form.checked);
                  if (f.anon_form_required.disabled) {
                      f.anon_form_required.checked = false;
                  }
              }
              function showOrHideElement(element_name,checkbox_name)
              {
                  var row = document.getElementById(element_name);
                  var checkbox = document.getElementById(checkbox_name);
                  if (checkbox.checked)
                  {
                      row.style.display='';
                  } else {
                      row.style.display='none';
                  }
              }
              function updateForm()
              {
                  var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
                  var updateWin = window.open('', '_update_record_details', features);
                  updateWin.focus();
                  return true;
              }

              //-->
              </script>
              {/literal}
              <form name="entry_form" onSubmit="javascript:return validateForm(this) && updateForm();" target="_update_record_details" method="post" action="popup.php" enctype="multipart/form-data">
              {if $smarty.get.cat == 'edit'}
              <input type="hidden" name="cat" value="edit_{$type}">
              <input type="hidden" name="id" value="{$info.wft_id}">
              <input type="hidden" name="wft_id" value="{$info.wft_id}">
              {else}
              <input type="hidden" name="cat" value="new_{$type}">
              {/if}
              <input type="hidden" name="pid" value="{$pid}">
              <input type="hidden" name="wft_pid" value="{$pid}">
              <tr>
                <td colspan="2" class="default">
                  <b>Workflow Triggers</b> &nbsp;(
                          <a href="{$rel_url}workflow_triggers.php?pid={$pid}">New</a> )
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new {$type_name}.
                    {elseif $result == 1}
                      Thank you, the {$type_name} was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the {$type_name} information.
                    {elseif $result == 1}
                      Thank you, the {$type_name} was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
             <tr>
                <td bgcolor="{$cell_color}" class="default" nowrap>
                  <b>Trigger:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <select name="wft_type_id" >
                        {html_options options=$triggers_list selected=$info.wft_type_id}
                  </select>
                </td>
              </tr>
 
  
              <tr>
                <td  bgcolor="{$cell_color}" class="default" nowrap>
                  <b>XSD Display Document Type:</b>
                </td>
                <td bgcolor="{$light_color}" class="default">
                  <select name="wft_xdis_id" >
                        {html_options options=$xdis_list selected=$info.wft_xdis_id}
                  </select>
                </td>
              </tr>

              <tr>
                <td  width="120" bgcolor="{$cell_color}" class="default" nowrap>
                  <b>Mimetype:</b> (Ingest triggers only, leave blank to match all, seperate multiple 
                          mimetypes by spaces)
                </td>
                <td bgcolor="{$light_color}" class="default">
                  <input type="textfield" name="wft_mimetype" value="{$info.wft_mimetype}" size="64"/>
                </td>
              </tr>

              <tr>
                <td bgcolor="{$cell_color}" class="default" nowrap>
                  <b>Workflow:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <select name="wft_wfl_id" >
                        {html_options options=$wfl_list selected=$info.wft_wfl_id}
                  </select>
                </td>
              </tr>

 
             <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center">
                  {if $smarty.get.cat == 'edit'}
                  <input class="button" type="submit" value="Update">
                  {else}
                  <input class="button" type="submit" value="Submit">
                  {/if}
                  <input class="button" type="reset" value="Reset">
                </td>
              </tr>
              </form>
                  <script language="JavaScript">
                  <!--
                  {literal}
                  function checkDelete(f)
                  {
                      if (!hasOneChecked(f, 'items[]')) {
                          alert('Please select at least one of the {$type_name}.');
                          return false;
                      }
                      if (!confirm('This action will permanently remove the selected {/literal}{$type_name}{literal}.')) {
                          return false;
                      } else {
                          return true;
                      }
                  }
                  //-->
                  </script>
                  {/literal}
                    <form onSubmit="javascript:return updateForm();" 
                    target="_update_record_details" method="post" action="popup.php" enctype="multipart/form-data">
                    <input type="hidden" name="cat" value="list_action_{$type}">
                    <input type="hidden" name="pid" value="{$pid}">
              <tr>
                <td colspan="2" class="default">
                  <b>Existing Workflow Triggers:</b>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table border="0" width="100%" cellpadding="1" cellspacing="1">
                    <tr>
                      <td width="4" bgcolor="{$cell_color}" nowrap align="center"><input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');"></td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Trigger</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>XSD Display</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Workflow</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Mimetype</b>&nbsp;</td>
                      <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Action</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td nowrap bgcolor="{$row_color}" align="center">
                        <input type="checkbox" name="items[]" value="{$list[i].wft_id}" {if $smarty.section.i.total == 0}disabled{/if}>
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        {assign var="type_id" value=$list[i].wft_type_id}
                        &nbsp;{$triggers_list.$type_id}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        {assign var="xdis_id" value=$list[i].wft_xdis_id}
                        &nbsp;{$xdis_list.$xdis_id}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        {assign var="wfl_id" value=$list[i].wft_wfl_id}
                        &nbsp;{$wfl_list.$wfl_id}
                      </td>
                      <td width="200" bgcolor="{$row_color}" class="default">
                        &nbsp;{$list[i].wft_mimetype}
                      </td>
                      <td bgcolor="{$row_color}" class="default">
                        &nbsp;<a href="{$rel_url}workflow_triggers.php?cat=edit&wft_id={$list[i].wft_id}&pid={$pid}">[edit]</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="6" bgcolor="{$light_color}" align="center" class="default">
                        No items could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td align="center" bgcolor="{$cell_color}">
                        <input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');">
                      </td>
                      <td colspan="5" bgcolor="{$cell_color}">
                        <input type="submit" name="delete" value="Delete" class="button" onclick="javascript:return checkDelete(this.form);">
                      </td>
                    </tr>

                  </table>
                </td>
              </tr>
                    </form>
             </table>
          </td>
        </tr>
      </table>
      {literal}
      <script language="JavaScript">
      <!--
      //window.onload = setCustomOptionsField;
      function setCustomOptionsField()
      {
          var f = getForm('entry_form');
          var field1 = getFormElement(f, 'field_type', 0);
          if (field1.checked) {
              toggleCustomOptionsField(true);
          } else {
              toggleCustomOptionsField(false);
          }
          checkRequiredFields();
      }
      //-->
      </script>
      {/literal}

