<?xml version="1.0" encoding="UTF-8"?>
<xmlfeed>
<title>{if $list_heading != ""}{$list_heading|escape:'html'} - {/if}{$application_title|escape:'html'}</title>
<link>{$app_base_url}</link>
<description>{$org_name}</description>
<language>{$lang}</language>
<generator>Fez {$application_version}</generator>
{section name="i" loop=$list}
{if $list[i].rek_object_type == '1'}
{assign var="href_view" value="list.php?community_pid="|cat:$list[i].rek_pid|escape:"html"}  
{elseif $list[i].rek_object_type == '2'}
{assign var="href_view" value="list.php?collection_pid="|cat:$list[i].rek_pid|escape:"html"}
{else}
{assign var="href_view" value="view.php?pid="|cat:$list[i].rek_pid|escape:"html"}	      
{/if}
<item>
	<title>{$list[i].rek_title|escape:"html"}</title>
	<pid>{$list[i].rek_pid|escape:"html"}</pid>
	<identifier>{$app_base_url}{$href_view}</identifier>
	{if $list[i].rek_description != "null"}	
	<description>{$list[i].rek_description|escape:"html"}</description>
	{/if}
	{if $list[i].rek_created_date}
	<created_date>{$list[i].rek_created_date|escape:"html"}</created_date>
	{/if}
	{if $list[i].rek_updated_date}
	<updated_date>{$list[i].rek_updated_date|escape:"html"}</updated_date>
	{/if}
	{if $list[i].rek_date}
	<publication_date>{$list[i].rek_date|escape:"html"}</publication_date>
	{/if}
	{if $list[i].rek_report_number}
	<report_numbers>
	{section name="report_number_loop" loop=$list[i].rek_report_number}
	<report_number>{$list[i].rek_report_number[report_number_loop]|escape:"html"}</report_number>
	{/section}
	</report_numbers>
	{/if}
	{if $list[i].rek_org_name}
	<org_names>
	{section name="org_name_loop" loop=$list[i].rek_org_name}
	<org_name>{$list[i].rek_org_name[org_name_loop]|escape:"html"}</org_name>
	{/section}
	</org_names>
	{/if}
	{if $list[i].rek_org_unit_name}
	<org_unit_names>
	{section name="org_unit_name_loop" loop=$list[i].rek_org_unit_name}
	<org_unit_name>{$list[i].rek_org_unit_name[org_unit_name_loop]|escape:"html"}</org_unit_name>
	{/section}
	</org_unit_names>
	{/if}
	{if $list[i].rek_sensitivity_explanation}
	<sensitivity_explanations>
	{section name="sensitivity_explanation_loop" loop=$list[i].rek_sensitivity_explanation}
	<sensitivity_explanation>{$list[i].rek_sensitivity_explanation[sensitivity_explanation_loop]|escape:"html"}</sensitivity_explanation>
	{/section}
	</sensitivity_explanations>
	{/if}
	{if $list[i].rek_na_explanation}
	<na_explanations>
	{section name="na_explanation_loop" loop=$list[i].rek_na_explanation}
	<na_explanation>{$list[i].rek_na_explanation[na_explanation_loop]|escape:"html"}</na_explanation>
	{/section}
	</na_explanations>
	{/if}
	{if $list[i].rek_output_availability}
	<output_availabilitys>
	{section name="output_availability_loop" loop=$list[i].rek_output_availability}
	<output_availability>{$list[i].rek_output_availability[output_availability_loop]|escape:"html"}</output_availability>
	{/section}
	</output_availabilitys>
	{/if}
	{if $list[i].rek_prn}
	<prns>
	{section name="prn_loop" loop=$list[i].rek_prn}
	<prn>{$list[i].rek_prn[prn_loop]|escape:"html"}</prn>
	{/section}
	</prns>
	{/if}
	{if $list[i].rek_isi_loc}
	<isi_locs>
	{section name="isi_loc_loop" loop=$list[i].rek_isi_loc}
	<isi_loc>{$list[i].rek_isi_loc[isi_loc_loop]|escape:"html"}</isi_loc>
	{/section}
	</isi_locs>
	{/if}
	{if $list[i].rek_isbn}
	<isbns>
	{section name="isbn_loop" loop=$list[i].rek_isbn}
	<isbn>{$list[i].rek_isbn[isbn_loop]|escape:"html"}</isbn>
	{/section}
	</isbns>
	{/if}
	{if $list[i].rek_issn}
	<issns>
	{section name="issn_loop" loop=$list[i].rek_issn}
	<issn>{$list[i].rek_issn[issn_loop]|escape:"html"}</issn>
	{/section}
	</issns>
	{/if}
	{if $list[i].rek_translated_conference_name}
	<translated_conference_names>
	{section name="translated_conference_name_loop" loop=$list[i].rek_translated_conference_name}
	<translated_conference_name>{$list[i].rek_translated_conference_name[translated_conference_name_loop]|escape:"html"}</translated_conference_name>
	{/section}
	</translated_conference_names>
	{/if}
	{if $list[i].rek_phonetic_conference_name}
	<phonetic_conference_names>
	{section name="phonetic_conference_name_loop" loop=$list[i].rek_phonetic_conference_name}
	<phonetic_conference_name>{$list[i].rek_phonetic_conference_name[phonetic_conference_name_loop]|escape:"html"}</phonetic_conference_name>
	{/section}
	</phonetic_conference_names>
	{/if}
	{if $list[i].rek_translated_newspaper}
	<translated_newspapers>
	{section name="translated_newspaper_loop" loop=$list[i].rek_translated_newspaper}
	<translated_newspaper>{$list[i].rek_translated_newspaper[translated_newspaper_loop]|escape:"html"}</translated_newspaper>
	{/section}
	</translated_newspapers>
	{/if}
	{if $list[i].rek_phonetic_newspaper}
	<phonetic_newspapers>
	{section name="phonetic_newspaper_loop" loop=$list[i].rek_phonetic_newspaper}
	<phonetic_newspaper>{$list[i].rek_phonetic_newspaper[phonetic_newspaper_loop]|escape:"html"}</phonetic_newspaper>
	{/section}
	</phonetic_newspapers>
	{/if}
	{if $list[i].rek_translated_book_title}
	<translated_book_titles>
	{section name="translated_book_title_loop" loop=$list[i].rek_translated_book_title}
	<translated_book_title>{$list[i].rek_translated_book_title[translated_book_title_loop]|escape:"html"}</translated_book_title>
	{/section}
	</translated_book_titles>
	{/if}
	{if $list[i].rek_phonetic_book_title}
	<phonetic_book_titles>
	{section name="phonetic_book_title_loop" loop=$list[i].rek_phonetic_book_title}
	<phonetic_book_title>{$list[i].rek_phonetic_book_title[phonetic_book_title_loop]|escape:"html"}</phonetic_book_title>
	{/section}
	</phonetic_book_titles>
	{/if}
	{if $list[i].rek_translated_journal_name}
	<translated_journal_names>
	{section name="translated_journal_name_loop" loop=$list[i].rek_translated_journal_name}
	<translated_journal_name>{$list[i].rek_translated_journal_name[translated_journal_name_loop]|escape:"html"}</translated_journal_name>
	{/section}
	</translated_journal_names>
	{/if}
	{if $list[i].rek_phonetic_journal_name}
	<phonetic_journal_names>
	{section name="phonetic_journal_name_loop" loop=$list[i].rek_phonetic_journal_name}
	<phonetic_journal_name>{$list[i].rek_phonetic_journal_name[phonetic_journal_name_loop]|escape:"html"}</phonetic_journal_name>
	{/section}
	</phonetic_journal_names>
	{/if}
	{if $list[i].rek_translated_title}
	<translated_titles>
	{section name="translated_title_loop" loop=$list[i].rek_translated_title}
	<translated_title>{$list[i].rek_translated_title[translated_title_loop]|escape:"html"}</translated_title>
	{/section}
	</translated_titles>
	{/if}
	{if $list[i].rek_language_of_title}
	<language_of_titles>
	{section name="language_of_title_loop" loop=$list[i].rek_language_of_title}
	<language_of_title>{$list[i].rek_language_of_title[language_of_title_loop]|escape:"html"}</language_of_title>
	{/section}
	</language_of_titles>
	{/if}
	{if $list[i].rek_phonetic_title}
	<phonetic_titles>
	{section name="phonetic_title_loop" loop=$list[i].rek_phonetic_title}
	<phonetic_title>{$list[i].rek_phonetic_title[phonetic_title_loop]|escape:"html"}</phonetic_title>
	{/section}
	</phonetic_titles>
	{/if}
	{if $list[i].rek_language}
	<languages>
	{section name="language_loop" loop=$list[i].rek_language}
	<language>{$list[i].rek_language[language_loop]|escape:"html"}</language>
	{/section}
	</languages>
	{/if}
	{if $list[i].rek_date_available}
	<date_availables>
	{section name="date_available_loop" loop=$list[i].rek_date_available}
	<date_available>{$list[i].rek_date_available[date_available_loop]|escape:"html"}</date_available>
	{/section}
	</date_availables>
	{/if}
	{if $list[i].rek_country_of_issue}
	<country_of_issues>
	{section name="country_of_issue_loop" loop=$list[i].rek_country_of_issue}
	<country_of_issue>{$list[i].rek_country_of_issue[country_of_issue_loop]|escape:"html"}</country_of_issue>
	{/section}
	</country_of_issues>
	{/if}
	{if $list[i].rek_patent_number}
	<patent_numbers>
	{section name="patent_number_loop" loop=$list[i].rek_patent_number}
	<patent_number>{$list[i].rek_patent_number[patent_number_loop]|escape:"html"}</patent_number>
	{/section}
	</patent_numbers>
	{/if}
	{if $list[i].rek_conference_location}
	<conference_locations>
	{section name="conference_location_loop" loop=$list[i].rek_conference_location}
	<conference_location>{$list[i].rek_conference_location[conference_location_loop]|escape:"html"}</conference_location>
	{/section}
	</conference_locations>
	{/if}
	{if $list[i].rek_conference_dates}
	<conference_datess>
	{section name="conference_dates_loop" loop=$list[i].rek_conference_dates}
	<conference_dates>{$list[i].rek_conference_dates[conference_dates_loop]|escape:"html"}</conference_dates>
	{/section}
	</conference_datess>
	{/if}
	{if $list[i].rek_volume_number}
	<volume_numbers>
	{section name="volume_number_loop" loop=$list[i].rek_volume_number}
	<volume_number>{$list[i].rek_volume_number[volume_number_loop]|escape:"html"}</volume_number>
	{/section}
	</volume_numbers>
	{/if}
	{if $list[i].rek_issue_number}
	<issue_numbers>
	{section name="issue_number_loop" loop=$list[i].rek_issue_number}
	<issue_number>{$list[i].rek_issue_number[issue_number_loop]|escape:"html"}</issue_number>
	{/section}
	</issue_numbers>
	{/if}
	{if $list[i].rek_chapter_number}
	<chapter_numbers>
	{section name="chapter_number_loop" loop=$list[i].rek_chapter_number}
	<chapter_number>{$list[i].rek_chapter_number[chapter_number_loop]|escape:"html"}</chapter_number>
	{/section}
	</chapter_numbers>
	{/if}
	{if $list[i].rek_end_page}
	<end_pages>
	{section name="end_page_loop" loop=$list[i].rek_end_page}
	<end_page>{$list[i].rek_end_page[end_page_loop]|escape:"html"}</end_page>
	{/section}
	</end_pages>
	{/if}
	{if $list[i].rek_start_page}
	<start_pages>
	{section name="start_page_loop" loop=$list[i].rek_start_page}
	<start_page>{$list[i].rek_start_page[start_page_loop]|escape:"html"}</start_page>
	{/section}
	</start_pages>
	{/if}
	{if $list[i].rek_place_of_publication}
	<place_of_publications>
	{section name="place_of_publication_loop" loop=$list[i].rek_place_of_publication}
	<place_of_publication>{$list[i].rek_place_of_publication[place_of_publication_loop]|escape:"html"}</place_of_publication>
	{/section}
	</place_of_publications>
	{/if}
	{if $list[i].rek_edition}
	<editions>
	{section name="edition_loop" loop=$list[i].rek_edition}
	<edition>{$list[i].rek_edition[edition_loop]|escape:"html"}</edition>
	{/section}
	</editions>
	{/if}
	{if $list[i].rek_author}
	<authors>
	{section name="author_loop" loop=$list[i].rek_author}
	<author>{$list[i].rek_author[author_loop]|escape:"html"}</author>
	{/section}
	</authors>
	{/if}
	{if $list[i].rek_author_id}
	<author_ids>
	{section name="author_loop" loop=$list[i].rek_author_id}
	<author_id>{$list[i].rek_author_id[author_loop]|escape:"html"}</author_id>
	{/section}
	</author_ids>
	{/if}		
	{if $list[i].rek_author_id_lookup}
	<author_id_lookups>
	{section name="author_loop" loop=$list[i].rek_author_id_lookup}
	<author_id_lookup>{$list[i].rek_author_id_lookup[author_loop]|escape:"html"}</author_id_lookup>
	{/section}
	</author_id_lookups>
	{/if}		
	{if $list[i].rek_author_id_external}
	<author_id_externals>
	{section name="author_loop" loop=$list[i].rek_author_id_external}
	<author_id_external>{$list[i].rek_author_id_external[author_loop]|escape:"html"}</author_id_external>
	{/section}
	</author_id_externals>
	{/if}
	{if $list[i].rek_contributor}
	<contributors>
	{section name="contributor_loop" loop=$list[i].rek_contributor}
	<contributor>{$list[i].rek_contributor[contributor_loop]|escape:"html"}</contributor>
	{/section}
	</contributors>
	{/if}
	{if $list[i].rek_contributor_id}
	<contributor_ids>
	{section name="contributor_loop" loop=$list[i].rek_contributor_id}
	<contributor_id>{$list[i].rek_contributor_id[contributor_loop]|escape:"html"}</contributor_id>
	{/section}
	</contributor_ids>
	{/if}		
	{if $list[i].rek_contributor_id_lookup}
	<contributor_id_lookups>
	{section name="contributor_loop" loop=$list[i].rek_contributor_id_lookup}
	<contributor_id_lookup>{$list[i].rek_contributor_id_lookup[contributor_loop]|escape:"html"}</contributor_id_lookup>
	{/section}
	</contributor_id_lookups>
	{/if}		
	{if $list[i].rek_contributor_id_external}
	<contributor_id_externals>
	{section name="contributor_loop" loop=$list[i].rek_contributor_id_external}
	<contributor_id_external>{$list[i].rek_contributor_id_external[contributor_loop]|escape:"html"}</contributor_id_external>
	{/section}
	</contributor_id_externals>
	{/if}
	{if $list[i].rek_ismemberof}
	<isMemberOfs>
	{section name="isMemberOf_loop" loop=$list[i].rek_ismemberof}
	<isMemberOf>{$list[i].rek_ismemberof[isMemberOf_loop]|escape:"html"}</isMemberOf>
	{/section}
	</isMemberOfs>
	{/if}
	{if $list[i].rek_keywords}
	<keywords>
	{section name="keywords_loop" loop=$list[i].rek_keywords}
	<keyword>{$list[i].rek_keywords[keywords_loop]|escape:"html"}</keyword>
	{/section}
	</keywords>
	{/if}
	{assign var="loop_format" value=$list[i].rek_file_attachment_name}
	<datastream_links>
	{section name="f" loop=$loop_format}
	<datastream_link>{$app_base_url}basiceserv.php?pid={$list[i].rek_pid|escape:"html"}&amp;dsID={$list[i].rek_file_attachment_name[f]|escape:"html"}</datastream_link>
	{/section}
	</datastream_links>
	<datastreams>
	{section name="f" loop=$loop_format}
	<datastream>{$list[i].rek_file_attachment_name[f]|escape:"html"}</datastream>
	{/section}
	</datastreams>
</item>
{/section}
</xmlfeed>
