	.img_32_doc { background: url(../images/file_types/icon_doc_32x32.gif) no-repeat  center center;}
	.img_32_pdf { background: url(../images/file_types/icon_pdf_32x32.gif) no-repeat  center center;}
	.img_32_zip { background: url(../images/file_types/icon_zip_32x32.gif) no-repeat  center center;}
	.img_32_txt { background: url(../images/file_types/icon_txt_32x32.gif) no-repeat  center center;}
	.img_32_xls { background: url(../images/file_types/icon_xls_32x32.gif) no-repeat  center center;}
	.img_32_eps { background: url(../images/file_types/icon_eps_32x32.gif) no-repeat  center center;}
