<?xml version="1.0" encoding="UTF-8"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
<responseDate>{$responseDate}</responseDate>
{if $verb == "ListRecords"} 
  <request verb="{$verb}" metadataPrefix="{$metadataPrefix}" resumptionToken="{if $resumptionToken != ""}{$resumptionToken}{/if}">{$app_base_url}oai.php</request>
{/if}
{if $errorCount == 0}
  <ListRecords>
{section name="i" loop=$list}
  <record>
    <header>
      <identifier>oai:{$app_hostname}:{$list[i].rek_pid|escape:"html"}</identifier>
      <datestamp>{$list[i].rek_created_date|escape:"html"}</datestamp>
{assign var="loop_parents" value=$list[i].rek_ismemberof}
{section name="p" loop=$loop_parents}
      <setSpec>oai:{$app_hostname}:{$loop_parents[p]|escape:"html"}</setSpec>
{/section}   
{assign var="loop_subjects" value=$list[i].rek_subject}
{section name="s" loop=$loop_subjects}
{if $loop_subjects[s] != ""}
      <setSpec>{$app_hostname}:{$app_pid_namespace}:cvo_id:{$loop_subjects[s]|escape:"html"}</setSpec>
{/if}
{/section}            
    </header>
    <metadata>
	{if $metadataPrefix == "oai_dc"}
      <oai_dc:dc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:dc="http://purl.org/dc/elements/1.1/">
	{elseif $metadataPrefix == "pa"}
	  <pa:picture xmlns:pa="http://www.pictureaustralia.org/schemas/pa/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.pictureaustralia.org/schemas/pa/ http://www.pictureaustralia.org/schemas/pa/picture.xsd">
	{/if}
        <dc:title>{$list[i].rek_title|escape:"html"}</dc:title>
		{if $metadataPrefix == "pa"}
        <pa:location>{$app_base_url}view/{$list[i].rek_pid|escape:"html"}</pa:location>
        {assign var="loop_thumbnail" value=$list[i].thumbnail}
		{section name="a" loop=$loop_thumbnail}
        <pa:thumbnail>{$app_base_url}eserv/{$list[i].rek_pid|escape:"html"}/{$loop_thumbnail[a]|escape:"html"}</pa:thumbnail>
		{/section}
		{/if}
        <dc:identifier>{$app_base_url}view/{$list[i].rek_pid|escape:"html"}</dc:identifier>
        <dc:description>{$list[i].rek_description|escape:"html"}</dc:description>
        <dc:type>{$list[i].rek_display_type_lookup|escape:"html"}</dc:type>
        <dc:date>{$list[i].rek_date|escape:"html"}</dc:date>
		{assign var="loop_authors" value=$list[i].rek_author}
		{section name="a" loop=$loop_authors}
        <dc:creator>{$list[i].rek_author[a]|escape:"html"}</dc:creator>
		{/section}
		{assign var="loop_contributors" value=$list[i].rek_contributor}
		{section name="a" loop=$loop_contributors}
        <dc:contributor>{$list[i].rek_contributor[a]|escape:"html"}</dc:contributor>
		{/section}		
		{assign var="loop_subjects" value=$list[i].rek_subject_lookup}
		{section name="s" loop=$loop_subjects}
        <dc:subject>{$list[i].rek_subject_lookup[s]|escape:"html"}</dc:subject>
		{/section}
		{assign var="loop_keywords" value=$list[i].rek_keywords}
		{section name="s" loop=$loop_keywords}
        <dc:subject>{$list[i].rek_keywords[s]|escape:"html"}</dc:subject>
		{/section}
        {assign var="loop_publisher" value=$list[i].rek_publisher}
		{section name="s" loop=$loop_publisher}
        <dc:publisher>{$list[i].rek_publisher[s]|escape:"html"}</dc:publisher>
		{/section}
        {assign var="loop_relation" value=$list[i].rek_ismemberof_title}
		{section name="s" loop=$loop_relation}
        <dc:relation>isMemberOf {$loop_relation[s]|escape:"html"}</dc:relation>
		{/section}
		{assign var="loop_format" value=$list[i].rek_file_attachment_name}
		{section name="f" loop=$loop_format}
        <dc:format>{$app_base_url}eserv/{$list[i].rek_pid|escape:"html"}/{$list[i].rek_file_attachment_name[f]|escape:"html"}</dc:format>
		{/section}
	{if $metadataPrefix == "oai_dc"}
      </oai_dc:dc>
	{elseif $metadataPrefix == "pa"}
	  </pa:picture>
	{/if}
    </metadata>
  </record>
{/section}
{if $list_count < 100}
  <resumptionToken></resumptionToken>
{else}
  <resumptionToken>{$start+100}/{$resumptionHash}</resumptionToken>
{/if}
</ListRecords>
{else}
{section name="e" loop=$errors.code}
  <error code="{$errors.code[e]}">{$errors.message[e]}</error>
{/section}
{/if}
</OAI-PMH>