<?xml version="1.0" encoding="UTF-8" ?>
<?xml-stylesheet type='text/xsl' href='/oai2.xsl' ?>
<OAI-PMH  xmlns="http://www.openarchives.org/OAI/2.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
  <responseDate>{$responseDate}</responseDate>
  <request verb="{$verb}" resumptionToken="">{$app_base_url}oai.php</request>
{if $errorCount == 0}  
<ListMetadataFormats>
  <metadataFormat>
    <metadataPrefix>oai_dc</metadataPrefix>
    <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
    <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>
  </metadataFormat>
  <metadataFormat>
    <metadataPrefix>pa</metadataPrefix>
    <schema>http://www.pictureaustralia.org/schemas/pa/picture.xsd</schema>
    <metadataNamespace>http://www.pictureaustralia.org/schemas/pa/</metadataNamespace>
  </metadataFormat>
</ListMetadataFormats>
{else}
{section name="e" loop=$errors.code}
  <error code="{$errors.code[e]}">{$errors.message[e]}</error>
{/section}
{/if}
</OAI-PMH>

