/* IE 8 Bug Fixes
-----------------------------------------------------------------------------*/


/* Top menu fix
-----------------------------------------------------------------------------*/
#topnav ul { margin: 0pt; padding: 2pt 0pt 0pt 25px; list-style-type: none; list-style-image: none; list-style-position: outside; letter-spacing: 1px; }
#topnav ul li { margin: 0 18px 0 0; padding: 0 0 0 0; float: left; display: inline; }
#topnav ul li a { text-transform: uppercase; margin: 0 0 0 0; padding: 12px 8px 12px 8px; }

