<div class="admin-box">

  <h1>Export Workflows</h1>
  
  <form method="post" action="{$smarty.server.PHP_SELF}">
    <table style="width: 100%">
      <tr class="table_heading_row">
        <td>
          <input type="button" value="All" class="button" onclick="javascript:toggleSelectAll(this.form, 'wfl_ids[]');" />
        </td>
        <td>Title</td>
        <td>Version</td>
      </tr>
      {section name="i" loop=$wfl_list}
      			  {assign var="item" value=$wfl_list[i]}
      			  {cycle values=$cycle assign="row_color"}
                          <tr>
                            <td style="width: 4px; white-space: nowrap; background: {$row_color}; text-align: center">
                              <input type="checkbox" name="wfl_ids[]" value="{$item.wfl_id}" />
                            </td>
                            <td style="background: {$row_color}" class="default">
                              {$item.wfl_title}
                            </td>
                            <td style="background: {$row_color}" class="default">
                              {$item.wfl_version}
                            </td>
                          </tr>
      {sectionelse}
                          <tr>
                            <td colspan="7" style="background: {$light_color}; text-align: center" class="default">
                              No workflows could be found.
                            </td>
                          </tr>
      {/section}
          <tr class="table_heading_row">
            <td>
              <input type="button" value="All" class="button" onclick="javascript:toggleSelectAll(this.form, 'wfl_ids[]');" />
            </td>
            <td colspan="20"></td>
          </tr>

      <tr>
        <td colspan="20" style="text-align: center">
          <input type="submit" value="Export" name="go" class="button" />
        </td>
      </tr>
    </table>
  </form>

</div>