
      <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr>
          <td>
            <table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
              {literal}
              <script language="JavaScript">
              <!--
              function validateForm(f)
              {
                  var field = getFormElement(f, 'tool_caption');
                  if (isWhitespace(field.value)) {
                      alert('Please enter the name of the system.');
                      selectField(f, 'tool_caption');
                      return false;
                  }
                  var field = getFormElement(f, 'org_short_name');
                  if (isWhitespace(field.value)) {
                      alert('Please enter short name of the Organisation.');
                      selectField(f, 'org_short_name');
                      return false;
                  }
                  var field = getFormElement(f, 'org_long_name');
                  if (isWhitespace(field.value)) {
                      alert('Please enter long name of the Organisation.');
                      selectField(f, 'org_long_name');
                      return false;
                  }
              }
   
              //-->
              </script>
              {/literal}
              <form name="general_setup_form" onSubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
              <input type="hidden" name="cat" value="update">
              <tr>
                <td colspan="2" class="default">
                  <b>General Setup</b>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center" class="error">
                  {if $result == -1}
                    ERROR: The system doesn't have the appropriate permissions to 
                    create the configuration file in the setup directory 
                    ({$app_setup_path}). Please contact your local system 
                    administrator and ask for write privileges on the provided path.
                  {elseif $result == -2}
                    ERROR: The system doesn't have the appropriate permissions to 
                    update the configuration file in the setup directory 
                    ({$app_setup_file}). Please contact your local system 
                    administrator and ask for write privileges on the provided filename.
                  {elseif $result == 1}
                    Thank you, the setup information was saved successfully.
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Organisation Short Name:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" class="default" name="org_short_name" size="50" value="{$setup.org_short_name|escape:"html"}">
                </td>
              </tr>
              <tr>
                <td width="120" bgcolor="{$cell_color}" class="default">
                  <b>Organisation Long Name:</b>
                </td>
                <td bgcolor="{$light_color}">
                  <input type="text" class="default" name="org_long_name" size="50" value="{$setup.org_long_name|escape:"html"}">
                </td>
              </tr>

              <tr>
                <td colspan="2" bgcolor="{$cell_color}" align="center">
                  <input class="button" type="submit" value="Update Setup">
                  <input class="button" type="reset" value="Reset">
                </td>
              </tr>
              </form>
            </table>
          </td>
        </tr>
      </table>


