<div class="admin-box">

        {literal}
        <script type="text/javascript">
        <!--
        function validateForm(f)
        {
          
        // The dual multiple controls should select all the fields in the multiple combo box so that they will
        // be included in the form submission.
        var field = document.getElementById('userslist');

        for (var y = 0; y < field.options.length; y++) {
          field.options[y].selected = true;
        }

                  checkLeadSelection(f);
                  if (isWhitespace(f.title.value)) {
                      alert('Please enter the title of this group.');
                      selectField(f, 'title');
                      return false;
                  }
                  if (!hasOneSelected(f, 'users[]')) {
                      alert('Please assign the users for this group.');
                      selectField(f, 'users[]');
                      return false;
                  }
                  if (!hasOneSelected(f, 'statuses[]')) {
                      alert('Please assign the statuses for this group.');
                      selectField(f, 'statuses[]');
                      return false;
                  }
                  // the selected initial status should be one of the selected assigned statuses
                  initial_status = getSelectedOption(f, 'initial_status');
                  assigned_statuses = getFormElement(f, 'statuses[]');
                  var found = 0;
                  for (var i = 0; i < assigned_statuses.options.length; i++) {
                      if ((assigned_statuses.options[i].selected) && (initial_status == assigned_statuses.options[i].value)) {
                          found = 1;
                      }
                  }
                  if (!found) {
                      alert('Please choose the initial status from one of the assigned statuses of this group.');
                      selectField(f, 'initial_status');
                      return false;
                  }
                  if (isWhitespace(f.outgoing_sender_email.value)) {
                      alert('Please enter the outgoing sender address for this group.');
                      selectField(f, 'outgoing_sender_email');
                      return false;
                  }
                  return true;
              }
              function checkLeadSelection(f)
              {
                  var selection = f.lead_usr_id.options[f.lead_usr_id.selectedIndex].value;
                  selectOption(f, 'users[]', selection);
              }
              //-->
              </script>
              {/literal}
              

        <form id="group_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
          <div>
              {if $smarty.get.cat == 'edit'}
                <input type="hidden" name="cat" value="update" />
                <input type="hidden" name="id" value="{$smarty.get.id}" />
              {else}
                <input type="hidden" name="cat" value="new" />
              {/if}
          </div>
      
          <table style="width: 100%" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2">
                  <h1>Manage Groups</h1>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new group.
                    {elseif $result == -2}
                      Please enter the title for this new group.
                    {elseif $result == 1}
                      Thank you, the group was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the group information.
                    {elseif $result == -2}
                      Please enter the title for this group.
                    {elseif $result == 1}
                      Thank you, the group was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Title: *</b>
                </td>
                <td style="backround: {$light_color}; width: 80%">
                  <input type="text" name="title" size="40" class="default" value="{$info.grp_title}" />
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Status: *</b>
                </td>
                <td style="backround: {$light_color}; width: 80%" class="default">
                  <select name="status" class="default">
                    <option value="active" {if $info.grp_status == 'active'}selected="selected"{/if}>Active</option>
                    <option value="archived" {if $info.grp_status == 'archived'}selected="selected"{/if}>Archived</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Users: *</b>
                </td>
                <td style="backround: {$light_color}; width: 80%" class="default">

        					<table>
        						<tr>
        							<td>
        			          <select id="userslist" multiple="multiple" size="10" class="default" name="users[]">
        								  {if is_array($info.grp_users)}{html_options options=$info.grp_users}{/if}
        							  </select>
        							</td>
        							<td>
                        <select id="users_helper" multiple="multiple" size="10" class="default" name="users_helper">
        						        {html_options options=$user_options}
        							  </select>
        							</td>
        						</tr>
        						<tr>
        							<td>
        								<input type="button" name="remove_left" value="Remove selected from left" class="button" onclick="javascript:deleteSelectedItemsFromList(this.form.userslist);" />
        							</td>
        							<td>
        								<input type="button" name="copy_left" value="Copy selected to left" class="button" onclick="javascript:addToParentList(this.form.users_helper, this.form.userslist);" />
        							</td>
        						</tr>
        					</table>
                  {include file="error_icon.tpl.html" field="users[]"}
                </td>
              </tr>

              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center">
                  {if $smarty.get.cat == 'edit'}
                    <input class="button" type="submit" value="Update Group" />
                  {else}
                    <input class="button" type="submit" value="Create Group" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
            </table>
          </form>


          {literal}
          <script type="text/javascript">
          <!--
          function checkDelete(f)
          {
              var total_selected = getTotalCheckboxesChecked(f, 'items[]');
              var total = getTotalCheckboxes(f, 'items[]');
              if ((total == total_selected) && (total != 1)) {
                  alert('You cannot remove all of the groups in the system.');
                  return false;
              }
              if (!hasOneChecked(f, 'items[]')) {
                  alert('Please select at least one of the groups.');
                  return false;
              }
              if (!confirm('WARNING: This action will remove the selected groups permanently.\nIt will remove all of its associated entries as well (issues, notes, attachments,\netc), so please click OK to confirm.')) {
                  return false;
              } else {
                  return true;
              }
          }
          //-->
          </script>
          {/literal}

          <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
            <div>
              <input type="hidden" name="cat" value="delete" />
            </div>
          
          <table style="width: 100%" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Groups:</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width: 100%" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 4px; background: {$cell_color}; white-space: nowrap">
                        <input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td class="default cell-colour">&nbsp;<b>Title</b></td>
                      <td class="default cell-colour">&nbsp;<b>Status</b></td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td style="width: 4px; text-align: center; white-space: nowrap; background: {$row_color}">
                        <input type="checkbox" name="items[]" value="{$list[i].grp_id}" />
                      </td>
                      <td style="width: 30%; background: {$row_color}" class="default">
                        &nbsp;<a class="link" href="{$smarty.server.PHP_SELF}?cat=edit&amp;id={$list[i].grp_id}" title="update this entry">{$list[i].grp_title}</a>
                      </td>
                      <td style="background: {$row_color}" class="default">&nbsp;{$list[i].grp_status|capitalize}</td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="5" style="background: {$light_color}; text-align: center" class="default">
                        No groups could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="width: 4px; background: {$cell_color}; text-align: center">
                        <input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="4" style="background: {$cell_color}; text-align: center">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </form>

</div>
