<script type="text/javascript">
<!--
{literal}
var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
{/literal}
// -->
</script>

<div class="admin-box">

  {if $feedback}
  	<div class="msg">
  		{section name="ff" loop=$feedback}
  			{$feedback[ff]}<br/>
  		{/section}
  	</div>
  {/if}
  
  <h1>Import Workflows</h1>
  
      <div>
        Workflows that have been exported to an XML file can be imported here.  Existing workflows
        will not be changed.  Version numbers are used to determine whether to import an existing workflow, if 
        the version in the XML file is higher than that of the existing workflow then it will be imported,
        otherwise it will be skipped.
      </div>
      
      <form id="import_workflows" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
         <div>
              <input type="hidden" name="cat" value="go" />
   {if $step == 1}            
                <input type="hidden" name="step" value="2" />
             </div>
                
  			<table style="width: 100%">
  			  <tr>
    				<td style="width: 200px; background: {$cell_color}" class="default">
    				  <b>File to import</b>
    				</td>
    				<td style="backgroun: {$light_color}">
    				  <input type="file" name="import_xml" class="default" /> 
    				</td>
  			  </tr>
            <tr>
                <td colspan="2" style="background: {$cell_color}">
                  <div style="text-align: center">
                    <input type="submit" value="Next &gt;" class="button" />
                  </div>
                </td>
            </tr>
        </table>
  {elseif $step == 2}
      <input type="hidden" name="step" value="3" />
      <input type="hidden" name="filename" value="{$filename}" />
      </div>
  	<table>
  		<tr class="table_heading_row">
  			<td>
          <input type="button" value="All" class="button" onclick="javascript:toggleSelectAll(this.form, 'wfl_ids[]');" />
        </td>
  			<td>Title</td>
  			<td>Version</td>
  			<td>Overwrite</td>
  		</tr>
  	{section name='i' loop=$wfl_list}
  		{assign var="item" value=$wfl_list[i]}
  		{cycle values=$cycle assign="row_color"}
                      <tr>
                        <td style="width: 4px; white-space: nowrap; background: {$row_color}; text-align: center">
                          <input type="checkbox" name="wfl_ids[]" value="{$item.wfl_id}" />
                        </td>
                        <td style="background: {$row_color}" class="default">
                          {$item.wfl_title}
                        </td>
                        <td style="background: {$row_color}" class="default">
                          {$item.wfl_version}
                        </td>
                        <td style="background: {$row_color}" class="default">
                          {if $item.overwrite}
                          	<span class="disabled">Will overwrite {$item.overwrite_details}</span>
                          {else}
                          	<span class="enabled">New</span>
                          {/if}
                        </td>
                      </tr>
  	{sectionelse}
                      <tr>
                        <td colspan="7" style="background: {$light_color}; text-align: center" class="default">
                          No workflows could be found.
                        </td>
                      </tr>
  	{/section}
  	    <tr class="table_heading_row">
    			<td>
            <input type="button" value="All" class="button" onclick="javascript:toggleSelectAll(this.form, 'wfl_ids[]');" />
          </td>
    			<td colspan="20"></td>
        </tr>
  	    <tr>
  		    <td colspan="20" style="text-align: center">
            <input type="submit" value="Import" name="go" class="button" />
          </td>
  	    </tr>
  	</table>
  {else}
    </div>
  {/if}
     	</form>
   		  
</div>
