<div class="admin-box">

	<h1>Import / Export Workflows</h1>

    <div class="default admin-content">
		<img style="vertical-align: middle" src="{$rel_url}images/import_export_22.png" alt="Import / Export" /> Import workflows from XML or export current workflows to XML.
		
		<br /><br />
				
		<input type="button" onclick="javascript:window.location = '{$rel_url}manage/import_workflows.php';" value="Import Workflows" class="button" />
		<input type="button" onclick="javascript:window.location = '{$rel_url}manage/export_workflows.php';" value="Export Workflows" class="button" />
    </div>

</div>