<div class="admin-box">

   {literal}
    <script type="text/javascript">
    <!--
    var editing_option_id = -1;
    function validateForm(f)
    {
        if (isWhitespace(f.org_title.value)) {
            alert('Please enter the title of this Organisational Unit.');
            selectField(f, 'org_title');
            return false;
        }
        return true;
    }
   function parseParameters(value)
    {
        value = value.substring(value.indexOf(':')+1);
        var id = value.substring(0, value.indexOf(':'));
        var text = value.substring(value.indexOf(':')+1);
        return new Option(text, id);
    }
       function checkDelete(f)
        {
            if (!hasOneChecked(f, 'items[]')) {
                alert('Please select at least one of the Organisational Units.');
                return false;
            }
            if (!confirm('This action will permanently remove the selected Organisational Units.')) {
                return false;
            } else {
                return true;
            }
        }
        //-->
        </script>
        {/literal}
 
      <form id="custom_field_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
        <div>
          {if $smarty.get.cat == 'edit'}
            <input type="hidden" name="cat" value="update" />
            <input type="hidden" name="id" value="{$smarty.get.id}" />
          {else}
            <input type="hidden" name="cat" value="new" />
          {/if}
          <input type="hidden" name="parent_id" value="{$parent_id}" />
        </div>
              

            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2">
				          <h1>Manage Organisational Units</h1>

		          {if $max_subject_breadcrumb != -1}
					  {section name="b" loop=$subject_breadcrumb}
						  {assign var="counter" value=b}
		                  {if $subject_breadcrumb[b].org_image_filename != ""}
						    <img style="vertical-align: middle;" src="{$rel_url}images/{$subject_breadcrumb[b].org_image_filename}" alt="" />
						  {/if}
                          {if $max_subject_breadcrumb != $smarty.section.b.index}<a href='orgstructure.php?parent_id={$subject_breadcrumb[b].org_id}'>{/if}{$subject_breadcrumb[b].org_title}{if $max_subject_breadcrumb != $smarty.section.b.index}</a>{/if}
 						  {assign var="org_id" value=$subject_breadcrumb[b].org_id}
						  {if $subject_count[$org_id]}({$subject_count[$org_id]}){else}{/if}{if $max_subject_breadcrumb != $smarty.section.b.index}->{else}:{/if}					
					  {/section}
				   {else}Subject Classification:{/if}

                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}" align="center" class="error cell-colour">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new Organisational Unit.
                    {elseif $result == 1}
                      Thank you, the Organisational Unit was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the Organisational Unit information.
                    {elseif $result == 1}
                      Thank you, the Organisational Unit was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Title:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="org_title" size="40" class="default" value="{$info.org_title}" />
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Unit Type:</b>
                </td>
                <td style="background: {$light_color}">
				          <input type="text" name="org_ext_table" size="40" class="default" value="{$info.org_ext_table}" />
                  {include file="error_icon.tpl.html" field="org_ext_table"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Description:</b>
                </td>
                <td style="background: {$light_color}">
                  <textarea name="org_desc" cols="50" rows="3" class="default">{$info.org_desc}</textarea>
                  {include file="error_icon.tpl.html" field="org_desc"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px; background: {$cell_color}" class="default">
                  <b>Image Filename:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="org_image_filename" size="40" class="default" value="{$info.org_image_filename}" />
                  {include file="error_icon.tpl.html" field="org_image_filename"}
                </td>
              </tr>			  
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;">
                  {if $smarty.get.cat == 'edit'}
                    <input class="button" type="submit" value="Update Organisational Unit" />
                  {else}
                    <input class="button" type="submit" value="Add Organisational Unit" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
            </table>
          </form>
    
    <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
      <div>
        <input type="hidden" name="cat" value="delete" />
      </div>
          
            <table style="width: 100%" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Organisational Units:</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                 <table style="width: 100%" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 5p; background: {$cell_color}; text-align: center; white-space: nowrap">
                        <input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td class="default cell-colour">&nbsp;<b>Title</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Type</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Desc</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Image Filename</b>&nbsp;</td>					  
                      <td class="default cell-colour">&nbsp;<b>Edit Children</b>&nbsp;</td>  
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td style="width: 4px; white-space: nowrap; background: {$row_color}; text-align: center">
                        <input type="checkbox" name="items[]" value="{$list[i].org_id}" {if $smarty.section.i.total == 0}disabled="disabled"{/if} />
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;<a href="orgstructure.php?cat=edit&amp;id={$list[i].org_id}">{$list[i].org_title}</a>
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;{$list[i].org_ext_table}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;{$list[i].org_desc}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;{$list[i].org_image_filename}
                      </td>
                      <td style="background: {$row_color}" class="default">
                        &nbsp;<a href="orgstructure.php?parent_id={$list[i].org_id}">Edit {$list[i].org_title} Child Units</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="6" style="background: {$light_color}; text-align: center" class="default">
                        No Organisational Units could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="width: 4px; text-align: center; background: {$cell_color}">
                        <input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="6" style="background: {$cell_color}">
                        <input type="submit" value="Delete" class="button" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </form>

</div>