<div class="admin-box">

            {literal}
            <script type="text/javascript">
            <!--
            function checkDelete(f)
            {
                var total_selected = getTotalCheckboxesChecked(f, 'items[]');
                var total = getTotalCheckboxes(f, 'items[]');
                if (!hasOneChecked(f, 'items[]')) {
                    alert('Please select at least one publisher.');
                    return false;
                }
                if (!confirm('WARNING: This action will remove the selected publishers permanently.\nPlease click OK to confirm.')) {
                    return false;
                } else {
                    return true;
                }
            }
            //-->
            </script>
    
            <script type="text/javascript">
            <!--
            var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
            var current_page = {/literal}{if $list_info.current_page != ""}{$list_info.current_page}{else}0{/if}{literal};
            var last_page = {/literal}{if $list_info.last_page != ""}{$list_info.last_page}{else}0{/if}{literal};        
            function resizePager(f)
            {
              var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
              window.location.href = page_url + "?" + replaceParam(window.location.href, 'rows', pagesize);
            }
            function checkPageField(ev)
            {
              // check if the user is trying to submit the form by hitting <enter>
              if (((window.event) && (window.event.keyCode == 13)) ||
                  ((ev) && (ev.which == 13))) {
                return false;
              }
            }
            function goPage(f, new_page)
            {
              if ((new_page > last_page+1) || (new_page <= 0) ||
                  (new_page == current_page+1) || (!isNumberOnly(new_page))) {
                f.page.value = current_page+1;
                return false;
              }
              setPage(new_page-1);
            }
            function setPage(new_page)
            {
              if ((new_page > last_page) || (new_page < 0) ||
                  (new_page == current_page)) {
                return false;
              }
              window.location.href = page_url + "?" + replaceParam(window.location.href, 'pagerRow', new_page);
            }
            //-->
            </script>
            {/literal}

            <form id="publisher_form" onsubmit="javascript:return validateForm(this);" method="post" action="{$smarty.server.PHP_SELF}">
            <div>
              {if $smarty.get.cat == 'edit'}
                <input type="hidden" name="cat" value="update" />
                <input type="hidden" name="id" id="id" value="{$smarty.get.id}" />
              {else}
                <input type="hidden" name="cat" value="new" />
              {/if}
            </div>
              
            <table style="width: 100%" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2">
                  <h1>Manage Publisher Unique Names</h1>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="text-align: center" class="error cell-colour">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new publisher.
                    {elseif $result == 1}
                      Thank you, the publisher was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the publisher information.
                    {elseif $result == 1}
                      Thank you, the publisher was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px" class="default cell-colour">
                  <b>Publisher name: *</b>
                </td>
                <td style="background: {$light_color}; width: 80%">
                  <input type="text" name="name" size="40" class="default" value="{$info.pub_name}" />
                  {include file="error_icon.tpl.html" field="name"}
                </td>
              </tr>
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center">
                  {if $smarty.get.cat == 'edit'}
                    <input class="button" type="submit" value="Update Publisher" />
                  {else}
                    <input class="button" type="submit" value="Create Publisher" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
            </table>
          </form>
              
          <form id="publisher_search_form" method="get" action="{$smarty.server.PHP_SELF}">
          <div>
            <input type="hidden" name="cat" value="search" />
            <input type="hidden" name="id" value="{$smarty.get.id}" />
          </div>

            <table style="width: 100%" cellspacing="0" cellpadding="0">
              <tr>
                <td class="default">
                  <b>{if $search_filter != ""}<span class="disabled">{/if}Search Publishers{if $search_filter != ""}</span>{/if}</b>
                </td>
                 <td style="white-space: nowrap; background: {$light_color}; width: 80%;">
                  <input type="text" name="search_filter" size="40" class="default" value="{$search_filter}" />
                  {include file="error_icon.tpl.html" field="search_filter"}
				          <input class="button" type="submit" value="Search" />
                </td>
              </tr>
            </table>
			  </form>              

        <form onsubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
          <div>
            <input type="hidden" name="cat" value="delete" />
          </div>

            <table style="width: 100%" cellspacing="0" cellpadding="0">  
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Publishers:</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width: 100%" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 4px; background: {$cell_color}; white-space: nowrap">
                        <input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td class="default cell-colour">&nbsp;<b>Name</b></td>
                      <td class="default cell-colour">&nbsp;<b>ERA Id</b></td>
                      <td class="default cell-colour">&nbsp;<b>Last Updated</b></td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr>
                      <td style="width: 4px; text-align: center; white-space: nowrap; background: {$row_color}">
                        <input type="checkbox" name="items[]" value="{$list[i].pub_id}" />
                      </td>
                      <td style="background: {$row_color}" class="default">&nbsp;<!-- <a href="{$smarty.server.PHP_SELF}?cat=edit&amp;id={$list[i].pub_id}" title="Update this entry">{$list[i].pub_name}</a>-->{$list[i].pub_name}</td>
                      <td style="background: {$row_color}" class="default">&nbsp;{$list[i].pub_era_id}</td>
                      <td style="background: {$row_color}" class="default">&nbsp;{$list[i].pub_updated_date|date_format:'%d %b, %Y'}</td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="14" style="background: {$light_color}; text-align: center" class="default">
                        No publishers could be found.
                      </td>
                    </tr>
                    {/section}
        <tr style="background: {$cell_color}">
          <td colspan="15">
            <table style="width: 100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width: 40%; text-align: center; white-space: nowrap">
                  <input name="first" type="button" value="|&lt;" class="shortcut button" onclick="javascript:setPage(0);" />
                  <input name="previous" type="button" value="&lt;&lt;" class="shortcut button" onclick="javascript:setPage({$list_info.prev_page});" />
                  <input type="text" name="page" size="3" maxlength="3" value="{math equation="x + 1" x=$list_info.current_page}" style="background: {$cell_color};" class="paging_input" onkeypress="javascript:return checkPageField(event);" />
                  <input name="go" type="button" value="Go" class="shortcut button" onclick="javascript:goPage(this.form, this.form.page.value);" />
                  <input name="next" type="button" value="&gt;&gt;" class="shortcut button" onclick="javascript:setPage({$list_info.next_page});" />
                  <input name="last" type="button" value="&gt;|" class="shortcut button" onclick="javascript:setPage({$list_info.last_page});" />
                </td>
                <td style="white-space: nowrap">
                  <span class="default_white">Rows per Page:</span>
                  <select name="page_size" class="default" onchange="javascript:resizePager(this.form);">
                    <option value="5" {if $options.rows == 5}selected="selected"{/if}>5</option>
                    <option value="10" {if $options.rows == 10}selected="selected"{/if}>10</option>
                    <option value="25" {if $options.rows == 25}selected="selected"{/if}>25</option>
                    <option value="50" {if $options.rows == 50}selected="selected"{/if}>50</option>
                    <option value="100" {if $options.rows == 100}selected="selected"{/if}>100</option>
                    <option value="150" {if $options.rows == 150}selected="selected"{/if}>150</option>
                  </select>
                  <input type="button" value="Set" class="shortcut button" onclick="javascript:resizePager(this.form);" />
                </td>
              </tr>
    			</table>
		    </td>
		  </tr>

                    <tr>
                      <td style="width: 4px; background: {$cell_color}; text-align: center">
                        <input type="button" value="All" class="shortcut button" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="14" style="background: {$cell_color}; text-align: center">
                       <!-- <input type="submit" value="Delete" class="button" />  -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </form>

</div>