<div class="admin-box">
<textarea class="default" rows="40" cols="130">
<entity name="{$smarty.const.APP_TABLE_PREFIX}record_search_key" pk="rek_pid" query="select rek_pid AS id,
        {section name="i" loop=$coreList}rek_{$coreList[i].sek_title_db} AS {$coreList[i].sek_title_solr}{if !($smarty.section.i.last)},{/if}
        {/section}
        from {$smarty.const.APP_TABLE_PREFIX}record_search_key"
        deltaQuery="select rek_pid from {$smarty.const.APP_TABLE_PREFIX}record_search_key where
                      rek_updated_date > '${literal}{dih.last_index_time}{/literal}'">
{section name="i" loop=$manyList}
  <entity name="{$smarty.const.APP_TABLE_PREFIX}record_search_key_{$manyList[i].sek_title_db}" pk="rek_{$manyList[i].sek_title_db}_pid"
        query="select rek_{$manyList[i].sek_title_db} AS {$manyList[i].sek_title_solr}
          from {$smarty.const.APP_TABLE_PREFIX}record_search_key_{$manyList[i].sek_title_db} where
          rek_{$manyList[i].sek_title_db}_pid = '${literal}{{/literal}{$smarty.const.APP_TABLE_PREFIX}record_search_key{literal}.id}{/literal}'"
        />
{/section}
  <entity name="{$smarty.const.APP_TABLE_PREFIX}fulltext_cache" pk="ftc_id"
          query="select group_concat(ftc_content) AS content
          from {$smarty.const.APP_TABLE_PREFIX}fulltext_cache where
          ftc_pid = '${literal}{{/literal}{$smarty.const.APP_TABLE_PREFIX}record_search_key{literal}.id}{/literal}' group by ftc_pid"
    />
</entity>
</textarea>
</div>