{include file="header.tpl.html"}
{include file="navigation.tpl.html"}

{if $pid == ""}
  <table style="width: 300px; text-align: center">
    <tr>
      <td>
        <span class="default"><b>Error: The object could not be found.</b><br /><br />
        <a href="javascript:history.go(-1);">Go Back</a></span>
      </td>
    </tr>
  </table>
{else}
  {if $isAdministrator || $isEditor}
    {include file="update_form.tpl.html"}
  {else}
      <div style="text-align: center">
        <span class="default">
          <b>Sorry, but you do not have the required permission level to access this screen.</b><br /><br />
          <a href="javascript:history.go(-1);">Go Back</a>
        </span>
    </div>
  {/if}
{/if}

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}