<div class="admin-box">

              <script type="text/javascript">
              <!--
			  {$najax_register|smarty:nodefaults}
              {literal}
              var editing_option_id = -1;
              function validateForm(f)
              {return true;}
              function addFieldOption(f)
              {
                  var value = f.new_value.value;
                  if (isWhitespace(value)) {
                      alert('Please enter the new value for the combo box.');
                      f.new_value.value = '';
                      f.new_value.focus();
                      return false;
                  }
                  var field = getFormElement(f, 'field_options[]');
                  var current_length = field.options.length;
                  if (current_length == 1) {
                      if (field.options[0].value == -1) {
                          removeFieldOption(f, true);
                      }
                  }
                  // check for an existing option with the same value
                  for (var i = 0; i < field.options.length; i++) { //>
                      if (field.options[i].text == value) {
                          alert('The specified value already exists in the list of options.');
                          f.new_value.focus();
                          return false;
                      }
                  }
                  current_length = field.options.length;
                  field.options[current_length] = new Option(value, 'new:' + value);
                  f.new_value.value = '';
                  f.new_value.focus();
              }
              function parseParameters(value)
              {
                  value = value.substring(value.indexOf(':')+1);
                  var id = value.substring(0, value.indexOf(':'));
                  var text = value.substring(value.indexOf(':')+1);
                  return new Option(text, id);
              }
              function updateFieldOption(f)
              {
                  if (isWhitespace(f.new_value.value)) {
                      alert('Please enter the updated value.');
                      f.new_value.value = '';
                      f.new_value.focus();
                      return false;
                  }
                  var field = getFormElement(f, 'field_options[]');
                  for (var i = 0; i < field.options.length; i++) { // >
                      if (field.options[i].value == editing_option_id) {
                          var params = parseParameters(field.options[i].value);
                          field.options[i].value = 'existing:' + params.value + ':' + f.new_value.value;
                          field.options[i].text = f.new_value.value;
                          f.new_value.value = '';
                          f.update_button.disabled = true;
                      }
                  }
              }
              function editFieldOption(f)
              {
                  var options = getSelectedItems(getFormElement(f, 'field_options[]'));
                  if (options.length == 0) {
                      alert('Please select an option from the list.');
                      return false;
                  }
                  editing_option_id = options[0].value;
                  f.new_value.value = options[0].text;
                  f.new_value.focus();
                  f.update_button.disabled = false;
              }
              function removeFieldOption(f, delete_first)
              {
                  if (delete_first != null) {
                      var remove = new Array('-1');
                  } else {
                      var options = getSelectedItems(getFormElement(f, 'field_options[]'));
                      if (options.length == 0) {
                          alert('Please select an option from the list.');
                          return false;
                      }
                      var remove = new Array();
                      for (var i = 0; i < options.length; i++) { // >
                          remove[remove.length] = options[i].value;
                      }
                  }
                  for (var i = 0; i < remove.length; i++) { // >
                      removeOptionByValue(f, 'field_options[]', remove[i]);
                  }
                  var field = getFormElement(f, 'field_options[]');
                  if ((delete_first == null) && (field.options.length == 0)) {
                      field.options[0] = new Option('enter a new option above', '-1');
                  }
              }
              function toggleCustomOptionsField(show_field)
              {
                  var f = getForm('entry_form');
                  f.new_value.disabled = show_field;
                  var field = getFormElement(f, 'field_options[]');
                  field.disabled = show_field;
                  f.add_button.disabled = show_field;
                  f.remove_button.disabled = show_field;
                  if (f.edit_button) {
                      f.edit_button.disabled = show_field;
                  }
                  return true;
              }
              function checkRequiredFields()
              {
                  var f = getForm('entry_form');
                  f.report_form_required.disabled = !(f.report_form.checked);
                  if (f.report_form_required.disabled) {
                      f.report_form_required.checked = false;
                  }
                  f.anon_form_required.disabled = !(f.anon_form.checked);
                  if (f.anon_form_required.disabled) {
                      f.anon_form_required.checked = false;
                  }
              }
              function showOrHideElement(element_name,checkbox_name)
              {
                  var row = document.getElementById(element_name);
                  var checkbox = document.getElementById(checkbox_name);
                  if (checkbox.checked)
                  {
                      row.style.display='';
                  } else {
                      row.style.display='none';
                  }
              }
              function updateForm()
              {
                  var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
                  var updateWin = window.open('', '_update_record_details', features);
                  updateWin.focus();
                  return true;
              }

				var dt_load_state = 0;
				function showLoading1()
				{
					document.body.style.cursor = 'wait';
					document.getElementById('loading1').style.display = 'block';
				}
				
				function hideLoading1()
				{
					document.body.style.cursor = '';
					document.getElementById('loading1').style.display = 'none';
				}
				
				function selectObjectXSDDisplay(f, field_name)
				{
					if (dt_load_state > 0) {
					   return false;
					} 
					var field = getFormElement(f, field_name);
					var selections = getSelectedItems(field);
				
					if (selections.length > 0) {
						dt_load_state++;
						document.getElementById('tr_wft_xdis_id').style.display = '';
						showLoading1();
						var obj = new SelectObjectXSDDisplay();
						obj.onGetXSDDisplaysByObjectTypeError = function() {
							removeAllOptions(f, 'wft_xdis_id');
							hideLoading1();
							dt_load_state--;
						}
						obj.setTimeout(10000);
						obj.getXSDDisplaysByObjectType(selections[0].value, function(dt_list) {
								removeAllOptions(f, 'wft_xdis_id');
								addOptions(f, 'wft_xdis_id', dt_list);
                                {/literal}
                                {if $info.wft_xdis_id}
								selectOption(f, 'wft_xdis_id', {$info.wft_xdis_id});
                                {/if}
                                {literal}
								hideLoading1();
								dt_load_state--;
								});
					}
				}

              //-->
              </script>
              {/literal}
              
              <form id="entry_form" onsubmit="javascript:return validateForm(this) && updateForm();" method="post" action="{$rel_url}popup.php" enctype="multipart/form-data">
              <div>
                {if $smarty.get.cat == 'edit'}
                  <input type="hidden" name="cat" value="edit_{$type}" />
                  <input type="hidden" name="id" value="{$info.wft_id}" />
                  <input type="hidden" name="wft_id" value="{$info.wft_id}" />
                {else}
                  <input type="hidden" name="cat" value="new_{$type}" />
                {/if}
                  <input type="hidden" name="pid" value="{$pid}" />
                  <input type="hidden" name="wft_pid" value="{$pid}" />
              </div>
            <table style="background: #FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h1>Workflow Triggers</h1>
                  <div><a href="{$rel_url}manage/workflow_triggers.php?pid={$pid}">New</a></div>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}; text-align: center;" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new {$type_name}.
                    {elseif $result == 1}
                      Thank you, the {$type_name} was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the {$type_name} information.
                    {elseif $result == 1}
                      Thank you, the {$type_name} was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px; white-space: nowrap" class="default cell-colour">
                  <b>Icon:</b> (path relative to fez root)
                </td>
                <td style="background: {$light_color}">
                  <input class="default" type="text" name="wft_icon" value="{$info.wft_icon}" size="64" />
                </td>
              </tr>

             <tr>
                <td style="white-space: nowrap" class="default cell-colour">
                  <b>Trigger:</b>
                </td>
                <td style="background: {$light_color}">
                  <select name="wft_type_id" class="default">
                        {html_options options=$triggers_list selected=$info.wft_type_id}
                  </select>
                </td>
              </tr>
 
				<tr>
				<td style="white-space: nowrap" class="default cell-colour">
				  <b>Object Type:</b>
				</td>
				<td style="background: {$light_color}">
				  <select name="wft_ret_id" class="default" onchange="javascript: selectObjectXSDDisplay(this.form, 'wft_ret_id')">
					  {html_options options=$object_options selected=$info.wft_ret_id}
				  </select>
				  {include file="error_icon.tpl.html" field="wft_ret_id"}			  
				</td>
			  </tr>

			  <tr style="display:none;" id="tr_wft_xdis_id">
                <td style="white-space: nowrap" class="default cell-colour">
                  <b>XSD Display Document Type:</b>                 </td>
                <td style="background: {$light_color}">
	 			  <div id="loading1" style="display:none;">Loading...</div>
                  <select name="wft_xdis_id" class="default">
                  </select>
                  <div class="default">'None' means that the trigger selects the document type as part of the workflow - 'None' triggers are accessed through the My_Fez page. 'Any' will match against any document type.</div>
                </td>
              </tr>

              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Mimetype:</b> (Ingest triggers only, leave blank to match all, seperate multiple mimetypes by spaces)
                </td>
                <td style="background: {$light_color}">
                  <input class="default" type="text" name="wft_mimetype" value="{$info.wft_mimetype}" size="64"/>
                </td>
              </tr>

              <tr>
                <td style="white-space: nowrap" class="default cell-colour">
                  <b>Workflow:</b>
                </td>
                <td style="background: {$light_color}">
                  <select name="wft_wfl_id" class="default">
                        {html_options options=$wfl_list selected=$info.wft_wfl_id}
                  </select>
                </td>
              </tr>
              <tr>
                <td style="white-space: nowrap" class="default cell-colour">
                  <b>Options:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="checkbox" {if $info.wft_options_split.show_in_list}checked="checked"{/if} 
                name="wft_option_show_in_list" id="wft_option_show_in_list" />
                <label for="wft_option_show_in_list" class="default">Show In Lists</label>
                </td>
              </tr>
 
             <tr>
                <td colspan="2" class="cell-colour" align="center">
                  {if $smarty.get.cat == 'edit'}
                    <input class="button" type="submit" value="Update" />
                  {else}
                    <input class="button" type="submit" value="Submit" />
                  {/if}
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
              </table>
            </form> 
            
            <script type="text/javascript">
            <!--
            {literal}
            function checkDelete(f)
            {
                if (!hasOneChecked(f, 'items[]')) {
                    alert('Please select at least one of the {$type_name}.');
                    return false;
                }
                if (!confirm('This action will permanently remove the selected {/literal}{$type_name}{literal}.')) {
                    return false;
                } else {
                    return true;
                }
            }
            //-->
            </script>
            {/literal}
            
            <form onsubmit="javascript:return updateForm();" method="post" action="{$rel_url}popup.php" enctype="multipart/form-data">
              <div>
                <input type="hidden" name="cat" value="list_action_{$type}" />
                <input type="hidden" name="pid" value="{$pid}" />
              </div>
            
            <table style="background: #FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h2>Existing Workflow Triggers:</h2>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table style="width: 100%" cellpadding="1" cellspacing="1">
                    <tr>
                      <td style="width: 4px; background: {$cell_color}; white-space: nowrap; text-align: center;"><input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" /></td>
                      <td class="default cell-colour">&nbsp;<b>Trigger</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Object Type</b></td>
                      <td class="default cell-colour">&nbsp;<b>XSD Display</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Workflow</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Mimetype</b>&nbsp;</td>
                      <td class="default cell-colour">&nbsp;<b>Action</b>&nbsp;</td>
                    </tr>
                    {section name="i" loop=$list}
                    {cycle values=$cycle assign="row_color"}
                    <tr onmouseover="this.style.background='#{$smarty.const.APP_HIGHLIGHT_COLOR}';" onmouseout="this.style.background='{$row_color}';" style="background: {$row_color}">
                      <td style="white-space: nowrap; text-align: center;">
                        <input type="checkbox" name="items[]" value="{$list[i].wft_id}" {if $smarty.section.i.total == 0}disabled="disabled"{/if} />
                      </td>
                      <td style="" class="default">
                        <img src="{$rel_url}{$list[i].wft_icon}" alt="icon" />
                        {assign var="type_id" value=$list[i].wft_type_id}
                        &nbsp;{$triggers_list.$type_id}
                      </td>
                      <td style="" class="default">
                        {assign var="object_type" value=$list[i].wft_ret_id}&nbsp;{$object_options.$object_type|replace:' ':'&nbsp;'}
                      </td>
                      <td style="" class="default">
                        {assign var="xdis_id" value=$list[i].wft_xdis_id}
                        &nbsp;{$xdis_list.$xdis_id}
                      </td>
                      <td style="" class="default">
                        {assign var="wfl_id" value=$list[i].wft_wfl_id}
                        &nbsp;{$wfl_list.$wfl_id}
                      </td>
                      <td style="width: 200px;" class="default">
                        &nbsp;{$list[i].wft_mimetype}
                      </td>
                      <td style="" class="default">
                        &nbsp;<a href="{$rel_url}manage/workflow_triggers.php?cat=edit&amp;wft_id={$list[i].wft_id}&amp;pid={$pid}">Edit</a>
                      </td>
                    </tr>
                    {sectionelse}
                    <tr>
                      <td colspan="7" style="background: {$light_color}; text-align: center;" class="default">
                        No items could be found.
                      </td>
                    </tr>
                    {/section}
                    <tr>
                      <td style="text-align: center;" class="cell-colour">
                        <input type="button" value="All" class="shortcut" onclick="javascript:toggleSelectAll(this.form, 'items[]');" />
                      </td>
                      <td colspan="6" class="cell-colour">
                        <input type="submit" name="delete" value="Delete" class="button" onclick="javascript:return checkDelete(this.form);" />
                      </td>
                    </tr>

                  </table>
                </td>
              </tr>
             </table>
                    </form>
      {literal}
<script type="text/javascript"><!-- 
selectObjectXSDDisplay(getForm('entry_form'), 'wft_ret_id'); 
// --></script>	  
      {/literal}

</div>
