<div class="admin-box">

      <table cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr>
          <td>

            <form id="xsd_source_form" method="post" action="{$smarty.server.PHP_SELF}" enctype="multipart/form-data">
            <div>
              <input type="hidden" name="cat" value="update" />
              <input type="hidden" name="xsd_id" value="{$xsd_id}" />
            </div>

            <table style="background: #FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
              <tr>
                <td colspan="2" class="default">
                  <h1>Edit XSD Source</h1>
                </td>
              </tr>
              {if $result != ""}
              <tr>
                <td colspan="2" style="background: {$cell_color}" align="center" class="error">
                  {if $smarty.post.cat == "new"}
                    {if $result == -1}
                      An error occurred while trying to add the new doc type xsd.
                    {elseif $result == 1}
                      Thank you, the doc type xsd was added successfully.
                    {/if}
                  {elseif $smarty.post.cat == "update"}
                    {if $result == -1}
                      An error occurred while trying to update the doc type xsd information.
                    {elseif $result == 1}
                      Thank you, the doc type xsd was updated successfully.
                    {/if}
                  {/if}
                </td>
              </tr>
              {/if}
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Title:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="xsd_title" size="40" class="default" value="{$list.xsd_title}" />
                  {include file="error_icon.tpl.html" field="title"}
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Version:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="xsd_version" size="30" class="default" value="{$list.xsd_version}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Top Element Name:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="xsd_top_element_name" size="30" class="default" value="{$list.xsd_top_element_name}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Element Prefix <i>(not required)</i>:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="xsd_element_prefix" size="30" class="default" value="{$list.xsd_element_prefix}" />
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>Extra Namespace Prefixes <i>(comma separated, not required)</i>:</b>
                </td>
                <td style="background: {$light_color}">
                  <input type="text" name="xsd_extra_ns_prefixes" size="30" class="default" value="{$list.xsd_extra_ns_prefixes}" />
                </td>
              </tr>
              <tr valign="top">
                <td style="width: 120px;" class="default cell-colour">
                  <b>Edit XSD Source:</b>
                </td>
                <td style="background: {$light_color}">
                  <textarea name="xsd_source" rows="40" cols="100" class="default">{$list.xsd_file|smarty:nodefaults}</textarea>
                </td>
              </tr>
              <tr>
                <td style="width: 120px;" class="default cell-colour">
                  <b>or Reupload XSD Source File:</b> <br /><i>If anything is in this field it will override any changes made to the above XSD Source.</i>
                </td>
                <td style="background: {$light_color}">
                  <input size="50" name="xsd_file[]" type="file" class="shortcut" />
                </td>
              </tr>
              <tr>
                <td colspan="2" style="background: {$cell_color}" align="center">
                  <input class="button" type="submit" value="Update XSD Source" />
                  <input class="button" type="reset" value="Reset" />
                </td>
              </tr>
            </table>
          </form>
          </td>
        </tr>
      </table>

</div>