<html>
<head>
<link rel="StyleSheet" href="{$rel_url}css/dtree.css" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/dtree.js"></script>
<script language="JavaScript" src="{$rel_url}js/global.js"></script>

{if $result == 1} 
<script type="text/javascript">
<!--
// reload the tree frame if something was deleted so the tree can get the right count
parent._treeframe.location.reload()
-->
</script>
{/if}
</head>

<body topmargin="5" marginheight="5" class="default">
<strong>Orphaned XSD HTML Matching Field Entries</strong><br /><br />

These XSDMFs associated with this XSD Display have become orphaned from the XSD Tree. This can
often happen when the XSD source text has been changed (elements removed). These orphaned records can and should
usually be deleted. <br/><br/>

{if ($orphan_count > 0)} 
  <table width="100%" class="admin-box" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
	  <td>
		<table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">
		<form onSubmit="javascript:return checkDelete(this);" method="post" action="{$smarty.server.PHP_SELF}">
			<input type="hidden" name="xdis_id" value="{$xdis_id}">
			<input type="hidden" name="form_cat" value="delete">			
			<tr>
			  <td bgcolor="{$cell_color}" nowrap align="center"><input type="button" value="All" class="shortcut" onClick="javascript:toggleSelectAll(this.form, 'items[]');"></td>
			  <td bgcolor="{$cell_color}" class="default" nowrap>&nbsp;<b>XSDMF ID</b></td>
			  <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Title</b></td>
			  <td bgcolor="{$cell_color}" class="default">&nbsp;<b>Element</b></td>
			  <td bgcolor="{$cell_color}" class="default">&nbsp;<b>SEL Title (ID)</b></td>			  
			  <td bgcolor="{$cell_color}" class="default">&nbsp;<b>HTML Input Type</b></td>
			</tr>
{/if}
{section name="i" loop=$orphan_list}
{cycle values=$cycle assign="row_color"}
			<tr>
			  <td width="4" nowrap bgcolor="{$row_color}" align="center">
				<input type="checkbox" name="items[]" value="{$orphan_list[i].xsdmf_id}" {if $smarty.section.i.total == 0}disabled{/if}>
			  </td>
			  <td width="5%" bgcolor="{$row_color}" class="default">
				&nbsp;{$orphan_list[i].xsdmf_id}
			  </td>
			  <td width="25%" bgcolor="{$row_color}" class="default">
				&nbsp;{$orphan_list[i].xsdmf_title}
			  </td>
			  <td width="25%" bgcolor="{$row_color}" class="default">
				&nbsp;{$orphan_list[i].xsdmf_element}
			  </td>
			  <td width="25%" bgcolor="{$row_color}" class="default">
				&nbsp;{$orphan_list[i].xsdsel_title} ({$orphan_list[i].xsdmf_xsdsel_id})
			  </td>
			  <td width="40%" bgcolor="{$row_color}" class="default">
				&nbsp;{$orphan_list[i].xsdmf_html_input}
			  </td>
			</tr>
{sectionelse}
  <strong><font color="green">No Orphaned XSDMF elements found to clean up!</font></strong>
{/section}
{if ($orphan_count > 0)} 
			<tr>
			  <td colspan="6" bgcolor="{$cell_color}">
				<input type="submit" value="Delete" class="button">
			  </td>
			</tr>
			</form>

		</table>
	  </td>
    </tr>
  </table>
{/if}


</body>
</html>