RewriteEngine   on
#############################################################################
# Maintenance block - uncomment this block to put site in maintenance mode. #
#############################################################################
#RewriteCond %{REMOTE_ADDR} !^130.102.44.YOUR_IP$
#RewriteCond %{REQUEST_URI} !^/images/
#RewriteCond %{REQUEST_URI} !^/css/
#RewriteCond %{REQUEST_URI} !^/js/
#RewriteRule     (.*)$                                    maintenance.php [L]
#############################################################################
# End maintenance block                                                     #
#############################################################################

# Custom 404 error page
ErrorDocument 404 /errors/404

# Disallow request of this file
RewriteRule ^\.htaccess$ - [F]
RewriteRule ^logs/.*\.log$ - [F]

# Robots.txt
RewriteRule ^robots.txt$         robots.php [L]

#REWRITE RULES APPLYING TO BASE FEZ CODE
RewriteRule     ^errors/([0-9]+)$                                   errors/index.php?code=$1 [L]
RewriteRule     ^view/([A-Za-z]+):([0-9]+)(\?.*)*$                  view.php?pid=$1:$2$3 [L,QSA]
RewriteRule     ^view/([A-Za-z]+):([0-9]+)/(.+?)(/.*)*$            eserv.php?pid=$1:$2&dsID=$3&qs=$4 [L,QSA]
RewriteRule     ^community/([A-Za-z]+):([0-9]+)(\?.*)*$	                list.php?community_pid=$1:$2&$3 [L,QSA]
RewriteRule     ^collection/([A-Za-z]+):([0-9]+)$                   list.php?collection_pid=$1:$2 [L,QSA]
RewriteRule     ^collection/([A-Za-z]+):([0-9]+)/(.+)$              list.php?collection_pid=$1:$2&$3 [L,QSA]
RewriteRule     ^list/([^/]*)/([^/]*)(/?)$                          list.php?browse=$1&value=$2 [L,QSA]
RewriteRule     ^favourites$                                        list.php?browse=favourites [L,QSA]
RewriteRule     ^list/(.*)$                                         list.php?$1 [L,QSA]
RewriteRule     ^rss/(.*)$                                          list.php?$1&tpl=2 [L,QSA]
RewriteRule     ^xmlfeed/(.*)$                                      list.php?$1&tpl=3 [L,QSA]
RewriteRule     ^jsonfeed/(.*)$                                     list.php?$1&tpl=11 [L,QSA]

RewriteRule     ^xml/(.*)$                                          list.php?$1&format=xml [L,QSA]
RewriteRule     ^json/(.*)$                                         list.php?$1&format=json [L,QSA]

# Add other rewrite rules
RewriteRule     ^faq(/?)$                                           faq.php
RewriteRule     ^(about|contact)(\.php|/)?$                         page.php?page=$1 [L,QSA]
RewriteRule     ^rid_citation_count_history_([A-Za-z]+):([0-9]+)$              rid_citation_count_history.php?pid=$1:$2 [L,QSA]
RewriteRule     ^rid_citation_count_history_([A-Za-z]+):([0-9]+)_graph.?(.*)$   rid_citation_count_history_graph.php?pid=$1:$2&ext=$3 [L,QSA]
RewriteRule     ^scopus_citation_count_history_([A-Za-z]+):([0-9]+)$              scopus_citation_count_history.php?pid=$1:$2 [L,QSA]
RewriteRule     ^scopus_citation_count_history_([A-Za-z]+):([0-9]+)_graph.?(.*)$   scopus_citation_count_history_graph.php?pid=$1:$2&ext=$3 [L,QSA]
RewriteRule     ^js/(.*).js$                                       	min.php/js/$1.js [L,QSA]
#RewriteRule     ^js/(.*).js$                                       	min.php/js/$1.js?debug=1 [L,QSA]
RewriteRule     ^stream/([A-Za-z]+):([0-9]+)/(.+?)(/.*)*$           eserv.php?pid=$1:$2&dsID=$3&qs=$4/stream=1 [L]

#TESTING SEND EVERYTHING TO index.php for user defined author my pubs aliases etc
RewriteCond     %{REQUEST_FILENAME} -s [OR]
RewriteCond     %{REQUEST_FILENAME} -l [OR]
RewriteCond     %{REQUEST_FILENAME} -d
RewriteRule     ^.*$ - [NC,L]
RewriteRule     ^.*$ index.php [NC,L]

# Serve a 404 error page on attempts to access .svn directories
RedirectMatch 404 /\.svn(/|$)
