<table border="1">
  <tr>
    <td bgcolor="#CCCCCC"><b>PID</b></td>
    <td bgcolor="#CCCCCC"><b>Title</b></td>
    <td bgcolor="#CCCCCC"><b>Type</b></td>
    <td bgcolor="#CCCCCC"><b>Details</b></td>
    <td bgcolor="#CCCCCC"><b>Abstract views</b></td>
    <td bgcolor="#CCCCCC"><b>Downloads</b></td>
    <td bgcolor="#CCCCCC"><b>WoS citations</b></td>
    <td bgcolor="#CCCCCC"><b>Scopus citations</b></td>
    <td bgcolor="#CCCCCC"><b>Google Scholar citations</b></td>
    <td bgcolor="#CCCCCC"><b>ERA Journal ranking</b></td>
    <td bgcolor="#CCCCCC"><b>HERDC code</b></td>
    <td bgcolor="#CCCCCC"><b>HERDC status</b></td>
    <td bgcolor="#CCCCCC"><b>HERDC affiliation</b></td>
  </tr>
{section name="i" loop=$list}
  <tr>
    <td>{$list[i].rek_pid}</td>
    <td>{$list[i].rek_title}</td>
    <td>{$list[i].rek_genre}</td>
    <td>{$list[i].rek_citation_stripped|smarty:nodefaults}</td>
    <td>{$list[i].rek_views}</td>
    <td>{$list[i].rek_file_downloads}</td>
    <td>{$list[i].rek_thomson_citation_count}</td>
    <td>{$list[i].rek_scopus_citation_count}</td>
    <td>{$list[i].rek_gs_citation_count}</td>
    <td>{$list[i].rj_rank}</td>
    <td>{$list[i].rek_herdc_code_lookup}</td>
    <td>{$list[i].rek_herdc_status_lookup}</td>
    <td>{$list[i].rek_institutional_status_lookup}</td>
  </tr>
{/section}
</table>