	<foxml:datastream ID="FezMD" VERSIONABLE="true" CONTROL_GROUP="X" STATE="A">
		<foxml:datastreamVersion MIMETYPE="text/xml" ID="Fez1.0" LABEL="Fez extension metadata">
			<foxml:xmlContent>            
				<FezMD xmlns:xsi="http://www.w3.org/2001/XMLSchema">
					<xdis_id>{$fezmd.xdis_id}</xdis_id>
					<sta_id>{$fezmd.sta_id}</sta_id>
					<ret_id>{$fezmd.ret_id}</ret_id>
					<created_date>{$fezmd.created_date}</created_date>					  
					<updated_date>{$fezmd.updated_date}</updated_date>
					<depositor>{$fezmd.depositor}</depositor>            
				</FezMD>
				</foxml:xmlContent>
		</foxml:datastreamVersion>
	</foxml:datastream>