{include file="js/my_fez.tpl.js"}
<br />
<form name="custom_filter_form" action="{$smarty.server.PHP_SELF}" method="get" onsubmit="javascript:return validateSearchForm();">
{include file="quick_filter_form.tpl.html"}
<br />

<div class="contentheader">
Assigned Unpublished Items <span class="default">(unpublished items you can edit or approve)</span>

</div>
<span class="default">
{if $items_info.total_rows != 0}
Showing items {math equation="x + 1" x=$items_info.current_row}
to {$items_info.current_last_row} of {$items_info.total_rows}
{else}
No items found
{/if}
</span>
<br />
<br />
</form>
<form name="assigned_records" method="post" action="{$rel_url}popup.php" target="_popup">
<input type="hidden" name="cat" value="delete_objects" />

   <table class="my_fez_table" width="100%" cellpadding="0">
     <tr>
       <th width="10"><input type="button" value="All" onclick="javascript:toggleSelectAll(this.form, 'pids[]');" /></th>
       {if $options.searchKeycore_9 == "" || $options.searchKeycore_9 == "ALL" || $options.searchKeycore_9 == '-4'}
       <th class="default tableheader" nowrap valign="middle">
       {if $options.sort_order == "1"}
       <a href='{$page_url_order}&sort_by=searchKeycore_9&sort_order=0'>Status{if $options.sort_by == "searchKeycore_9"}<img border="0" title="click to sort by Status Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle">{/if}</a>
       {else}
       <a href='{$page_url_order}&sort_by=searchKeycore_9&sort_order=1'>Status{if $options.sort_by == "searchKeycore_9"}<img border="0" title="click to sort by Status Descending"  src="{$rel_url}images/sort_desc_off_16.gif" align="middle">{/if}</a>
       {/if}
       </th>
       {/if}

       <th class="default tableheader" nowrap valign="middle">
       	{if $options.sort_order == "1"}
       		<a href='{$page_url_order}&sort_by=searchKeycore_17&sort_order=0' title="Click to sort by oldest first">Created Date</a> <img title="Click to sort by oldest first" src="{$rel_url}images/sort_asc_off_16.gif" style="vertical-align: middle;">
       	{else}
       		<a href='{$page_url_order}&sort_by=searchKeycore_17&sort_order=1' title="Click to sort by newest first">Created Date</a> <img title="Click to sort by newest first" src="{$rel_url}images/sort_desc_off_16.gif" style="vertical-align: middle;">
       	{/if}
       </th>

       <!--th class="default tableheader" nowrap valign="middle">
        Assigned User
       </th>

       <th class="default tableheader" nowrap valign="middle">
        Assigned Group
       </th-->

		<th class="default tableheader" nowrap valign="middle">
			{if $options.sort_by == 'searchKeycore_90'}
	       		<a href='{$page_url_order}&sort_by=searchKeycore_91&sort_order=0' title="Click to sort by first author in {$app_name}">1st Author in Document</a>
	       	{elseif $options.sort_by == 'searchKeycore_91'}
	       		<a href='{$page_url_order}&sort_by=searchKeycore_90&sort_order=0' title="Click to sort by first author in document">1st Author in {$app_name}</a>
			{else}
				<a href='{$page_url_order}&sort_by=searchKeycore_90&sort_order=0' title="Click to sort by first author in document">1st Author</a>
	       {/if}
		</th>


       {if $options.searchKeycore_8 == ""}
       <th class="default tableheader" nowrap valign="middle">
       {if $options.sort_order == "1"}
       <a href='{$page_url_order}&sort_by=searchKeycore_8&sort_order=0'>Collection{if $options.sort_by == "searchKeycore_8"}<img border="0" title="click to sort by Collection Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle">{/if}</a>
       {else}
       <a href='{$page_url_order}&sort_by=searchKeycore_8&sort_order=1'>Collection{if $options.sort_by == "searchKeycore_8"}<img border="0" title="click to sort by Collection Descending"  src="{$rel_url}images/sort_desc_off_16.gif" align="middle">{/if}</a>
       {/if}
       </td>
       {/if}

       <th class="default tableheader" valign="middle">
       {if $options.sort_order == "1"}
       <a href='{$page_url_order}&sort_by=searchKeycore_2&sort_order=0'>Title{if $options.sort_by == "searchKeycore_2"}<img border="0" title="click to sort by Title Ascending" src="{$rel_url}images/sort_asc_off_16.gif" align="middle">{/if}</a>
       {else}
       <a href='{$page_url_order}&sort_by=searchKeycore_2&sort_order=1'>Title{if $options.sort_by == "searchKeycore_2"}<img border="0" title="click to sort by Title Descending"  src="{$rel_url}images/sort_desc_off_16.gif" align="middle">{/if}</a>
       {/if}
       </th>
       <th>
        &nbsp;
       </th>
       <th class="default tableheader" align="center">Stats
       </th>
     </tr>


<input type="hidden" name="href" value="/my_fez_traditional.php" />
{assign var="list" value=$my_assigned_items_list}
     {section name="i" loop=$list}
		{if $list[i].thumbnail.0 != ""}
			{assign var="icon" value=$rel_url|cat:"eserv/"|cat:$list[i].rek_pid|cat:"/"|cat:$list[i].thumbnail.0}
		{else}
			{assign var="icon" value="images/record.png"}
		{/if}
	     {cycle values=$cycle assign="row_color"}
     <tr>
       <td width="10" class="default"><input type="checkbox" name="pids[]" value="{$list[i].rek_pid}" /></td>
	  {assign var="status_id" value=$list[i].rek_status}
      {if $options.searchKeycore_9 == "" || $options.searchKeycore_9 == '-4'}
      <td class="default">{$status_list[$status_id]}</td>
      {/if}

      <td>
      	{$list[i].rek_created_date|date_format:"%d/%m/%Y"}
      </td>

      <!--td>
      {section name="m" loop=$list[i].rek_assigned_user_id_lookup}
      {$list[i].rek_assigned_user_id_lookup[m]}
      {/section}
      </td>

      <td>
      {section name="m" loop=$list[i].rek_assigned_group_id_lookup}
      {$list[i].rek_assigned_group_id_lookup[m]}
      {/section}
      </td-->

		<td class="default">
		{* show the fez first author if sorting by that, otherwise, just show the first author *}
			{if $options.sort_by == 'searchKeycore_90'}
				{$list[i].rek_first_author_in_document_derived}
			{elseif $options.sort_by == 'searchKeycore_91'}
				{$list[i].rek_first_author_in_fez_derived}
			{else}
				{$list[i].rek_author[0]}
			{/if}
		</td>

       <td class="default">
		{section name="m" loop=$list[i].rek_ismemberof.rek_pid}
        <a title="click to open the published list of records in this collection" href="{$rel_url}collection/{$list[i].rek_ismemberof.rek_pid[m]}">{$list[i].rek_ismemberof.rek_title[m]}</a><br />
		{/section}
       </td>
       <td width="99%" class="default">

		<a href="{$rel_url}view/{$list[i].rek_pid}"><img align="absmiddle" src="{$icon}" border="0"></a>
        <a href="{$rel_url}view/{$list[i].rek_pid}" class="title_link">
          {if ($list[i].rek_citation)}{$list[i].rek_citation|smarty:nodefaults}{else}{$list[i].rek_title}{/if}
        </a>

		 (Created: {$list[i].rek_created_date}{if $list[i].rek_updated_date <> $list[i].rek_created_date} Last Updated: {$list[i].rek_updated_date}{/if})

     </td>
     <td nowrap valign="middle" class="default">
        {if $list[i].isEditor==1 || $isAdministrator}
           <a href="workflow/list_workflows2.php?pid={$list[i].rek_pid}"><img src="{$rel_url}images/options_16.png" alt="More options" title="More options" border="0" width="16" height="16" /></a>
	   {/if}
     {section name="w" loop=$list[i].wft_id}
	    {if $list[i].wft_id[w] != ''}
	    {if $list[i].wft_icon[w] == 'images/security.gif'}
	      {if $list[i].security == 'include'}
	        {assign var="wf_icon" value="images/security_include.gif"}
	      {elseif $list[i].security == 'exclude'}
	        {assign var="wf_icon" value="images/security_exclude.gif"}
	      {elseif $list[i].security == 'inherit'}
                {assign var="wf_icon" value="images/security_inherit.gif"}
	      {else}
	        {assign var="wf_icon" value=$list[i].wft_icon[w]}
	      {/if}
        {else}
	      {assign var="wf_icon" value=$list[i].wft_icon[w]}
	    {/if}
               {if $list[i].wft_type_id[w] == 6}
                 {assign var='wf_url' value=$rel_url|cat:'workflow/export.php'}
               {else}
                 {assign var='wf_url' value=$rel_url|cat:'workflow/update.php'}
  			    {/if}
	<a href="{$wf_url}?pid={$list[i].rek_pid}&amp;cat=select_workflow&amp;xdis_id={$list[i].rek_display_type}&amp;wft_id={$list[i].wft_id[w]}&amp;href={$smarty.server.REQUEST_URI|smarty:nodefaults|escape:url}"><img alt="{$list[i].wfl_title[w]}" title="{$list[i].wfl_title[w]}" src="{$rel_url}{$wf_icon}" border="0" /></a>
	  {/if}
	  {/section}
     </td>
     <td nowrap align="center" valign="middle" class="default">
        {if $list[i].Relevance}<b>{$list[i].Relevance|@number_format:"2"}</b>{/if}
        {if $list[i].rek_object_type == '3'}
            {if $list[i].rek_views}<br />({$list[i].rek_views}&nbsp;Abstract&nbsp;View{if $list[i].rek_views > 1}s{/if})<br />{/if}
            {if $list[i].rek_file_downloads}({$list[i].rek_file_downloads}&nbsp;<a class="author_link" href="{$rel_url}stat_details.php?action=show_detail&pid={$list[i].rek_pid}">File&nbsp;Download{if $list[i].rek_file_downloads > 1}s{/if}</a>){/if}
        {/if}
        </td>

     </tr>
     {sectionelse}
     <tr>
       <td colspan="8" bgcolor="{$light_color}" align="center" class="default">
         No items with that search filter could be found.
       </td>
     </tr>
     {/section}

     {include file="my_fez_table_footer.tpl.html" rowspan=8}

     </table>

   </form>
