{include file="header.tpl.html" extra_title="News"}
{include file="navigation.tpl.html"}

<h1>News <a href="{$smarty.server.PHP_SELF}?show=rss"><img alt="Subscribe to the RSS news feed" title="Subscribe to the RSS news feed" src="{$rel_url}images/feed-icon16x16.png" /></a></h1>

{section name="i" loop=$news}
<div class="news-item">
  <a id="x{$news[i].nws_id}" name="x{$news[i].nws_id}"></a><div class="news-heading">{$news[i].admin_only|smarty:nodefaults}{$news[i].nws_title}</div>
  <div class="news-supp-info">Posted {$news[i].nws_published_date} by {if $news[i].usr_email !== ''}<a href="mailto:{$news[i].usr_email}">{/if}{$news[i].usr_full_name}{if $news[i].usr_email !== ''}</a>{/if}</div>
  <div class="news-body">{$news[i].nws_message|smarty:nodefaults}</div>
</div>
{/section}

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}