{include file="header.tpl.html"}

{include file="app_errors.tpl.html"}

<br />
<center>
  <span class="default">

{if $purge_datastream_result == -1}
  <b>An error occurred while trying to purge the datastream</b>
{elseif $purge_datastream_result == 1}
  <b>Thank you, the datastream was purged successfully.</b>
{/if}
{if $update_form_result == -1}
  <b>An error occurred while trying to update the record</b>
{elseif $update_form_result == 1}
  <b>Thank you, the record was updated successfully.</b>
{/if}
{if $delete_object_result == -1}
  <b>An error occurred while trying to delete the object</b>
{elseif $delete_object_result == 1}
  <b>Thank you, the object was deleted successfully.</b>
{/if}
{if $generic_result==-1}
  <b>An error occurred while performing {$generic_action} on the {$generic_type}</b>
{elseif $generic_result==1}
  <b>Succesfully performed {$generic_action} on the {$generic_type}</b>
{/if}
{if $file_manager_result == 1}
  <b>Your file selections have been saved</b>
{/if}
  </span>
</center>

<script type="text/javascript">
setTimeout('closeAndRefresh()', 1000);
</script>
<br />
<!--
//<input type="button" onclick="javascript:closeAndRefresh();" value="close"/> 
//-->
{include file="footer.tpl.html"}
