{include file="header.tpl.html" extra_title="Preferences"}
{include file="navigation.tpl.html"}

{literal}
<script type="text/javascript">
<!--
function validateName(f)
{
    if (isWhitespace(f.full_name.value)) {
        alert('Please enter your full name.');
        selectField(f, 'full_name');
        return false;
    }
    return true;
}
function validateEmail(f)
{
    if (!isEmail(f.email.value)) {
        alert('Please enter a valid email address.');
        selectField(f, 'email');
        return false;
    }
    return true;
}

function validateMyPubURL(f)
{
	if (!isWhitespace(f.mypub_url.value) && !isMyPubURL(f.mypub_url.value)) {
		alert('My Pub URL must be lowercase, only a-z and underscores, and less than 100 characters. Also it cannot be one of reserved path words we use on the site like \'view\'');
        selectField(f, 'mypub_url');
        return false;
    }
    return true;
}

function validateAccount(f)
{
    return true;
}
//-->
</script>
{/literal}

<h1>Preferences</h1>

<table style="width: 100%; background: {$cell_color};">
	{if $smarty.get.from != ""}
		<tr>
		  <td align="center" class="error" style="background: {$cell_color};">
			<b>
			{if $smarty.get.from == "ldap_registration"}
			  Please check these details provided by the UQ central authentication systems <br />are correct and proceed to your <a href="{$rel_url}my_fez.php">My {$application_title}</a> area to
			  indicate communities and collections you wish to join to deposit material.
			{elseif $smarty.get.from == "new_registration"}
			  Please check these details you provided are correct and proceed to your <a href="{$rel_url}my_fez.php">My {$application_title}</a> area to
			  indicate communities and collections you wish to join to deposit material.
			{/if}
			</b>
		  </td>
		</tr>
	{/if}
  <tr>
    <td>
	<form onsubmit="javascript:return validateName(this);" action="{$smarty.server.PHP_SELF}" method="post">
	<div>
		<input type="hidden" name="cat" value="update_name" />
	</div>
	  <table style="width: 100%; background: white;">
		<tr style="background: {$heading_color};">

          <td class="default_white" colspan="2" height="20px">
            <b>User Details</b>
          </td>
        </tr>
        {if $update_name_result}
        <tr>
          <td colspan="2" class="error" style="background: {$cell_color};">
            {if $update_name_result == -1}
            <b>An error occurred while trying to run your query.</b>

            {elseif $update_name_result == 1}
            <b>Thank you, your full name was updated successfully.</b>
            {/if}
          </td>
        </tr>
        {/if}
        <tr>
          <td style="width: 250px; background: {$cell_color};">
            <b>Full Name:</b>

          </td>
          <td style="background: {$light_color}">
            <input type="text" name="full_name" size="40" class="default" value="{$current_full_name}" />
            {include file="error_icon.tpl.html" field="full_name"}
          </td>
        </tr>
        <tr>
          <td colspan="2" style="background: {$cell_color}; text-align: center;">
            <input class="button" type="submit" value="Update Full Name" />

            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
	  </table>
    </form>

	<form onsubmit="javascript:return validateEmail(this);" action="{$smarty.server.PHP_SELF}" method="post">
	<div>
		<input type="hidden" name="cat" value="update_email" />
	</div>
	  <table style="width: 100%; background: white;">
        {if $update_email_result}
			<tr>
			  <td colspan="2" class="error" style="background: {$cell_color};" align="center">
				{if $update_email_result == -1}
				<b>An error occurred while trying to run your query.</b>
				{elseif $update_email_result == 1}
				<b>Thank you, your email address was updated successfully.</b>
				{/if}
			  </td>
			</tr>
        {/if}
        <tr>
          <td style="width: 250px; background: {$cell_color};">
            <b>Email Address:</b>
          </td>
          <td style="background: {$light_color};">
            <input type="text" name="email" size="40" class="default" value="{$current_email}" />
            {include file="error_icon.tpl.html" field="email"}
          </td>

        </tr>	
        <tr>
          <td colspan="2" style="background: {$cell_color}; text-align: center;">
            <input class="button" type="submit" value="Update Email Address" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
      </table>
	</form>
{if $isAuthor == 1}
	<form id="update_mypub_url_form" onsubmit="javascript:return validateMyPubURL(this);" action="{$smarty.server.PHP_SELF}" method="post">
	  <table style="background: FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
	    <tr>
	      <td style="width: 250px; background: {$cell_color};" class="default">
	        <b>Author My Publications URL:</b><br />(lowercase, a-z and underscore characters only, and less than 100 characters)
	      </td>
	      <td style="background: {$light_color};">
	        <input type="text" name="mypub_url" size="40" class="default" value="{$myPubURLPref}" />
	        {include file="error_icon.tpl.html" field="mypub_url"}
	      </td>
	    </tr>
        {if $update_mypub_url_result == '-2'}
        <tr>
          <td colspan="2" class="error" style="background: {$cell_color};" align="center">
            {if $update_mypub_url_result == '-1'}
            <b>An error occurred while trying to run your query. Your My Publications URL must be lowercase, a-z and underscores only, and less than 100 characters</b>
            {elseif $update_mypub_url_result == '-2'}
            <b>An error occurred while trying to run your query. Your My Publications URL must be lowercase, a-z and underscores only, and less than 100 characters and cannot use one of the reserved words in the system.</b>
            {elseif $update_mypub_url_result == '1'}
            <b>Thank you, your my publications url was updated successfully.</b>
            {/if}
          </td>
        </tr>
        {/if}
        <tr>
          <td colspan="2" style="background: {$cell_color};" align="center">
          	<input type="hidden" name="cat" value="update_mypub_url" />
            <input class="button" type="submit" value="Update My Pubs URL" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
	  </table>
    </form>
{/if}
	{if $local_db_user == 1}
	<form onsubmit="javascript:return validateName(this);" action="{$smarty.server.PHP_SELF}" method="post">		
	  <table style="width: 100%; background: white;">
        {if $update_password_result}
        <tr>
          <td colspan="2" class="error" style="background: {$cell_color};" align="center">
            {if $update_password_result == -1}
            <b>An error occurred while trying to run your query.</b>
			{elseif $update_password_result == -2}
            <b>The password and confirm passwords did not match. Please try again.</b>
			{elseif $update_password_result == -3}
            <b>Your password muct be at least 6 characters long.</b>
            {elseif $update_password_result == 1}
            <b>Thank you, your password was updated successfully.</b>
            {/if}
          </td>
        </tr>
        {/if}
        <tr>
          <td style="width: 190px; background: {$cell_color}">
            <b>New Password:</b>
          </td>
          <td style="background: {$light_color};">
            <input type="password" name="new_password" size="40" class="default" value="" />
            {include file="error_icon.tpl.html" field="new_password"}
          </td>
        </tr>
        <tr>
          <td style="width: 190px; background: {$cell_color}">
            <b>Confirm Password:</b>
          </td>
          <td style="background: {$light_color};">
            <input type="password" name="confirm_password" size="40" class="default" value="" />
            {include file="error_icon.tpl.html" field="confirm_password"}
          </td>
        </tr>
        <tr>
          <td colspan="2" style="background: {$cell_color}; text-align: center;">
          	<input type="hidden" name="cat" value="update_password" />
            <input class="button" type="submit" value="Update Password" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
	  </table>
    </form>
	{/if}

    </td>
  </tr>
</table>
<br />
<table style="width: 100%; background: {$cell_color};">
  <tr>
    <td>

	  <form onsubmit="javascript:return validateAccount(this);" action="{$smarty.server.PHP_SELF}" method="post" enctype="multipart/form-data">
		<div>
      <input type="hidden" name="cat" value="update_account" />
		</div>
      <table style="width: 100%; background: white;">
        <tr style="background: {$heading_color};">
          <td class="default_white" colspan="2" height="20px">
            <b>Account Preferences</b>
          </td>
        </tr>

        {if $update_account_result}
        <tr>
          <td colspan="2" class="error" style="background: {$cell_color};" align="center">
            {if $update_account_result == -1}
            <b>An error occurred while trying to run your query.</b>
            {elseif $update_account_result == 1}
            <b>Thank you, your account preferences were updated successfully.</b>
            {/if}
          </td>
        </tr>

        {/if}
        <tr>
          <td style="width: 190px; background: {$cell_color};">
            <b>Timezone:</b>
          </td>
          <td style="background: {$light_color};">
            <select class="default" name="timezone">
              {html_options values=$zones output=$zones selected=$user_prefs.timezone}
            </select>

            {include file="lookup_field.tpl.html" lookup_field_name="search" lookup_field_target="timezone"}
          </td>
        </tr>
        <tr>
          <td style="width: 190px; background: {$cell_color};">
            <b>Front Page Style:</b>
          </td>
          <td style="background: {$light_color};">
            <select class="default" name="front_page">
              {html_options options=$front_pages selected=$user_prefs.front_page}
            </select>
          </td>
        </tr>
        <tr>
          <td style="width: 190px; background: {$cell_color};">
            <b>Remember search parameters:</b>
          </td>
          <td style="background: $light_color};">
            <select class="default" name="remember_search_params">
				<option label="No" value="no" {if $user_prefs.remember_search_params == 'no'}selected="selected"{/if}>No</option>
				<option label="Yes" value="yes" {if $user_prefs.remember_search_params == 'yes'}selected="selected"{/if}>Yes</option>
            </select>
			  <br />
			  <span style="font-size: 10px;">Remember your search parameters each time you go to the advanced search form.</span>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="background: {$cell_color}; text-align: center;">
            <input class="button" type="submit" value="Update Preferences" />
            <input class="button" type="reset" value="Reset" />
          </td>
        </tr>
      </table>
      </form>
    </td>
  </tr>
</table>
{if $SHIB_SWITCH == "ON"}
<br />
<table style="width: 100%; background: {$cell_color};">
  <tr>
    <td>
      <table style="background: #FFFFFF; width: 100%;" cellspacing="1" cellpadding="2">
        <tr style="background: {$heading_color};">
          <td class="default_white" colspan="2" height="20px">
            <b>Shibboleth Attributes</b>
          </td>
        </tr>
		{section name="i" loop=$shibAttribs}
        <tr>
          <td style="background: {$cell_color}; width: 190px;" class="default">

            <b>{$shibAttribs[i].name}:</b>
          </td>
          <td style="background: {$light_color};" class="default">
			{$shibAttribs[i].value}
          </td>
        </tr>
		{/section}
      </table>
    </td>
  </tr>
</table>
{/if}

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}