<form name="custom_filter_form" action="list.php" method="get" onsubmit="javascript:return validateSearchForm();">
<input type="hidden" name="cat" value="quick_filter" />
{literal}
<script type="text/javascript">
<!--
function clearFilters(f) {
{/literal}
var element0 = getPageElement('search_keys[0]');
{literal}
if (element0 != null) {
    element0.value = '';
}
{/literal}
{section name="i" loop=$search_keys}
{if $search_keys[i].sek_html_input == 'text' ||  $search_keys[i].sek_html_input == 'textarea'}
var element{$search_keys[i].sek_id} = getPageElement('search_keys[{$search_keys[i].sek_id}]');
{literal}
if (element{/literal}{$search_keys[i].sek_id}{literal} != null) {
    element{/literal}{$search_keys[i].sek_id}{literal}.value = '';
}
{/literal}
{elseif $search_keys[i].sek_html_input == 'date'}
    // now for the fields that are only available through the advanced search page
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][start][Year]', '');
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][start][Month]', '');
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][start][Day]', '');
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][end][Year]', '');
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][end][Month]', '');
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][end][Day]', '');
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][filter_type]', '');
    setHiddenFieldValue(f, 'search_keys[{$search_keys[i].sek_id}][filter_enabled]', '');
//    setHiddenFieldValue(f, 'filter[search_keys[{$search_keys[i].sek_id}]]', '');
var element{$search_keys[i].sek_id} = getPageElement('filter[search_keys[{$search_keys[i].sek_id}]]');
element{$search_keys[i].sek_id}.checked = '';
{elseif $search_keys[i].sek_html_input == 'contvocab' or $search_keys[i].sek_html_input == 'allcontvocab'}
    removeAllOptions(f, 'search_keys[{$search_keys[i].sek_id}][]');
{elseif $search_keys[i].sek_html_input == 'checkbox'}
var element{$search_keys[i].sek_id} = getPageElement('search_keys[{$search_keys[i].sek_id}]');
{literal}
if (element{/literal}{$search_keys[i].sek_id}{literal} != null) {
    element{/literal}{$search_keys[i].sek_id}{literal}.checked = '';
}
{/literal}
{elseif $search_keys[i].sek_html_input == 'multiple' or $search_keys[i].sek_html_input == 'combo'}
var element{$search_keys[i].sek_id} = getPageElement('search_keys[{$search_keys[i].sek_id}]');
{literal}
if (element{/literal}{$search_keys[i].sek_id}{literal} != null) {
    clearSelectedOptions(element{/literal}{$search_keys[i].sek_id}{literal});
}
{/literal}
{/if}
{/section}
}
//-->
</script>


<div id="custom_filter_form1" style="display:none; padding: 20px; clear: left;">

  <div class="{if $options.searchKey0 != ''}default-search-used{else}default{/if} quick_search_item">
    {if $smarty.const.APP_SOLR_SWITCH == 'ON'}All Fields{else}Title, Abstract, Keywords{/if}: <br />
	<input id="search_keys[0]" type="text" name="search_keys[0]" maxlength="255" size="35" value="{$options.searchKey0}" />
  </div>
{section name="i" loop=$search_keys}
  {assign var="search_key_name" value='searchKey'|cat:$search_keys[i].sek_id}
  {assign var ="last_key" value=$options.$search_key_name}
  <div class="{if $last_key != 'ALL' && $last_key != '' && $search_keys[i].sek_html_input != 'date' || ($search_keys[i].sek_html_input == 'date' && $last_key.filter_enabled ==1) }default-search-used{else}default{/if} quick_search_item">
  <label for="search_keys[{$search_keys[i].sek_id}]">{if $search_keys[i].sek_alt_title}{$search_keys[i].sek_alt_title}{else}{$search_keys[i].sek_title}{/if}:</label><br/>{if $search_keys[i].sek_desc}<sub>{$search_keys[i].sek_desc}<sub><br />{/if}
  {if $search_keys[i].sek_html_input != 'text' &&  $search_keys[i].sek_html_input != 'textarea'}
    <script type="text/javascript">
    <!--
    //            search_keys[search_keys.length] = new Option('search_keys[{$search_keys[i].sek_id}]{if $search_keys[i].sek_html_input == 'multiple'}[]{/if}', '{$search_keys[i].sek_title}');
    //            required_search_keys[required_search_keys.length] = new Option('search_keys[{$search_keys[i].sek_id}]{if $search_keys[i].sek_html_input == 'multiple'}[]{/if}', {if $search_keys[i].sek_html_input == 'multiple'}'multiple'{elseif $search_keys[i].sek_html_input == 'combo'}'combo'{else}'whitespace'{/if});
    //-->
    </script>
  {/if}
  {if $search_keys[i].sek_html_input == 'text'}
  		{if $search_keys[i].sek_data_type == 'int'}
            	<input id="search_keys[{$search_keys[i].sek_id}]_name" type="text" name="search_keys[{$search_keys[i].sek_id}]_name" maxlength="255" size="30" value="{$last_key}" />
            	<input id="search_keys[{$search_keys[i].sek_id}]" type="hidden" name="search_keys[{$search_keys[i].sek_id}]" value="{$last_key}" />
            {else}
            	<input id="search_keys[{$search_keys[i].sek_id}]" type="text" name="search_keys[{$search_keys[i].sek_id}]" maxlength="255" size="30" value="{$last_key}" />
            {/if}

  				{if $search_keys[i].sek_suggest_function != ""}
	      				<div id="generalsuggest" style="width:25em;position:relative;z-index:{math equation="2000 - x - y" y=0 x=$smarty.section.i.index};">
					  <div id="{$search_keys[i].sek_id}_container"></div>
					</div>

					{literal}
                    <script type="text/javascript">

                    // Instantiate first JS Array DataSource
                    var myServer{/literal}{$search_keys[i].sek_id}{literal} = "{/literal}{$rel_url}{literal}suggest_proxy.php";
                    var mySchema{/literal}{$search_keys[i].sek_id}{literal} = ["Result","name"];
                    var myDataSource{/literal}{$search_keys[i].sek_id}{literal} = new YAHOO.widget.DS_XHR(myServer{/literal}{$search_keys[i].sek_id}{literal}, mySchema{/literal}{$search_keys[i].sek_id}{literal});

                    {/literal}{if $search_keys[i].sek_data_type == 'int'}{literal}
                    	var myHiddenField{/literal}{$search_keys[i].sek_id}{literal} = YAHOO.util.Dom.get('{/literal}search_keys[{$search_keys[i].sek_id}]{literal}');
                    	var myTextField{/literal}{$search_keys[i].sek_id}{literal} = YAHOO.util.Dom.get('{/literal}search_keys[{$search_keys[i].sek_id}]{literal}_name');
                    	YAHOO.util.Event.addListener(myTextField{/literal}{$search_keys[i].sek_id}{literal}, "blur", myTextField{/literal}{$search_keys[i].sek_id}{literal}ClickEvent, this, true);
                    	function isInt(x) {
                    		var y=parseInt(x);
                    		if (isNaN(y)) return false;
                    		return x==y && x.toString()==y.toString();
                    	}
                    	function myTextField{/literal}{$search_keys[i].sek_id}{literal}ClickEvent() {
							if(isInt(myTextField{/literal}{$search_keys[i].sek_id}{literal}.value)) {
                    			myHiddenField{/literal}{$search_keys[i].sek_id}{literal}.value = myTextField{/literal}{$search_keys[i].sek_id}{literal}.value;
							}
                    	}
                    {/literal}{else}{literal}
                    	var myTextField{/literal}{$search_keys[i].sek_id}{literal} = YAHOO.util.Dom.get('{/literal}search_keys[{$search_keys[i].sek_id}]{literal}');
                    {/literal}{/if}{literal}

					myDataSource{/literal}{$search_keys[i].sek_id}{literal}.scriptQueryAppend = "sek_id={/literal}{$search_keys[i].sek_id}{literal}";

                    // Instantiate first AutoComplete
                    this.oAutoComp{/literal}{$search_keys[i].sek_id}{literal} = new YAHOO.widget.AutoComplete(myTextField{/literal}{$search_keys[i].sek_id}{literal},'{/literal}{$search_keys[i].sek_id}_container{literal}', myDataSource{/literal}{$search_keys[i].sek_id}{literal});
                    this.oAutoComp{/literal}{$search_keys[i].sek_id}{literal}.maxResultsDisplayed = 10;
                    this.oAutoComp{/literal}{$search_keys[i].sek_id}{literal}.formatResult = function(oResultItem, sQuery) {
                    	{/literal}{if $search_keys[i].sek_data_type == 'int'}{literal}
                        	return oResultItem[1].name + ' (' + oResultItem[1].id + ')';
                        {/literal}{else}{literal}
                        	return oResultItem[1].name;
                        {/literal}{/if}{literal}
                    };

                    this.oAutoComp{/literal}{$search_keys[i].sek_id}{literal}.registerControls(document.getElementById(myTextField{/literal}{$search_keys[i].sek_id}{literal}));

                    this.oAutoComp{/literal}{$search_keys[i].sek_id}{literal}.textboxFocusEvent.subscribe(function(){
                        var sInputValue = YAHOO.util.Dom.get('myTextField{/literal}{$search_keys[i].sek_id}{literal}').value;
                        if(sInputValue.length === 0) {
                            var oSelf = this;
                            setTimeout(function(){oSelf.sendQuery(sInputValue);},0);
                        }
                    });

                    {/literal}{if $search_keys[i].sek_data_type == 'int'}{literal}
                    	this.oAutoComp{/literal}{$search_keys[i].sek_id}{literal}.itemSelectEvent.subscribe(function(sType, aArgs) {
                            var myAC = aArgs[0]; // reference back to the AC instance
                            var elLI = aArgs[1]; // reference to the selected LI element
                            var oData = aArgs[2][1]; // object literal of selected item's result data
                            myHiddenField{/literal}{$search_keys[i].sek_id}{literal}.value = oData.id;
                            myTextField{/literal}{$search_keys[i].sek_id}{literal}.value = oData.id;
                        });
                    {/literal}{/if}{literal}
                    </script>
                    <style type="text/css">
                    #{/literal}{$search_keys[i].xsdmf_id}{literal}_container .yui-ac-content {
                        max-height:11em;
                        /* height: 150px; */
                        height: 1px;
                        width: 450px;
                        overflow:auto;
                        overflow-x:hidden; /* scrolling */
                        _height:11em; /* ie6 */
                        z-index:9071;
					}
                    </style>
                    {/literal}
			{/if}






  {elseif $search_keys[i].sek_html_input == 'textarea'}
  <textarea id="search_keys[{$search_keys[i].sek_id}]" name="search_keys[{$search_keys[i].sek_id}]" rows="10" cols="60" value="{$last_key}"></textarea>
  {elseif $search_keys[i].sek_html_input == 'date'}

                  {assign var="temp_sek_id" value=$search_keys[i].sek_id}

                  {assign var="custom" value=$options.$temp_sek_id}
                  <input type="hidden" value="{$last_key.filter_enabled|default:0}"
                    name="search_keys[{$search_keys[i].sek_id}][filter_enabled]" />
                  <input {if $last_key.filter_enabled == 1}checked{/if} type="checkbox" id="filter[search_keys[{$search_keys[i].sek_id}]]" name="filter[search_keys[{$search_keys[i].sek_id}]]" value="yes" onClick="javascript:toggleDateFields(this.form, 'search_keys[{$search_keys[i].sek_id}]');">
                  <span class="default">{$search_keys[i].sek_title}:</span><br />
                  <select name="search_keys[{$search_keys[i].sek_id}][filter_type]" id="search_keys[{$search_keys[i].sek_id}][filter_type]" class="default" onChange="javascript:checkDateFilterType(this.form, this);">
                    <option {if $last_key.filter_type == "greater"}selected{/if} value="greater">After</option>
                    <option {if $last_key.filter_type == "less"}selected{/if} value="less">Before</option>
                    <option {if $last_key.filter_type == "between"}selected{/if} value="between">Between</option>
                  </select>&nbsp;
                  {html_select_date field_array="search_keys[$temp_sek_id][start]" prefix="" start_year="-10" end_year="+10" all_extra='class="default"' time=$start_date}
				 <script type="text/javascript" src="{$rel_url}js/dynCalendar.js"></script>
                                  {literal}
                  <script type="text/javascript">
                  <!--
                  tCalendar_search_keys{/literal}{$search_keys[i].sek_id}{literal} = new dynCalendar('tCalendar_search_keys{/literal}{$search_keys[i].sek_id}{literal}', 'calendarCallback_search_keys{/literal}{$search_keys[i].sek_id}{literal}', '{/literal}{$rel_url}{literal}images/');
                  tCalendar_search_keys{/literal}{$search_keys[i].sek_id}{literal}.setMonthCombo(false);
                  tCalendar_search_keys{/literal}{$search_keys[i].sek_id}{literal}.setYearCombo(false);
                  //-->
                  </script>{/literal}&nbsp;&nbsp;

				<div id="tr_search_keys[{$temp_sek_id}]">

                  <span class="default">{$search_keys[i].sek_title}: <i>(End date)</i></span><br />
                  {html_select_date field_array="search_keys[$temp_sek_id][end]" prefix="" start_year="-10" end_year="+10" all_extra='class="default"' time=$end_date}
                                  {literal}
                  <script type="text/javascript">
                  <!--
                  tCalendar_search_keys_end{/literal}{$search_keys[i].sek_id}{literal} = new dynCalendar('tCalendar_search_keys_end{/literal}{$search_keys[i].sek_id}{literal}', 'calendarCallback_search_keys_end{/literal}{$search_keys[i].sek_id}{literal}', '{/literal}{$rel_url}{literal}images/');
                  tCalendar_search_keys_end{/literal}{$search_keys[i].sek_id}{literal}.setMonthCombo(false);
                  tCalendar_search_keys_end{/literal}{$search_keys[i].sek_id}{literal}.setYearCombo(false);
                  //-->
                  </script>
                                  {/literal}

				</div>
  {elseif $search_keys[i].sek_html_input == 'allcontvocab' or $search_keys[i].sek_html_input == 'contvocab'}
	<div id="tr_list_{$search_keys[i].sek_id}" valign="top" class="quick_search_item">
		<select id="search_keys_{$search_keys[i].sek_id}" multiple size="5" class="default" name="search_keys[{$search_keys[i].sek_id}][]">
    		{html_options options=$search_keys[i].field_options}
		</select>
		<input class="default" type="button" value="Add New" onclick="javascript:small_window('cv_selector.php?cvo_id={$search_keys[i].cv_ids[z]}&amp;form=custom_filter_form&amp;element=search_keys_{$search_keys[i].sek_id}');" />
		<input class="default" type="button" value="Remove Selected" onclick="javascript:deleteSelectedItemsFromList(search_keys_{$search_keys[i].sek_id});" />
	</div>


  {else}
  <select id="search_keys[{$search_keys[i].sek_id}]" {if $search_keys[i].sek_html_input == 'multiple'}multiple size="8"{/if} name="search_keys[{$search_keys[i].sek_id}]{if $search_keys[i].sek_html_input == 'multiple'}[]{/if}">
    {html_options options=$search_keys[i].field_options selected=$last_key}
  </select>
  {/if}
  {assign var="search_key_id" value=$search_keys[i].sek_id}
  {if $search_keys[i].sek_html_input == 'multiple'}
    {assign var="search_key_sufix" value="[]"}
  {else}
    {assign var="search_key_sufix" value=""}
  {/if}
  {include file="error_icon.tpl.html" field="search_keys[$search_key_id]$search_key_sufix"}
  </div>
{/section}

{if $user_can_edit && $bulk_search_workflows}
<div class="quick_search_hide">
<input type="button" value="Run Workflow &gt;" class="shortcut"
	onclick="javascript:workflowBulkChangeSearch(this.form, '{$rel_url}');" />
<select name="wft_id" class="default">
    {html_options options=$bulk_search_workflows}
</select>
</div>
{/if}



<div class="default">
<input id="search_button" name="search_button"  type="submit" value="Search" />
<input type="button" value="Clear Form" onclick="javascript:clearFilters(this.form);" />
</div>

</div>



  <div class="default quick_search_hide" style="padding-top: 10px; padding-bottom: 5px; padding-left: 20px;">
  <a class="link" title="hide / show the quick search form" href="javascript:void(null);" onclick="javascript:toggleVisibility('custom_filter_form'{if $myFezView}, 1{/if});{if !$myFezView}toggleVisibility('basic_filter_form');{/if}">Hide/show Search Form</a></div>

</form>
{literal}
<script type="text/javascript">
<!--

var f = getForm('custom_filter_form');

var date_fields = new Array();
{/literal}
{assign var="custom_elements_to_hide" value=""}
{section name="i" loop=$search_keys}
{if $search_keys[i].sek_html_input == 'date'}
{literal}
function calendarCallback_search_keys{/literal}{$search_keys[i].sek_id}{literal}(day, month, year) {
	selectDateField('search_keys[{/literal}{$search_keys[i].sek_id}{literal}][start]', day, month, year);
}
function calendarCallback_search_keys_end{/literal}{$search_keys[i].sek_id}{literal}(day, month, year) {
	selectDateField('search_keys[{/literal}{$search_keys[i].sek_id}{literal}][end]', day, month, year);
}
{/literal}
{assign var="temp_sek_id" value=$search_keys[i].sek_id}
{assign var="search_key_name" value='searchKey'|cat:$search_keys[i].sek_id}
{assign var ="last_key" value=$options.$search_key_name}
date_fields[date_fields.length] = new Option('search_keys[{$temp_sek_id}][start]', '{$last_key.start_date}');
date_fields[date_fields.length] = new Option('search_keys[{$temp_sek_id}][end]', '{$last_key.end_date}');
{if $custom_elements_to_hide != ""}
{assign var="custom_elements_to_hide" value=$custom_elements_to_hide,'search_keys[$temp_sek_id]'}
{else}
{assign var="custom_elements_to_hide" value=$custom_elements_to_hide'search_keys[$temp_sek_id]'}
{/if}
{/if}
{/section}

var elements_to_hide = new Array({$custom_elements_to_hide|smarty:nodefaults});

{* This code is a bit of a mess I'm just making a conditional for the error for pages it's broken on for now since this relates to a page that will be depricated soon *}
{literal}
    if (typeof f != 'undefined') {
        for (var i = 0; i < elements_to_hide.length; i++) {
            toggleVisibility(elements_to_hide[i]);
            toggleDateFields(f, elements_to_hide[i]);
            var filter_type = getFormElement(f, elements_to_hide[i] + '[filter_type]');
            checkDateFilterType(f, filter_type);
        }
    }
for (var i = 0; i < date_fields.length; i++) {
    if (!isWhitespace(date_fields[i].value)) {
        selectDateOptions(date_fields[i].text, date_fields[i].value);
    }
}

function validateSearchForm() {
{/literal}
{section name="i" loop=$search_keys}
// The controlled vocabulary selector should select all the fields in the multiple combo box so that they will
// be included in the form submission.

{if $search_keys[i].sek_html_input == 'allcontvocab' or $search_keys[i].sek_html_input == 'contvocab'}
	var field = document.custom_filter_form.search_keys_{$search_keys[i].sek_id};
	{literal}
    for (var y = 0; y < field.options.length; y++) {
        field.options[y].selected = true;
    }
	{/literal}
{/if}
{/section}
{literal}
	return true;
}

//-->
</script>
{/literal}
