<?xml version="1.0" encoding="UTF-8"?>
<profileUpload xsi:schemaLocation="http://www.thomsonreuters.com/ns/researcher-profile/Researcher-Bulk-Profiles-schema.xsd" xmlns="http://www.thomsonreuters.com/ns/researcher-profile/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <sponsor>
        <name>{$org_name}</name>
        <admin>
            <email>{$app_admin_email}</email>
        </admin>
        <intimate-researcher-individually>false</intimate-researcher-individually>
        {if $email_append_note == ''}
          <email-append-note-content>N/A</email-append-note-content>
        {else}
          <email-append-note-content>{$email_append_note}</email-append-note-content>
        {/if}
    </sponsor>
  <profileList>
        <default-institution-name>{$org_name}</default-institution-name>
        <researcher-profile>
            <firstName>{$list.aut_fname|escape:"html"}</firstName>
            <lastName>{$list.aut_lname|escape:"html"}</lastName>
            
            {if $rid_alt_email}
              <email>{$rid_alt_email|escape:"html"}</email>
            {else}
              <email>{$list.aut_org_username|escape:"html"}@uq.edu.au</email>
            {/if}
            {section name="y" loop=$list.positions}
              {if $smarty.section.y.index == 0}
                <institution>
                <address>
                    <addressLine1>St Lucia</addressLine1> 
                    <city>Brisbane</city>
                    <state-or-province>Queensland</state-or-province>
                    <country>Australia</country>
                    <postalcode>4072</postalcode>
                </address>
                <departmentName>Other</departmentName>
                <employeeID>{$list.aut_org_username|escape:"html"}</employeeID>
                <role>Other</role>
                {if $list.positions[y].dt_from > 2008 || $list.positions[y].dt_from == ''}
                  <start-date>2008</start-date>
                {else}
                  <start-date>{$list.positions[y].dt_from}</start-date>
                {/if}
                </institution>                
              {/if}
            {/section}
        </researcher-profile>
    </profileList>
</profileUpload>