{include file="header.tpl.html" extra_title="$list_heading"}
{include file="navigation.tpl.html"}

<div style="padding: 10px; margin-right:auto; margin-left:auto; width:800px;">
	<h1 class="public"><img src="images/rid_22.png" alt="TR Web of Science Citation Count History" />		
	TR Web of Science Citation Count History for <a href="{$rel_url}view/{$pid|escape:"html"}">{$title|escape:"html"}</a></h1> 
	
	<p><br /></p>
	
	{if $ming_loaded}	
	<p id="citation_history_graph">
		<img src="{$rel_url}rid_citation_count_history_{$pid|escape:"html"}_graph.png" 
		     alt="TR Web of Science Citation Count History Graph" /></p>
	<script type="text/javascript">
	<!--
		var s1 = new SWFObject("{$rel_url}rid_citation_count_history_{$pid|escape:"html"}_graph.swf","single","780","300","7");		
		s1.write("citation_history_graph");
	//-->
	</script>
	{else}
	<object data="{$rel_url}rid_citation_count_history_{$pid|escape:"html"}_graph.svg" 
			type="image/svg+xml" 
			id="svg" 
			width="780" 
			height=300"><img src="{$rel_url}rid_citation_count_history_{$pid|escape:"html"}_graph.png" 
							 alt="TR Web of Science Citation Count History Graph" /></object>
	{/if}

	<div style="padding-top:20px" class="citation_marketing">Citation counts provided by <a href="http://www.wokinfo.com/">TR Web of Science</a></div>	
	
	<p style="font-size: 0.9em; margin: 50px 0 -50px 0;" >This data is extracted from the Web of Science and reproduced under a licence from Thomson Reuters.  You may not copy or re-distribute this data in whole or in part without the written consent of the Science business of Thomson Reuters.</p>
	
</div>

{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}