{include file="header.tpl.html" extra_title="Home"}
{include file="navigation.tpl.html"}

<table id="front-page-container">
  <tr>
    <td>
	  <div class="front-page-content-header"><img src="{$rel_url}images/search_22.jpg" alt="Search" title="Search" /> Search </div> 
	  <div class="front-page-content-detail">
		<form method="get" action="{$rel_url}list.php">
			<div>
			<input type="hidden" name="cat" value="quick_filter" />		
   (title, keywords, abstract)<br />
			  <input type="hidden" name="sort_by" value="searchKey0" />
			  <input type="text" id="front_search" name="search_keys[0]" size="40" onkeyup="javascript: selectSearchSuggestor(this.form, 'front_search')" />
			  <div id="loading1" style="display:none;">Loading...</div>
			  <input type="submit" value="Search" />
			  <a href="#" onclick="javascript:alert('Search all fields\n\nSelect search on the navigation bar above for advanced options \n\nFor advanced users most Solr search terms are available in this search.\n\nSome examples are-\n\n  date_year:[2001 TO 2003]\n\n  updated_date:[NOW/DAY-3DAY TO *]\n\n  !ismemberof:xx:237156 AND !ismemberof:xx:247259 AND herdc_code:(&#34;C1&#34;) AND date_year:(2011) AND institutional_status:(&#34;xx&#34;) AND updated_date:[NOW/DAY-10DAY TO *]\n\nSee Solr for more options')">Help</a>
              <br />Use <a href="{$rel_url}adv_search.php"><b>Advanced Search</b></a> to search by multiple criteria<br />&nbsp;
			</div>
		</form>	  
	  </div>

	  <div class="front-page-content-header"><img src="{$rel_url}images/browse_22.jpg" alt="Browse" title="Browse" /> Browse</div>
	  <div class="front-page-content-detail">
		<div>
<a class="author_id_link" href="{$rel_url}list.php?browse=author_id" title="Browse records linked to Author IDs (won't show non-{$application_title} authors)">by {$application_title} Author ID</a> | 
<a href="{$rel_url}list.php?browse=author" title="Browse by Author Names (strings) as they appear in records (not author ID linked)">by Author Name</a> |
<a href="{$rel_url}list.php?browse=subject">by Subject</a> |
<a href="{$rel_url}list.php">by Organisational Unit</a> |
<a href="{$rel_url}list.php?browse=year">by Year</a> |
<a href="{$rel_url}list.php?browse=latest">by Latest additions</a>
		</div>
	  </div>


	  <div class="front-page-content-header"><img src="{$rel_url}images/news_22.png" alt="News" title="News" /> News</div>
	  <div class="front-page-content-detail">
		  <ul class="front-page-list">
		  {section name="i" loop=$news}
		  <li><a href="news.php#{$news[i].nws_id}">{$news[i].nws_title}</a></li>
		  {/section}
		  <li><a href="news.php?show=rss">RSS</a> | <a href="news.php">More...</a></li>
		  </ul>
	  </div>

	  <div class="front-page-content-header"><img src="{$rel_url}images/recently_added_22.png" alt="Recently Added Items" title="Recently Added Items" /> Recently Added Items</div>
	  <div class="front-page-content-detail">
		<ul class="front-page-list">
	        {section name="i" loop=$list}		
				{if $list[i].rek_object_type == 1}
	                {assign var="href_view" value="community/"|cat:$list[i].rek_pid|escape:"html"}
	                {assign var="icon" value="images/community.jpg" }
	                {if ($list[i].isEditor==1 || $isAdministrator)} 
	                        {assign var="showEdit" value=true}
	                {else}
	                        {assign var="showEdit" value=false}
	                {/if}
	           {elseif $list[i].rek_object_type == 2}
	                {assign var="href_view" value="collection/"|cat:$list[i].rek_pid|escape:"html"}
	                {assign var="icon" value="images/collection.jpg" }
	                {if $isUser && ($list[i].isEditor==1 || $isAdministrator)}  
	                        {assign var="showEdit" value=true}
	                {else}
	                        {assign var="showEdit" value=false}
	                {/if}
	           {else}
	                {if ($list[i].isViewer==1 || $isAdministrator)}
	                  {assign var="href_view" value="view/"|cat:$list[i].rek_pid|escape:"html"}
	                {else}
	                  {assign var="href_view" value=""}
	                {/if}
					{if $list[i].thumbnail.0 != "" && $list[i].isViewer==1}
		                {assign var="icon" value=$eserv_url|cat:$list[i].rek_pid|cat:"/"|cat:$list[i].thumbnail.0}
					{else}
		                {assign var="icon" value="images/record.jpg" }
					{/if}
	                {if $isUser } 
	                        {assign var="showEdit" value=true}
	                {else}
	                        {assign var="showEdit" value=false}
	                {/if}
	           {/if}
				{if $list[i].rek_created_date} 
					{if ($list[i].rek_created_date|date_format:"%Y-%m-%d") != $today}
						{if (($list[i].day_name) != $day_name && ($list[i].rek_created_date|date_format:"%Y-%m-%d") != $yesterday) || (($list[i].rek_created_date|date_format:"%Y-%m-%d") == $yesterday && $day_name != "Yesterday")}
							{if ($list[i].day_name) == $today_day_name}
								{assign var="day_name_pre" value=$list[i].day_name}
								{assign var="day_name" value=$last|cat:$day_name_pre}
							{else}
								{if ($list[i].rek_created_date|date_format:"%Y-%m-%d") == $yesterday}								
									{assign var="day_name" value="Yesterday"}		
								{else}
									{assign var="day_name" value=$list[i].day_name}							
								{/if}
							{/if}
						{/if}				
					{elseif $day_name != "Today"}
					  {assign var="day_name" value="Today"}
					{/if}
			{/if}
					<li>
					{if $list[i].rek_citation != ""}
					{$list[i].rek_citation}
					{else}
					{if $href_view}<a href='{$href_view}' >{/if}
					{$list[i].rek_title}
					{if $href_view}</a>{/if}
					{/if}
					{if $list[i].rek_object_type != 3}{if $list[i].rek_ismemberof_count != ""}({$list[i].rek_ismemberof_count}){else}(0){/if}{/if}
							{if $showEdit || $isAdministrator}
							  {section name="w" loop=$list[i].wft_id}
							    {if $list[i].wft_icon[w] == 'images/security.gif'}
							      {if $list[i].security == 'include'}
							        {assign var="wf_icon" value="images/security_include.gif"}
							      {elseif $list[i].security == 'exclude'}
							        {assign var="wf_icon" value="images/security_exclude.gif"}
							      {elseif $list[i].security == 'inherit'}
						                {assign var="wf_icon" value="images/security_inherit.gif"}
							      {else}
							        {assign var="wf_icon" value=$list[i].wft_icon[w]}
							      {/if}
					            {else}
							      {assign var="wf_icon" value=$list[i].wft_icon[w]}
							    {/if}
				                            {if $list[i].wft_type_id[w] == 6}
				                              {assign var='wf_url' value=$rel_url|cat:'workflow/export.php'}
				                            {else}
				                              {assign var='wf_url' value=$rel_url|cat:'workflow/update.php'}
				               			    {/if}
							<a href="{$wf_url}?pid={$list[i].rek_pid|escape:"html"}&amp;cat=select_workflow&amp;xdis_id={$list[i].rek_display_type}&amp;wft_id={$list[i].wft_id[w]}&amp;href={$smarty.server.REQUEST_URI}"{if $list[i].wft_icon[w] == 'images/delete.gif'} onclick="return confirmDelete();"{/if}><img alt="{$list[i].wfl_title[w]}" title="{$list[i].wfl_title[w]}" src="{$rel_url}{$wf_icon}" border="0" /></a> 
							  {/section}
				                <a href="workflow/list_workflows2.php?pid={$list[i].rek_pid|escape}"><img src="{$rel_url}images/options_16.png" alt="More options" title="More options" border="0" width="16" height="16" /></a> 
				           {/if}

					</li>
			{sectionelse}
			  <li>No publicly viewable items have been published in the last week.</li>
			{/section}
		</ul>
	  </div>
    </td>
  </tr>
</table>

{include file="app_info.tpl.html"} {include file="footer.tpl.html"}
