{include file="header.tpl.html" extra_title="Preferences"}
{include file="navigation.tpl.html"}

<a href='/faq'>Back to FAQ</a><br /><br />
        <h1>Simple Search</h1>
Searching all fields is the default when using the front page or upper right search field.<BR />
<BR />
<h1>Advanced Search</h1>
Select SEARCH in the navigation bar above for advanced search options.  <a href="/adv_search.php">(Link)</a><BR />
<BR />

{if $isUser}
<h1>Expert Search Box Search</h1>
From the search box you may also type advanced options using Solr style search terms.<BR />
<BR />
To search on a field place it in brackets<BR />
<code>publisher:(Economic Society of Australia)</code><BR />
<BR />
To search exact text on a field you must place it in brackets and escaped quotes <BR />
<code>book_title:(\"Don't leave us with the bill\")</code><BR />
<BR />
Ranges are placed in []<BR />
<code>updated_date:[NOW/DAY-2DAY TO *]</code><BR />
<BR />
(Although search is not case sensitive on record text the <code>TO</code> in a range must be in capitals. <code>*</code> Indicates any upper bound)<BR />
<BR />
<code>AND OR NOT</code> can all be used (‘<code>-</code>‘ and ‘<code>!</code>’ are equivalent to <code>NOT</code>)  <BR />
<BR />
<code>follow_up_flags:("completed") AND NOT date_year:(2011) AND institutional_status:("uq")</code><BR />
<BR />
An even more advanced examples is <BR />
<code>!ismemberof:UQ:237156 AND !ismemberof:UQ:247259 AND herdc_code:("C1") AND date_year:(2011) AND institutional_status:("UQ") AND updated_date:[NOW/DAY-10DAY TO *]</code><BR />
<BR />
<b>Quick tips -</b><BR />
To find all records that have a field with anything in it we use <code>["" TO *]</code><BR />
<code>phonetic_conference_name:["" TO *]</code>
<BR />
Due to some id fields having 0 when a nothing is assigned you may have to use a interger range to find only assigned values i.e. author_id:[1 TO 99999999] since ["" TO *] includes 0.
<BR /><BR />
{if $isAdministrator}
To view raw Solr data for an idea of what’s available check out Solrs data directly <a href="/misc/api_view_info.php">Raw API output</a>
  <BR />
{/if}
<BR />
<h2>Common search fields</h2><BR />
<code>title	pid	author	description	display_type	date
object_type	created_date	updated_date	ismemberof
subject		publisher	contributor	refereed_source	series
journal_name	conference_name	book_title	scopus_doc_type
wok_doc_type	follow_up_flags	depositor_affiliation
architectural_features	subtype	follow_up_flags_imu	genre_type
herdc_code	institutional_status	institutional_status</code><BR />
<BR />
{*SELECT LOWER(REPLACE(sek_title,' ','_')) FROM fez_search_key*}
<h2>All search fields</h2><BR />
<code>{$search_keys}<BR />
    </code>
{/if}
{include file="app_info.tpl.html"}
{include file="footer.tpl.html"}