{literal}
<script type="text/javascript">
<!--
var page_url = '{/literal}{$smarty.server.PHP_SELF}{literal}';
var current_page = {/literal}{if $list_info.current_page != ""}{$list_info.current_page}{else}0{/if}{literal};
var last_page = {/literal}{if $list_info.last_page != ""}{$list_info.last_page}{else}0{/if}{literal};
function assignItems(f)
{
    if (!hasOneChecked(f, 'item[]')) {
        alert('Please choose which entries to assign.');
        return false;
    }
    if (f.users.options[f.users.selectedIndex].value == '') {
        alert('Please choose the user to assign these entries to.');
        f.users.focus();
        selectField(f, 'users');
        return false;
    }
    var features = 'width=420,height=200,top=30,left=30,resizable=no,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var popupWin = window.open('', '_popup', features);
    popupWin.focus();
    f.action = '{/literal}{$rel_url}{literal}popup.php';
    f.target = '_popup';
    f.submit();
}

function createRecord(f) {
    f.action = 'new.php';
	f.submit();
}

function hideClosed(f)
{
    if (f.hide_closed.checked) {
        window.location.href = page_url + "?" + replaceParam(window.location.href, 'hide_closed', '1');
    } else {
        window.location.href = page_url + "?" + replaceParam(window.location.href, 'hide_closed', '0');
    }
}
function resizePager(f)
{
    var pagesize = f.page_size.options[f.page_size.selectedIndex].value;
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'rows', pagesize);
}
function checkPageField(ev)
{
    // check if the user is trying to submit the form by hitting <enter>
    if (((window.event) && (window.event.keyCode == 13)) ||
            ((ev) && (ev.which == 13))) {
        return false;
    }
}
function goPage(f, new_page)
{
    if ((new_page > last_page+1) || (new_page <= 0) ||
            (new_page == current_page+1) || (!isNumberOnly(new_page))) {
        f.page.value = current_page+1;
        return false;
    }
    setPage(new_page-1);
}
function setPage(new_page)
{
    if ((new_page > last_page) || (new_page < 0) ||
            (new_page == current_page)) {
        return false;
    }
    window.location.href = page_url + "?" + replaceParam(window.location.href, 'pagerRow', new_page);
}
function downloadCSV()
{
    var f = this.document.csv_form;
    f.submit();
    return false;
}
//window.onload = disableFields;
function disableFields()
{
    var f = document.list_form;
    if (current_page == 0) {
        f.first.disabled = true;
        f.previous.disabled = true;
    }
    if ((current_page == last_page) || (last_page <= 0)) {
        f.next.disabled = true;
        f.last.disabled = true;
    }
    if ((current_page == 0) && (last_page <= 0)) {
        f.page.disabled = true;
        f.go.disabled = true;
    }
}



//-->
</script>
{/literal}

{literal}
<script type="text/javascript">
<!--
function purgeObject(pid)
{
    if (!confirm('This action will permanently delete the selected object.')) {
        return false;
    } else {
        var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
        var popupWin = window.open('{/literal}{$rel_url}{literal}popup.php?cat=delete_object&pid=' + pid, '_popup', features);
        popupWin.focus();
    }
}
//-->
</script>
{/literal}

<form id="list_form" method="get" action="{$smarty.server.PHP_SELF}">

	<div>
		<input type="hidden" name="cat" value="assign" />
	</div>

	<table cellspacing="0" cellpadding="1" style="width: 100%; text-align: center;">
  
		{if $list_type == 'collection_records_list'}
		<tr>
		  <td align="left"> <br />
			<table style="background: #FFFFFF;" cellspacing="0" cellpadding="1">
				<tr>
				  <td align="left"> <b>Parent Communities: </b></td>
				  <td align="left"> &nbsp;
					{section name="i" loop=$parents}
						<a href="community/{$parents[i].pid}">{$parents[i].title}</a> &nbsp;
					{/section}
				  </td>
				</tr>
			</table>
		  </td>
		</tr>
		{/if}

        <tr align="center"><td>
      <table cellpadding="2" cellspacing="1" class="default" style="width: 800px;">
		 <tr>
		  <td>
		   <h1>Access Statistics: <a href="{$rel_url}view/{$pid}">{$title}</a></h1>
		  </td>
		 </tr>
		 <tr>
			<td align="left">
			{if $pid != 'all'}
			<p><strong>For this record:</strong>
			<a href="{$smarty.server.PHP_SELF}?action=show_detail&amp;pid={$pid}&amp;range=4w">Past four weeks</a> | 
			<a href="{$smarty.server.PHP_SELF}?action=show_detail&amp;pid={$pid}&amp;year={$thisYear}">This year</a> | 
			<a href="{$smarty.server.PHP_SELF}?action=show_detail&amp;pid={$pid}&amp;year={$lastYear}">Last year</a> | 
			<a href="{$smarty.server.PHP_SELF}?action=show_detail&amp;pid={$pid}">All years</a>
			</p>
			{/if}
			<p><strong>Top 50:</strong>
			<a href="{$rel_url}stats.php?browse=top50authors">{$application_title} Authors</a> |
			<a href="{$rel_url}stats.php?browse=top50papers">Papers</a>
			</p>
			<p><strong>Most viewed records:</strong>
			<a href="{$rel_url}stats.php?browse=show_detail_date&amp;range=4w">Past four weeks</a> | 
			<a href="{$rel_url}stats.php?browse=show_detail_date&amp;year={$thisYear}">This year</a> | 
			<a href="{$rel_url}stats.php?browse=show_detail_date&amp;year={$lastYear}">Last year</a> | 
			<a href="{$rel_url}stats.php?browse=show_detail_date">All years</a>
			</p>
			<p><strong>Repository-wide statistics:</strong>
			<a href="{$smarty.server.PHP_SELF}?action=cumulative_usage&amp;range=all">by Year/month</a> | 
			<a href="{$smarty.server.PHP_SELF}?action=cumulative_usage_country">by Country</a>
			</p>
			{if APP_USE_GOOGLE_MAP_SWITCH == 'ON'}
			<p><strong>Map:</strong> <a href="{$rel_url}stats_map.php">Statistics Map</a></p>
			{/if}
			</td>
		</tr>
		{if $action == 'show_detail'}
	    <tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr style="background: {$heading_color};">
						<td colspan="4" class="default_white"><strong>Abstract views and document downloads {$dateString}</strong></td>
					</tr>
					{if $abstractViewsWidth == 0 && $downloadsWidth == 0}
					<tr>
						<td colspan="4"><strong>This record has not been viewed during this period</strong></td>
					</tr>
					{else}
					<tr>
						<td style="background: {$light_color}; width: 150px;"></td>
						<td align="right" style="background: {$cell_color}; width: 75px;">Abstracts</td>
						<td align="right" style="background: {$dark_color}; width: 75px;" class="default_white">Downloads</td>
						<td style="background: {$light_color}; width: 500px;">&nbsp;</td>																							
					</tr>
					<tr class="default">
						<td style="background: {$light_color}; width: 150px;" align="left"><strong>Views</strong></td>
						<td align="right" style="width: 75px;">{$abstractViews}</td>
						<td align="right" style="width: 75px;">{$downloads}</td>
						<td style="width: 500px;">
						{if $abstractViewsWidth > 0}<img src="{$rel_url}images/hh.png" alt="Abstract views" height="9" width="{$abstractViewsWidth}" />{else}<img src="{$rel_url}images/hh.png" alt="abstracts" height="9" width="1" />{/if}<br />
							{if $downloadsWidth > 0}<img src="{$rel_url}images/hp.png" alt="Downloads" height="9" width="{$downloadsWidth}" />{else}<img src="{$rel_url}images/hp.png" alt="downloads" height="9" width="1" />{/if}
						</td>																							
					</tr>
					{/if}							
				</table>		
			</td>
		</tr>

	    <tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr style="background: {$heading_color}">
						<td colspan="4" class="default_white"><strong>Views by country (derived from IP address of query) {$dateString}</strong></td>
					</tr>
					{if $listCountryCount == 0}
					<tr class="default">
						<td colspan="4"><strong>This record has not been viewed during this period</strong></td>
					</tr>
					{else}
					<tr>
						<td style="background: {$light_color}; width: 150px"><strong>Country</strong></td>
						<td align="right" style="background: {$cell_color}; width: 75px">Abstracts</td>
						<td align="right" style="background: {$dark_color}; width: 75px" class="default_white">Downloads</td>
						<td style="background: {$light_color}; width: 500px;">&nbsp;</td>																							
					</tr>
					{section name="i" loop=$listCountry}
					<tr class="default">
						<td style="background: {$light_color}; white-space: nowrap"><img src="{$rel_url}{$listCountry[i].flag}" alt="" height="14" width="18" /> {$listCountry[i].stl_country_name}</td>
						<td align="right">{$listCountry[i].stl_country_abstracts}</td>
						<td align="right">{$listCountry[i].stl_country_downloads}</td>
						<td style="width: 500px"><img src="{$rel_url}images/hh.png" alt="Abstract views" height="9" width="{$listCountry[i].abstractViewsWidth}" /><br />
							<img src="{$rel_url}images/hp.png" alt="Downloads" height="9" width="{$listCountry[i].downloadsWidth}" />
						</td>																							
					</tr>								
					{/section}
					{/if}
				</table>		
			</td>
		</tr>

	    <tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr style="background: {$heading_color}">
						<td colspan="4" class="default_white"><strong>History of views for this record</strong></td>
					</tr>
					<tr>
						<td style="background: {$light_color}; width: 150px;"><strong>Period</strong></td>
						<td align="right" style="background: {$cell_color}; width: 75px;">Abstracts</td>
						<td align="right" style="background: {$dark_color}; width: 75px;" class="default_white">Downloads</td>
						<td style="background: {$light_color}">&nbsp;</td>																							
					</tr>
					{section name="i" loop=$listHistory}
					<tr class="default">
						<td style="background: {$light_color}; white-space: nowrap"><a href="{$smarty.server.PHP_SELF}?action=show_detail&amp;pid={$pid}&amp;year={$listHistory[i].year}&amp;month={$listHistory[i].monthnum}">{$listHistory[i].month} {$listHistory[i].year}</a></td>
						<td align="right">{$listHistory[i].abstracts}</td>
						<td align="right">{$listHistory[i].downloads}</td>
						<td>
							<img src="{$rel_url}images/hh.png" alt="Abstract views" height="9" width="{$listHistory[i].abstractViewsWidth}" /><br />
							<img src="{$rel_url}images/hp.png" alt="Downloads" height="9" width="{$listHistory[i].downloadsWidth}" />
						</td>																							
					</tr>								
					{/section}
				</table>		
			</td>
		</tr>

			{if $showUsers == 1}
	    <tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr style="background: {$heading_color};">
						<td colspan="4" class="default_white"><strong>Logged in user views</strong> {if $firstLogged != 0}(started logging user views on {$firstLogged|date_format:'%a, %d %b %Y'}){else}(None logged yet){/if}</td>
					</tr>
					<tr>
						<td style="background: {$light_color}; width: 150px;"><strong>User</strong></td>
						<td align="right" style="background: {$cell_color}; width: 75px;">Abstracts</td>
						<td align="right" style="background: {$dark_color}; width: 75px;" class="default_white">Downloads</td>
						<td style="background: {$light_color}">&nbsp;</td>																							
					</tr>
					{section name="i" loop=$listUsers}
					<tr class="default">
						<td style="background: {$light_color}; white-space: nowrap">{$listUsers[i].usr_full_name}</td>
						<td align="right">{$listUsers[i].abstracts}</td>
						<td align="right">{$listUsers[i].downloads}</td>
						<td>
							<img src="{$rel_url}images/hh.png" alt="Abstract views" height="9" width="{$listUsers[i].abstractViewsWidth}" /><br />
							<img src="{$rel_url}images/hp.png" alt="Downloads" height="9" width="{$listUsers[i].downloadsWidth}" />
						</td>																							
					</tr>								
					{/section}
				</table>		
			</td>
		</tr>
			{/if}
		{elseif $action == 'cumulative_usage'}
			    <tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr style="background: {$heading_color}">
						<td colspan="4" class="default_white"><strong>Abstract views and document downloads by month/year</strong></td>
					</tr>
					<tr>
						<td style="background: {$light_color}; width: 150px;"><strong>Period</strong></td>
						<td align="right" style="background: {$cell_color}; width: 75px">Abstracts</td>
						<td align="right" style="background: {$dark_color}; width: 75px" class="default_white">Downloads</td>
						<td style="background: {$light_color}">&nbsp;</td>																							
					</tr>
					{section name="i" loop=$listHistory}
					<tr class="default">
						<td style="background: {$light_color}; white-space: nowrap"><a href="{$rel_url}stats.php?browse=show_detail_date&amp;pid={$pid}&amp;year={$listHistory[i].year}&amp;month={$listHistory[i].monthnum}">{$listHistory[i].month} {$listHistory[i].year}</a></td>
						<td align="right">{$listHistory[i].abstracts}</td>
						<td align="right">{$listHistory[i].downloads}</td>
						<td>
							<img src="{$rel_url}images/hh.png" alt="Abstract views" height="9" width="{$listHistory[i].abstractViewsWidth}" /><br />
							<img src="{$rel_url}images/hp.png" alt="Downloads" height="9" width="{$listHistory[i].downloadsWidth}" />
						</td>																							
					</tr>								
					{/section}
				</table>		
			</td>
		</tr>
		{elseif $action == 'cumulative_usage_country'}
	    <tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr style="background: {$heading_color}">
						<td colspan="4" class="default_white"><strong>Views by country (derived from IP address of query) {$dateString}</strong></td>
					</tr>
					{if $listCountryCount == 0}
					<tr class="default">
						<td colspan="4"><strong>Records have not been viewed during this period</strong></td>
					</tr>
					{else}
					<tr>
						<td style="background: {$light_color}; width: 150px;"><strong>Country</strong></td>
						<td align="right" style="background: {$cell_color}; width: 75px">Abstracts</td>
						<td align="right" style="background: {$dark_color}; width: 75px" class="default_white">Downloads</td>
						<td style="background: {$light_color}; width: 500px">&nbsp;</td>																							
					</tr>
					{section name="i" loop=$listCountry}
					<tr class="default">
						<td style="background: {$light_color}; white-space: nowrap"><img src="{$rel_url}{$listCountry[i].flag}" alt="" height="14" width="18" /> <a href="{$rel_url}stat_details.php?action=cumulative_usage_country_specific&amp;country={$listCountry[i].scr_country_name}">{$listCountry[i].scr_country_name}</a></td>
						<td align="right">{$listCountry[i].abstracts}</td>
						<td align="right">{$listCountry[i].downloads}</td>
						<td style="width: 500px;">
							<img src="{$rel_url}images/hh.png" alt="Abstract views" height="9" width="{$listCountry[i].abstractViewsWidth}" /><br />
							<img src="{$rel_url}images/hp.png" alt="downloads" height="9" width="{$listCountry[i].downloadsWidth}" />
						</td>																							
					</tr>
					{/section}
					{/if}
				</table>		
			</td>
		</tr>
		{elseif $action == 'cumulative_usage_country_specific'}
	    <tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr style="background: {$heading_color}">
						<td colspan="5" class="default_white"><strong>Views for {$country_name} by state city/suburb (derived from IP address of query) {$dateString}</strong></td>
					</tr>
					{if $listCountryCount == 0}
					<tr class="default">
						<td colspan="5"><strong>Records have not been viewed during this period</strong></td>
					</tr>
					{else}
					<tr>
						<td style="background: {$light_color}; width: 150px"><strong>State</strong></td>
						<td style="background: {$light_color}; width: 150px"><strong>City/Suburb</strong></td>
						<td align="right" style="background: {$cell_color}; width: 75px">Abstracts</td>
						<td align="right" style="background: {$dark_color}; width: 75px" class="default_white">Downloads</td>
						<td style="background: {$light_color}; width: 500px">&nbsp;</td>																							
					</tr>
						{assign var="row_color" value=$light_color}
					{section name="i" loop=$listCountry}
						{if ($listCountry[i].scr_country_region != "" )}
					<tr class="default">
						{if $listCountry[i].scr_country_region <> $previous_region}
							{if $row_color == $light_color}
								{assign var="row_color" value=$cell_color}
							{else}
								{assign var="row_color" value=$light_color}							

							{/if}
						{/if}
						<td align="left" style="background: {$row_color}; white-space: nowrap">{if $listCountry[i].scr_country_region <> $previous_region}{$listCountry[i].scr_country_region}{/if}{if $listCountry[i].scr_country_region == ""}Unknown{/if}</td>
						<td align="right" style="background: {$row_color}; white-space: nowrap">{$listCountry[i].scr_city}{if $listCountry[i].scr_city == ""}{/if}</td>
						<td align="right">{$listCountry[i].abstracts}</td>
						<td align="right">{$listCountry[i].downloads}</td>
						<td style="width: 500px;">
							<img src="{$rel_url}images/hh.png" alt="Abstract views" height="9" width="{$listCountry[i].abstractViewsWidth}" /><br />
							<img src="{$rel_url}images/hp.png" alt="Downloads" height="9" width="{$listCountry[i].downloadsWidth}" />
						</td>																							
					</tr>
					{assign var="previous_region" value=$listCountry[i].scr_country_region}
					{/if}
					{/section}
					{/if}
				</table>		
			</td>
		</tr>

		{/if}
		<tr>
			<td align="left">
				<table cellspacing="0" cellpadding="3" style="width: 800px;">
					<tr>
						<td colspan="4" class="default_white"><a href="{$smarty.const.APP_RELATIVE_URL}faq#q58">Click here to find out how {$smarty.const.APP_NAME} counts download statistics</a></td>
					</tr>
				</table>		
			</td>
		</tr>

			</table>
		  </td>
		</tr>

	</table>

</form>
