<div id="snapshotcontainer">

<ul style="list-style-type: square">
	{section name="i" loop=$list}
		{if $list[i].rek_object_type == 1}
			{assign var="href_view" value="community/"|cat:$list[i].rek_pid|escape:"html"}
			{assign var="icon" value="images/community.jpg" }
			{if ($list[i].isEditor==1 || $isAdministrator)}
					{assign var="showEdit" value=true}
			{else}
					{assign var="showEdit" value=false}
			{/if}
	   {elseif $list[i].rek_object_type == 2}
			{assign var="href_view" value="collection/"|cat:$list[i].rek_pid|escape:"html"}
			{assign var="icon" value="images/collection.jpg" }
			{if $isUser && ($list[i].isEditor==1 || $isAdministrator)}
					{assign var="showEdit" value=true}
			{else}
					{assign var="showEdit" value=false}
			{/if}
	   {else}
			{if ($list[i].isViewer==1 || $isAdministrator)}
			  {assign var="href_view" value="view/"|cat:$list[i].rek_pid|escape:"html"}
			{else}
			  {assign var="href_view" value=""}
			{/if}
			{if $list[i].thumbnail.0 != "" && $list[i].isViewer==1}
				{assign var="icon" value=$eserv_url|cat:$list[i].rek_pid|cat:"/"|cat:$list[i].thumbnail.0}
			{else}
				{assign var="icon" value="images/record.jpg" }
			{/if}
			{if $isUser }
					{assign var="showEdit" value=true}
			{else}
					{assign var="showEdit" value=false}
			{/if}
	   {/if}
		{if $list[i].rek_created_date}
			{if ($list[i].rek_created_date|date_format:"%Y-%m-%d") != $today}
				{if (($list[i].day_name) != $day_name && ($list[i].rek_created_date|date_format:"%Y-%m-%d") != $yesterday) || (($list[i].rek_created_date|date_format:"%Y-%m-%d") == $yesterday && $day_name != "Yesterday")}
					{if ($list[i].day_name) == $today_day_name}
						{assign var="day_name_pre" value=$list[i].day_name}
						{assign var="day_name" value=$last|cat:$day_name_pre}
					{else}
						{if ($list[i].rek_created_date|date_format:"%Y-%m-%d") == $yesterday}
							{assign var="day_name" value="Yesterday"}
						{else}
							{assign var="day_name" value=$list[i].day_name}
						{/if}
					{/if}
				{/if}
			{elseif $day_name != "Today"}
			  {assign var="day_name" value="Today"}
			{/if}
	{/if}
			<li>
			{if $list[i].rek_citation != ""}
			  {$list[i].rek_citation|smarty:nodefaults}
			{else}
			  <a href="{$href_view}">{$list[i].rek_title}</a>
			{/if}
			</li>
			{if $smarty.section.i.last}<li style="list-style-type: none"><!--img src="{$rel_url}images/feed-icon16x16.png" alt="RSS" width="14" height="14" /--><a href="{$rel_url}list/latest/?tpl=2">RSS</a> | <a href="{$rel_url}list/latest/">More...</a></li>{/if}
	{sectionelse}
	  <li>No publicly viewable items have been published in the last week.</li>
	{/section}
</ul>
</div>