{include file="header.tpl.html" application_title="Fez Upgrade"}
{include file="app_errors.tpl.html"}

<body>
	
{literal}
<script type="text/javascript">
<!--
function validateForm(f)
{
    if (isWhitespace(f.app_name.value)) {
        errors[errors.length] = new Option('Application Name', 'app_name');
    }
    return true;
}

//-->
</script>
{/literal}
	
<div id="setup" style="padding: 30px;">
<div class="outline" style="padding: 10px; width: 750px; border: 1px #80C0FF solid; background-color: white;">

<div class="admin-header">Upgrading Fez</div>

<div class="default admin-content">
{if $result}
{if $result_good}
<div class="sanity_result_passed">{$result}</div>
{else}
<div class="sanity_result_failed">{$result}</div>
{/if}
<br />
{/if}
{if $step == 1}
<div>Clicking 'Upgrade' will upgrade your database from the previous version.  You should do this once after unpacking 
the new version.  Be sure to backup your current DB before clicking.  If you have already done this step, then click 
'Skip this Step'</div>
<br />
<form action="{$smarty.server.PHP_SELF}" method="post">
	<div>
		<input type="hidden" name="step" value="2" />
		<input type="submit" name="upgrade" value="Upgrade" onclick="javascript:window.alert('Please be patient! This process may take a while, depending on the size of your database, and the number of pending upgrades.');" />
	</div>
</form>

<form action="{$smarty.server.PHP_SELF}" method="post">
	<div>
		<input type="hidden" name="step" value="3" />
		<input type="submit" name="skip" value="Skip this step, and proceed to Sanity Check" onclick="javascript:window.alert('Please be patient - the Sanity Checks may take a while to run!');" />
	</div>
</form>

{elseif $step == 2}
<form action="{$smarty.server.PHP_SELF}" method="post">
<div>
	<input type="hidden" name="step" value="3" />
</div>

<div>
	<input type="submit" name="next" value="Proceed to Sanity Check" />
</div>
</form>
{elseif $step == 3}

<p>This page causes a number of tests to be run and shows the results with suggestions on how to fix any 
problems.  For more help, see the <a href="http://fez.library.uq.edu.au/wiki/Troubleshooting" onclick="javascript:window.open('http://fez.library.uq.edu.au/wiki/Troubleshooting'); return false;">Troubleshooting</a>
section on the <a href="http://fez.library.uq.edu.au/wiki/" onclick="javascript:window.open('http://fez.library.uq.edu.au/wiki/'); return false;">Fez Wiki</a> or search the <a href="http://sourceforge.net/mailarchive/forum.php?forum_name=fez-users" onclick="javascript:window.open('http://sourceforge.net/mailarchive/forum.php?forum_name=fez-users'); return false;">mailing list archives</a>.</p>

<div>
{include file="sanity_check_results.tpl.html"}
<br/>
<p>Correct any problems and <a href="{$smarty.server.PHP_SELF}?step=3">click here to run checks again</a>.</p>
<p>If all the checks passed, then the upgrade is done, however you can upgrade your XSDs and Workflows
to newer bundled versions if you wish. See the <a href="http://fez.library.uq.edu.au/wiki/Upgrading" onclick="javascript:window.open('http://fez.library.uq.edu.au/wiki/Upgrading'); return false;">Fez Wiki for more details</a>.</p>
<p><a href="{$rel_url}">Fez main page</a></p>
</div>

{/if}

</div>
</div>
</div>

{include file="footer.tpl.html"}
