{include file="header.tpl.html" extra_title="Home"}
{include file="navigation.tpl.html"}

<table id="front-page-container-simple">
  <tr>
    <td valign="top">
	  <div class="front-page-content-header"><img src="{$rel_url}images/search_22.jpg" alt="Search" title="Search" /> Search </div> 
	  <div class="front-page-content-detail">
		<form method="get" action="{$rel_url}list.php">
			<div>
			<input type="hidden" name="cat" value="quick_filter" />		
   (title, keywords, abstract)<br />
			  <input type="hidden" name="sort_by" value="searchKey0" />
			  <input type="text" id="front_search" name="search_keys[0]" size="40" onkeyup="javascript: selectSearchSuggestor(this.form, 'front_search')" />
			  <div id="loading1" style="display:none;">Loading...</div>
			  <input type="submit" value="Search" />
                <a href="/solr_help.php" target="_blank" title="Advanced search help page">Help</a>
              <br />Use <a href="{$rel_url}adv_search.php"><b>Advanced Search</b></a> to search by multiple criteria<br />&nbsp;
			</div>
		</form>	  

		{if $APP_CLOUD_TAG == 'ON'}
			<div style="width: 500px; text-align: center;">{$cloud_tag}</div>
		{/if}

	  </div>
    </td>
  </tr>
</table>

{include file="app_info.tpl.html"} {include file="footer.tpl.html"}
