{literal}
    <script type="text/javascript">
        function copyToClipboard (text) {
            window.prompt ("Copy to clipboard: Ctrl+C/Cmd+C, Enter", text);
        }
    </script>
{/literal}
<table id="view-metadata">
    {* $spyglassFields is returned by RecordGeneral::getSpyglassHoverFields() method.
       $spyglassFields contains the fields & theirs formatted values expected to be displayed on Spyglass Hover.

       We moved the back-end logic of filtering the fields from this template to the PHP,
       in order to separate the front-end presentation from the back-end decision making. *}
    {section name="i" loop=$spyglassFields}

        {assign var="temp_fld_id" value=$spyglassFields[i].xsdmf_id}
        {assign var="attached_temp_fld_id" value=$spyglassFields[i].xsdmf_attached_xsdmf_id}

        {* Date fields display *}
        {if $spyglassFields[i].xsdmf_data_type == 'date'}
            <tr>
                <th>{$spyglassFields[i].xsdmf_title}
                    {if $debug == 1}
                        {$spyglassFields[i].xsdmf_order}
                    {/if}
                </th>
                <td>
                    {if $spyglassFields[i].xsdmf_html_input == 'date'}
                        {$spyglassFields[i].value}
                    {else}
                        {if $details[$attached_temp_fld_id] == 0}
                            {$spyglassFields[i].value|date_format:"%A, %B %e, %Y"}
                        {else}
                            {$spyglassFields[i].value}
                        {/if}
                    {/if}
                </td>
            </tr>

        {* Other type of fields display *}
        {else}
            <tr>
                <th>{$spyglassFields[i].xsdmf_title}
                    {if $debug == 1}
                           {$spyglassFields[i].xsdmf_order}
                    {/if}
                </th>
                <td>
                    {if $spyglassFields[i].xsdmf_title == 'Handle'}
                        <a href="{$spyglassFields[i].xsdmf_value_prefix|smarty:nodefaults|escape:url}{$spyglassFields[i].value|smarty:nodefaults|escape:url}">{$spyglassFields[i].xsdmf_value_prefix}{$spyglassFields[i].value}</a>
                    {else}
                        {$spyglassFields[i].xsdmf_value_prefix}{$spyglassFields[i].value|smarty:nodefaults} {if $spyglassFields[i].value} <a href="#" onclick='copyToClipboard("{$spyglassFields[i].value|smarty:nodefaults}")'>&nbsp;<img src="/images/copy.png" title="Click to copy"/></a>{/if}
                    {/if}
                </td>
            </tr>
        {/if}

    {sectionelse}
        <tr>
            <td>
                <b>No metadata could be found.</b>
            </td>
        </tr>
    {/section}
    {if $isAdministrator}
    <tr>
        <th>
            Internal Notes
        </th>
        <td>
            {if $internal_notes}{$internal_notes}{/if}
        </td>
    </tr>
    {/if}
        <tr>
            <th colspan="2" style="text-align:center;">
            Affiliate Authors
            </th>
        </tr>
    {section name="i" loop=$affilliations}
        <tr>
            <th>
                {$affilliations[i].author_name}
            </th>
            <td>
                {$affilliations[i].org_title}, {$affilliations[i].af_percent_affiliation}% affilliation
            </td>
        </tr>
    {/section}
</table>