<?xml version="1.0" encoding="UTF-8"?>
<xmlfeed>
<title>{if $list_heading != ""}{$list_heading} - {/if}{$application_title}</title>
<link>{$app_base_url}</link>
<description>{$org_name}</description>
<language>{$lang}</language>
<generator>Fez {$application_version}</generator>
{section name="i" loop=$list}
{if $list[i].rek_object_type == '1'}
{assign var="href_view" value="community/"|cat:$list[i].rek_pid}
{elseif $list[i].rek_object_type == '2'}
{assign var="href_view" value="collection/"|cat:$list[i].rek_pid}
{else}
{assign var="href_view" value="view/"|cat:$list[i].rek_pid}
{/if}
<item>
	<title>{$list[i].rek_title}</title>

	<pid>{$list[i].rek_pid}</pid>
        <citation><![CDATA[{$list[i].rek_citation|smarty:nodefaults}]]></citation>
	<identifier>{$app_base_url}{$href_view}</identifier>
	<description>{$list[i].rek_description}</description>
	<genre>{$list[i].rek_genre}</genre>
	<created_date>{$list[i].rek_created_date}</created_date>

	<updated_date>{$list[i].rek_updated_date}</updated_date>
	<publication_date>{$list[i].rek_date}</publication_date>
	<formatted_title>{$list[i].rek_formatted_title}</formatted_title>
	<formatted_abstract>{$list[i].rek_formatted_abstract}</formatted_abstract>

	{if $list[i].rek_report_number}
		<report_numbers>
		{if !is_array($list[i].rek_report_number)}
			<report_number>{$list[i].rek_report_number}</report_number>
		{else}
			{section name="report_number_loop" loop=$list[i].rek_report_number}
				<report_number>{$list[i].rek_report_number[report_number_loop]}</report_number>
			{sectionelse}
				<report_number />
			{/section}
		{/if}
		</report_numbers>
	{/if}

	{if $list[i].rek_org_name}
		<org_names>
		{if !is_array($list[i].rek_org_name)}
			<org_name>{$list[i].rek_org_name}</org_name>
		{else}
			{section name="org_name_loop" loop=$list[i].rek_org_name}
				<org_name>{$list[i].rek_org_name[org_name_loop]}</org_name>
			{sectionelse}
				<org_name />
			{/section}
		{/if}
		</org_names>
	{/if}

	{if $list[i].rek_org_unit_name}
		<org_unit_names>
		{if !is_array($list[i].rek_org_unit_name)}
			<org_unit_name>{$list[i].rek_org_unit_name}</org_unit_name>
		{else}
			{section name="org_unit_name_loop" loop=$list[i].rek_org_unit_name}
				<org_unit_name>{$list[i].rek_org_unit_name[org_unit_name_loop]}</org_unit_name>
			{sectionelse}
				<org_unit_name />
			{/section}
		{/if}
		</org_unit_names>
	{/if}

	{if $list[i].rek_sensitivity_explanation}
		<sensitivity_explanations>
		{if !is_array($list[i].rek_sensitivity_explanation)}
			<sensitivity_explanation>{$list[i].rek_sensitivity_explanation}</sensitivity_explanation>
		{else}
			{section name="sensitivity_explanation_loop" loop=$list[i].rek_sensitivity_explanation}
				<sensitivity_explanation>{$list[i].rek_sensitivity_explanation[sensitivity_explanation_loop]}</sensitivity_explanation>
			{sectionelse}
				<sensitivity_explanation />
			{/section}
		{/if}
		</sensitivity_explanations>
	{/if}

	{if $list[i].rek_na_explanation}
		<na_explanations>
		{if !is_array($list[i].rek_na_explanation)}
			<na_explanation>{$list[i].rek_na_explanation[na_explanation_loop]}</na_explanation>
		{else}
			{section name="na_explanation_loop" loop=$list[i].rek_na_explanation}
				<na_explanation>{$list[i].rek_na_explanation[na_explanation_loop]}</na_explanation>
			{sectionelse}
				<na_explanation />
			{/section}
		{/if}
		</na_explanations>
	{/if}

	{if $list[i].rek_output_availability}
		<output_availabilitys>
		{if !is_array($list[i].rek_output_availability)}
			<output_availability>{$list[i].rek_output_availability}</output_availability>
		{else}
			{section name="output_availability_loop" loop=$list[i].rek_output_availability}
				<output_availability>{$list[i].rek_output_availability[output_availability_loop]}</output_availability>
			{sectionelse}
				<output_availability />
			{/section}
		{/if}
		</output_availabilitys>
	{/if}

	{if $list[i].rek_prn}
		<prns>
		{if !is_array($list[i].rek_prn)}
			<prn>{$list[i].rek_prn}</prn>
		{else}
			{section name="prn_loop" loop=$list[i].rek_prn}
				<prn>{$list[i].rek_prn[prn_loop]}</prn>
			{sectionelse}
				<prn />
			{/section}
		{/if}
		</prns>
	{/if}

	{if $list[i].rek_isi_loc}
		<isi_locs>
		{if !is_array($list[i].rek_isi_loc)}
			<isi_loc>{$list[i].rek_isi_loc}</isi_loc>
		{else}
			{section name="isi_loc_loop" loop=$list[i].rek_isi_loc}
				<isi_loc>{$list[i].rek_isi_loc[isi_loc_loop]}</isi_loc>
			{sectionelse}
				<isi_loc />
			{/section}
		{/if}
		</isi_locs>
	{/if}

	{if $list[i].rek_isbn}
		<isbns>
		{if !is_array($list[i].rek_isbn)}
			<isbn>{$list[i].rek_isbn}</isbn>
		{else}
			{section name="isbn_loop" loop=$list[i].rek_isbn}
				<isbn>{$list[i].rek_isbn[isbn_loop]}</isbn>
			{sectionelse}
				<isbn />
			{/section}
		{/if}
		</isbns>
	{/if}

	{if $list[i].rek_issn}
		<issns>
		{if !is_array($list[i].rek_issn)}
			<issn>{$list[i].rek_issn}</issn>
		{else}
			{section name="issn_loop" loop=$list[i].rek_issn}
				<issn>{$list[i].rek_issn[issn_loop]}</issn>
			{sectionelse}
				<issn />
			{/section}
		{/if}
		</issns>
	{/if}

	{if $list[i].rek_translated_conference_name}
		<translated_conference_names>
		{if !is_array($list[i].rek_translated_conference_name)}
			<translated_conference_name>{$list[i].rek_translated_conference_name}</translated_conference_name>
		{else}
			{section name="translated_conference_name_loop" loop=$list[i].rek_translated_conference_name}
				<translated_conference_name>{$list[i].rek_translated_conference_name[translated_conference_name_loop]}</translated_conference_name>
			{sectionelse}
				<translated_conference_name />
			{/section}
		{/if}
		</translated_conference_names>
	{/if}

	{if $list[i].rek_phonetic_conference_name}
		<phonetic_conference_names>
		{if !is_array($list[i].rek_phonetic_conference_name)}
			<phonetic_conference_name>{$list[i].rek_phonetic_conference_name}</phonetic_conference_name>
		{else}
			{section name="phonetic_conference_name_loop" loop=$list[i].rek_phonetic_conference_name}
				<phonetic_conference_name>{$list[i].rek_phonetic_conference_name[phonetic_conference_name_loop]}</phonetic_conference_name>
			{sectionelse}
				<phonetic_conference_name />
			{/section}
		{/if}
		</phonetic_conference_names>
	{/if}

	{if $list[i].rek_translated_newspaper}
		<translated_newspapers>
		{if !is_array($list[i].rek_translated_newspaper)}
			<translated_newspaper>{$list[i].rek_translated_newspaper}</translated_newspaper>
		{else}
			{section name="translated_newspaper_loop" loop=$list[i].rek_translated_newspaper}
				<translated_newspaper>{$list[i].rek_translated_newspaper[translated_newspaper_loop]}</translated_newspaper>
			{sectionelse}
				<translated_newspaper />
			{/section}
		{/if}
		</translated_newspapers>
	{/if}

	{if $list[i].rek_phonetic_newspaper}
		<phonetic_newspapers>
		{if !is_array($list[i].rek_phonetic_newspaper)}
			<phonetic_newspaper>{$list[i].rek_phonetic_newspaper}</phonetic_newspaper>
		{else}
			{section name="phonetic_newspaper_loop" loop=$list[i].rek_phonetic_newspaper}
				<phonetic_newspaper>{$list[i].rek_phonetic_newspaper[phonetic_newspaper_loop]}</phonetic_newspaper>
			{sectionelse}
				<phonetic_newspaper />
			{/section}
		{/if}
		</phonetic_newspapers>
	{/if}

	{if $list[i].rek_book_title}
		<book_titles>
		{if !is_array($list[i].rek_book_title)}
			<book_title>{$list[i].rek_book_title}</book_title>
		{else}
			{section name="book_title_loop" loop=$list[i].rek_book_title}
				<book_title>{$list[i].rek_book_title[book_title_loop]}</book_title>
			{sectionelse}
				<book_title />
			{/section}
		{/if}
		</book_titles>
	{/if}

	{if $list[i].rek_chapter_title}
		<chapter_titles>
		{if !is_array($list[i].rek_chapter_title)}
			<chapter_title>{$list[i].rek_chapter_title}</chapter_title>
		{else}
			{section name="chapter_title_loop" loop=$list[i].rek_chapter_title}
				<chapter_title>{$list[i].rek_chapter_title[chapter_title_loop]}</chapter_title>
			{sectionelse}
				<chapter_title />
			{/section}
		{/if}
		</chapter_titles>
	{/if}

	{if $list[i].rek_translated_book_title}
		<translated_book_titles>
		{if !is_array($list[i].rek_translated_book_title)}
			<translated_book_title>{$list[i].rek_translated_book_title}</translated_book_title>
		{else}
			{section name="translated_book_title_loop" loop=$list[i].rek_translated_book_title}
				<translated_book_title>{$list[i].rek_translated_book_title[translated_book_title_loop]}</translated_book_title>
			{sectionelse}
				<translated_book_title />
			{/section}
		{/if}
		</translated_book_titles>
	{/if}

	{if $list[i].rek_phonetic_book_title}
		<phonetic_book_titles>
		{if !is_array($list[i].rek_phonetic_book_title)}
			<phonetic_book_title>{$list[i].rek_phonetic_book_title}</phonetic_book_title>
		{else}
			{section name="phonetic_book_title_loop" loop=$list[i].rek_phonetic_book_title}
				<phonetic_book_title>{$list[i].rek_phonetic_book_title[phonetic_book_title_loop]}</phonetic_book_title>
			{sectionelse}
				<phonetic_book_title />
			{/section}
		{/if}
		</phonetic_book_titles>
	{/if}

	{if $list[i].rek_journal_name}
		<journal_names>
		{if !is_array($list[i].rek_journal_name)}
			<journal_name>{$list[i].rek_journal_name}</journal_name>
		{else}
			{section name="journal_name_loop" loop=$list[i].rek_journal_name}
				<journal_name>{$list[i].rek_journal_name[journal_name_loop]}</journal_name>
			{sectionelse}
				<journal_name />
			{/section}
		{/if}
		</journal_names>
	{/if}

	{if $list[i].rek_conference_name}
		<conference_names>
		{if !is_array($list[i].rek_conference_name)}
			<conference_name>{$list[i].rek_conference_name}</conference_name>
		{else}
			{section name="conference_name_loop" loop=$list[i].rek_conference_name}
				<conference_name>{$list[i].rek_conference_name[conference_name_loop]}</conference_name>
			{sectionelse}
				<conference_name />
			{/section}
		{/if}
		</conference_names>
	{/if}

	{if $list[i].rek_translated_journal_name}
		<translated_journal_names>
		{if !is_array($list[i].rek_translated_journal_name)}
			<translated_journal_name>{$list[i].rek_translated_journal_name}</translated_journal_name>
		{else}
			{section name="translated_journal_name_loop" loop=$list[i].rek_translated_journal_name}
				<translated_journal_name>{$list[i].rek_translated_journal_name[translated_journal_name_loop]}</translated_journal_name>
			{sectionelse}
				<translated_journal_name />
			{/section}
		{/if}
		</translated_journal_names>
	{/if}

	{if $list[i].rek_phonetic_journal_name}
		<phonetic_journal_names>
		{if !is_array($list[i].rek_phonetic_journal_name)}
			<phonetic_journal_name>{$list[i].rek_phonetic_journal_name}</phonetic_journal_name>
		{else}
			{section name="phonetic_journal_name_loop" loop=$list[i].rek_phonetic_journal_name}
				<phonetic_journal_name>{$list[i].rek_phonetic_journal_name[phonetic_journal_name_loop]}</phonetic_journal_name>
			{sectionelse}
				<phonetic_journal_name />
			{/section}
		{/if}
		</phonetic_journal_names>
	{/if}

	{if $list[i].rek_translated_title}
		<translated_titles>
		{if !is_array($list[i].rek_translated_title)}
			<translated_title>{$list[i].rek_translated_title}</translated_title>
		{else}
			{section name="translated_title_loop" loop=$list[i].rek_translated_title}
				<translated_title>{$list[i].rek_translated_title[translated_title_loop]}</translated_title>
			{sectionelse}
				<translated_title />
			{/section}
		{/if}
		</translated_titles>
	{/if}

	{if $list[i].rek_language_of_title}
		<language_of_titles>
		{if !is_array($list[i].rek_language_of_title)}
			<language_of_title>{$list[i].rek_language_of_title}</language_of_title>
		{else}
			{section name="language_of_title_loop" loop=$list[i].rek_language_of_title}
				<language_of_title>{$list[i].rek_language_of_title[language_of_title_loop]}</language_of_title>
			{sectionelse}
				<language_of_title />
			{/section}
		{/if}
		</language_of_titles>
	{/if}

	{if $list[i].rek_phonetic_title}
		<phonetic_titles>
		{if !is_array($list[i].rek_phonetic_title)}
			<phonetic_title>{$list[i].rek_phonetic_title}</phonetic_title>
		{else}
			{section name="phonetic_title_loop" loop=$list[i].rek_phonetic_title}
				<phonetic_title>{$list[i].rek_phonetic_title[phonetic_title_loop]}</phonetic_title>
			{sectionelse}
				<phonetic_title />
			{/section}
		{/if}
		</phonetic_titles>
	{/if}

	{if $list[i].rek_language}
		<languages>
		{if !is_array($list[i].rek_language)}
			<language>{$list[i].rek_language}</language>
		{else}
			{section name="language_loop" loop=$list[i].rek_language}
				<language>{$list[i].rek_language[language_loop]}</language>
			{sectionelse}
				<language />
			{/section}
		{/if}
		</languages>
	{/if}

	{if $list[i].rek_date_available}
		<date_availables>
		{if !is_array($list[i].rek_date_available)}
			<date_available>{$list[i].rek_date_available}</date_available>
		{else}
			{section name="date_available_loop" loop=$list[i].rek_date_available}
				<date_available>{$list[i].rek_date_available[date_available_loop]}</date_available>
			{sectionelse}
				<date_available />
			{/section}
		{/if}
		</date_availables>
	{/if}

	{if $list[i].rek_country_of_issue}
		<country_of_issues>
		{if !is_array($list[i].rek_country_of_issue)}
			<country_of_issue>{$list[i].rek_country_of_issue}</country_of_issue>
		{else}
			{section name="country_of_issue_loop" loop=$list[i].rek_country_of_issue}
				<country_of_issue>{$list[i].rek_country_of_issue[country_of_issue_loop]}</country_of_issue>
			{sectionelse}
				<country_of_issue />
			{/section}
		{/if}
		</country_of_issues>
	{/if}

	{if $list[i].rek_patent_number}
		<patent_numbers>
		{if !is_array($list[i].rek_patent_number)}
			<patent_number>{$list[i].rek_patent_number}</patent_number>
		{else}
			{section name="patent_number_loop" loop=$list[i].rek_patent_number}
				<patent_number>{$list[i].rek_patent_number[patent_number_loop]}</patent_number>
			{sectionelse}
				<patent_number />
			{/section}
		{/if}
		</patent_numbers>
	{/if}

	{if $list[i].rek_conference_location}
		<conference_locations>
		{if !is_array($list[i].rek_conference_location)}
			<conference_location>{$list[i].rek_conference_location}</conference_location>
		{else}
			{section name="conference_location_loop" loop=$list[i].rek_conference_location}
				<conference_location>{$list[i].rek_conference_location[conference_location_loop]}</conference_location>
			{sectionelse}
				<conference_location />
			{/section}
		{/if}
		</conference_locations>
	{/if}

	{if $list[i].rek_conference_dates}
		<conference_datess>
		{if !is_array($list[i].rek_conference_dates)}
			<conference_dates>{$list[i].rek_conference_dates}</conference_dates>
		{else}
			{section name="conference_dates_loop" loop=$list[i].rek_conference_dates}
				<conference_dates>{$list[i].rek_conference_dates[conference_dates_loop]}</conference_dates>
			{sectionelse}
				<conference_dates />
			{/section}
		{/if}
		</conference_datess>
	{/if}

	{if $list[i].rek_volume_number}
		<volume_numbers>
		{if !is_array($list[i].rek_volume_number)}
			<volume_number>{$list[i].rek_volume_number}</volume_number>
		{else}
			{section name="volume_number_loop" loop=$list[i].rek_volume_number}
				<volume_number>{$list[i].rek_volume_number[volume_number_loop]}</volume_number>
			{sectionelse}
				<volume_number />
			{/section}
		{/if}
		</volume_numbers>
	{/if}

	{if $list[i].rek_issue_number}
		<issue_numbers>
		{if !is_array($list[i].rek_issue_number)}
			<issue_number>{$list[i].rek_issue_number}</issue_number>
		{else}
			{section name="issue_number_loop" loop=$list[i].rek_issue_number}
				<issue_number>{$list[i].rek_issue_number[issue_number_loop]}</issue_number>
			{sectionelse}
				<issue_number />
			{/section}
		{/if}
		</issue_numbers>
	{/if}

	{if $list[i].rek_chapter_number}
		<chapter_numbers>
		{if !is_array($list[i].rek_chapter_number)}
			<chapter_number>{$list[i].rek_chapter_number}</chapter_number>
		{else}
			{section name="chapter_number_loop" loop=$list[i].rek_chapter_number}
				<chapter_number>{$list[i].rek_chapter_number[chapter_number_loop]}</chapter_number>
			{sectionelse}
				<chapter_number />
			{/section}
		{/if}
		</chapter_numbers>
	{/if}

	{if $list[i].rek_end_page}
		<end_pages>
		{if !is_array($list[i].rek_end_page)}
			<end_page>{$list[i].rek_end_page}</end_page>
		{else}
			{section name="end_page_loop" loop=$list[i].rek_end_page}
				<end_page>{$list[i].rek_end_page[end_page_loop]}</end_page>
			{sectionelse}
				<end_page />
			{/section}
		{/if}
		</end_pages>
	{/if}

	{if $list[i].rek_start_page}
		<start_pages>
		{if !is_array($list[i].rek_start_page)}
			<start_page>{$list[i].rek_start_page}</start_page>
		{else}
			{section name="start_page_loop" loop=$list[i].rek_start_page}
				<start_page>{$list[i].rek_start_page[start_page_loop]}</start_page>
			{sectionelse}
				<start_page />
			{/section}
		{/if}
		</start_pages>
	{/if}

	{if $list[i].rek_place_of_publication}
		<place_of_publications>
		{if !is_array($list[i].rek_place_of_publication)}
			<place_of_publication>{$list[i].rek_place_of_publication}</place_of_publication>
		{else}
			{section name="place_of_publication_loop" loop=$list[i].rek_place_of_publication}
				<place_of_publication>{$list[i].rek_place_of_publication[place_of_publication_loop]}</place_of_publication>
			{sectionelse}
				<place_of_publication />
			{/section}
		{/if}
		</place_of_publications>
	{/if}

	{if $list[i].rek_edition}
		<editions>
		{if !is_array($list[i].rek_edition)}
			<edition>{$list[i].rek_edition}</edition>
		{else}
			{section name="edition_loop" loop=$list[i].rek_edition}
				<edition>{$list[i].rek_edition[edition_loop]}</edition>
			{sectionelse}
				<edition />
			{/section}
		{/if}
		</editions>
	{/if}

	{if $list[i].rek_author}
		<authors>
		{if !is_array($list[i].rek_author)}
			<author>{$list[i].rek_author}</author>
		{else}
			{section name="author_loop" loop=$list[i].rek_author}
				<author>{$list[i].rek_author[author_loop]}</author>
			{sectionelse}
				<author />
			{/section}
		{/if}
		</authors>
	{/if}

	{if $list[i].rek_author_id}
		<author_ids>
		{if !is_array($list[i].rek_author_id)}
			<author_id>{$list[i].rek_author_id}</author_id>
		{else}
			{section name="author_loop" loop=$list[i].rek_author_id}
				<author_id>{$list[i].rek_author_id[author_loop]}</author_id>
			{sectionelse}
				<author_id />
			{/section}
		{/if}
		</author_ids>
	{/if}

	{if $list[i].rek_author_id_lookup}
		<author_id_lookups>
		{if !is_array($list[i].rek_author_id_lookup)}
			<author_id_lookup>{$list[i].rek_author_id_lookup}</author_id_lookup>
		{else}
			{section name="author_loop" loop=$list[i].rek_author_id_lookup}
				<author_id_lookup>{$list[i].rek_author_id_lookup[author_loop]}</author_id_lookup>
			{sectionelse}
				<author_id_lookup />
			{/section}
		{/if}
		</author_id_lookups>
	{/if}

	{if $list[i].rek_author_id_external}
		<author_id_externals>
		{if !is_array($list[i].rek_author_id_external)}
			<author_id_external>{$list[i].rek_author_id_external}</author_id_external>
		{else}
			{section name="author_loop" loop=$list[i].rek_author_id_external}
				<author_id_external>{$list[i].rek_author_id_external[author_loop]}</author_id_external>
			{sectionelse}
				<author_id_external />
			{/section}
		{/if}
		</author_id_externals>
	{/if}

	{if $list[i].rek_contributor}
		<contributors>
		{if !is_array($list[i].rek_contributor)}
			<contributor>{$list[i].rek_contributor}</contributor>
		{else}
			{section name="contributor_loop" loop=$list[i].rek_contributor}
				<contributor>{$list[i].rek_contributor[contributor_loop]}</contributor>
			{sectionelse}
				<contributor />
			{/section}
		{/if}
		</contributors>
	{/if}

	{if $list[i].rek_contributor_id}
		<contributor_ids>
		{if !is_array($list[i].rek_contributor_id)}
			<contributor_id>{$list[i].rek_contributor_id}</contributor_id>
		{else}
			{section name="contributor_loop" loop=$list[i].rek_contributor_id}
				<contributor_id>{$list[i].rek_contributor_id[contributor_loop]}</contributor_id>
			{sectionelse}
				<contributor_id />
			{/section}
		{/if}
		</contributor_ids>
	{/if}

	{if $list[i].rek_contributor_id_lookup}
		<contributor_id_lookups>
		{if !is_array($list[i].rek_contributor_id_lookup)}
			<contributor_id_lookup>{$list[i].rek_contributor_id_lookup}</contributor_id_lookup>
		{else}
			{section name="contributor_loop" loop=$list[i].rek_contributor_id_lookup}
				<contributor_id_lookup>{$list[i].rek_contributor_id_lookup[contributor_loop]}</contributor_id_lookup>
			{sectionelse}
				<contributor_id_lookup />
			{/section}
		{/if}
		</contributor_id_lookups>
	{/if}

	{if $list[i].rek_contributor_id_external}
		<contributor_id_externals>
		{if !is_array($list[i].rek_contributor_id_external)}
			<contributor_id_external>{$list[i].rek_contributor_id_external}</contributor_id_external>
		{else}
			{section name="contributor_loop" loop=$list[i].rek_contributor_id_external}
				<contributor_id_external>{$list[i].rek_contributor_id_external[contributor_loop]}</contributor_id_external>
			{sectionelse}
				<contributor_id_external />
			{/section}
		{/if}
		</contributor_id_externals>
	{/if}

	{if $list[i].rek_ismemberof}
		<isMemberOfs>
		{if !is_array($list[i].rek_ismemberof)}
			<isMemberOf>{$list[i].rek_ismemberof}</isMemberOf>
		{else}
			{section name="isMemberOf_loop" loop=$list[i].rek_ismemberof}
				<isMemberOf>{$list[i].rek_ismemberof[isMemberOf_loop]}</isMemberOf>
			{sectionelse}
				<isMemberOf />
			{/section}
		{/if}
		</isMemberOfs>
	{/if}

	{if $list[i].rek_keywords}
		<keywords>
		{if !is_array($list[i].rek_keywords)}
			<keyword>{$list[i].rek_keywords}</keyword>
		{else}
			{section name="keywords_loop" loop=$list[i].rek_keywords}
				<keyword>{$list[i].rek_keywords[keywords_loop]}</keyword>
			{sectionelse}
				<keyword />
			{/section}
		{/if}
		</keywords>
	{/if}

	{if $list[i].rek_alternative_title}
		<alternative_titles>
		{if !is_array($list[i].rek_alternative_title)}
			<alternative_title>{$list[i].rek_alternative_title}</alternative_title>
		{else}
			{section name="alternative_title_loop" loop=$list[i].rek_alternative_title}
				<alternative_title>{$list[i].rek_alternative_title[alternative_title_loop]}</alternative_title>
			{sectionelse}
				<alternative_title />
			{/section}
		{/if}
		</alternative_titles>
	{/if}

	{if $list[i].rek_newspaper}
		<newspapers>
		{if !is_array($list[i].rek_newspaper)}
			<newspaper>{$list[i].rek_newspaper}</newspaper>
		{else}
			{section name="newspaper_loop" loop=$list[i].rek_newspaper}
				<newspaper>{$list[i].rek_newspaper[newspaper_loop]}</newspaper>
			{sectionelse}
				<newspaper />
			{/section}
		{/if}
		</newspapers>
	{/if}

	{if $list[i].rek_publisher}
		<publishers>
		{if !is_array($list[i].rek_publisher)}
			<publisher>{$list[i].rek_publisher}</publisher>
		{else}
			{section name="publisher_loop" loop=$list[i].rek_publisher}
				<publisher>{$list[i].rek_publisher[publisher_loop]}</publisher>
			{sectionelse}
				<publisher />
			{/section}
		{/if}
		</publishers>
	{/if}

	{if $list[i].rek_convener}
		<conveners>
		{if !is_array($list[i].rek_convener)}
			<convener>{$list[i].rek_convener}</convener>
		{else}
			{section name="convener_loop" loop=$list[i].rek_convener}
				<convener>{$list[i].rek_convener[convener_loop]}</convener>
			{sectionelse}
				<convener />
			{/section}
		{/if}
		</conveners>
	{/if}

	{if $list[i].rek_identifier}
		<identifier_numbers>
		{if !is_array($list[i].rek_identifier)}
			<identifier_number>{$list[i].rek_identifier}</identifier_number>
		{else}
			{section name="identifier_number_loop" loop=$list[i].rek_identifier}
				<identifier_number>{$list[i].rek_identifier[identifier_number_loop]}</identifier_number>
			{sectionelse}
				<identifier_number />
			{/section}
		{/if}
		</identifier_numbers>
	{/if}

	{if $list[i].rek_scopus_id}
		<scopus_ids>
		{if !is_array($list[i].rek_scopus_id)}
			<scopus_id>{$list[i].rek_scopus_id}</scopus_id>
		{else}
			{section name="scopus_id_loop" loop=$list[i].rek_scopus_id}
				<scopus_id>{$list[i].rek_scopus_id[scopus_id_loop]}</scopus_id>
			{sectionelse}
				<scopus_id />
			{/section}
		{/if}
		</scopus_ids>
	{/if}

	{if $list[i].rek_series}
		<seriess>
		{if !is_array($list[i].rek_series)}
			<series>{$list[i].rek_series}</series>
		{else}
			{section name="series_loop" loop=$list[i].rek_series}
				<series>{$list[i].rek_series[series_loop]}</series>
			{sectionelse}
				<series />
			{/section}
		{/if}
		</seriess>
	{/if}

	{if $list[i].rek_parent_publication}
		<parent_publications>
		{if !is_array($list[i].rek_parent_publication)}
			<parent_publication>{$list[i].rek_parent_publication}</parent_publication>
		{else}
			{section name="parent_publication_loop" loop=$list[i].rek_parent_publication}
				<parent_publication>{$list[i].rek_parent_publication[parent_publication_loop]}</parent_publication>
			{sectionelse}
				<parent_publication />
			{/section}
		{/if}
		</parent_publications>
	{/if}

	{if $list[i].rek_subject}
		<subjects>
		{if !is_array($list[i].rek_subject)}
			<subject>{$list[i].rek_subject}</subject>
		{else}
			{section name="subject_loop" loop=$list[i].rek_subject}
				<subject>{$list[i].rek_subject[subject_loop]}</subject>
			{sectionelse}
				<subject />
			{/section}
		{/if}
		</subjects>
	{/if}

	{if $list[i].rek_refereed}
		<refereeds>
		{if !is_array($list[i].rek_refereed)}
			<refereed>{$list[i].rek_refereed}</refereed>
		{else}
			{section name="refereed_loop" loop=$list[i].rek_refereed}
				<refereed>{$list[i].rek_refereed[refereed_loop]}</refereed>
			{sectionelse}
				<refereed />
			{/section}
		{/if}
		</refereeds>
	{/if}

	{if $list[i].rek_research_program}
		<research_programs>
		{if !is_array($list[i].rek_research_program)}
			<research_program>{$list[i].rek_research_program}</research_program>
		{else}
			{section name="research_program_loop" loop=$list[i].rek_research_program}
				<research_program>{$list[i].rek_research_program[research_program_loop]}</research_program>
			{sectionelse}
				<research_program />
			{/section}
		{/if}
		</research_programs>
	{/if}

	{if $list[i].rek_rights}
		<rightss>
		{if !is_array($list[i].rek_rights)}
			<rights>{$list[i].rek_rights}</rights>
		{else}
			{section name="rights_loop" loop=$list[i].rek_rights}
				<rights>{$list[i].rek_rights[rights_loop]}</rights>
			{sectionelse}
				<rights />
			{/section}
		{/if}
		</rightss>
	{/if}

	{if $list[i].rek_notes}
		<notess>
		{if !is_array($list[i].rek_notes)}
			<notes>{$list[i].rek_notes}</notes>
		{else}
			{section name="notes_loop" loop=$list[i].rek_notes}
				<notes>{$list[i].rek_notes[notes_loop]}</notes>
			{sectionelse}
				<notes />
			{/section}
		{/if}
		</notess>
	{/if}

	{if $list[i].rek_file_attachment_name}
		{assign var="loop_format" value=$list[i].rek_file_attachment_name}
		<datastream_links>
		{section name="f" loop=$loop_format}
			<datastream_link>{$app_base_url}basiceserv.php?pid={$list[i].rek_pid}&amp;dsID={$list[i].rek_file_attachment_name[f]}</datastream_link>
		{sectionelse}
			<datastream_link />
		{/section}
		</datastream_links>
		<datastreams>
		{section name="f" loop=$loop_format}
			<datastream>{$list[i].rek_file_attachment_name[f]}</datastream>
		{sectionelse}
			<datastream />
		{/section}
		</datastreams>
	{/if}
</item>
{/section}

</xmlfeed>
