
{if $new_record_id != "" and $smarty.post.report_stays != "yes"}
       <tr>
          <td class="default">
            <b>Thank you, the new record was created successfully. Please choose 
            from one of the options below:</b>
            <ul>
              <li><a href="view.php?id={$new_record_id}" class="link">Open the Record Details Page</a></li>
              <li><a href="list.php" class="link">Open the Record Listing Page</a></li>
              {if $app_setup.support_email == 'enabled' and $current_role > $roles.viewer}
              <li><a href="emails.php" class="link">Open the Emails Listing Page</a></li>
              {/if}
              <li><a href="new.php" class="link">Report a New Record</a></li>
            </ul>
            <b>Otherwise, you will be automatically redirected to the Record Details Page in 5 seconds.</b>
          </td>
        </tr>
{literal}
<script language="JavaScript">
<!--
setTimeout('openDetailPage()', 5000);
function openDetailPage()
{
{/literal}
    window.location.href = 'view.php?pid={$new_record_id}';
{literal}
}
//-->
</script>
{/literal}
{/if}
<input type="hidden" name="xdis_id" value="{$xdis_id}">
<input type="hidden" name="cat" value="submit">
<input type="hidden" name="pid" value="{$pid}">
<input type="hidden" name="collection_pid" value="{$pid}">
  <table>
       <tr>
          <td class="contentheader" colspan="2">
            <b><img align="absmiddle" src="{$rel_url}images/scanner_32.jpg" border="0"> {$form_title}</b>
          </td>
        </tr>

		<tr id="directory">
				  <td width="150" bgcolor="{$cell_color}" class="default">
					<b>Choose the SAN Directory to Import into this Collection</b>
				  </td>
				  <td width="90%" bgcolor="{$light_color}">
					<select size="10" class="default" name="directory">
					  {html_options options=$filenames}
					</select>
				</td>
		</tr>
		<tr id="directory">
		  <td  bgcolor="{$cell_color}" class="default">
			<b>Object Creation Options:</b>
		  </td>
		  <td class="default" bgcolor="{$light_color}">				
  			  <input type="radio" name="objectimport" value="multiple" checked>One record object per file
			  <input type="radio" name="objectimport" value="one">One record with all the files attached
		</td>
		</tr>
   </table>             


