
{if $message != ""}
{$message}
{else}
<script language="JavaScript">
<!--
{literal}
function validateForm(f)
{
    {/literal}
    {if $checked_files.0 == ""}
        return false;
    {else}
        return true;
    {/if}
    {literal}
}
{/literal}
// -->
</script>

<input type="hidden" name="xdis_id" value="{$xdis_id}">
<input type="hidden" name="cat" value="submit">
<input type="hidden" name="pid" value="{$pid}">
<input type="hidden" name="collection_pid" value="{$pid}">
<table>
    <tr>
      <td class="contentheader" colspan="2">
        <b><img align="absmiddle" src="{$rel_url}images/scanner_32.jpg" border="0"> {$form_title}</b>
      </td>
    </tr>
    
    <tr id="files">
        <td width="150" bgcolor="{$cell_color}" class="default">
    		<b>Choose the file(s) to attach as datastreams to this object</b>
        </td>
        <td bgcolor="{$light_color}">
    		<input type="button" onclick="javascript:small_window('/filemanager/ajaxfilemanager.php?id={$id}');" value="Open File Manager" />
    	</td>
    </tr>
    <tr id="files">
        <td width="150" bgcolor="{$cell_color}" class="default">
    		<strong>Selected Files</strong>
        </td>
        <td class="default">
            <ul>
            {foreach item=file from=$checked_files}
    	       <li>{$file} &nbsp;
				<select class="default" name="{$file}_FezACML">
				  {if $xsdmf.xsdmf_html_input != 'multiple'}<option value="-1">Use objects security (default)</option>{/if}
				  {html_options options=$quick_auth_templates}
				</select>
				</li>
    	   {/foreach}
    	   </ul>
        </td>
    </tr>
</table>             

{/if}
