
<script type="text/javascript">
<!--
{$najax_register}
{literal}
var coll_load_state = 0;

function showLoading()
{
    document.body.style.cursor = 'wait';
    document.getElementById('loading').style.display = 'block';
};

function hideLoading()
{
    document.body.style.cursor = '';
    document.getElementById('loading').style.display = 'none';
};


function selectSearchKey(f, field_name)
{
    if (coll_load_state > 0) {
       return false;
    } 
    var field = getFormElement(f, field_name);
    var selections = getSelectedItems(field);

    if (selections.length > 0) {
        coll_load_state++;
        document.getElementById('tr_search_key_value').style.display = '';
        showLoading();
        var obj = new SelectSearchKey();
        obj.onGetCollectionsError = function() {
            removeAllOptions(f, 'search_key_value');
            hideLoading();
            coll_load_state--;
        }
        obj.setTimeout(10000);
        obj.getSearchKeyOptions(selections[0].value, function(search_keys_list) {
                removeAllOptions(f, 'sek_value');
                addOptions(f, 'sek_value', search_keys_list);
                hideLoading();
                coll_load_state--;
                });
    }
}

function validateForm(f)
{
    if (!hasOneSelected(f, 'sek_id')) {
        errors[errors.length] = new Option('Search Key','sek_id');
    }
    if (!hasOneSelected(f, 'sek_value')) {
        errors[errors.length] = new Option('Search Key Value','sek_value');
    }
}

{/literal}
// -->
</script>

<table width="100%">
<input type="hidden" name="cat" value="submit">
<tr>
  <td class="contentheader" colspan="2">
    <b><img align="absmiddle" src="{$rel_url}images/search_32.png" border="0">Select Search Key to replace, and it's new value</b>
  </td>
</tr>

<tr >
  <td width="100" bgcolor="{$cell_color}" class="default">
    <b>Search Key</b>
  </td>
  <td width="75%" bgcolor="{$light_color}">
    <select class="default" name="sek_id" onChange="javascript: selectSearchKey(this.form, 'sek_id')" >
      {html_options options=$search_keys_list selected=$search_keys_list_selected }
    </select>
  </td>
</tr>
<tr style="display:none;" id="tr_search_key_value">
  <td bgcolor="{$cell_color}" class="default">
    <b>Search Key Replacement Value</b>
  </td>
  <td bgcolor="{$light_color}">
    <div id="loading" style="display:none;">Loading...</div>
    <select class="default" name="sek_value" >
    </select>
  </td>
</tr>
    
<script type="text/javascript"><!-- 
selectSearchKey(getForm('wfl_form1'), 'sek_id');
// --></script>

</table>
