<tr>
<td>
{if $conflict}
<div class="admin-content">The record you have selected is currently being edited by {$conflict_user}.  <a href="{$link_self}">Check again</a></div>
{else}
<script type="text/javascript" src="{$rel_url}js/compare_records_helpers.js" ></script>
<link rel="stylesheet" href="{$rel_url}css/autocomplete.css" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/yahoo/utilities.js"></script>
<script type="text/javascript" src="{$rel_url}js/yahoo/autocomplete.js"></script>
<script type="text/javascript" src="{$rel_url}min.php/editmeta.js"></script>

{include file="workflow/edit_metadata_helpers/javascript_block.tpl.html"}

<input type="hidden" name="sta_id" value="{$sta_id}">

<div class="outline">

<div><a href="{$link_to_list}">Back to list</a> | <a href="{$link_to_prev}">Prev</a> | <a href="{$link_to_next}">Next</a></div>

<table class="listing default" id="edit_metadata_form_table">
<tr class="default">
 <td colspan="2" class="compare_records_left_side">
 	<h2>Base Record: <a href="{$rel_url}view/{$left_pid}" target="_blank">{$left_pid}</a></h2>
	{if $sta_id != 2}
	<div class="default">
	NOTE: This record is not published.
	</div>
	{/if}
	{if $left_isi_loc}
	<div>ISI LOC: {$left_isi_loc}</div>
	{/if}
	{if $left_rm_prn}
	<div>RM PRN: {$left_rm_prn}</div>
	{/if}
	{if $left_issn}
	<div>ISSN: {$left_issn}</div>
	{/if}
	{if $left_isbn}
	<div>ISBN: {$left_isbn}</div>
	{/if}
	<div>
 	<input type="submit" name="save_base_record" value="Save Changes" 
 		onclick="return setAction(this.form,'save_base_record');" class="button"/>
	<input type="hidden" name="action" value="save_base_record"/>
	<input type="reset" class="button">
	</div>
 </td>
 <td colspan="2" class="compare_records_right_side">
 <h2>Possible Duplicate: <a href="{$rel_url}view/{$current_dup_pid}" target="_blank">{$current_dup_pid}</a></h2>
	{if $right_isi_loc}
	<div>ISI LOC: {$right_isi_loc}</div>
	{/if}
	{if $right_rm_prn}
	<div>RM PRN: {$right_rm_prn}</div>
	{/if}
	{if $right_issn}
	<div>ISSN: {$right_issn}</div>
	{/if}
	{if $right_isbn}
	<div>ISBN: {$right_isbn}</div>
	{/if}

	{if $left_isi_loc && $left_isi_loc==$right_isi_loc}<div class="default">ISI LOC Matches</div>{/if}
	{if $current_dup_pid_details.duplicate == 'true'}
		<div class="default">This record has been marked as a <span class="no">duplicate</span></div>
	{elseif $current_dup_pid_details.duplicate == 'false'}
		<div class="default">This record has been marked as a <span class="yes">non-duplicate</span></div>
	{/if}
	
	{if $current_dup_pid_details.mergeResult}<div class="default">Merge status:
		{$current_dup_pid_details.mergeResult}</div>{/if}

	<div>
 <input type="submit" name="mark_duplicate" value="Mark as Duplicate" 
 	onclick="return setAction(this.form,'mark_duplicate');" class="button"/>
 <input type="submit" name="not_duplicate" value="Not a Duplicate" 
 	onclick="return setAction(this.form,'not_duplicate');" class="button"/>
 <input type="submit" name="set_as_base" value="Make This the Base Record" 
 	onclick="return setAction(this.form,'set_as_base');" class="button"/>
 {if $smarty.const.APP_RQF_REALLY_AUTO_MERGE !== true}<input type="submit" name="set_as_base" value="Automerge With Base" 
 	onclick="return setAction(this.form,'auto_merge');" class="button"/>{/if}
 	</div>
 	<div>
Possible Duplicates: 
	<ul>
  {section name='ii' loop=$dup_list.listing}
	  <li>
	{if $dup_list.listing[ii].pid == $current_dup_pid}
		<b>{$dup_list.listing[ii].pid}</b>
	{else}
		<a href="{$dup_list.listing[ii].link}">{$dup_list.listing[ii].pid}</a>
	{/if}
	{if $dup_list.listing[ii].duplicate == 'true'}
		(<span class="no">Dup</span>)
	{elseif $dup_list.listing[ii].duplicate == 'false'}
		(<span class="yes">Not-Dup</span>)
	{/if}
	  </li>
 {/section}
	 </ul>
	</div>
 </td>
</tr>
{if $compare_unlike_records}
<tr>
	<td colspan="2">
		<table>
{section name="i" loop=$xsd_display_fields}
	{assign var="temp_fld_id" value=$xsd_display_fields[i].xsdmf_id}
	{assign var='xsdmf' value=$xsd_display_fields[i]}
	{if $xsd_display_fields[i].xsdmf_html_input != ''}
		{include file='workflow/edit_metadata_helpers/field_'|cat:$xsd_display_fields[i].xsdmf_html_input|cat:'.tpl.html'}
	{/if}
	{if $debug == 1}
		{$xsd_display_fields[i].xsdmf_order}
	{/if}
{/section}
	</table>
</td>
<td valign="top">
	<div class="admin-content">
		These two records are of different document types so can't be automatically matched or merged.
		Please copy and paste any information that needs to be transfered to the other record.
	</div>
	<div class="default_white dark_background"><b>{$right_xdis_title}</b></div>
{include file='view_metadata.tpl.html' xsd_display_fields=$right_xsd_display_fields details=$right_details}
</td>
</tr>
{else}
{section name="i" loop=$xsd_display_fields}
	{assign var="temp_fld_id" value=$xsd_display_fields[i].xsdmf_id}
	{assign var='xsdmf' value=$xsd_display_fields[i]}
	{if $xsd_display_fields[i].xsdmf_html_input != ''}
		{include file='workflow/edit_metadata_helpers/field_'|cat:$xsd_display_fields[i].xsdmf_html_input|cat:'.tpl.html'}
	{/if}
	{if $debug == 1}
		{$xsd_display_fields[i].xsdmf_order}
	{/if}
{/section}
{/if}
</table>

</div>
{/if}

</td>
</tr>