<tr>
<td>

<script type="text/javascript" src="{$rel_url}js/compare_records_helpers.js" ></script>
<script type="text/javascript">
<!--
{literal}

function validateForm(f)
{
	
}

xsd_display_fields = new Array;
required_xsd_display_fields = new Array;

{/literal}
// -->
</script>

<div class="outline">

{if $sta_id != 2}
<div class="default">
<b>NOTE: This record is not published.</b>
</div>
{/if}

<table class="listing default" id="edit_metadata_form_table">
<tr class="default">
 <td>Base Record: {$left_pid}</td>
 <td> </td>
 <td> </td>
 <td>Duplicates: 
 {section name='ii' loop=$dup_list}
	{if !$smarty.section.ii.first}|{/if}
	{if $dup_list[ii].pid == $current_dup_pid}
		<b>{$dup_list[ii].pid}</b>
	{else}
		<a href="{$dup_list[ii].link}">{$dup_list[ii].pid}</a>
	{/if}
 {/section}</td>
</tr>
{section name="i" loop=$xsd_display_fields}
	{assign var="temp_fld_id" value=$xsd_display_fields[i].xsdmf_id}
	{assign var='xsdmf' value=$xsd_display_fields[i]}
	{if $xsd_display_fields[i].xsdmf_html_input != ''}
		{include file='workflow/edit_metadata_helpers/field_'|cat:$xsd_display_fields[i].xsdmf_html_input|cat:'.tpl.html'}
	{/if}
	{if $debug == 1}
		{$xsd_display_fields[i].xsdmf_order}
	{/if}
{/section}
</table>

</div>

</td>
</tr>