<tr><td>

<script type="text/javascript">
<!--
var page_url = '{$smarty.server.PHP_SELF}';

{literal}

function validateForm(f)
{
	//if (!hasOneChecked(f, 'pid')) {
	//	errors[errors.length] = new Option('A record must be selected', 'pid');
    //}
}

{/literal}
// -->
</script>

<div class="outline">
<h2>Duplicates Report Listing</h2>
<div>{$report_title}</div>
<div>Report PID {$report_pid}</div>
<table class="default listing">
<tr class="table_heading_row">
<td></td>
<td>PID</td>
<td>Title</td>
<td>Count</td>
<td>Probability</td>
<td>Resolved</td>
</tr>
{section name="ii" loop=$listing}
{cycle assign='row_class' values="listing_row_light,listing_row_dark"}
<tr class="{$row_class}">
<td><input type="radio" name="pid"  value="{$listing[ii].pid}" 
	{if $smarty.request.pid == '' && $smarty.section.ii.first}checked="1"{/if} /></td>
<td>{$listing[ii].pid}</td>
<td>{$listing[ii].title}</td>
<td>{$listing[ii].count}</td>
<td>{$listing[ii].probability}</td>
<td>{if $listing[ii].resolved}<span class="yes">yes</span>{else}<span class="no">no</span>{/if}</td>
</tr>
{sectionelse}
<tr class="{$row_class}">
<td colspan="10"><center>No duplicates were found</center></td>
</tr>
{/section}



</table>

<table class="listing">
	<tr class="table_heading_row">
                <td align="center" nowrap="nowrap">
				  <span class="default_white">{include file="page_list.tpl.html"}</span> <span class="default_white">Rows per Page:</span>
                  <select name="page_size" class="default" onchange="javascript:resizePager(this.form,page_url);">
                    <option value="5" {if $page_size == 5}selected="selected"{/if}>5</option>
                    <option value="10" {if $page_size == 10}selected="selected"{/if}>10</option>
                    <option value="25" {if $page_size == 25}selected="selected"{/if}>25</option>
                    <option value="50" {if $page_size == 50}selected="selected"{/if}>50</option>
                    <option value="100" {if $page_size == 100}selected="selected"{/if}>100</option>
                    <option value="150" {if $page_size == 150}selected="selected"{/if}>150</option>
                  </select>
                  <input type="button" value="Set" class="shortcut" onclick="javascript:resizePager(this.form,page_url);" />
                </td>
	</tr>
</table>


</div>

</td></tr>