<tr><td>

<script type="text/javascript">
<!--
var page_url = '{$smarty.server.PHP_SELF}';

{literal}

function validateForm(f)
{
	//if (!hasOneChecked(f, 'pid')) {
	//	errors[errors.length] = new Option('A record must be selected', 'pid');
    //}
}

{/literal}
// -->
</script>

<div class="outline">
<h2>Duplicates Report Listing</h2>
<div>{$report_title}</div>
<div>Report PID {$report_pid}</div>
<div>
	{if $show_resolved}
		<input type="submit" name="hide_resolved" value="Hide Resolved Items" 
 			onclick="return setAction(this.form,this.name);" class="button"/>
	{else}
		<input type="submit" name="show_resolved" value="Show Resolved Items" 
 			onclick="return setAction(this.form,this.name);" class="button"/>
	{/if}
 </div>
<div>This report has {$list_meta.resolved_count} resolved items and {$list_meta.unresolved_count} unresolved items</div>
<table class="default listing">
<tr class="table_heading_row">
<td>PID</td>
<td>Title</td>
<td>Count</td>
<td>Probability</td>
<td>Status</td>
</tr>
{section name="ii" loop=$listing}
{cycle assign='row_class' values="listing_row_light,listing_row_dark"}
<tr class="{$row_class}">
<td><a href="{$compare_records_url|replace:'__pid__':$listing[ii].pid}">{$listing[ii].pid}</a></td>
<td>{$listing[ii].title}</td>
<td>{$listing[ii].count}</td>
<td>{$listing[ii].probability}</td>
<td>{if $listing[ii].resolved}<span class="yes">resolved</span>{else}<span class="no">unresolved</span>{/if} {if $listing[ii].isi_loc_match}ISI LOC Match{/if}</td>
</tr>
{sectionelse}
<tr class="{$row_class}">
<td colspan="10"><center>No items to display</center></td>
</tr>
{/section}



</table>

<table class="listing">
	<tr class="table_heading_row">
                <td align="center" nowrap="nowrap">
				  <span class="default_white">{include file="page_list.tpl.html"}</span> <span class="default_white">Rows per Page:</span>
                  <select name="page_size" class="default" onchange="javascript:resizePager(this.form,page_url);">
                    <option value="5" {if $page_size == 5}selected="selected"{/if}>5</option>
                    <option value="10" {if $page_size == 10}selected="selected"{/if}>10</option>
                    <option value="25" {if $page_size == 25}selected="selected"{/if}>25</option>
                    <option value="50" {if $page_size == 50}selected="selected"{/if}>50</option>
                    <option value="100" {if $page_size == 100}selected="selected"{/if}>100</option>
                    <option value="150" {if $page_size == 150}selected="selected"{/if}>150</option>
                  </select>
                  <input type="button" value="Set" class="shortcut" onclick="javascript:resizePager(this.form,page_url);" />
                </td>
	</tr>
</table>


</div>

</td></tr>