<link rel="stylesheet" href="{$rel_url}css/autocomplete.css" type="text/css" />
<script type="text/javascript" src="{$rel_url}js/yahoo/utilities.js"></script>
<script type="text/javascript" src="{$rel_url}js/yahoo/autocomplete.js"></script>
<script type="text/javascript">
<!--
{literal}
function validateForm(f) {
	var f = document.forms['wfl_form1'];

	if (f.workflow_button_{/literal}{$workflow_buttons[i].wfs_id}{literal}.value == 'Finished') {
		return;
	}

	if (!isNumeric(f.af_percent_affiliation.value) || f.af_percent_affiliation.value <= 0 || f.af_percent_affiliation.value > 100) {
		errors[errors.length] = new Option('Percent Affiliation', 'af_percent_affiliation');
	}
	if (f.af_percent_affiliation.value.length > 6) {
		errors[errors.length] = new Option('Percent Affiliation -- a maximum of three decimal places is allowed.', 'af_percent_affiliation');
	}
}

function submitSuggestedAffiliation(authorID, orgID, iteration) {
	var f = document.forms['wfl_form1'];
	var authorID = authorID;
	var orgID = orgID;
	var percentage = document.getElementById('percentage-' + iteration).value;
	//window.alert('VALUES TO SUBMIT: ' + authorID + ', ' + orgID + ', ' + percentage);
	f.af_author_id.value = authorID;
	f.af_org_id.value = orgID;
	f.af_percent_affiliation.value = percentage;
	f.submit();
}
{/literal}
// -->
</script>

<tr><td>

<div class="outline">



<div class="admin-header">Edit Author Affiliations</div>

  <div class="default admin-content">

	<div style="border: solid 1px #FBD900; padding: 10px; margin: 10px; width: 800;"">

	<input type="hidden" name="action" value="save"/>
	<input type="hidden" name="id" value="{$wf_id}"/>
	<input type="hidden" name="af_id" value="{$current.af_id}"/>

	{section name='jj' loop=$affiliation_suggestions}
	  {assign var="org_id" value=$affiliation_suggestions[jj].org_id}
	  {if $smarty.section.jj.first}
	  <h3>Suggested author affiliations</h3>
	  <table class="default" style="border-collapse: collapse; padding: 5px; margin: 0;">
	  <tr>
           <th class="affilName">Name</th>
           <th class="affilOrg">Organisational Unit</th>
           {if 'fte'|array_key_exists:$affiliation_suggestions[jj]}
               <th class="affilPos">Position Title</th>
               <th class="affilDteFrom">Date From</th>
               <th class="affilDteTo">Date To</th>
               <th class="affilFte">FTE</th>
           {/if}
           <th class="affilEd">&nbsp;</th>
           <th class="affilEd">&nbsp;</th>
      </tr>
	  {/if}
	  <tr bgcolor="{cycle values="$cycle_colours"}">
	    <td width="200">{$affiliation_suggestions[jj].name}</td>
		<!--td width="150" bgcolor="red">PRF: {$affiliation_suggestions[jj].payroll_flag}</td-->
		<!--td width="150" bgcolor="red">FTE: {$affiliation_suggestions[jj].fte}</td-->
		<!--td width="150" bgcolor="red">AUTHOR ID: {$affiliation_suggestions[jj].aut_id}</td-->
		<!--td width="150" bgcolor="red">ORG ID: {$affiliation_suggestions[jj].org_id}</td-->
		<!--td width="150" bgcolor="red">WAMIKEY: {$affiliation_suggestions[jj].wamikey}</td-->
		<!--td width="150" bgcolor="red">AOU: {$affiliation_suggestions[jj].aou}</td-->
		<td width="350">{$affiliation_suggestions[jj].org_title}</td>
		{if 'fte'|array_key_exists:$affiliation_suggestions[jj]}
           <td width="250">{$affiliation_suggestions[jj].pos_title}</td>
           <td>{$affiliation_suggestions[jj].dt_from}</td>
           <td>{$affiliation_suggestions[jj].dt_to}</td>
           <td>{$affiliation_suggestions[jj].fte}</td>
        {/if}
        {if !isset($tdCount) || $tdCount != $affiliation_suggestions[jj].org_title}
			<td rowspan="{$autOrgUnitCount.$org_id}" width="80">
			     {if $autOrgUnitCount.$org_id > 1}
			      <input type="hidden" value="100" id="percentage-{$smarty.section.jj.iteration}" />
			      <span>100%</span>
			     {else}
			     <input type="text" id="percentage-{$smarty.section.jj.iteration}"
			     value="{$affiliation_suggestions[jj].percentage}" 
			     size="6" 
			     class="default" />%
			     {/if}
			</td>
			<td rowspan="{$autOrgUnitCount.$org_id}" width=""><input type="button" onclick="javasacript:submitSuggestedAffiliation({$affiliation_suggestions[jj].aut_id}, {$affiliation_suggestions[jj].org_id}, {$smarty.section.jj.iteration});" value="Use this affiliation" class="button" /><br />
			</td>
			{assign var="tdCount" value=$affiliation_suggestions[jj].org_title}
		{/if}
		<!--td width="150" bgcolor="red">DEBUG: {$affiliation_suggestions[jj].debug}</td-->
	  </tr>
	  {if $smarty.section.jj.last}</table>{/if}
	{sectionelse}
	<p>No suggested affiliations for these authors.</p>
	{/section}

	</div>

	{section name='kk' loop=$problem_list}
	{if $smarty.section.kk.first}<br /><div style="border: solid 1px red; padding: 10px; margin: 10px; width: 800; color: red"><h3>CORRECTION REQUIRED - Problematic author affiliations</h3><table class="default" style="border-collapse: collapse; padding: 5px; margin: 0;">{/if}
      <tr bgcolor="{cycle values="$cycle_colours"}">
        <td width="200">{$problem_list[kk].author_name}</td>
        <td width="360">{$problem_list[kk].org_title}</td>
		<td width="75">{$problem_list[kk].af_percent_affiliation}%</td>
        <td width="30">{if $problem_list[kk].error != 'orphan'}<a href="{$smarty.server.PHP_SELF}?id={$wf_id}&action=edit&af_id={$problem_list[kk].af_id}" title="Edit this affiliation">Edit</a>{/if}</td>
        <td width="70"><a href="{$smarty.server.PHP_SELF}?id={$wf_id}&action=delete&af_id={$problem_list[kk].af_id}" title="Remove this affiliation">Remove</a></td>
		<td width="310">{$problem_list[kk].error_desc}</td>
      </tr>
      {if $smarty.section.kk.last}</table></div>{/if}
	{/section}

	<br />

	<div style="border: solid 1px green; padding: 10px; margin: 10px; width: 800;">

	{section name='ii' loop=$list}
	{if $smarty.section.ii.first}
	<h3>Registered author affiliations</h3>
	<table id="regAuthAffil" class="default">
	<tr>
           <th class="affilName">Name</th>
           <th class="affilOrg">Organisational Unit</th>
           <th class="affilPerc">Percentage Affiliation</th>
           
           <th class="affilEd">&nbsp;</th>
           <th class="affilEd">&nbsp;</th>
      </tr>
	{/if}
      <tr bgcolor="{cycle values="$cycle_colours"}">
        <td>{$list[ii].author_name}</td>
        <td>{$list[ii].org_title}</td>
		<td>{$list[ii].af_percent_affiliation}%</td>
		
        <td><a href="{$smarty.server.PHP_SELF}?id={$wf_id}&action=edit&af_id={$list[ii].af_id}" title="Edit this affiliation">Edit</a></td>
        <td><a href="{$smarty.server.PHP_SELF}?id={$wf_id}&action=delete&af_id={$list[ii].af_id}" title="Remove this affiliation">Remove</a></td>
      </tr>
      {if $smarty.section.ii.last}</table>{/if}
    {sectionelse}
	<p>No affiliations currently recorded.</p>
	{/section}

	</div>

	<br />

	{if $action == 'edit'}<h3>Edit affiliation</h3>{else}<h3>Add new affiliation</h3>{/if}

  <table width="100%" bgcolor="{$cell_color}" border="0" cellspacing="0" cellpadding="1" align="center">
	<tr>
	  <td>
		<table bgcolor="#FFFFFF" width="100%" cellspacing="1" cellpadding="2" border="0">

		<div class="error">{$error_message}</div>
        <input type="hidden" name="action" value="save"/>
        <input type="hidden" name="id" value="{$wf_id}"/>
        <input type="hidden" name="af_id" value="{$current.af_id}"/>
		
		  <tr>
			<td width="140" bgcolor="{$cell_color}" class="default">
			  <b>Author&nbsp;Name:</b>
			</td>
			<td bgcolor="{$light_color}" colspan="2">
			  {html_options name="af_author_id" values=$author_ids output=$authors selected=$current.af_author_id}
			</td>
          </tr>

		  <tr>
			<td width="140" bgcolor="{$cell_color}" class="default">
			  <b>Organisational&nbsp;Unit:</b>
			</td>
			<td bgcolor="{$light_color}">
				<select id="af_org_id" name="af_org_id">
				{foreach from=$orgs key=k item=v}
					<option value="{$k}"{if $current.af_org_id == $k} selected{/if}>{$v}</option>
				{/foreach}
				</select>
			</td>
			<td bgcolor="{$light_color}" width="100%">
				<div style="width:15em; height:2em; position:relative; z-index:1866;">
					<input id="org_unit_suggester" type="text" />
					<div id="org_unit_suggestions" style="max-height:400px; width: 350px; overflow:auto; overflow-x:hidden; height: 11em;" tabindex="-1"></div>
				</div>
				<script type="text/javascript">
				// Set up Org Unit Suggester
				var myServer = "{$rel_url}org_unit_suggest_proxy.php"; 
				var mySchema = ["Result","name","id","aou"];
				var myDataSource = new YAHOO.widget.DS_XHR(myServer, mySchema);

				var myAutoComp = new YAHOO.widget.AutoComplete("org_unit_suggester","org_unit_suggestions", myDataSource);
				myAutoComp.maxResultsDisplayed = 20; 
				{literal}
				myAutoComp.itemSelectEvent.subscribe(function(oResultItem, sQuery) {
					var orgID = sQuery[2][1];		// Value the user has just selected
					selectObject = document.getElementById('af_org_id');
					for(index = 0; index < selectObject.length; index++) {
						if(selectObject[index].value == orgID) {
							selectObject.selectedIndex = index;
						}
					}
					document.getElementById('org_unit_suggester').value = '';
				});
				{/literal}
				</script>
			</td>
          </tr>

		  <tr>
			<td width="140" bgcolor="{$cell_color}" class="default">
			  <b>Percent&nbsp;Affiliation:</b>
			</td>
			<td bgcolor="{$light_color}" colspan="2">
			  <input type="textfield" name="af_percent_affiliation" value="{$current.af_percent_affiliation}" size="6" />% (supports up to 3 decimal places)
			</td>
          </tr>

		  <tr>
			<td width="140" bgcolor="{$cell_color}" class="default"></td>
			<td bgcolor="{$light_color}" colspan="2">
			  <input type="submit" name="save" value="Save" class="button" onclick="javascript:validateForm(this);" />
			</td>
          </tr>

		</table>
	  </td>
	</tr>
  </table>

  </div>
</div>

</td></tr>
