<tr>
<td>
<script type="text/javascript">
<!--
{literal}

function validateForm(f)
{
	if (!hasOneChecked(f, 'pid')) {
		errors[errors.length] = new Option('Select Record needs to have an item selected', 'pid');
    }
}

function showLoading1()
{
	document.body.style.cursor = 'wait';
	document.getElementById('loading1').style.display = '';
}

function hideLoading1()
{
	document.body.style.cursor = '';
	document.getElementById('loading1').style.display = 'none';
}

var dt1_load_state = 0;
var debounce = 0;

function selectSearchSuggestor(f, field_name, result_div_id) 
{
    local_f = f;
    local_field_name = field_name;
    local_result_div_id = result_div_id;
    debounce++;  // count number of times the keypress has been triggered
    setTimeout('selectSearchSuggestorDebounced(local_f, local_field_name, local_result_div_id)', 500);
}

function selectSearchSuggestorDebounced(f, field_name, result_div_id)
{
    // if there have been keypresses since the time was started, then we should let the next timer handle it
	if (--debounce > 0) {
		return;
	}
    debounce = 0;

	if (++dt1_load_state > 1) {
        dt1_load_state--;
	    return false;
	}

 	var field = getFormElement(f, field_name);
	if (field.value == '') {
      dt1_load_state--;
	  return;
	}

		showLoading1();
		var obj = new RecordSearchAndList();
		obj.onGetSuggestionError = function() {
			clearList(result_div_id);
			hideLoading1();
			dt1_load_state--;
		}
		obj.setTimeout(10000);

		obj.getSuggestion(field.value, function(dt_list) {
				clearList(result_div_id);
				addListItems(result_div_id, dt_list);
				hideLoading1();
				dt1_load_state--;
				});
}

function clearList(list_id)
{
   list_div = document.getElementById(list_id);
   list_div.innerHTML = '';
}

function addListItems(list_id, items)
{
   list_div = document.getElementById(list_id);
   for (ii in items) {
		item_div = document.createElement('div');
		item_div.setAttribute('id','list_' + list_id + '_item_'+ ii);
		item_div.innerHTML = '<input type="radio" name="pid" value="'+ items[ii].value +'"/>' + items[ii].value + ': ' + items[ii].text;
		list_div.appendChild(item_div);
   }
}

{/literal}
// -->
</script>

<div class="fez_form">

  <input type="hidden" name="cat" value="submit"/>
  <div class="fez_form_item">

		  <label for="search" accesskey="3">Search for record</label>
		  <span class="fez_form_input">
		    <input  type="text" id="record_search" autocomplete="off" name="terms" size="40" 
			    onKeyUp="javascript: selectSearchSuggestor(this.form, this.name, 'record_list')">
		    <span id="loading1" style="display:none;" class="loading">Loading...</span>
		  </span>
  </div>	  
  <div class="fez_form_item">
		  <label for="items">Select Record</label>
		  <span class="fez_form_input">
		    <div id="record_list">
		    </div>
		  </span>
  </div>	  

</div>

</td>
</tr>