<tr>
    <td class="default" align="center">
    <strong>Thesis Submission Completed</strong><br /><br />
    
    Thank you for submitting this thesis to {$application_name}.<br /><br />

    Your item will be referred to a {$application_name} editor for approval.<br /><br />

    You will receive a confirmation of your submission by email to your student account soon.<br /><br />

    <a href="http://my.uq.edu.au/">Click here to go to My.UQ</a>

    </td>
</tr>

<tr>
    <td>
        {* Include the full metadata *}
        {include file="workflow/full_thesis_metadata.tpl.html"}
    </td>
</tr>
