{literal}
<script language="JavaScript">
<!--

function updateForm()
{
  var features = 'width=420,height=200,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
  var updateWin = window.open('', '_popup_window', features);
  updateWin.focus();
  return true;
}
//-->
</script>
{/literal}
{if $show_not_allowed_msg}
<div class="msg">
You don't have permission to access this function
</div>
{else}
<table bgcolor="{$light_color}" border="0" cellspacing="0" cellpadding="1" align="center"  width="100%">
  <tr>
    <td>
      <table bgcolor="#FFFFFF" width="100%" cellspacing="0" cellpadding="0" border="0">
<tr><td class="default">
<div>
<b>{$wfl_title|escape} - {$wfs_title|escape}</b><br/>
</div>
{if $wfs_description}
<div class="wfl_description">
{$wfs_description}
</div>
{/if}
{if $states_done}
<div class="wfl_progress">
Workflow Progress:
{section name="i" loop=$states_done}
<span class="wfl_progress">{if !$states_done[i].wfs_auto}<a class="link" href="{$rel_url}workflow/{$states_done[i].wfb_script_name}?id={$id}&wfs_id={$states_done[i].wfs_id}">{/if}{$states_done[i].wfs_title}{if !$states_done[i].wfs_auto}</a>{/if}</span>
<img src="{$rel_url}images/1rightarrow_16.gif" alt=" -> "  class="wfl_progress"/>
{/section}
</div>
{/if}
{if $submit_to_popup}
<form name="wfl_form1"  onSubmit="javascript:return (checkFormSubmission(this, 'validateForm') && updateForm());" target="_popup_window" action="{$rel_url}popup.php" method="POST" enctype="multipart/form-data">
{else}
<form name="wfl_form1" onSubmit="javascript:return (checkFormSubmission(this, 'validateForm'));"  action="{$smarty.server.PHP_SELF}" method="post" enctype="multipart/form-data">
{/if}
<input type="hidden" name="id" value="{$id}">
</td></tr>
{if $workflow_buttons}
<tr>
 <td colspan="2" bgcolor="{$cell_color}">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td   width="100%" align="center">
   {section name="i" loop=$workflow_buttons}
     <input class="button" type="submit" name="workflow_button_{$workflow_buttons[i].wfs_id}" 
      value="{$workflow_buttons[i].wfs_title|default:'Done'}" 
      />&nbsp;
     {/section}
     | <input class="button" type="reset" value="Reset Form" tabindex="13">
    </td>
   </tr>
  </table>
 </td>
</tr>
{/if}

{include file="workflow/$type.tpl.html"}

{if $workflow_buttons && !$no_bottom_buttons}
<tr>
 <td colspan="2" bgcolor="{$cell_color}">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td   width="100%" align="center">
   {section name="i" loop=$workflow_buttons}
     <input class="button" type="submit" name="workflow_button_{$workflow_buttons[i].wfs_id}" 
      value="{$workflow_buttons[i].wfs_title|default:'Done'}" 
      />&nbsp;
     {/section}
     | <input class="button" type="reset" value="Reset Form" tabindex="13">
    </td>
   </tr>
  </table>
 </td>
</tr>
        <tr>
          <td colspan="2" class="default">
            <b>* Required fields</b>
          </td>
        </tr>
{/if}
</form>
 
      </table>
    </td>
  </tr>
</table>
{/if}
