{literal}
<script type="text/javascript">
<!--
function notMine(pid)
{
	/*if (confirm('You are about to mark this record as not being authored by you. Proceed?')) {*/
		document.getElementById('not-mine-pid').value = pid;
		document.forms['notMine'].submit();
	/*}*/
    
    return;
}

function notMineBulk()
{
	frm = document.getElementById('claimedForm');
	count = 0;
	pids = [];
	for (i = 0; i < frm.pid.length; i++) {
		if (frm.pid[i].checked) {
			pids.push(frm.pid[i].value);
			count++;
		}
	}
	
	if (count == 0) {
		window.alert('No records were marked for authorship removal.');
		return;
	}
	
	if (confirm('You are about to mark the ticked records as not being authored by you. Proceed?')) {
		document.getElementById('bulk-not-mine-pids').value = pids;
		document.forms['claimedForm'].submit();
	}
	
	return;
}

function correctionRequired(pid)
{
	document.getElementById('correction-pid').value = pid;
	document.forms['correctMe'].submit();
	
	return;
}

//-->
</script>
{/literal}

<h1>My Research</h1>

{include file="list_browse_type.tpl.html"}

{if $isUPO}
	{include file="myresearch/acting.tpl.html"}
{/if}

<form action="{$rel_url}my_research_claimed.php" method="post" id="claimedForm">
	{include file="paging_control_header.tpl.html" hide_list_heading="true"}
	{section name="i" loop=$list}
	
		{assign var=pid value=$list[i].rek_pid}
	
		{if $smarty.section.i.first}
		{if ($facets)}
	    <div class="facet">
	    <div class="facetheader">
	    	<h2>Refine (10 facets)</h2>
	    </div>
	    
		{if $terms}
			<div id="research-refine-filter"><b>Refine Filter:</b> {$terms}</div>
		{/if}

	    <ul>
	    {foreach from=$facets key=sek_id item=items}
		{if $items.sek_alt_title == ""}
		        <li><strong>{$items.sek_title}</strong></li>
		{else}
		        <li><strong>{$items.sek_alt_title}</strong></li>
		{/if}
	        {foreach from=$items.values key=id item=valueData}
	        {if $valueData.num > 0}
	        {if $id != '0'}<li class='facetarrow'><a href="?{$url_wo_rows}&search_keys[{$sek_id}]={$id}">{$valueData.value}</a> ({$valueData.num})</li>{/if}
	        {/if}
	        {/foreach}
	        <li>&nbsp;</li>
	    {/foreach}
		{if is_array($alternativeAuthorNamesList) && count($alternativeAuthorNamesList) > 1}
			<li><strong>Names this author has published as</strong></li>
			{foreach from=$alternativeAuthorNamesList item=authorLink}
			<li class="facetarrow">{$authorLink}</li>
			{/foreach}
			<li>&nbsp;</li>
		{/if}
	    </ul>

	    </div>
	    {/if}
			<table id="research-record-listing">
				<tr>
			        <th colspan="2">The publications listed below are currently attributed to you within the {$org_short_name} data set.</th>
					<th style="text-align: center; padding: 2px;">
						{if $list_info.total_rows > 0}
							<img src="{$rel_url}images/journal_ranking_16.png" title="Ranked Journal List Ranking" alt="Ranked Journal List Ranking" />
						{/if}
					</th>
					<th style="text-align: center; padding: 2px;">
						{if $list_info.total_rows > 0}
							<img src="{$rel_url}images/conference_ranking_16.png" title="Ranked Conference List Ranking" alt="Ranked Conference List Ranking" />
						{/if}
					</th>
					<th style="text-align: center; padding: 2px;">
						{if $list_info.total_rows > 0}
							<img src="{$rel_url}images/herdc_code_16.png" title="HERDC Code" alt="HERDC Code" />
						{/if}
					</th>
			        <th style="text-align: center; padding: 2px;">
			        	{if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
			        		<img src="{$rel_url}images/rid_16.png" title="ResearcherID Citation Count" alt="ResearcherID Citation Count" />
			        	{/if}
			        </th>
			        <th style="text-align: center; padding: 2px;">
			        	{if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
			        		<img src="{$rel_url}images/scopus_logo_small.gif" title="Scopus Citation Count" alt="Scopus Citation Count" />
			        	{/if}
			        </th>
			        <th></th>
			    </tr>
		{/if}
	
		<tr class="{if $flagged[$pid].type == 'D'}claimed-not-my-pub{elseif $flagged[$pid].type == 'C'}claimed-correction-required{/if}">
			<td style="width: 10px;"><input type="checkbox" name="pid" value="{$list[i].rek_pid}" /></td>
			<td style="width: 100%;">{$list[i].rek_citation}</td>

			<td style="vertical-align: middle; text-align: center;">
				-
			</td>
			
			<td style="vertical-align: middle; text-align: center;">
				-
			</td>
			
			<td style="vertical-align: middle; text-align: center;">
				-
			</td>
			
			<td style="vertical-align: middle; text-align: center;">
				{if $list[i].rek_thomson_citation_count != ""}
					<a href="{$rel_url}rid_citation_count_history_{$list[i].rek_pid|escape:"html"}" title="Cited {$list[i].rek_thomson_citation_count} times in Thomson Reuters Researcher ID">{$list[i].rek_thomson_citation_count}</a>
				{elseif $list[i].rek_thomson_citation_count == 0}
					{$list[i].rek_thomson_citation_count}
				{/if}
			</td>
			
			<td style="vertical-align: middle; text-align: center;">
				{if $list[i].rek_scopus_citation_count != ""}
					<a href="{$rel_url}scopus_citation_count_history_{$list[i].rek_pid|escape:"html"}" class="form_note"> <span class="form_note">Cited {$list[i].rek_scopus_citation_count} times in Scopus</span>{$list[i].rek_scopus_citation_count}</a>
				{elseif $list[i].rek_scopus_citation_count == 0}
					{$list[i].rek_scopus_citation_count}
				{/if}
			</td>
			
			<td>
				{if $flagged[$pid].type == 'D'}
					<div class="research-record-note">
						{if $flagged[$pid].user == $actual_user}
							You have indicated that this record was not authored by you. A job has been logged with the {$app_name} team.
						{else}
							User <span style="font-weight: bold">{$flagged[$pid].user}</span> has indicated that this record was not authored by you. A job has already been logged with the {$app_name} team.
						{/if}
					</div>
				{elseif $flagged[$pid].type == 'C'}
					<div class="research-record-note">
						{if $flagged[$pid].user == $actual_user}
							You have indicated that this record is yours, but requires a correction. A job has been logged with the {$app_name} team.
						{else}
							User <span style="font-weight: bold">{$flagged[$pid].user}</span> has indicated that this record is yours, but requires a correction. A job has already been logged with the {$app_name} team.
						{/if}
					</div>
				{/if}
				
				{if $flagged[$pid].type != 'D'}
					<input type="button" class="claimed-not-my-pub" value="Not mine" onclick="javascript:notMine('{$list[i].rek_pid}');" /><br />
				{/if}
				{if $flagged[$pid].type != 'C'}
					<input type="button" class="claimed-correction-required" value="Fix" onclick="javascript:correctionRequired('{$list[i].rek_pid}');" />
				{/if}
			</td>
			
		</tr>
		
		{if $smarty.section.i.last}
			</table>
			
			<div>
				<input type="button" class="claimed-not-my-pub" value="None of the above ticked publications are mine" onclick="javascript:notMineBulk();" />
			</div>

			<div>
				<input type="hidden" id="bulk-not-mine-pids" name="bulk-not-mine-pids" value="" />
				<input type="hidden" name="action" value="not-mine-bulk" />
			</div>
		{/if}

	{sectionelse}
		<p>We could not find any publications authored by you.</p>
	{/section}
	
</form>
       	&nbsp;
	    {include file="paging_control.tpl.html" field="paginat0r"}		
<form action="{$rel_url}my_research_claimed.php" method="post" id="notMine">	
	<div>
		<input type="hidden" id="not-mine-pid" name="pid" value="" />
		<input type="hidden" name="action" value="not-mine" />
	</div>
</form>

<form action="{$rel_url}my_research_claimed.php" method="post" id="correctMe">	
	<div>
		<input type="hidden" id="correction-pid" name="pid" value="" />
		<input type="hidden" name="action" value="correction" />
	</div>
</form>