{literal}
<script type="text/javascript">
<!--

function toggleCorrectionsText()
{
	if (document.getElementById('correction').value == 'Please tell us what is wrong with the record.') {
		document.getElementById('correction').value = '';
	}
}

function submitForm()
{
	if (document.getElementById('correction').value == '' || document.getElementById('correction').value == 'Please tell us what is wrong with the record.') {
		window.alert('You must tell us what is wrong with the record.');
		return false;
	}
	
	document.forms['correctForm'].submit();
	return;
}

//-->
</script>
{/literal}

<h1>Supply a Correction</h1>

<form action="my_research_claimed.php" method="post" id="correctForm">

<div id="research-solo-citation">{$citation}</div>

<p style="text-align: right;"><a href="{$rel_url}view/{$pid}" onclick="javascript:window.open('{$rel_url}view/{$pid}'); return false;">View the full record</a></p>

<p>You have indicated that the record above contains a problem of some kind. Please tell us what needs to be fixed:</p>

<p>
	<textarea id="correction" name="correction" rows="5" cols="70" onfocus="javascript:toggleCorrectionsText();">Please tell us what is wrong with the record.</textarea>
</p>

<p>
	<input type="button" value="Claim publication" name="button" onclick="javascript:submitForm();" />
	<input type="hidden" value="{$pid}" name="pid" />
	<input type="hidden" value="correction-add" name="action" />
</p>

</form>