{literal}
<script type="text/javascript">
<!--

function toggleCorrections()
{
	if (document.getElementById('qindex').checked) {
		document.getElementById('correction-area-fix').disabled = true;
		document.getElementById('correction-area-fix').style.display = 'none';
		document.getElementById('correction-area-qindex').disabled = false;
		document.getElementById('correction-area-qindex').style.display = 'block';
		document.getElementById('form-type').value = 'qindex';
		
	} else {
		document.getElementById('correction-area-fix').disabled = false;
		document.getElementById('correction-area-fix').style.display = 'block';
		document.getElementById('correction-area-qindex').disabled = true;
		document.getElementById('correction-area-qindex').style.display = 'none';
		document.getElementById('form-type').value = 'correction';
	}
	
	return;
}

function toggleCorrectionsText()
{
	if (document.getElementById('correction').value == 'Please tell us what is wrong with the record. Be specific.') {
		document.getElementById('correction').value = '';
	}
}

function toggleEnquiryText()
{
	if (document.getElementById('enquiry').value == 'What do you think is wrong with the Q-index data?') {
		document.getElementById('enquiry').value = '';
	}
}

function submitForm(type)
{
	if (type == 'C') {
		if (document.getElementById('correction').value == '' || document.getElementById('correction').value == 'Please tell us what is wrong with the record. Be specific.') {
			window.alert('You must tell us what is wrong with the record.');
			return false;
		}
	} else if (type == 'E') {
		if (document.getElementById('enquiry').value == '' || document.getElementById('enquiry').value == 'What do you think is wrong with the Q-index data?') {
			window.alert('You must tell us what you think is wrong with the data.');
			return false;
		}
	}
	
	document.forms['correctForm'].submit();
	return;
}

//-->
</script>
{/literal}

<h1>Fix Record</h1>

{if $isUPO}
	{include file="myresearch/acting.tpl.html"}
{/if}

<form action="my_research_claimed.php" method="post" id="correctForm">

<h2>Citation details</h2>

<div id="research-solo-citation">
	{$citation}
	<div style="display: block; font-size: 80%; padding-top: 15px;">[ <a href="{$rel_url}view/{$pid}" onclick="javascript:window.open('{$rel_url}view/{$pid}'); return false;">View the full record</a> ]</div>
</div>

<h2>Q-index details</h2>

<table id="research-q-index-details">
	<tr>
		<td><img src="{$rel_url}images/journal_ranking_16.png" title="Ranked Journal List Ranking" alt="Ranked Journal List Ranking" /> Journal Rank</td>
		<td>
			{if $qindex_meta.rj == ''}
				This publication is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Journal.
			{else}
				<b>{$qindex_meta.rj.rank}</b> &nbsp; ({$qindex_meta.rj.title})
			{/if}
		</td>
	</tr>
	<tr>
		<td><img src="{$rel_url}images/conference_ranking_16.png" title="Ranked Conference List Ranking" alt="Ranked Conference List Ranking" /> Conference Rank</td>
		<td>
			{if $qindex_meta.rc == ''}
				This is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Conference.
			{else}
				<b>{$qindex_meta.rc.rank}</b> &nbsp; ({$qindex_meta.rc.title})
			{/if}
		</td>
	</tr>
	<tr>
		<td><img src="{$rel_url}images/herdc_code_16.png" title="HERDC Code" alt="HERDC Code" /> HERDC Code</td>
		<td>
			{if $qindex_meta.hc == ''}
				This record is not marked as having a HERDC code.
			{else}
				<b>{$qindex_meta.hc.herdc_code}{if $qindex_meta.hc.confirmed != ''} CONFIRMED{else} PROVISIONAL{/if}</b> &nbsp; ({$qindex_meta.hc.herdc_code_description})
			{/if}
		</td>
	</tr>
</table>

{if $wos_collection > 0}
	<div id="research-missing-meta">
		<b>PLEASE NOTE</b><br />
		<div>This record was recently imported from an external source, and has not yet been processed by the {$app_name} data team. You therefore <span style="text-decoration: underline;";>do not have to notify us about missing metadata</span> for this record - it will be added later by the data team.</div>
	</div>
{/if}

<p>
	<input type="radio" name="type" id="fix" value="fix" onclick="javascript:toggleCorrections();" /> Submit a citation correction<br />
	<input type="radio" name="type" id="qindex" value="qindex" onclick="javascript:toggleCorrections();" /> Q-Index problem
</p>


<div id="correction-area-fix" style="display: none;">
	<p>
		<textarea id="correction" name="correction" rows="5" cols="70" onfocus="javascript:toggleCorrectionsText();">Please tell us what is wrong with the record. Be specific.</textarea>
	</p>
	
	<input type="button" value="Submit correction" name="button" onclick="javascript:submitForm('C');" />
</div>

<div id="correction-area-qindex" style="display: none;">
	<p>
		<textarea id="enquiry" name="enquiry" rows="5" cols="70" onfocus="javascript:toggleEnquiryText();">What do you think is wrong with the Q-index data?</textarea>
	</p>
	
	<input type="button" value="Submit enquiry" name="button" onclick="javascript:submitForm('E');" />
</div>


<p>
	<input type="hidden" value="{$pid}" name="pid" />
	<input type="hidden" value="correction-add" name="action" />
	<input type="hidden" id="form-type" name="form-type" value="" />
</p>

</form>