{literal}
<script type="text/javascript">
<!--
function claimPID(pid)
{
    document.getElementById('pid').value = pid;
    document.forms['possibleForm'].submit();
}
//-->
</script>
{/literal}

<h1>Possibly My Research</h1>

{if $isUPO}
	{include file="myresearch/acting.tpl.html"}
{/if}

<form action="{$rel_url}my_research_possible.php" method="post" id="possibleForm">
	{include file="paging_control_header.tpl.html" hide_list_heading="true"}

    
	{section name="i" loop=$list}
	
		{assign var=pid value=$list[i].rek_pid}
	
		{if $smarty.section.i.first}
			
			<table id="research-record-listing">
				<tr>
			        <td colspan="2">The publications listed below may belong to you. &nbsp;</td>
			        <td align="center">
			        {if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
			        	<img src="{$rel_url}images/rid_16.png" title="ResearcherID Citation Count" alt="ResearcherID Citation Count" />            
			        {/if}
			        </td>
			        <td align="center">
			        {if $list_info.total_rows > 0 && ($list_type !== 'collection_list' && $list_type !== 'community_list')}
			        	<img src="{$rel_url}images/scopus_logo_small.gif" title="Scopus Citation Count" alt="Scopus Citation Count" />            
			        {/if}
			        </td>
			    </tr>
		{/if}
	
		<tr class="{if $flagged[$pid].type == 'C'}possible-my-pub{/if}">
			<td style="width: 100%;">{$list[i].rek_citation}</td>
			<td>
				{if $flagged[$pid].type == 'C'}
					<div class="research-record-note" style="width: 200px;">
						{if $flagged[$pid].user == $actual_user}
							You have indicated that this record was authored by you. A job has been logged with the {$app_name} team.
						{else}
							User <span style="font-weight: bold">{$flagged[$pid].user}</span> has indicated that this record was authored by you. A job has already been logged with the {$app_name} team.
						{/if}
					</div>
				{else}
					<input type="button" class="possible-my-pub" value="This is my publication" onclick="javascript:claimPID('{$list[i].rek_pid}');" />
				{/if}
			</td>
			
			<td align="left" valign="middle" style="border-top:1px dashed #be87e9; width: 100%;">
            {if $list[i].rek_thomson_citation_count != ""}
            	<a href="{$rel_url}rid_citation_count_history_{$list[i].rek_pid|escape:"html"}" title="Cited {$list[i].rek_thomson_citation_count} times in Thomson Reuters Researcher ID">{$list[i].rek_thomson_citation_count}</a>
            {elseif $list[i].rek_thomson_citation_count == 0}
               {$list[i].rek_thomson_citation_count}
            {else}
            	&nbsp;
            {/if}			
		  </td>		
	       <td align="left"{if !$isUser && !$icon}colspan="2" {/if} valign="middle" style="border-top:1px dashed #be87e9; width: 100%;">
            {if $list[i].rek_scopus_citation_count != ""}
            	<a href="{$rel_url}scopus_citation_count_history_{$list[i].rek_pid|escape:"html"}" class="form_note"> <span class="form_note">Cited {$list[i].rek_scopus_citation_count} times in Scopus</span>{$list[i].rek_scopus_citation_count}</a>
            {elseif $list[i].rek_scopus_citation_count == 0}
               {$list[i].rek_scopus_citation_count}
            {else}
            	&nbsp;
            {/if}			
		  </td>		
		</tr>
	
		{if $smarty.section.i.last}
			</table>

			<div>
				<input type="hidden" id="pid" name="pid" value="" />
				<input type="hidden" name="action" value="claim" />
			</div>			
		{/if}
	
	{sectionelse}
		<p>We could not find any publications that we suspect might be yours.</p>
	{/section}
   	&nbsp;
    {include file="paging_control.tpl.html" field="paginat0r"}		

</form>