<div style="padding: 5px; background: #f9ff98; margin-bottom: 5px; border: 1px solid #f0f0f0;"><b>EXPERIMENTAL NEW FUNCTIONALITY</b> - This system is under development. If you wish to, you can return to the <a href="{$rel_url}my_fez_traditional.php">Classic My eSpace interface</a>.</div>

<ul id="research-tabs">
	{if $isUPO}
		<li><a href="{$rel_url}my_upo_tools.php"{if $type == 'upo'} class="research-tabs-active"{/if}>UPO Options</a></li>
	{/if}
	<li><a href="{$rel_url}my_research_claimed.php"{if $type == 'claimed'} class="research-tabs-active"{/if}>My Research</a></li>
	<li><a href="{$rel_url}my_research_possible.php"{if $type == 'possible'} class="research-tabs-active"{/if}>Possibly My Research?</a></li>
	<li><a href="{$rel_url}my_research_add.php"{if $type == 'add'} class="research-tabs-active"{/if}>Add Missing Publication</a></li>
</ul>