<div style="padding: 5px; background: #f9ff98; margin-bottom: 5px; border: 1px solid #f0f0f0;">
    Please use this facility to claim, add or submit publication data. Now that the 2011 HERDC submission has been completed, the priority for eSpace staff is to work on publications from 2005 – 2011 in preparation for ERA 2012 as well as the 2012 HERDC collection. If you have any questions or concerns please email <a href="mailto:espace@library.uq.edu.au">espace@library.uq.edu.au</a>.</div>

<ul id="research-tabs">
	{if $isUPO}
		<li><a href="{$rel_url}my_upo_tools.php"{if $type == 'upo'} class="research-tabs-active"{/if}>UPO Options</a></li>
	{/if}
	<li><a href="{$rel_url}my_research_claimed.php"{if $type == 'claimed'} class="research-tabs-active"{/if}>My Research</a></li>
	<li><a href="{$rel_url}my_research_possible.php"{if $type == 'possible'} class="research-tabs-active"{/if}>Possibly My Research?</a></li>
	<li><a href="{$rel_url}my_research_add.php"{if $type == 'add'} class="research-tabs-active"{/if}>Add Missing Publication</a></li>
</ul>