{literal}
<script type="text/javascript">
<!--
function userSelect(username)
{
	document.getElementById('change-user').value = username;
	document.forms['userSelect'].submit();
	return;
}

function changeOrgUnit()
{
	s = document.getElementById('org_unit_id');
    var val = s.options[s.selectedIndex].value;
	document.getElementById('change-org-unit').value = val;
	document.forms['orgUnitSelect'].submit();
	return;
}

//-->
</script>
{/literal}

{if !$isUPO}

	<h1>Sorry</h1>
	<p>You do not have sufficient privileges to access this area.</p>
	<p>If you believe you should have UPO access, please contact the {$app_name} Support Team.</p>

{else}

	<h1>UPO Options</h1>
	
	{if $isUPO}
		{include file="myresearch/acting.tpl.html"}
	{/if}
	
	<form action="my_upo_tools.php" method="post" id="orgUnitSelect">

		<div>
			<select id="org_unit_id">
				{foreach from=$org_units key=k item=v}
					<option value="{$k}"{if $k == $current_aou} selected="selected"{/if}>{$v|escape:'html'}</option>
				{/foreach}
			</select>
			<input type="button" value="Switch org unit" class="button" onclick="javascript:changeOrgUnit();" /> 
		</div>
		
		<div>
			<input type="hidden" value="change-org-unit" name="action" />
			<input type="hidden" value="" name="change-org-unit" id="change-org-unit" />
		</div>
		
	</form>
	
	<br />
	<h2>Select an author to process:</h2>
	<br />
	
	<form action="my_upo_tools.php" method="post" id="userSelect">
	
		<div>
			{foreach from=$authors key=k item=v}
				<input type="radio" name="username" value="{$v.username}" onclick="javascript:userSelect('{$v.username}');" {if $v.username == $acting_user.aut_org_username}checked="checked"{/if} /> {$v.last_name}, {$v.first_name}<br />
			{/foreach}
		</div>
		
		<div>
			<input type="hidden" value="change-user" name="action" />
			<input type="hidden" value="" name="change-user" id="change-user" />
		</div>
	
	</form>
	
{/if}