[mysqld]
# Default MySQL config

innodb_file_per_table
init-connect='SET NAMES utf8'
ft_min_word_len = 2

# Storage Engines
innodb = FORCE

# InnoDB
group_concat_max_len = 16384 #this is required to be this high because of CSV generation for Solr
