{literal}
<script type="text/javascript"> 
<!--

function createRecord(f, xdis_id_sel) 
{
	f = document.getElementById('addForm');
	s = document.getElementById('xdis_id_top');

    f.action = rel_url + 'workflow/new.php';
    var val = s.options[s.selectedIndex].value;
    f.xdis_id.setAttribute('value', val);
    
    f.submit();
}

-->
</script>
{/literal}

<h1>Add Missing Publication</h1>

{if $isUPO}
	{include file="myresearch/acting.tpl.html"}
{/if}

<p>Can't find your publication listed under either of the other tabs? Use this screen to tell us about it.</p>

<p>The publication will then be processed, verified and linked to your author ID by the eSpace team. It will then flow through to eSpace and other systems such as Q-index.</p>

<p>Please use the <strong>Submit For Approval</strong> button once you have completed your record.</p>

<p>What type of record will you be entering?</p>

<form action="" method="post" id="addForm">

<div id="add-missing">

	<input type="hidden" name="xdis_id" value="" />
	<input type="hidden" name="href" value="{$rel_url}my_research_add.php" />
	<input type="hidden" name="collection_pid" value="{$APP_MY_RESEARCH_NEW_ITEMS_COLLECTION}" />

	<select id="xdis_id_top">
		{if $childXDisplayOptionsTop}
            {html_options options=$childXDisplayOptionsTop}
            <option disabled="disabled">&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;</option>
        {/if}
        {html_options options=$childXDisplayOptions}
	</select>
	<input type="button" value="Next" onclick="javascript:createRecord();" class="button" /> 
</div> 

</form>