{literal}
<script type="text/javascript">
<!--

function notMine(pid)
{
	if (confirm('You are about to mark this record as not being authored by you. Proceed?')) {
		document.getElementById('not-mine-pid').value = pid;
		document.forms['notMine'].submit();
	} else {
		document.getElementById('rad-not-mine').checked = false;
	}

    return;
}

function toggleCorrections()
{
	if (document.getElementById('rad-fix').checked) {
		document.getElementById('correction-area-fix').disabled = false;
		document.getElementById('correction-area-fix').style.display = 'block';
        document.getElementById('duplication-area-fix').disabled = true;
        document.getElementById('duplication-area-fix').style.display = 'none';
        document.getElementById('upload-area-fix').disabled = true;
        document.getElementById('upload-area-fix').style.display = 'none';
        document.getElementById('action').value = 'correction-add';

    } else if (document.getElementById('rad-dupe').checked) {
        document.getElementById('correction-area-fix').disabled = true;
        document.getElementById('correction-area-fix').style.display = 'none';
        document.getElementById('duplication-area-fix').disabled = false;
        document.getElementById('duplication-area-fix').style.display = 'block';
        document.getElementById('upload-area-fix').disabled = true;
        document.getElementById('upload-area-fix').style.display = 'none';
        document.getElementById('action').value = 'duplication-add';

    } else if (document.getElementById('rad-upload').checked) {
        document.getElementById('correction-area-fix').disabled = false;
        document.getElementById('correction-area-fix').style.display = 'none';
        document.getElementById('duplication-area-fix').disabled = false;
        document.getElementById('duplication-area-fix').style.display = 'none';
        document.getElementById('upload-area-fix').disabled = false;
        document.getElementById('upload-area-fix').style.display = 'block';
        document.getElementById('action').value = 'correction-add-files';

    } else {
		document.getElementById('correction-area-fix').disabled = true;
		document.getElementById('correction-area-fix').style.display = 'none';
        document.getElementById('duplication-area-fix').disabled = true;
        document.getElementById('duplication-area-fix').style.display = 'none';
        document.getElementById('upload-area-fix').disabled = true;
        document.getElementById('upload-area-fix').style.display = 'none';
        document.getElementById('action').value = 'correction-add';
	}

	return;
}

function toggleCorrectionsText()
{
	if (document.getElementById('correction').value == 'Please tell us what is wrong with the record. Be specific.') {
		document.getElementById('correction').value = '';
	}
}
function toggleCorrectionsUploadText()
{
    if (document.getElementById('correction_upload').value == 'Information about the files') {
        document.getElementById('correction_upload').value = '';
    }
}
function toggleDuplicationText()
{
	if (document.getElementById('duplication').value == 'Please tell us the PID number or URL location of the original you believe this record duplicates.') {
		document.getElementById('duplication').value = '';
	}
}

function submitForm()
{

    var returnValue = false;
    if (typeof global_submitted === 'undefined') {
        global_submitted = 0;
    }
    global_submitted++;
	if ((document.getElementById('rad-fix').checked && (document.getElementById('correction').value == '' || document.getElementById('correction').value == 'Please tell us what is wrong with the record. Be specific.'))
            || (document.getElementById('rad-dupe').checked && (document.getElementById('duplication').value == '' || document.getElementById('duplication').value == 'Please tell us the PID number or URL location of the original you believe this record duplicates.'))) {
        global_submitted--;
        window.alert('You must tell us what is wrong with the record. Or what record you think this record duplicates.');
    		return false;
	}
    if(document.getElementById('rad-upload').checked) {
        fileCheck = '';
        for (index = 0; index < 10; ++index) {
            $uploadFilename = document.getElementsByName('file[' + index + ']')[0].value;
            if ($uploadFilename != '') {
                fileUploadType = document.getElementsByName('filePermissions[]')[index].value;
                if (fileUploadType == 0) {
                    global_submitted--;
                    window.alert('You must tell us the records file type');
//                    returnValue = false;
                    return false;
                }
                //No need to check if HERDC since it's private
                if (fileUploadType != 5) {
                    $uploadFilename = $uploadFilename.replace(/^.*[\\\/]/, '');
                    fileCheck = fileCheck + 'File: '+ $uploadFilename +'\n';
                }
            }
        }

        if (fileCheck != '') {
            var fileCheck = 'The following files will be submitted as open access and will be made publicly available immediately. Please click Cancel if you do not wish to proceed.<br /><br />' + fileCheck + '<br /><br />Any other files selected will be accessible by UQ eSpace administrators and UPOs only.';
            $('<div>' + fileCheck + '</div>').dialog({
              resizable: false,
              title: "Open Access Warning:",
              buttons: {
                "OK": function() {
                  returnValue = true;
                  global_submitted--;
                  if (global_submitted < 2) {
                    proceedSubmission();
                  }
                  $(this).dialog("close");
                },
                Cancel: function() {
                  $(this).dialog("close"); //close confirmation
                }
              }
            });
        } else {
          returnValue = true;
        }
    } else {
      returnValue = true;
    }
  if (returnValue == true) {
    proceedSubmission();
  }
  return true;
}

function proceedSubmission() {
  //If they entered nothing in the box set it to ''
  if (document.getElementById('correction').value == 'Information about the files') {
    document.getElementById('correction').value = '';
  }
  document.forms['correctForm'].submit();
}

function cancel()
{
	window.location = 'my_research_claimed.php';
}

//-->
</script>
{/literal}

<h1>Fix Records {if $smarty.const.TAG_UPLOAD_FILES == 'ON'}/ Upload files for open access and HERDC evidence{/if} </h1>

{if $isUPO}
	{include file="myresearch/acting.tpl.html"}
{/if}

<form action="my_research_claimed.php" method="post" id="correctForm" enctype="multipart/form-data">

<div id="research-solo-citation">
    {$citation|smarty:nodefaults}
	<div style="display: block; font-size: 80%; padding-top: 15px;">[ <a href="{$rel_url}view/{$pid}" onclick="javascript:window.open('{$rel_url}view/{$pid}'); return false;">View the full record</a> ]</div>
</div>



<table id="research-q-index-details">
    <tr>
   		<td><img src="{$rel_url}images/journal_listed_16.png" title="ERA 2012 Journal Listed" alt="ERA 2012 Journal Listed" /> ERA 2012 Journal Listed?</td>
   		<td>
   			{if $qindex_meta.rj == ''}
   				This publication is outside the ERA window (pre-2005) and/or not identified as being in a 2012 ERA Ranked Journal.
   			{else}
   				<b>{if $qindex_meta.rj.rj_2012_title}YES{else}NO{/if}</b> &nbsp; {if $qindex_meta.rj.rj_2012_title}({$qindex_meta.rj.rj_2012_title}){/if}
   			{/if}
   		</td>
   	</tr>
	<tr>
		<td><img src="{$rel_url}images/journal_ranking_16.png" title="Ranked Journal List Ranking" alt="Ranked Journal List Ranking" /> ERA 2010 Journal Rank</td>
		<td>
			{if $qindex_meta.rj.rj_2010_rank == ''}
				This publication is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Journal.
			{else}
				<b>{$qindex_meta.rj.rj_2010_rank}</b> &nbsp; ({$qindex_meta.rj.rj_2010_title})
			{/if}
		</td>
	</tr>
	<tr>
		<td><img src="{$rel_url}images/conference_ranking_16.png" title="Ranked Conference List Ranking" alt="Ranked Conference List Ranking" /> ERA 2010 Conference Rank</td>
		<td>
			{if $qindex_meta.rc.rc_2010_rank == ''}
				This is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Conference.
			{else}
				<b>{$qindex_meta.rc.rc_2010_rank}</b> &nbsp; ({$qindex_meta.rc.rc_2010_title})
			{/if}
		</td>
	</tr>
	<tr>
		<td><img src="{$rel_url}images/herdc_code_16.png" title="HERDC Code" alt="HERDC Code" /> HERDC Code</td>
		<td>
			{if $qindex_meta.hc == ''}
				This record is not marked as having a HERDC code.
			{else}
				<b>{$qindex_meta.hc.herdc_code}{if $qindex_meta.hc.herdc_status == 'Confirmed Code'} CONFIRMED{elseif $qindex_meta.hc.herdc_status == 'Provisional Code'} PROVISIONAL{/if}</b> &nbsp; ({$qindex_meta.hc.herdc_code_description})
			{/if}
		</td>
	</tr>
    <tr>
        <td><img src="{$rel_url}images/sherparomeo.png" title="Sherpa Romeo details" alt="Sherpa Romeo" /> Sherpa Romeo</td>
        <td>
            {if $sherpa_romeo_link}{$sherpa_romeo_link|smarty:nodefaults}{else}Unknown - <a href = 'http://www.sherpa.ac.uk/romeo/'>User Search</a>{/if}
        </td>
    </tr>
</table>
{if $wos_collection > 0}
	<div id="research-missing-meta">
		<b>PLEASE NOTE</b><br />
		<div>This record was recently imported from an external source, and has not yet been processed by the {$app_name} data team. You therefore <span style="text-decoration: underline;">do not have to notify us about missing metadata</span> for this record - it will be added later by the data team.</div>
	</div>
{/if}

<p>
	<input type="radio" name="type" id="rad-not-mine" value="rad-not-mine" onclick="javascript:toggleCorrections(); notMine('{$pid}');" /> This is not my record<br />
    <input type="radio" name="type" id="rad-dupe" value="rad-dupe" onclick="javascript:toggleCorrections();" /> I am the author of this publication, but the record is a duplicate<br />
	<input type="radio" name="type" id="rad-fix" value="rad-fix" onclick="javascript:toggleCorrections();" /> I would like to report a problem<br />
    <span {if $smarty.const.TAG_UPLOAD_FILES != 'ON'}style="display: none;"{/if}><input type="radio" name="type" id="rad-upload" value="rad-upload" onclick="javascript:toggleCorrections();" /> I would like to upload an Open Access or HERDC evidence file</span>

</p>

<div id="correction-area-fix" style="display: none;">
	<p>
		<textarea id="correction" name="correction" rows="5" cols="70" onfocus="javascript:toggleCorrectionsText();">Please tell us what is wrong with the record. Be specific.</textarea>
	</p>

	<input type="button" value="Submit correction" name="button" onclick="javascript:submitForm();" />
</div>
    <div id="duplication-area-fix" style="display: none;">
        <p>
            <textarea id="duplication" name="duplication" rows="5" cols="70" onfocus="javascript:toggleDuplicationText();">Please tell us the PID number or URL location of the original you believe this record duplicates.</textarea>
        </p>

        <input type="button" value="Submit duplication fix request" name="button" onclick="javascript:submitForm();" />
    </div>
<div id = "upload-area-fix" style="display: none;">
    {include file="myresearch/upload_files.tpl.html"}
    <br />
    <p>
        <textarea id="correction_upload" name="correction_upload" rows="5" cols="70" onfocus="javascript:toggleCorrectionsUploadText();">Information about the files</textarea>
    </p>
    <input type="button" value="Submit" name="button" onclick="javascript:submitForm();" />
</div>
<input type="button" value="Cancel" name="button" onclick="javascript:cancel();" />

<p>
	<input type="hidden" value="{$pid}" name="pid" />
	<input type="hidden" value="correction-add" name="action" id="action" />
</p>

</form>

<form action="{$rel_url}my_research_claimed.php" method="post" id="notMine">
	<div>
		<input type="hidden" id="not-mine-pid" name="pid" value="" />
		<input type="hidden" name="action" value="not-mine" />
	</div>
</form>
        <script type="text/javascript">
//$('input:radio[name="type"]').filter('[value="rad-upload"]').attr('checked', true);
//toggleCorrections();
        </script>