{literal}
<script type="text/javascript">
<!--
function toggleCorrections()
{
	if (document.getElementById('ok').checked) {
		document.getElementById('correction').disabled = true;
        document.getElementById('upload-area').disabled = true;
        document.getElementById('upload-area').style.display = 'none';
		document.getElementById('correction').style.display = 'none';
		document.getElementById('correction').value = '';
	} else if (document.getElementById('nok').checked) {
        document.getElementById('correction').disabled = false;
        document.getElementById('upload-area').disabled = true;
        document.getElementById('correction').style.display = 'block';
        document.getElementById('upload-area').style.display = 'none';
        document.getElementById('correction').value = 'Please tell us what is wrong with the record.';
    } else {
        document.getElementById('correction').disabled = false;
        document.getElementById('upload-area').disabled = false;
        document.getElementById('upload-area').style.display = 'block';
        document.getElementById('correction').style.display = 'block';
        document.getElementById('correction').value = 'Please tell us any issues or additional information.';
	}

	return;
}

function toggleCorrectionsText()
{
	if (document.getElementById('correction').value == 'Please tell us what is wrong with the record.') {
		document.getElementById('correction').value = '';
	}
}

function toggleCorrectionsUploadText()
{
    if (document.getElementById('correction').value == 'Please tell us any issues or additional information.') {
        document.getElementById('correction').value = '';
    }
}
function submitForm()
{
	if (!document.getElementById('ok').checked && !document.getElementById('nok').checked && !document.getElementById('nokfu').checked) {
		window.alert('You must select one of the three radio boxes.');
		return false;
	}

	if (document.getElementById('nok').checked && (document.getElementById('correction').value == '' || document.getElementById('correction').value == 'Please tell us what is wrong with the record.')) {
		window.alert('You must tell us what is wrong with the record.');
		return false;
	}

    if (document.getElementById('nokfu').checked ) {
        fileCheck = '';
        for (index = 0; index < 10; ++index) {
            $uploadFilename = document.getElementsByName('file[' + index + ']')[0].value;
            if ($uploadFilename != '') {
                fileUploadType = document.getElementsByName('filePermissions[]')[index].value;
                if (fileUploadType == 0) {
                    window.alert('You must tell us the records file type');
                    return false;
                }
                //No need to check if HERDC since it's private
                if (fileUploadType != 5) {
                    $uploadFilename = $uploadFilename.replace(/^.*[\\\/]/, '');
                    $embargoDate = document.getElementsByName('embargo_date[' + index + ']')[0].value;
                    $embargoText = ($embargoDate) ? $embargoDate : 'Immediate';
                    fileCheck = fileCheck + 'File: ' + $uploadFilename + '    Open Access Release Date: ' + $embargoText + '\n';
                }
            }
        }

      if (fileCheck != '') {
          var fileCheck = 'The following files will be submitted as open access and will be made publicly available immediately or on the date nominated. Please click Cancel if you do not wish to proceed.<br /><br />' + fileCheck + '<br /><br />All other files submitted will be accessible by UQ eSpace administrators and Unit Publications Officers only.';
          var returnValue = false;
        $('<div>' + fileCheck + '</div>').dialog({
          resizable: false,
          width: "450px",
          title: "Open Access Warning:",
          buttons: {
            "OK": function() {
              returnValue = true;
              proceedSubmission();
              $(this).dialog("close");
            },
            Cancel: function() {
              $(this).dialog("close"); //close confirmation
            }
          }
        });
      } else {
        returnValue = true;
      }
    } else {
      returnValue = true;
    }
  if (returnValue == true) {
    proceedSubmission();
  }

  return true;
}

function proceedSubmission() {
  //If they entered nothing in the box set it to ''
  if (document.getElementById('correction').value == 'Please tell us any issues or additional information.') {
    document.getElementById('correction').value = '';
  }
  document.forms['claimForm'].submit();
}

function cancel()
{
	window.location = 'my_research_possible.php';
}

//-->
</script>
{/literal}

<h1>Claim Research</h1>

<form action="my_research_possible.php" method="post" id="claimForm" enctype="multipart/form-data">

{if $isUPO}
	{include file="myresearch/acting.tpl.html"}
{/if}

<p>You are claiming to be the author of this item:</p>

<div id="research-solo-citation">
	{$citation|smarty:nodefaults}
	<div style="display: block; font-size: 80%; padding-top: 15px;">[ <a href="{$rel_url}view/{$pid}" onclick="javascript:window.open('{$rel_url}view/{$pid}'); return false;">View the full record</a> ]</div>
</div>

<table id="research-q-index-details">
    <tr>
   		<td><img src="{$rel_url}images/journal_listed_16.png" title="ERA 2012 Journal Listed" alt="ERA 2012 Journal Listed" /> ERA 2012 Journal Listed?</td>
   		<td>
   			{if $qindex_meta.rj == ''}
   				This publication is outside the ERA window (pre-2005) and/or not identified as being in a 2012 ERA Ranked Journal.
   			{else}
   				<b>{if $qindex_meta.rj.rj_2012_title}YES{else}NO{/if}</b> &nbsp; {if $qindex_meta.rj.rj_2012_title}({$qindex_meta.rj.rj_2012_title}){/if}
   			{/if}
   		</td>
   	</tr>
	<tr>
		<td><img src="{$rel_url}images/journal_ranking_16.png" title="Ranked Journal List Ranking" alt="Ranked Journal List Ranking" /> ERA 2010 Journal Rank</td>
		<td>
			{if $qindex_meta.rj.rj_2010_rank == ''}
				This publication is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Journal.
			{else}
				<b>{$qindex_meta.rj.rj_2010_rank}</b> &nbsp; ({$qindex_meta.rj.rj_2010_title})
			{/if}
		</td>
	</tr>
	<tr>
		<td><img src="{$rel_url}images/conference_ranking_16.png" title="Ranked Conference List Ranking" alt="Ranked Conference List Ranking" /> ERA 2010 Conference Rank</td>
		<td>
			{if $qindex_meta.rc.rc_2010_rank == ''}
				This is outside the ERA window (pre-2003) and/or not identified as being in a 2010 ERA Ranked Conference.
			{else}
				<b>{$qindex_meta.rc.rc_2010_rank}</b> &nbsp; ({$qindex_meta.rc.rc_2010_title})
			{/if}
		</td>
	</tr>
	<tr>
		<td><img src="{$rel_url}images/herdc_code_16.png" title="HERDC Code" alt="HERDC Code" /> HERDC Code</td>
		<td>
			{if $qindex_meta.hc == ''}
				This record is not marked as having a HERDC code.
			{else}
				<b>{$qindex_meta.hc.herdc_code}{if $qindex_meta.hc.herdc_status == 'Confirmed Code'} CONFIRMED{elseif $qindex_meta.hc.herdc_status == 'Provisional Code'} PROVISIONAL{/if}</b> &nbsp; ({$qindex_meta.hc.herdc_code_description})
			{/if}
		</td>
	</tr>
    <tr>
        <td><img src="{$rel_url}images/sherparomeo.png" title="Sherpa Romeo details" alt="Sherpa Romeo" /> Sherpa Romeo</td>
        <td>
            {if $sherpa_romeo_link}{$sherpa_romeo_link|smarty:nodefaults}{else}Unknown - <a href = 'http://www.sherpa.ac.uk/romeo/'>User Search</a>{/if}
        </td>
    </tr>
</table>

{if $wos_collection > 0}
	<div id="research-missing-meta">
		<b>PLEASE NOTE</b><br />
		<div>This record was recently imported from an external source, and has not yet been processed by the {$app_name} data team. You therefore <span style="text-decoration: underline;";>do not have to notify us about missing data</span> for this record - it will be added later by the data team.<br /><br />

		If this record was authored by you, please proceed with the claim.
		</div>
	</div>
{/if}

{if $herdc_message == true}
	<div id="research-herdc-message">
		<b>PLEASE NOTE</b><br />
		<div>As the HERDC code for this record will soon be processed inline with the current HERDC guidelines it is not necessary to provide feedback on this element of this record.</div>
	</div>
{/if}

<p>
	<input type="radio" name="confirm" id="ok" value="ok" onclick="javascript:toggleCorrections();" /> This record is mine, and the citation is correct<br />
	<input type="radio" name="confirm" id="nok" value="nok" onclick="javascript:toggleCorrections();" /> This record is mine, but the record requires a correction<br />
    <input type="radio" name="confirm" id="nokfu" value="nokfu" onclick="javascript:toggleCorrections();"/> This record is mine, and I wish to upload any file including Open Access versions and/or HERDC evidence files
</p>

<div id = "upload-area" style="display: none;">
    {include file="myresearch/upload_files.tpl.html"}
</div>

    <p>
        <textarea id="correction" name="correction" rows="5" cols="70" disabled="disabled" style="display: none;" onfocus="javascript:toggleCorrectionsUploadText();"></textarea>
    </p>

<p>
	<input type="button" value="Claim publication" name="button" onclick="javascript:submitForm();" />
	<input type="button" value="Cancel" name="button" onclick="javascript:cancel();" />
	<input type="hidden" value="{$pid}" name="pid" />
	<input type="hidden" value="claim-add" name="action" />
</p>

</form>