<div style="padding: 5px; background: #f9ff98; margin-bottom: 5px; border: 1px solid #f0f0f0;">

    My UQ eSpace has been designed to allow staff to verify, claim or submit their publication data. The following guide provides researchers with instructions on how to access UQ eSpace, check current publications and submit missing publications. Access the guide <a href="http://espace.library.uq.edu.au/eserv/UQ:252236/UQ_eSpace_My_Research_091119.pdf">here</a>.<br /><br />

    eSpace staff are currently processing publications from 2005 – 2011 in preparation for ERA 2012 and the HERDC 2012 submissions. If you have any questions or concerns please email <a href="mailto:espace@library.uq.edu.au">espace@library.uq.edu.au</a>.</div>

<ul id="research-tabs">
	{if $isUPO}
		<li><a href="{$rel_url}my_upo_tools.php"{if $type == 'upo'} class="research-tabs-active"{/if}>UPO Options</a></li>
	{/if}
	<li><a href="{$rel_url}my_research_claimed.php"{if $type == 'claimed'} class="research-tabs-active"{/if}>My Research</a></li>
	<li><a href="{$rel_url}my_research_possible.php"{if $type == 'possible'} class="research-tabs-active"{/if}>Possibly My Research?</a></li>
	<li><a href="{$rel_url}my_research_add.php"{if $type == 'add'} class="research-tabs-active"{/if}>Add Missing Publication</a></li>
</ul>