{if $headerContent}
    <div style="padding: 5px; background: #f9ff98; margin-bottom: 5px; border: 1px solid #f0f0f0;">
        {$headerContent|smarty:nodefaults}
    </div>
{/if}
<ul id="research-tabs">
	{if $isUPO}
		<li><a href="{$rel_url}my_upo_tools.php"{if $type == 'upo'} class="research-tabs-active"{/if}>UPO Options</a></li>
	{/if}
	<li><a href="{$rel_url}my_research_claimed.php"{if $type == 'claimed'} class="research-tabs-active"{/if}>My Research</a></li>
	<li><a href="{$rel_url}my_research_possible.php"{if $type == 'possible'} class="research-tabs-active"{/if}>Possibly My Research?</a></li>
	<li><a href="{$rel_url}my_research_add.php"{if $type == 'add'} class="research-tabs-active"{/if}>Add Missing Publication</a></li>
  <li><a href="{$rel_url}my_research_data_claimed.php"{if $type == 'claimed_data'} class="research-tabs-active"{/if}>My Research Data</a></li>
  <li><a href="{$add_dataset_url}"{if $type == 'data_add'} class="research-tabs-active"{/if}>Add Missing Data Collection</a></li>
</ul>