<div style="padding: 5px; background: #f9ff98; margin-bottom: 5px; border: 1px solid #f0f0f0;">

    My UQ eSpace has been designed to allow staff to claim, submit and verify their publication data. The following guides provide researchers and Unit Publication Officers (UPOs) with instructions on how to access UQ eSpace, check current publications and submit missing publications.
    Click to access the <a href="http://espace.library.uq.edu.au/eserv/UQ:252236/My_UQ_eSpace_researcher_guidelines.pdf" target="_blank" >Researcher Guide</a> or the <a href="http://espace.library.uq.edu.au/eserv/UQ:252236/My_UQ_eSpace_UPO_guidelines.pdf" target="_blank">UPO Guide</a>
    <br /><br />
     eSpace staff prioritise the processing of publications for the current year HERDC submission and those within the Q-Index window (i.e. 6-year window plus the current year to date, e.g., 2007-2012 + 2013 year to date). If you have any questions or concerns please email: <a href="mailto:espace@library.uq.edu.au">espace@library.uq.edu.au</a>.</div>
<ul id="research-tabs">
	{if $isUPO}
		<li><a href="{$rel_url}my_upo_tools.php"{if $type == 'upo'} class="research-tabs-active"{/if}>UPO Options</a></li>
	{/if}
	<li><a href="{$rel_url}my_research_claimed.php"{if $type == 'claimed'} class="research-tabs-active"{/if}>My Research</a></li>
	<li><a href="{$rel_url}my_research_possible.php"{if $type == 'possible'} class="research-tabs-active"{/if}>Possibly My Research?</a></li>
	<li><a href="{$rel_url}my_research_add.php"{if $type == 'add'} class="research-tabs-active"{/if}>Add Missing Publication</a></li>
  <li><a href="{$rel_url}my_research_data_claimed.php"{if $type == 'data_claimed'} class="research-tabs-active"{/if}>My Research Data</a></li>
  <li><a href="{$rel_url}my_research_data_add.php"{if $type == 'data_add'} class="research-tabs-active"{/if}>Add Missing Data Collection</a></li>
</ul>