
.wfl_progress {
padding: 5px;
margin: 5px 5px 5px 5px;
border: 1px solid [[$smarty.const.APP_DARK_COLOR]];
background-color: [[$smarty.const.APP_LIGHT_COLOR]];
}

.outline
{
width:100%;
padding: 2px 2px 2px 2px;
margin: 2px 2px 2px 2px;
border: 1px solid [[$smarty.const.APP_CELL_COLOR]];
}
