#header {
background-image: url("[[$smarty.const.APP_BASE_URL]]images/fez_banner_glass.gif");
}

div.wfl_description {
padding: 1em;
margin: 1em;
font-size: 110%;        
border: 1px solid [[$smarty.const.APP_DARK_COLOR]];
background-color: [[$smarty.const.APP_LIGHT_COLOR]];
}

span.wfl_progress {
padding: 3px;
border: 1px solid [[$smarty.const.APP_DARK_COLOR]];
background-color: [[$smarty.const.APP_LIGHT_COLOR]];
}

.outline
{
width:99%;
padding: 2px 2px 2px 2px;
margin: 0px 2px 2px 2px;
border: 1px solid [[$smarty.const.APP_CELL_COLOR]];
background-color: white;
}
.msg {
color: black;
background-color: [[$smarty.const.APP_CELL_COLOR]];
text-align: center;
font-weight: bold;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 12px;
padding: 2px;
}

.table_heading_row {
background-color: [[$smarty.const.APP_CELL_COLOR]];
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 11px;
margin: 10px;
vertical-align: middle;
}

.table_label_cell {
background-color: [[$smarty.const.APP_CELL_COLOR]];
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 11px;
padding: 3px;
vertical-align: middle;
width: 20%;
}

.table_value_cell {
background-color: [[$smarty.const.APP_LIGHT_COLOR]];
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: none;
font-size: 11px;
padding: 3px;
vertical-align: middle;
width: 40%;
}

.listing_row_light {
background-color: #DDDDDD;
}

.listing_row_dark {
background-color: #CACACA;
}


.citation_preview {
padding: 3px;
border: 1px solid [[$smarty.const.APP_DARK_COLOR]];
background-color: [[$smarty.const.APP_LIGHT_COLOR]];
}

div.fez_form {
padding: 3px;
border: 1px solid [[$smarty.const.APP_CELL_COLOR]];
background-color: [[$smarty.const.APP_LIGHT_COLOR]];
}

div.fez_form_item {
display: table-row;
border: 1px solid [[$smarty.const.APP_LIGHT_COLOR]];
}

.fez_form label {
display: table-cell;
background-color: [[$smarty.const.APP_CELL_COLOR]];
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 11px;
padding: 5px;
width: 200px;
vertical-align: top;
 }
 
span.fez_form_input {
display: table-cell;
background-color: [[$smarty.const.APP_LIGHT_COLOR]];
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 11px;
padding: 2px;
}

ul.my_views_tab {
width:100%;
padding:0 0 23px 1em;
margin:0;
list-style-type:none;
line-height:1em;
}

ul.my_views_tab li {
display:inline;
margin:0;
padding:0;
}

ul.my_views_tab a, ul.my_views_tab a:visited, ul.my_views_tab a:active {
float:left;
color:#444;
text-decoration:none;
font-weight:bold;
font-size: 12px;
background:[[$smarty.const.APP_LIGHT_COLOR]];
margin:0;
padding:0.25em 1em;
border-left:1px solid #fff;
border-top:1px solid #fff;
border-right:1px solid [[$smarty.const.APP_CELL_COLOR]];
}

ul.my_views_tab a:hover,
ul.my_views_tab a.my_views_tab_here
{
background:[[$smarty.const.APP_CELL_COLOR]];
}

div.cv_selection
{
background:[[$smarty.const.APP_LIGHT_COLOR]];
}

